Repository frappe/erpnext, pull requests merged in 2018-07, with the labels that each got.

#12631 Loyalty Program
  erpnext/accounts/doctype/loyalty_point_entry/__init__.py
  erpnext/accounts/doctype/loyalty_point_entry/loyalty_point_entry.js
  erpnext/accounts/doctype/loyalty_point_entry/loyalty_point_entry.json
  erpnext/accounts/doctype/loyalty_point_entry/loyalty_point_entry.py
  erpnext/accounts/doctype/loyalty_point_entry/test_loyalty_point_entry.js
  erpnext/accounts/doctype/loyalty_point_entry/test_loyalty_point_entry.py
  erpnext/accounts/doctype/loyalty_point_entry_redemption/__init__.py
  erpnext/accounts/doctype/loyalty_point_entry_redemption/loyalty_point_entry_redemption.json
  erpnext/accounts/doctype/loyalty_point_entry_redemption/loyalty_point_entry_redemption.py
  erpnext/accounts/doctype/loyalty_program/__init__.py
  erpnext/accounts/doctype/loyalty_program/loyalty_program.js
  erpnext/accounts/doctype/loyalty_program/loyalty_program.json
  erpnext/accounts/doctype/loyalty_program/loyalty_program.py
  erpnext/accounts/doctype/loyalty_program/test_loyalty_program.js
  erpnext/accounts/doctype/loyalty_program/test_loyalty_program.py
  erpnext/accounts/doctype/loyalty_program_collection/__init__.py
  erpnext/accounts/doctype/loyalty_program_collection/loyalty_program_collection.json
  erpnext/accounts/doctype/loyalty_program_collection/loyalty_program_collection.py
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/selling/doctype/customer/customer.js
  erpnext/selling/doctype/customer/customer.json
  erpnext/selling/doctype/customer/customer.py
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/page/point_of_sale/point_of_sale.js
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/templates/pages/order.html
  erpnext/templates/pages/order.js
  erpnext/templates/pages/order.py
Labels: CRM, accounts

#14855 [Fix] GSTIN not displaying in the address print
  erpnext/patches.txt
  erpnext/patches/v10_0/update_address_template_for_india.py
  erpnext/setup/doctype/company/company.py
Labels: dont-merge

#14925 Show opening balance of leaves
  erpnext/hr/report/employee_leave_balance/employee_leave_balance.py
Labels: hotfix

#14890 set valid delivery date
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: dont-merge

#14941 Merge patch and delete fields from subscription
  erpnext/patches.txt
  erpnext/patches/v10_1/drop_old_subscription_records.py
  erpnext/patches/v10_1/transfer_subscription_to_auto_repeat.py
Labels: dont-merge

#14905 Update batch.py
  erpnext/stock/doctype/batch/batch.py
Labels: dont-merge, replied

#14920 Split a given Issue into 2
  erpnext/support/doctype/issue/issue.js
  erpnext/support/doctype/issue/issue.py
Labels: dont-merge
