Repository frappe/erpnext, pull requests merged in 2018-03, with the labels that each got.

#13109 [new] Create multiple warehouse address and fetch address to stock entry
  erpnext/patches.txt
  erpnext/patches/v10_0/update_warehouse_address_details.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/stock_entry.json
  erpnext/stock/doctype/warehouse/warehouse.js
  erpnext/stock/doctype/warehouse/warehouse.json
  erpnext/stock/doctype/warehouse/warehouse.py
Labels: hotfix

#13033 Fix status updater
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/controllers/status_updater.py
  erpnext/patches.txt
  erpnext/patches/v10_0/update_status_for_multiple_source_in_po.py
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/material_request/material_request.py
  erpnext/stock/doctype/material_request_item/material_request_item.json
Labels: needs-tests

#13043 Provision to include exploded items while making transfer entry of raw materials for subcontrtacted item
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
  erpnext/buying/doctype/purchase_order_item/purchase_order_item.json
  erpnext/controllers/buying_controller.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
Labels: waiting-for-fixes

#13211 Healthcare - Patient Appointment - Service unit based scheduling and booking
  erpnext/config/healthcare.py
  erpnext/healthcare/doctype/consultation/consultation.json
  erpnext/healthcare/doctype/consultation/consultation.py
  erpnext/healthcare/doctype/fee_validity/test_fee_validity.py
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.js
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.json
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.py
  erpnext/healthcare/doctype/patient_service_unit/__init__.py
  erpnext/healthcare/doctype/patient_service_unit/patient_service_unit.js
  erpnext/healthcare/doctype/patient_service_unit/patient_service_unit.json
  erpnext/healthcare/doctype/patient_service_unit/patient_service_unit.py
  erpnext/healthcare/doctype/patient_service_unit/patient_service_unit_tree.js
  erpnext/healthcare/doctype/patient_service_unit/test_patient_service_unit.js
  erpnext/healthcare/doctype/patient_service_unit/test_patient_service_unit.py
  erpnext/healthcare/doctype/physician/physician.js
  erpnext/healthcare/doctype/physician/physician.json
  erpnext/healthcare/doctype/physician/physician.py
  erpnext/healthcare/doctype/physician/test_physician.py
  erpnext/healthcare/doctype/physician_service_unit_schedule/__init__.py
  erpnext/healthcare/doctype/physician_service_unit_schedule/physician_service_unit_schedule.json
  erpnext/healthcare/doctype/physician_service_unit_schedule/physician_service_unit_schedule.py
  erpnext/patches.txt
  erpnext/patches/v10_0/remove_and_copy_fields_in_physician.py
Labels: waiting-for-fixes

#13165 Data import Tool bug fix
  erpnext/buying/doctype/supplier/supplier.py
  erpnext/education/doctype/instructor/instructor.py
  erpnext/education/doctype/instructor/test_records.json
  erpnext/healthcare/doctype/patient/patient.py
  erpnext/hr/doctype/attendance/test_records.json
  erpnext/hr/doctype/employee/employee.py
  erpnext/hr/doctype/employee_advance/test_employee_advance.py
  erpnext/hr/doctype/expense_claim/test_expense_claim.py
  erpnext/hr/doctype/leave_allocation/test_records.json
  erpnext/hr/doctype/leave_application/test_leave_application.py
  erpnext/projects/doctype/activity_cost/test_activity_cost.py
  erpnext/projects/doctype/timesheet/test_timesheet.py
  erpnext/selling/doctype/campaign/campaign.py
  erpnext/selling/doctype/customer/customer.py
  erpnext/setup/doctype/sales_person/test_records.json
  erpnext/stock/doctype/item/item.py
Labels: waiting-for-fixes

#13258 payment terms video tutorial in videos/learn
  erpnext/docs/user/videos/learn/payment-terms.md
Labels: documentation

#13276 [Fix] Stock qty in Purchase returns
  erpnext/controllers/sales_and_purchase_return.py
Labels: hotfix

#13284 Physician Schedule fixes
  erpnext/healthcare/doctype/patient/patient.json
  erpnext/healthcare/doctype/physician_schedule/physician_schedule.js
Labels: replied, waiting-for-fixes

#13296 [Feature] Add default duration and color to appointment type
  erpnext/healthcare/doctype/appointment_type/appointment_type.json
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.js
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.json
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.py
  erpnext/healthcare/doctype/patient_appointment/patient_appointment_calendar.js
Labels: healthcare

#13263 [Feature] Advance Account Balance in Employee Advance
  erpnext/hr/doctype/employee_advance/employee_advance.js
  erpnext/hr/doctype/employee_advance/employee_advance.json
  erpnext/hr/doctype/employee_advance/employee_advance.py
Labels: waiting-for-fixes

#13257 Add Health Insurance Doctype and link to Employee
  erpnext/config/hr.py
  erpnext/docs/assets/img/human-resources/health-insurance.png
  erpnext/docs/assets/img/human-resources/insurance-no.gif
  erpnext/docs/user/manual/de/human-resources/health-insurance.md
  erpnext/docs/user/manual/en/human-resources/health-insurance.md
  erpnext/hr/doctype/employee/employee.json
  erpnext/hr/doctype/health_insurance/__init__.py
  erpnext/hr/doctype/health_insurance/health_insurance.js
  erpnext/hr/doctype/health_insurance/health_insurance.json
  erpnext/hr/doctype/health_insurance/health_insurance.py
  erpnext/hr/doctype/health_insurance/test_health_insurance.js
  erpnext/hr/doctype/health_insurance/test_health_insurance.py
Labels: replied

#13316 [hotfix] Added 'Paid Amount' and 'Change Amount' in POS print formats
  erpnext/accounts/print_format/gst_pos_invoice/gst_pos_invoice.json
  erpnext/accounts/print_format/pos_invoice/pos_invoice.json
Labels: waiting-for-fixes

#13363 Timer in Timesheets!
  erpnext/docs/assets/img/project/timesheet/timesheet-after-complete.png
  erpnext/docs/assets/img/project/timesheet/timesheet-timer-alert.png
  erpnext/docs/assets/img/project/timesheet/timesheet-timer-in-progress.png
  erpnext/docs/assets/img/project/timesheet/timesheet-timer.gif
  erpnext/docs/user/manual/en/projects/timesheet/index.txt
  erpnext/docs/user/manual/en/projects/timesheet/timer-in-timesheet.md
  erpnext/projects/doctype/timesheet/timesheet.css
  erpnext/projects/doctype/timesheet/timesheet.js
  erpnext/projects/doctype/timesheet_detail/timesheet_detail.json
  erpnext/public/js/projects/timer.js
Labels: version-11

#13396 Fixed logic for reserved qty for subcontract and production and written a patch
  erpnext/patches.txt
  erpnext/patches/v10_0/fix_reserved_qty_for_sub_contract.py
  erpnext/stock/doctype/bin/bin.py
Labels: hotfix

#13121 [enhance] Item Alternative
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/config/stock.py
  erpnext/controllers/buying_controller.py
  erpnext/docs/assets/img/manufacturing/allow-alternative-item-bom.png
  erpnext/docs/assets/img/manufacturing/allow-alternative-item-wo.png
  erpnext/docs/assets/img/manufacturing/allow-alternative-item.png
  erpnext/docs/assets/img/manufacturing/item-alternative.png
  erpnext/docs/assets/img/manufacturing/purchase_order_item_alternative.gif
  erpnext/docs/assets/img/manufacturing/work_order_item_alternative.gif
  erpnext/docs/user/manual/en/manufacturing/index.txt
  erpnext/docs/user/manual/en/manufacturing/item-alternative.md
  erpnext/manufacturing/doctype/bom/bom.json
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/work_order/work_order.js
  erpnext/manufacturing/doctype/work_order/work_order.json
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/manufacturing/doctype/work_order_item/work_order_item.json
  erpnext/public/js/utils.js
  erpnext/stock/doctype/bin/bin.py
  erpnext/stock/doctype/item/item.json
  erpnext/stock/doctype/item/item_dashboard.py
  erpnext/stock/doctype/item_alternative/__init__.py
  erpnext/stock/doctype/item_alternative/item_alternative.js
  erpnext/stock/doctype/item_alternative/item_alternative.json
  erpnext/stock/doctype/item_alternative/item_alternative.py
  erpnext/stock/doctype/item_alternative/test_item_alternative.js
  erpnext/stock/doctype/item_alternative/test_item_alternative.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry_detail/stock_entry_detail.json
Labels: version-11, waiting-for-fixes
