Repository frappe/erpnext, pull requests merged in 2018-02, with the labels that each got.

#12558 Physician - Set Details by User or Employee
  erpnext/healthcare/doctype/physician/physician.js
  erpnext/healthcare/doctype/physician/physician.json
Labels: waiting-for-fixes

#12823 Leave workflow patch fixes
  erpnext/demo/user/hr.py
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.py
  erpnext/hr/doctype/attendance/attendance.py
  erpnext/hr/doctype/leave_application/leave_application.js
  erpnext/hr/doctype/leave_application/leave_application.json
  erpnext/hr/doctype/leave_application/leave_application.py
  erpnext/hr/doctype/leave_application/leave_application_calendar.js
  erpnext/hr/doctype/leave_application/leave_application_list.js
  erpnext/hr/doctype/leave_application/test_leave_application.js
  erpnext/hr/doctype/leave_application/test_leave_application.py
  erpnext/hr/doctype/salary_slip/salary_slip.py
  erpnext/patches.txt
  erpnext/patches/v10_0/workflow_leave_application.py
  erpnext/setup/install.py
Labels: waiting-for-fixes

#12879 Warehouse wise Item Balance, Age and Value
  erpnext/stock/report/warehouse_wise_item_balance_age_and_value/warehouse_wise_item_balance_age_and_value.js
  erpnext/stock/report/warehouse_wise_item_balance_age_and_value/warehouse_wise_item_balance_age_and_value.json
  erpnext/stock/report/warehouse_wise_item_balance_age_and_value/warehouse_wise_item_balance_age_and_value.py
Labels: waiting-for-fixes

#13000 Reorder level
  erpnext/templates/emails/reorder_item.html
Labels: hotfix

#12981 Sales Payment Summary - fix for change amount
  erpnext/accounts/report/sales_payment_summary/sales_payment_summary.py
Labels: waiting-for-fixes

#12983 item balance report
  erpnext/stock/report/item_balance/__init__.py
  erpnext/stock/report/item_balance/item_balance.json
Labels: waiting-for-fixes

#13009 Landed Cost Voucher - db_update instead of save to avoid validations
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.py
Labels: hotfix

#13010 Add total row in all trends reports
  erpnext/accounts/report/purchase_invoice_trends/purchase_invoice_trends.json
  erpnext/accounts/report/sales_invoice_trends/sales_invoice_trends.json
  erpnext/buying/report/purchase_order_trends/purchase_order_trends.json
  erpnext/selling/report/quotation_trends/quotation_trends.json
  erpnext/selling/report/sales_order_trends/sales_order_trends.json
  erpnext/stock/report/delivery_note_trends/delivery_note_trends.json
  erpnext/stock/report/purchase_receipt_trends/purchase_receipt_trends.json
Labels: hotfix

#13023 Clear rename log if no attachments
  erpnext/utilities/doctype/rename_tool/rename_tool.js
Labels: hotfix

#13004 Update Territory & Customer Group across all transaction
  erpnext/patches.txt
  erpnext/patches/v10_0/update_territory_and_customer_group.py
  erpnext/selling/doctype/customer/customer.py
Labels: waiting-for-fixes

#12988 [Enhance] Quality Inspection Template
  erpnext/config/stock.py
  erpnext/controllers/stock_controller.py
  erpnext/controllers/tests/test_item_variant.py
  erpnext/manufacturing/doctype/bom/bom.json
  erpnext/manufacturing/doctype/production_order/production_order.py
  erpnext/patches.txt
  erpnext/patches/v11_0/__init__.py
  erpnext/patches/v11_0/make_quality_inspection_template.py
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/doctype/item/item.json
  erpnext/stock/doctype/quality_inspection/quality_inspection.js
  erpnext/stock/doctype/quality_inspection/quality_inspection.json
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
  erpnext/stock/doctype/quality_inspection/test_quality_inspection.js
  erpnext/stock/doctype/quality_inspection_template/__init__.py
  erpnext/stock/doctype/quality_inspection_template/quality_inspection_template.js
  erpnext/stock/doctype/quality_inspection_template/quality_inspection_template.json
  erpnext/stock/doctype/quality_inspection_template/quality_inspection_template.py
  erpnext/stock/doctype/quality_inspection_template/test_quality_inspection_template.js
  erpnext/stock/doctype/quality_inspection_template/test_quality_inspection_template.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/stock_entry.json
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/doctype/stock_entry_detail/stock_entry_detail.json
Labels: waiting-for-fixes

#13018 Optionally allow overlap on Timesheet #12893
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/projects/doctype/projects_settings/__init__.py
  erpnext/projects/doctype/projects_settings/projects_settings.js
  erpnext/projects/doctype/projects_settings/projects_settings.json
  erpnext/projects/doctype/projects_settings/projects_settings.py
  erpnext/projects/doctype/projects_settings/test_projects_settings.js
  erpnext/projects/doctype/projects_settings/test_projects_settings.py
  erpnext/projects/doctype/timesheet/test_timesheet.py
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: replied

#13058 [Fix] Sales order item delivery date
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: hotfix

#13113 [Hotfix] Shopping cart order items by modified
  erpnext/setup/doctype/item_group/item_group.py
  erpnext/templates/pages/product_search.py
Labels: hotfix
