Repository frappe/erpnext, pull requests merged in 2018-06, with the labels that each got.

#14143 Earned Leave
  erpnext/hooks.py
  erpnext/hr/doctype/leave_allocation/leave_allocation.py
  erpnext/hr/doctype/leave_application/test_leave_application.py
  erpnext/hr/doctype/leave_period/leave_period.py
  erpnext/hr/doctype/leave_type/leave_type.json
  erpnext/hr/utils.py
Labels: POC, human-resources

#14302 Rename - Additional Salary Component to Additional Salary
  erpnext/config/hr.py
  erpnext/hr/doctype/additional_salary/__init__.py
  erpnext/hr/doctype/additional_salary/additional_salary.js
  erpnext/hr/doctype/additional_salary/additional_salary.json
  erpnext/hr/doctype/additional_salary/additional_salary.py
  erpnext/hr/doctype/additional_salary/test_additional_salary.js
  erpnext/hr/doctype/additional_salary/test_additional_salary.py
  erpnext/hr/doctype/leave_encashment/leave_encashment.json
  erpnext/hr/doctype/leave_encashment/leave_encashment.py
  erpnext/hr/doctype/salary_slip/salary_slip.py
Labels: enterprise

#14255 Salary Slip - Deduct Tax
  erpnext/hr/doctype/salary_slip/salary_slip.py
Labels: POC

#14356 Fix currency exchange tests
  erpnext/setup/doctype/currency_exchange/test_currency_exchange.py
Labels: hotfix

#14366 [Minor] Fix precision related issue in Stock Entry
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: hotfix

#14370 [Minor] Party timeline query fix
  erpnext/accounts/party.py
Labels: hotfix

#14363 PR to check the current state of Travis
  erpnext/stock/get_item_details.py
Labels: dont-merge

#14455 Fix minor div issue in Accounts index page
  erpnext/docs/user/manual/en/accounts/index.md
Labels: documentation

#14449 Clinical Procedure Template - Issue Fix
  erpnext/healthcare/doctype/clinical_procedure_template/clinical_procedure_template.py
Labels: healthcare

#14465 Employee benefit - Late employee benefit application
  erpnext/hr/doctype/additional_salary/additional_salary.py
  erpnext/hr/doctype/employee_benefit_application/employee_benefit_application.js
  erpnext/hr/doctype/employee_benefit_application/employee_benefit_application.py
  erpnext/hr/doctype/employee_benefit_claim/employee_benefit_claim.py
  erpnext/hr/doctype/salary_detail/salary_detail.json
  erpnext/hr/doctype/salary_slip/salary_slip.py
  erpnext/hr/utils.py
Labels: enterprise

#14428 Salary Slip - update TDS
  erpnext/hr/doctype/salary_slip/salary_slip.py
Labels: POC

#14476 Salary slip - additional salary - deductions
  erpnext/hr/doctype/additional_salary/additional_salary.js
  erpnext/hr/doctype/additional_salary/additional_salary.json
  erpnext/hr/doctype/additional_salary/additional_salary.py
  erpnext/hr/doctype/salary_component/salary_component.json
  erpnext/hr/doctype/salary_slip/salary_slip.py
Labels: enterprise

#14502 Payroll Entry - Separate JE for flexi salary component
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/hr/doctype/payroll_entry/payroll_entry.js
  erpnext/hr/doctype/payroll_entry/payroll_entry.py
Labels: enterprise

#14495 Fetch details from Journal Entry in Accounts Payable report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: hotfix

#14560 [Minor] Cost Center overridden by company's default fix
  erpnext/selling/doctype/quotation/quotation.py
Labels: hotfix

#14596 [Minor] Fix Timesheet list query
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: hotfix

#14571 Employee Benefit
  erpnext/hr/doctype/employee_benefit_application/employee_benefit_application.js
  erpnext/hr/doctype/employee_benefit_application/employee_benefit_application.py
  erpnext/hr/doctype/employee_benefit_application_detail/employee_benefit_application_detail.json
  erpnext/hr/doctype/employee_benefit_claim/employee_benefit_claim.json
  erpnext/hr/doctype/employee_benefit_claim/employee_benefit_claim.py
  erpnext/hr/doctype/salary_component/salary_component.json
  erpnext/hr/doctype/salary_slip/salary_slip.py
  erpnext/hr/utils.py
Labels: human-resources

#14595 Pro-rata component consistency for monthly Salary slip
  erpnext/hr/doctype/employee_benefit_application/employee_benefit_application.py
  erpnext/hr/doctype/payroll_period/payroll_period.py
  erpnext/hr/doctype/salary_slip/salary_slip.py
Labels: human-resources

#14611 Compensatory Leave Request
  erpnext/hr/doctype/compensatory_leave_request/compensatory_leave_request.js
  erpnext/hr/doctype/compensatory_leave_request/compensatory_leave_request.json
  erpnext/hr/doctype/compensatory_leave_request/compensatory_leave_request.py
  erpnext/hr/doctype/leave_allocation/leave_allocation.py
Labels: human-resources, version-11

#14635 Fix tax calculation
  erpnext/hr/doctype/additional_salary/additional_salary.py
  erpnext/hr/doctype/salary_detail/salary_detail.json
  erpnext/hr/doctype/salary_slip/salary_slip.js
  erpnext/hr/doctype/salary_slip/salary_slip.py
  erpnext/manufacturing/report/bom_stock_calculated/bom_stock_calculated.py
Labels: version-11

#14668 [Fix] - Leave Perid - Grant Allocations
  erpnext/hr/doctype/leave_period/leave_period.py
Labels: human-resources

#14716 Fix error message
  erpnext/accounts/doctype/payment_entry/payment_entry.js
Labels: hotfix
