Repository frappe/erpnext, pull requests merged in 2018-09, with the labels that each got.

#15061 Amazon MWS Connector
  erpnext/config/integrations.py
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/__init__.py
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/amazon_methods.py
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/amazon_mws_api.py
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/amazon_mws_settings.js
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/amazon_mws_settings.json
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/amazon_mws_settings.py
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/test_amazon_mws_settings.js
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/test_amazon_mws_settings.py
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/xml_utils.py
  erpnext/hooks.py
Labels: integration

#14972 Allow cost center in entry of balance sheet accounts
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/doctype/cost_center/test_cost_center.py
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/trial_balance/trial_balance.js
  erpnext/accounts/utils.py
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/financial_statements.js
  erpnext/public/js/utils.js
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: accounts

#14784 [Fix] 'To Bill' status even if the amount is zero
  erpnext/controllers/status_updater.py
  erpnext/selling/doctype/sales_order/sales_order_list.js
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_note/delivery_note_list.js
  erpnext/stock/doctype/purchase_receipt/purchase_receipt_list.js
Labels: dont-merge

#15363 Remove print statements - Healthcare utils
  erpnext/healthcare/utils.py
Labels: healthcare

#15287 Changes to support refactor in frappe pg-poc branch
  erpnext/accounts/doctype/budget/budget.py
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/loyalty_program/loyalty_program.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/pos_profile/pos_profile.py
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
  erpnext/accounts/doctype/tax_rule/tax_rule.py
  erpnext/accounts/party.py
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/utils.py
  erpnext/assets/doctype/location/location.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/controllers/buying_controller.py
  erpnext/controllers/item_variant.py
  erpnext/controllers/queries.py
  erpnext/controllers/status_updater.py
  erpnext/education/doctype/fee_schedule/fee_schedule.py
  erpnext/hotels/doctype/hotel_room_reservation/hotel_room_reservation.py
  erpnext/hr/doctype/expense_claim/expense_claim.py
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_planning_tool/production_planning_tool.py
  erpnext/manufacturing/report/bom_stock_calculated/bom_stock_calculated.py
  erpnext/manufacturing/report/bom_stock_report/bom_stock_report.py
  erpnext/patches/v10_0/update_territory_and_customer_group.py
  erpnext/patches/v11_0/update_total_qty_field.py
  erpnext/patches/v8_0/create_domain_docs.py
  erpnext/patches/v8_0/set_sales_invoice_serial_number_from_delivery_note.py
  erpnext/patches/v8_10/change_default_customer_credit_days.py
  erpnext/projects/doctype/task/task.py
  erpnext/projects/doctype/timesheet/timesheet.py
  erpnext/projects/utils.py
  erpnext/regional/report/gstr_1/gstr_1.py
  erpnext/selling/page/point_of_sale/point_of_sale.py
  erpnext/setup/doctype/authorization_control/authorization_control.py
  erpnext/setup/doctype/company/company.py
  erpnext/setup/doctype/company/delete_company_transactions.py
  erpnext/setup/doctype/item_group/item_group.py
  erpnext/setup/doctype/party_type/party_type.py
  erpnext/shopping_cart/doctype/shopping_cart_settings/shopping_cart_settings.py
  erpnext/startup/boot.py
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/item_alternative/item_alternative.py
  erpnext/stock/doctype/serial_no/serial_no.py
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.py
  erpnext/stock/report/item_variant_details/item_variant_details.py
  erpnext/stock/report/stock_balance/stock_balance.py
  erpnext/stock/report/stock_ledger/stock_ledger.py
  erpnext/stock/report/stock_projected_qty/stock_projected_qty.py
  erpnext/stock/report/total_stock_summary/total_stock_summary.py
  test_sites/test_site/site_config.json
  travis/bench_init.sh
Labels: dont-merge

#15457 feature(chart-of-accounts): Rebuild HSM Tree after bulk insertion
  erpnext/accounts/doctype/account/account.py
  erpnext/accounts/doctype/account/chart_of_accounts/chart_of_accounts.py
Labels: dont-merge
