Repository frappe/erpnext, pull requests merged in 2018-04, with the labels that each got.

#13456 removed pos-view article since it is deprecated
  erpnext/docs/user/manual/en/using-erpnext/articles/index.txt
  erpnext/docs/user/manual/en/using-erpnext/articles/pos-view.md
Labels: documentation

#13444 [ Fix ] Adding to root node of Cost Center disabled
  erpnext/accounts/doctype/cost_center/cost_center_tree.js
Labels: frappe-support

#13467 [Fix] chart of accounts, root type is mandatory issue in charts.erpnext.com
  erpnext/accounts/utils.py
Labels: replied

#13480 [optimize] item queries
  erpnext/controllers/queries.py
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: hotfix

#13325 Hub Market
  erpnext/config/desktop.py
  erpnext/hub_node/__init__.py
  erpnext/hub_node/data_migration_plan/hub_sync/hub_sync.json
  erpnext/hub_node/doctype/hub_settings/hub_settings.js
  erpnext/hub_node/doctype/hub_settings/hub_settings.json
  erpnext/hub_node/doctype/hub_settings/hub_settings.py
  erpnext/hub_node/doctype/hub_tracked_item/__init__.py
  erpnext/hub_node/doctype/hub_tracked_item/hub_tracked_item.js
  erpnext/hub_node/doctype/hub_tracked_item/hub_tracked_item.json
  erpnext/hub_node/doctype/hub_tracked_item/hub_tracked_item.py
  erpnext/hub_node/doctype/hub_tracked_item/test_hub_tracked_item.js
  erpnext/hub_node/doctype/hub_tracked_item/test_hub_tracked_item.py
  erpnext/hub_node/doctype/hub_users/__init__.py
  erpnext/hub_node/doctype/hub_users/hub_users.json
  erpnext/hub_node/doctype/hub_users/hub_users.py
  erpnext/public/build.json
  erpnext/public/css/hub.css
  erpnext/public/images/hub_logo.svg
  erpnext/public/js/hub/hub_factory.js
  erpnext/public/js/hub/hub_form.js
  erpnext/public/js/hub/hub_listing.js
  erpnext/public/js/hub/hub_page.js
  erpnext/public/less/hub.less
  erpnext/utilities/user_progress.py
Labels: version-11

#13492 Place of Supply set on save Delivery Note if Customer Address Present
  erpnext/hooks.py
  erpnext/regional/india/utils.py
Labels: hotfix

#13498 updated images for print format
  erpnext/docs/assets/img/customize/print-format.png
  erpnext/docs/assets/img/customize/print-settings.png
Labels: documentation

#13384 [Enhancement] Work Order Material Consumption
  erpnext/docs/assets/img/manufacturing/allow-material-consumption.png
  erpnext/docs/assets/img/manufacturing/cancel-material-consumption-stock-entry.gif
  erpnext/docs/assets/img/manufacturing/consumed-qty.png
  erpnext/docs/assets/img/manufacturing/material-consumption-button.png
  erpnext/docs/assets/img/manufacturing/material-consumption-for-manufacture.png
  erpnext/docs/assets/img/manufacturing/material-consumption-stock-entry.gif
  erpnext/docs/user/manual/en/manufacturing/articles/material_consumption.md
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.js
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.json
  erpnext/manufacturing/doctype/manufacturing_settings/test_manufacturing_settings.py
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/manufacturing/doctype/work_order/work_order.js
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/manufacturing/doctype/work_order_item/work_order_item.json
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/stock_entry.json
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: feature-request, manufacturing, newmatik.io, waiting-for-fixes

#13656 [Enterprise] Patch and child table changes
  erpnext/hr/doctype/employee_promotion/employee_promotion.json
  erpnext/hr/doctype/employee_promotion_detail/employee_promotion_detail.json
  erpnext/hr/doctype/employee_property_history/__init__.py
  erpnext/hr/doctype/employee_property_history/employee_property_history.json
  erpnext/hr/doctype/employee_property_history/employee_property_history.py
  erpnext/hr/doctype/employee_transfer/employee_transfer.json
  erpnext/hr/doctype/employee_transfer_detail/__init__.py
  erpnext/hr/doctype/employee_transfer_detail/employee_transfer_detail.js
  erpnext/hr/doctype/employee_transfer_detail/employee_transfer_detail.py
  erpnext/hr/doctype/employee_transfer_detail/test_employee_transfer_detail.js
  erpnext/hr/doctype/employee_transfer_detail/test_employee_transfer_detail.py
  erpnext/hr/doctype/leave_type/leave_type.json
  erpnext/patches.txt
  erpnext/patches/v11_0/rename_field_max_days_allowed.py
Labels: enterprise

#13658 Remove Shift Schedule Tool
  erpnext/hr/doctype/shift_assignment_tool/__init__.py
  erpnext/hr/doctype/shift_assignment_tool/shift_assignment_tool.js
  erpnext/hr/doctype/shift_assignment_tool/shift_assignment_tool.json
  erpnext/hr/doctype/shift_assignment_tool/shift_assignment_tool.py
  erpnext/hr/doctype/shift_assignment_tool/test_shift_assignment_tool.js
  erpnext/hr/doctype/shift_assignment_tool/test_shift_assignment_tool.py
Labels: enterprise

#13649 Group by party in general ledger report
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: enterprise

#13667 Shift Management
  erpnext/config/hr.py
  erpnext/hr/doctype/shift_assignment/shift_assignment.json
  erpnext/hr/doctype/shift_assignment/shift_assignment.py
  erpnext/hr/doctype/shift_assignment/shift_assignment_calendar.js
  erpnext/hr/doctype/shift_request/shift_request.json
  erpnext/hr/doctype/shift_request/shift_request.py
  erpnext/hr/doctype/shift_type/shift_type.py
Labels: enterprise, waiting-for-fixes

#13685 removed bad code and made compatible with pip 10
  setup.py
Labels: dont-merge

#13755 [Minor] Typo fix in Leaderboard
  erpnext/utilities/page/leaderboard/leaderboard.js
Labels: hotfix

#13749 Assets Docs Update
  erpnext/docs/assets/img/asset/book-asset-depreciation-accounting-automatically.png
  erpnext/docs/user/manual/en/asset/assets.md
Labels: documentation

#13723 Establishment / Effective Date field in the Company master
  erpnext/setup/doctype/company/company.js
  erpnext/setup/doctype/company/company.json
Labels: enterprise

#13774 Fixed user permission video link
  erpnext/docs/user/manual/en/selling/articles/erpnext-for-services-organization.md
Labels: documentation

#13792 Update tracking-project-profitability-using-cost-center.md
  erpnext/docs/user/manual/en/accounts/articles/tracking-project-profitability-using-cost-center.md
Labels: documentation

#13810 Set is_pos to 0 in Opening Invoice Tool
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.py
Labels: hotfix

#13807 [Minor] Validate dates in Salary Structure
  erpnext/hr/doctype/salary_slip/salary_slip.js
  erpnext/hr/doctype/salary_structure/salary_structure.js
Labels: hotfix

#13830 [Minor] Show Customer's Name while printing Accounts Receivable report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.html
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
Labels: hotfix
