Repository frappe/erpnext, pull requests merged in 2018-11, with the labels that each got.

#15820 fix(serial no): Set supplier info based on pur invoice if serial no is created from Purchase Invoice
  erpnext/stock/doctype/serial_no/serial_no.py
Labels: inactive

#15887 [Fix] Asset date validation
  erpnext/assets/doctype/asset/asset.py
Labels: needs-description, needs-screenshots

#15915 Return default if company not found
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Labels: hotfix

#15811 Fix Purchase Order Issue in Update Items
  erpnext/buying/doctype/purchase_order/purchase_order.py
Labels: bug

#15928 fix: develop version should be 12
  erpnext/hooks.py
Labels: dont-merge

#15757 fix(hr): Delete salary slip when cancel payroll entry
  erpnext/hr/doctype/payroll_entry/payroll_entry.py
Labels: inactive, needs-docs, needs-tests

#15589 Server side script report for sales analytics
  erpnext/config/selling.py
  erpnext/patches.txt
  erpnext/selling/report/sales_analytics/__init__.py
  erpnext/selling/report/sales_analytics/sales_analytics.js
  erpnext/selling/report/sales_analytics/sales_analytics.json
  erpnext/selling/report/sales_analytics/sales_analytics.py
  erpnext/selling/report/sales_analytics/test_analytics.py
Labels: dont-merge

#15612 Script report for purchase analytics
  erpnext/buying/report/purchase_analytics/__init__.py
  erpnext/buying/report/purchase_analytics/purchase_analytics.js
  erpnext/buying/report/purchase_analytics/purchase_analytics.json
  erpnext/buying/report/purchase_analytics/purchase_analytics.py
  erpnext/config/buying.py
  erpnext/config/manufacturing.py
Labels: dont-merge

#15630 Stock analytics script report
  erpnext/config/stock.py
  erpnext/stock/report/stock_analytics/__init__.py
  erpnext/stock/report/stock_analytics/stock_analytics.js
  erpnext/stock/report/stock_analytics/stock_analytics.json
  erpnext/stock/report/stock_analytics/stock_analytics.py
Labels: dont-merge

#15456 Item qty based tax (CESS) calculation support
  erpnext/__init__.py
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.json
  erpnext/accounts/doctype/sales_taxes_and_charges/sales_taxes_and_charges.json
  erpnext/controllers/taxes_and_totals.py
  erpnext/controllers/tests/test_qty_based_taxes.py
  erpnext/regional/__init__.py
Labels: needs-tests, waiting-for-fixes

#15815 [fix] - GL entry not creating on PR if rejected qty mentioned
  erpnext/patches.txt
  erpnext/patches/v10_0/repost_gle_for_purchase_receipts_with_rejected_items.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: bug

#15706 Create a Delivery Trip from multiple Delivery Notes in list view
  erpnext/stock/doctype/delivery_note/delivery_note_list.js
Labels: replied

#15462 Added Default Warehouse field that sets all item's warehouse
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.js
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.js
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
Labels: waiting-for-fixes

#15999 css: build files in v10
  erpnext/public/css/erpnext.css
Labels: inactive
