Repository frappe/erpnext, pull requests merged in 2019-08, with the labels that each got.

#18689 fix: Filters for portal quotation list
  erpnext/controllers/website_list_for_contact.py
  erpnext/templates/pages/rfq.py
Labels: frappe-support

#18705 fix: Check if account passed is accessible under Payment Entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/utils.py
Labels: frappe-support

#17624 feat: Carry Forward Leave Expiry
  erpnext/config/hr.py
  erpnext/hooks.py
  erpnext/hr/doctype/hr_settings/hr_settings.json
  erpnext/hr/doctype/leave_allocation/leave_allocation.js
  erpnext/hr/doctype/leave_allocation/leave_allocation.json
  erpnext/hr/doctype/leave_allocation/leave_allocation.py
  erpnext/hr/doctype/leave_allocation/leave_allocation_dashboard.py
  erpnext/hr/doctype/leave_allocation/leave_allocation_list.js
  erpnext/hr/doctype/leave_allocation/test_leave_allocation.js
  erpnext/hr/doctype/leave_allocation/test_leave_allocation.py
  erpnext/hr/doctype/leave_application/leave_application.js
  erpnext/hr/doctype/leave_application/leave_application.json
  erpnext/hr/doctype/leave_application/leave_application.py
  erpnext/hr/doctype/leave_application/leave_application_dashboard.py
  erpnext/hr/doctype/leave_application/test_leave_application.py
  erpnext/hr/doctype/leave_encashment/leave_encashment.py
  erpnext/hr/doctype/leave_encashment/test_leave_encashment.py
  erpnext/hr/doctype/leave_ledger_entry/__init__.py
  erpnext/hr/doctype/leave_ledger_entry/leave_ledger_entry.js
  erpnext/hr/doctype/leave_ledger_entry/leave_ledger_entry.json
  erpnext/hr/doctype/leave_ledger_entry/leave_ledger_entry.py
  erpnext/hr/doctype/leave_ledger_entry/test_leave_ledger_entry.py
  erpnext/hr/doctype/leave_period/leave_period.js
  erpnext/hr/doctype/leave_period/leave_period.json
  erpnext/hr/doctype/leave_period/leave_period.py
  erpnext/hr/doctype/leave_policy/leave_policy_dashboard.py
  erpnext/hr/doctype/leave_policy/test_leave_policy.py
  erpnext/hr/doctype/leave_type/leave_type.json
  erpnext/hr/doctype/leave_type/leave_type.py
  erpnext/hr/doctype/leave_type/test_leave_type.py
  erpnext/hr/report/employee_leave_balance/employee_leave_balance.js
  erpnext/hr/report/employee_leave_balance/employee_leave_balance.py
  erpnext/hr/utils.py
  erpnext/patches.txt
  erpnext/patches/v12_0/generate_leave_ledger_entries.py
Labels: human-resources

#18523 feat(Auto Attendance): Add grace period
  erpnext/hr/doctype/attendance/attendance.json
  erpnext/hr/doctype/employee_checkin/employee_checkin.json
  erpnext/hr/doctype/employee_checkin/employee_checkin.py
  erpnext/hr/doctype/employee_checkin/test_employee_checkin.py
  erpnext/hr/doctype/shift_type/shift_type.json
  erpnext/hr/doctype/shift_type/shift_type.py
  erpnext/hr/report/monthly_attendance_sheet/monthly_attendance_sheet.py
Labels: review-codacy

#18728 fix: removed filters(not required)
  erpnext/controllers/sales_and_purchase_return.py
Labels: review-codacy

#18796 Merge version-12-hotfix into develop
  erpnext/__init__.py
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.js
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/page/bank_reconciliation/bank_reconciliation.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/change_log/v12/v12_0_0.md
  erpnext/config/hr.py
  erpnext/config/manufacturing.py
  erpnext/controllers/buying_controller.py
  erpnext/controllers/website_list_for_contact.py
  erpnext/hr/doctype/payroll_entry/payroll_entry.py
  erpnext/manufacturing/doctype/bom/bom.json
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/work_order/work_order.json
  erpnext/manufacturing/page/bom_comparison_tool/__init__.py
  erpnext/manufacturing/page/bom_comparison_tool/bom_comparison_tool.js
  erpnext/manufacturing/page/bom_comparison_tool/bom_comparison_tool.json
  erpnext/public/js/utils.js
  erpnext/public/js/utils/dimension_tree_filter.js
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/setup/doctype/company/company.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/templates/pages/rfq.py
Labels: review-codacy

#18558 Fix: Incorrect database name
  erpnext/accounts/doctype/sales_invoice/pos.py
Labels: needs-semantic-title

#18457 Adding query for item field for some stock reports
  erpnext/stock/page/stock_balance/stock_balance.js
  erpnext/stock/report/item_price_stock/item_price_stock.js
  erpnext/stock/report/stock_ageing/stock_ageing.js
  erpnext/stock/report/stock_analytics/stock_analytics.js
Labels: needs-semantic-title
