Repository frappe/erpnext, pull requests merged in 2019-03, with the labels that each got.

#16421 feat: US Regional Module with IRS 1099 reporting
  erpnext/regional/print_format/irs_1099_form/__init__.py
  erpnext/regional/print_format/irs_1099_form/irs_1099_form.json
  erpnext/regional/report/irs_1099/__init__.py
  erpnext/regional/report/irs_1099/irs_1099.js
  erpnext/regional/report/irs_1099/irs_1099.json
  erpnext/regional/report/irs_1099/irs_1099.py
  erpnext/regional/united_states/__init__.py
  erpnext/regional/united_states/address_template.html
  erpnext/regional/united_states/setup.py
  erpnext/regional/united_states/test_united_states.py
Labels: Regional, review-codacy, travis-failing

#16629 feat: Gross and Net Profit Report
  erpnext/accounts/doctype/account/account.json
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/gross_and_net_profit_report/__init__.py
  erpnext/accounts/report/gross_and_net_profit_report/gross_and_net_profit_report.html
  erpnext/accounts/report/gross_and_net_profit_report/gross_and_net_profit_report.js
  erpnext/accounts/report/gross_and_net_profit_report/gross_and_net_profit_report.json
  erpnext/accounts/report/gross_and_net_profit_report/gross_and_net_profit_report.py
Labels: Accounts

#16673 feat(issue): Create and view Tasks from Issues
  erpnext/projects/doctype/task/task.js
  erpnext/projects/doctype/task/task.json
  erpnext/projects/doctype/task/task_dashboard.py
  erpnext/support/doctype/issue/issue.js
  erpnext/support/doctype/issue/issue.json
  erpnext/support/doctype/issue/issue.py
  erpnext/support/doctype/issue/issue_dashboard.py
Labels: project-management

#16882 feat: child table to add multiple time logs in job card
  erpnext/manufacturing/doctype/job_card/job_card.js
  erpnext/manufacturing/doctype/job_card/job_card.json
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/job_card_time_log/__init__.py
  erpnext/manufacturing/doctype/job_card_time_log/job_card_time_log.json
  erpnext/manufacturing/doctype/job_card_time_log/job_card_time_log.py
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/patches.txt
  erpnext/patches/v11_1/make_job_card_time_logs.py
Labels: review-codacy

#16940 feat: added cost center filter in AR/AP reports
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/report/accounts_payable/accounts_payable.js
  erpnext/accounts/report/accounts_payable_summary/accounts_payable_summary.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable_summary/accounts_receivable_summary.js
  erpnext/selling/doctype/customer/customer.py
  erpnext/selling/report/customer_credit_balance/customer_credit_balance.js
  erpnext/selling/report/customer_credit_balance/customer_credit_balance.py
Labels: review-codacy

#16523 feat: Sync Chart of Accounts in Company hierarchy
  erpnext/accounts/doctype/account/account.py
  erpnext/accounts/doctype/account/account_tree.js
  erpnext/accounts/doctype/account/test_account.py
  erpnext/hr/doctype/staffing_plan/staffing_plan.py
  erpnext/hr/doctype/staffing_plan/test_staffing_plan.py
  erpnext/setup/doctype/company/company.js
  erpnext/setup/doctype/company/company.py
  erpnext/setup/doctype/company/test_records.json
Labels: review-codacy

#16946 code cleanup
  erpnext/selling/doctype/customer/customer.py
Labels: needs-semantic-title

#16948 feat: pricing rule enhancements
  erpnext/accounts/doctype/apply_rule_on_brand/__init__.py
  erpnext/accounts/doctype/apply_rule_on_brand/apply_rule_on_brand.json
  erpnext/accounts/doctype/apply_rule_on_brand/apply_rule_on_brand.py
  erpnext/accounts/doctype/apply_rule_on_item_code/__init__.py
  erpnext/accounts/doctype/apply_rule_on_item_code/apply_rule_on_item_code.json
  erpnext/accounts/doctype/apply_rule_on_item_code/apply_rule_on_item_code.py
  erpnext/accounts/doctype/apply_rule_on_item_group/__init__.py
  erpnext/accounts/doctype/apply_rule_on_item_group/apply_rule_on_item_group.json
  erpnext/accounts/doctype/apply_rule_on_item_group/apply_rule_on_item_group.py
  erpnext/accounts/doctype/loyalty_program/test_loyalty_program.py
  erpnext/accounts/doctype/price_discount_slab/__init__.py
  erpnext/accounts/doctype/price_discount_slab/price_discount_slab.json
  erpnext/accounts/doctype/price_discount_slab/price_discount_slab.py
  erpnext/accounts/doctype/pricing_rule/pricing_rule.js
  erpnext/accounts/doctype/pricing_rule/pricing_rule.json
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/utils.py
  erpnext/accounts/doctype/pricing_rule_detail/__init__.py
  erpnext/accounts/doctype/pricing_rule_detail/pricing_rule_detail.json
  erpnext/accounts/doctype/pricing_rule_detail/pricing_rule_detail.py
  erpnext/accounts/doctype/product_discount_slab/__init__.py
  erpnext/accounts/doctype/product_discount_slab/product_discount_slab.json
  erpnext/accounts/doctype/product_discount_slab/product_discount_slab.py
  erpnext/accounts/doctype/promotional_scheme/__init__.py
  erpnext/accounts/doctype/promotional_scheme/promotional_scheme.js
  erpnext/accounts/doctype/promotional_scheme/promotional_scheme.json
  erpnext/accounts/doctype/promotional_scheme/promotional_scheme.py
  erpnext/accounts/doctype/promotional_scheme/promotional_scheme_dashboard.py
  erpnext/accounts/doctype/promotional_scheme/test_promotional_scheme.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/buying/doctype/purchase_order_item/purchase_order_item.json
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.json
  erpnext/buying/doctype/supplier_quotation_item/supplier_quotation_item.json
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/patches.txt
  erpnext/patches/v12_0/update_pricing_rule_fields.py
  erpnext/public/js/controllers/buying.js
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/doctype/quotation/quotation.json
  erpnext/selling/doctype/quotation_item/quotation_item.json
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/doctype/sales_order_item/sales_order_item.json
  erpnext/selling/sales_common.js
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.json
  erpnext/stock/doctype/price_list/test_records.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/stock/doctype/warehouse/warehouse.py
  erpnext/stock/get_item_details.py
Labels: review-codacy

#16952 fix: advance amount is not calculating properly
  erpnext/accounts/party.py
  erpnext/accounts/report/accounts_receivable_summary/accounts_receivable_summary.py
Labels: review-codacy

#16554 feat: Brand Item Defaults (v12)
  erpnext/accounts/doctype/account/test_account.py
  erpnext/setup/doctype/brand/brand.json
  erpnext/setup/doctype/brand/brand.py
  erpnext/setup/doctype/brand/test_records.json
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/get_item_details.py
Labels: review-codacy

#16608 fix(work_order): Add item name in Work Order
  erpnext/manufacturing/doctype/work_order/work_order.js
  erpnext/manufacturing/doctype/work_order/work_order.json
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/patches.txt
  erpnext/patches/v12_0/add_item_name_in_work_orders.py
Labels: manufacturing

#16816 fix: Rounding adjustment in Rounded Total
  erpnext/accounts/report/purchase_register/purchase_register.py
Labels: review-codacy

#16947 fix(uom): Get items as per UOM defined in BOM
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: reviewing

#16623 feat: Chart of Accounts Importer
  erpnext/accounts/doctype/account/chart_of_accounts/chart_of_accounts.py
  erpnext/accounts/doctype/chart_of_accounts_importer/__init__.py
  erpnext/accounts/doctype/chart_of_accounts_importer/chart_of_accounts_importer.js
  erpnext/accounts/doctype/chart_of_accounts_importer/chart_of_accounts_importer.json
  erpnext/accounts/doctype/chart_of_accounts_importer/chart_of_accounts_importer.py
  erpnext/accounts/doctype/chart_of_accounts_importer/test_chart_of_accounts_importer.js
  erpnext/accounts/doctype/chart_of_accounts_importer/test_chart_of_accounts_importer.py
  erpnext/regional/india/setup.py
  erpnext/setup/doctype/company/company.js
  erpnext/setup/doctype/company/company.py
Labels: Accounts

#16978 feat: sales partner reports
  erpnext/selling/report/sales_partner_commission_summary/__init__.py
  erpnext/selling/report/sales_partner_commission_summary/sales_partner_commission_summary.js
  erpnext/selling/report/sales_partner_commission_summary/sales_partner_commission_summary.json
  erpnext/selling/report/sales_partner_commission_summary/sales_partner_commission_summary.py
  erpnext/selling/report/sales_partner_wise_transaction_summary/__init__.py
  erpnext/selling/report/sales_partner_wise_transaction_summary/sales_partner_wise_transaction_summary.js
  erpnext/selling/report/sales_partner_wise_transaction_summary/sales_partner_wise_transaction_summary.json
  erpnext/selling/report/sales_partner_wise_transaction_summary/sales_partner_wise_transaction_summary.py
Labels: review-codacy

#16963 Fix:stock_values_on removed append function on string
  erpnext/stock/utils.py
Labels: needs-semantic-title

#16977 feat: Added item group variance report for sales partner, commonified item group wise target variance report
  erpnext/accounts/doctype/monthly_distribution/monthly_distribution.py
  erpnext/patches.txt
  erpnext/patches/v12_0/move_target_distribution_from_parent_to_child.py
  erpnext/selling/report/sales_partner_target_variance_based_on_item_group/__init__.py
  erpnext/selling/report/sales_partner_target_variance_based_on_item_group/item_group_wise_sales_target_variance.py
  erpnext/selling/report/sales_partner_target_variance_based_on_item_group/sales_partner_target_variance_based_on_item_group.js
  erpnext/selling/report/sales_partner_target_variance_based_on_item_group/sales_partner_target_variance_based_on_item_group.json
  erpnext/selling/report/sales_partner_target_variance_based_on_item_group/sales_partner_target_variance_based_on_item_group.py
  erpnext/selling/report/sales_partner_transaction_summary/__init__.py
  erpnext/selling/report/sales_partner_transaction_summary/sales_partner_transaction_summary.js
  erpnext/selling/report/sales_partner_transaction_summary/sales_partner_transaction_summary.json
  erpnext/selling/report/sales_partner_transaction_summary/sales_partner_transaction_summary.py
  erpnext/selling/report/sales_person_target_variance_based_on_item_group/__init__.py
  erpnext/selling/report/sales_person_target_variance_based_on_item_group/sales_person_target_variance_based_on_item_group.js
  erpnext/selling/report/sales_person_target_variance_based_on_item_group/sales_person_target_variance_based_on_item_group.json
  erpnext/selling/report/sales_person_target_variance_based_on_item_group/sales_person_target_variance_based_on_item_group.py
  erpnext/selling/report/sales_person_target_variance_item_group_wise/sales_person_target_variance_item_group_wise.py
  erpnext/selling/report/territory_target_variance_based_on_item_group/__init__.py
  erpnext/selling/report/territory_target_variance_based_on_item_group/territory_target_variance_based_on_item_group.js
  erpnext/selling/report/territory_target_variance_based_on_item_group/territory_target_variance_based_on_item_group.json
  erpnext/selling/report/territory_target_variance_based_on_item_group/territory_target_variance_based_on_item_group.py
  erpnext/selling/report/territory_target_variance_item_group_wise/territory_target_variance_item_group_wise.py
  erpnext/setup/doctype/sales_partner/sales_partner.js
  erpnext/setup/doctype/sales_partner/sales_partner.json
  erpnext/setup/doctype/sales_person/sales_person.js
  erpnext/setup/doctype/sales_person/sales_person.json
  erpnext/setup/doctype/target_detail/target_detail.json
  erpnext/setup/doctype/territory/territory.js
  erpnext/setup/doctype/territory/territory.json
Labels: review-codacy

#16743 fix(projects): Auto-set employee and company in Timesheet
  erpnext/projects/doctype/timesheet/timesheet.js
Labels: human-resources, project-management

#16925 feat: stock entry enhancements
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/controllers/buying_controller.py
  erpnext/manufacturing/doctype/production_order/production_order.py
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/patches.txt
  erpnext/patches/v11_0/update_backflush_subcontract_rm_based_on_bom.py
  erpnext/patches/v12_0/stock_entry_enhancements.py
  erpnext/selling/doctype/sales_team/sales_team.json
  erpnext/setup/setup_wizard/operations/install_fixtures.py
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/batch/test_batch.py
  erpnext/stock/doctype/bin/bin.py
  erpnext/stock/doctype/material_request/material_request.py
  erpnext/stock/doctype/material_request/test_material_request.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/stock_entry.json
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/stock_entry_list.js
  erpnext/stock/doctype/stock_entry/stock_entry_utils.py
  erpnext/stock/doctype/stock_entry/test_records.json
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/doctype/stock_entry/tests/test_stock_entry_for_subcontract.js
  erpnext/stock/doctype/stock_entry_detail/stock_entry_detail.json
  erpnext/stock/doctype/stock_entry_type/__init__.py
  erpnext/stock/doctype/stock_entry_type/stock_entry_type.js
  erpnext/stock/doctype/stock_entry_type/stock_entry_type.json
  erpnext/stock/doctype/stock_entry_type/stock_entry_type.py
  erpnext/stock/doctype/stock_entry_type/test_stock_entry_type.py
  erpnext/stock/report/itemwise_recommended_reorder_level/itemwise_recommended_reorder_level.py
Labels: review-codacy

#17070 Revert: Fix issue credit note"
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: needs-semantic-title

#17069 feat: Revert "Fix(Delivery Note): Fix issue credit note"
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: review-codacy

#17073 fix(stock): Fixed stock balance and stock ledger report
  erpnext/stock/report/stock_balance/stock_balance.py
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: review-codacy
