Repository frappe/erpnext, pull requests merged in 2019-12, with the labels that each got.

#19441 fix: capacity planning back
  erpnext/manufacturing/doctype/job_card/job_card.json
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.json
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/manufacturing/doctype/work_order/work_order.js
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/manufacturing/doctype/workstation/workstation.json
  erpnext/manufacturing/doctype/workstation/workstation.py
  erpnext/manufacturing/doctype/workstation/workstation_dashboard.py
  erpnext/patches.txt
  erpnext/patches/v12_0/set_production_capacity_in_workstation.py
Labels: review-codacy

#19498 feat: Provision to fetch items from multiple BOMs in Stock Entry
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: review-codacy

#19919 fix: task validation error when adding tasks to projects
  erpnext/projects/doctype/task/task.py
Labels: needs-tests

#19928 fix: replace sql with orm query for deleting company communications
  erpnext/setup/doctype/company/delete_company_transactions.py
  erpnext/setup/doctype/company/test_company.py
Labels: needs-tests

#19929 fix: replace sql with orm query for deleting company communications
  erpnext/setup/doctype/company/delete_company_transactions.py
  erpnext/setup/doctype/company/test_company.py
Labels: needs-tests

#18096 fix: Order type restriction conflictive code
  erpnext/controllers/selling_controller.py
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: replied

#18715 feat: create address and contact after lead creation (develop)
  erpnext/crm/doctype/lead/lead.js
  erpnext/crm/doctype/lead/lead.json
  erpnext/crm/doctype/lead/lead.py
  erpnext/patches.txt
  erpnext/patches/v12_0/set_lead_title_field.py
Labels: review-codacy

#20159 fix(Subscription): pass start_date while computing next_schedu…
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: depends-on-frappe

#20160 fix(Subscription): pass start_date while computing next_schedu…
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: depends-on-frappe
