Repository frappe/erpnext, pull requests merged in 2019-07, with the labels that each got.

#18124 refactor: Remove implicit auto assignment feature
  erpnext/crm/doctype/opportunity/opportunity.py
  erpnext/crm/doctype/opportunity/test_opportunity.py
  erpnext/support/doctype/issue/issue.py
  erpnext/support/doctype/issue/test_issue.py
Labels: frappe-support

#18034 feat: payment reconciliation enhancements
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.js
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation_payment/payment_reconciliation_payment.json
  erpnext/accounts/utils.py
Labels: review-codacy

#18149 fix: Add filters for accounting dimensions in trial balance report
  erpnext/accounts/report/trial_balance/trial_balance.js
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: review-codacy

#18135 fix: as limit 100 was set in the query therefore not all item's default value moved to the Item Default table
  erpnext/patches.txt
  erpnext/patches/v11_0/move_item_defaults_to_child_table_for_multicompany.py
Labels: review-codacy

#18194 fix: Add accounting dimensions to various reports and fixes
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.js
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.json
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/accounts/report/accounts_payable/accounts_payable.js
  erpnext/accounts/report/accounts_payable_summary/accounts_payable_summary.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable_summary/accounts_receivable_summary.js
  erpnext/accounts/report/budget_variance_report/budget_variance_report.js
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/profitability_analysis/profitability_analysis.js
  erpnext/accounts/report/profitability_analysis/profitability_analysis.py
  erpnext/accounts/report/sales_register/sales_register.js
  erpnext/accounts/report/sales_register/sales_register.py
  erpnext/accounts/report/trial_balance/trial_balance.js
  erpnext/public/js/financial_statements.js
  erpnext/public/js/utils/dimension_tree_filter.js
Labels: review-codacy

#18246 fix: Restore "allow delivery" condition checks
  erpnext/selling/doctype/sales_order/sales_order.js
Labels: frappe-support

#18253 fix: navigation link updated for Item Shortage Report
  erpnext/config/stock.py
Labels: stock

#17972 fix: Patient History (Patient Medical Record)
  erpnext/config/healthcare.py
  erpnext/healthcare/doctype/patient/patient.js
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.js
  erpnext/healthcare/doctype/patient_encounter/patient_encounter.js
  erpnext/healthcare/page/medical_record/__init__.py
  erpnext/healthcare/page/medical_record/medical_record.js
  erpnext/healthcare/page/medical_record/medical_record.py
  erpnext/healthcare/page/medical_record/medical_record_row.html
  erpnext/healthcare/page/medical_record/patient_select.html
  erpnext/healthcare/page/patient_history/__init__.py
  erpnext/healthcare/page/patient_history/patient_history.css
  erpnext/healthcare/page/patient_history/patient_history.html
  erpnext/healthcare/page/patient_history/patient_history.js
  erpnext/healthcare/page/patient_history/patient_history.json
  erpnext/healthcare/page/patient_history/patient_history.py
  erpnext/healthcare/utils.py
  erpnext/patches.txt
  erpnext/patches/v12_0/remove_patient_medical_record_page.py
Labels: healthcare

#17845 fix: General Ledger Group by Voucher not ordering by posting_date
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: develop-branch-pr-missing

#18314 fix(bin): update requested qty in bin
  erpnext/patches.txt
  erpnext/patches/v10_0/repost_requested_qty_for_non_stock_uom_items.py
  erpnext/stock/stock_balance.py
Labels: review-codacy

#18313 fix(bin): update requested qty in bin
  erpnext/patches.txt
  erpnext/patches/v10_0/repost_requested_qty_for_non_stock_uom_items.py
  erpnext/stock/stock_balance.py
Labels: review-codacy

#17788 refactor: Refactored over delivery/receipt/billing fields
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/status_updater.py
  erpnext/patches.txt
  erpnext/patches/v12_0/rename_tolerance_fields.py
  erpnext/public/js/queries.js
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/item/item.json
  erpnext/stock/doctype/stock_settings/stock_settings.json
Labels: review-codacy

#18095 refactor: move and add for serialized and batch items in stock summary
  erpnext/stock/dashboard/item_dashboard.js
  erpnext/stock/dashboard/item_dashboard.py
  erpnext/stock/dashboard/item_dashboard_list.html
Labels: review-codacy

#17746 fix: Pro rata calculation is not working for WDV depreciation method
  erpnext/assets/doctype/asset/asset.js
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_settings/asset_settings.json
Labels: review-codacy
