Repository frappe/erpnext, pull requests merged in 2019-11, with the labels that each got.

#19505 fix: unknown column credit limit in accounts receivable report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
Labels: review-codacy

#19236 perf: Optimise BOM Update Tool
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom_update_tool/bom_update_tool.py
Labels: dont-merge

#19513 fix: Added 'status' field in Payment Entry
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/patches.txt
  erpnext/patches/v11_1/set_payment_entry_status.py
Labels: review-codacy

#19388 fix: Sales and Purchase Invoice Status and Payment Reconciliation
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice_list.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/controllers/status_updater.py
Labels: dont-merge

#19519 fix[minor]: Payment Entry status patch
  erpnext/patches/v12_0/set_payment_entry_status.py
Labels: needs-semantic-title

#19520 fix[minor]: Payment Entry status patch
  erpnext/patches/v11_1/set_payment_entry_status.py
Labels: needs-semantic-title

#19463 minor: added description, uom fields in material request plan item table
  erpnext/manufacturing/doctype/material_request_plan_item/material_request_plan_item.json
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: review-codacy

#19449 fix: not able to change the account type in parent company account head
  erpnext/accounts/doctype/account/account.py
Labels: dont-merge

#19193 fix: Move add_custom_button for Gantt and Kanban Board
  erpnext/projects/doctype/project/project.js
Labels: review-codacy

#19190 Fix Bank Reconcilaition for Payment Entries
  erpnext/accounts/page/bank_reconciliation/bank_reconciliation.js
Labels: needs-semantic-title

#19427 fix: Expense claim paid through employee advance getting fetched as outstanding in Payment Entry
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/hr/doctype/employee/employee_dashboard.py
  erpnext/hr/doctype/expense_claim/expense_claim.json
  erpnext/hr/doctype/expense_claim/expense_claim.py
Labels: dont-merge

#19570 fix: duplication while bulk creation of item tax template
  erpnext/patches/v12_0/move_item_tax_to_item_tax_template.py
Labels: review-codacy

#19369 Fixed asset refactor
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/assets/doctype/asset/asset.js
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/asset_list.js
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_category/asset_category.py
  erpnext/assets/doctype/asset_maintenance/test_asset_maintenance.py
  erpnext/assets/doctype/asset_movement/asset_movement.js
  erpnext/assets/doctype/asset_movement/asset_movement.json
  erpnext/assets/doctype/asset_movement/asset_movement.py
  erpnext/assets/doctype/asset_movement/test_asset_movement.py
  erpnext/assets/doctype/asset_movement_item/__init__.py
  erpnext/assets/doctype/asset_movement_item/asset_movement_item.json
  erpnext/assets/doctype/asset_movement_item/asset_movement_item.py
  erpnext/buying/doctype/purchase_order_item/purchase_order_item.json
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/buying_controller.py
  erpnext/controllers/queries.py
  erpnext/hr/doctype/employee/test_employee.py
  erpnext/patches/v11_0/make_asset_finance_book_against_old_entries.py
  erpnext/stock/doctype/item/item.js
  erpnext/stock/doctype/item/item.json
  erpnext/stock/doctype/landed_cost_item/landed_cost_item.json
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.js
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.json
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.js
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
Labels: review-codacy

#18755 feat(regional): Add master data to DATEV Export
  erpnext/regional/report/datev/datev.py
  erpnext/regional/report/datev/datev_constants.py
  erpnext/regional/report/datev/test_datev.py
Labels: review-codacy

#19750 chore: updated import paths for test utils
  erpnext/portal/doctype/homepage/test_homepage.py
  erpnext/portal/doctype/homepage_section/test_homepage_section.py
  erpnext/portal/product_configurator/test_product_configurator.py
  erpnext/setup/setup_wizard/test_setup_wizard.py
Labels: dont-merge, version-13
