Repository frappe/erpnext, pull requests merged in 2019-02, with the labels that each got.

#16576 fix: Optimising payment reconciliation queries
  erpnext/accounts/utils.py
Labels: review-codacy

#16480 feat(explore_page): rearrange links
  erpnext/accounts/doctype/pos_settings/pos_settings.py
  erpnext/config/accounting.py
  erpnext/config/assets.py
  erpnext/config/buying.py
  erpnext/config/crm.py
  erpnext/config/desktop.py
  erpnext/config/hr.py
  erpnext/config/maintenance.py
  erpnext/config/manufacturing.py
  erpnext/config/projects.py
  erpnext/config/quality_management.py
  erpnext/config/retail.py
  erpnext/config/selling.py
  erpnext/config/settings.py
  erpnext/config/stock.py
  erpnext/config/support.py
  erpnext/patches.txt
  erpnext/patches/v11_0/change_healthcare_desktop_icons.py
  erpnext/patches/v11_0/merge_land_unit_with_location.py
  erpnext/patches/v11_0/refactor_erpnext_shopify.py
  erpnext/patches/v11_0/remove_land_unit_icon.py
  erpnext/patches/v11_0/rename_production_order_to_work_order.py
  erpnext/patches/v12_0/change_qms_icon.py
  erpnext/patches/v12_0/rename_accounts_desktop_icon_to_accounting.py
  erpnext/patches/v12_0/rename_learn_to_help.py
  erpnext/patches/v12_0/rename_quality_management_to_quality.py
  erpnext/patches/v12_0/replace_project_list_desktop_icon_with_projects_module_desktop_icon.py
  erpnext/patches/v7_0/migrate_schools_to_erpnext.py
  erpnext/patches/v8_1/delete_deprecated_reports.py
  erpnext/public/js/hub/hub_factory.js
Labels: travis-failing

#16537 fix: Fixed error on stock balance report
  erpnext/stock/report/stock_balance/stock_balance.py
Labels: review-codacy

#16609 Multiple fixes
  erpnext/accounts/deferred_revenue.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/hr/doctype/employee_advance/employee_advance.js
  erpnext/stock/doctype/material_request/material_request.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: review-codacy

#16666 fix: errors in deferred revenue booking
  erpnext/accounts/deferred_revenue.py
Labels: review-codacy

#16677 fix: Consider parenttype while updating total qty in transactions
  erpnext/patches/v11_0/update_total_qty_field.py
Labels: review-codacy

#16598 feat(regional): Italian Localization and E-Invoicing export
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/controllers/accounts_controller.py
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v11_0/make_italian_localization_fields.py
  erpnext/regional/italy/__init__.py
  erpnext/regional/italy/e-invoice.xml
  erpnext/regional/italy/setup.py
  erpnext/regional/italy/utils.py
  erpnext/regional/report/electronic_invoice_register/__init__.py
  erpnext/regional/report/electronic_invoice_register/electronic_invoice_register.js
  erpnext/regional/report/electronic_invoice_register/electronic_invoice_register.json
  erpnext/regional/report/electronic_invoice_register/electronic_invoice_register.py
  erpnext/setup/doctype/company/test_company.py
Labels: Regional

#16663 fix: Validate invalid fields in Item Variant Settings
  erpnext/patches.txt
  erpnext/patches/v11_0/remove_barcodes_field_from_copy_fields_to_variants.py
  erpnext/stock/doctype/item_variant_settings/item_variant_settings.py
Labels: needs-tests

#16751 (Profit and Loss Statement, fix): for parent account value was showing as zero
  erpnext/accounts/report/financial_statements.py
Labels: needs-semantic-title

#16709 feat: Project Template
  .pylintrc
  erpnext/config/projects.py
  erpnext/demo/user/projects.py
  erpnext/hr/doctype/employee_onboarding/employee_onboarding.py
  erpnext/hr/doctype/employee_onboarding/test_employee_onboarding.py
  erpnext/patches.txt
  erpnext/patches/v12_0/set_task_status.py
  erpnext/projects/doctype/project/project.js
  erpnext/projects/doctype/project/project.json
  erpnext/projects/doctype/project/project.py
  erpnext/projects/doctype/project/test_project.py
  erpnext/projects/doctype/project_task/project_task.json
  erpnext/projects/doctype/project_template/__init__.py
  erpnext/projects/doctype/project_template/project_template.js
  erpnext/projects/doctype/project_template/project_template.json
  erpnext/projects/doctype/project_template/project_template.py
  erpnext/projects/doctype/project_template/project_template_dashboard.py
  erpnext/projects/doctype/project_template/test_project_template.py
  erpnext/projects/doctype/project_template_task/__init__.py
  erpnext/projects/doctype/project_template_task/project_template_task.json
  erpnext/projects/doctype/project_template_task/project_template_task.py
  erpnext/projects/doctype/task/task.json
  erpnext/projects/doctype/task/task.py
  erpnext/projects/doctype/task/test_task.py
  erpnext/templates/pages/projects.js
Labels: project-management
