Repository frappe/erpnext, pull requests merged in 2019-05, with the labels that each got.

#17154 fix: Calculate rate based on discount on server side, only if not rate or pricing rule applied
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/buying.js
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/sales_common.js
Labels: frappe-support

#17455 fix: data pulling based on quotation_to and party_name
  erpnext/patches.txt
  erpnext/patches/v11_1/set_missing_title_for_quotation.py
  erpnext/public/js/utils/party.js
  erpnext/selling/doctype/quotation/quotation.js
  erpnext/selling/doctype/quotation/quotation.json
  erpnext/selling/doctype/quotation/quotation.py
Labels: review-codacy

#16907 feat(regional 🇮🇳): auto-generate e-Way Bill JSON from Sales Invoice
  erpnext/accounts/doctype/sales_invoice/regional/india.js
  erpnext/accounts/doctype/sales_invoice/regional/india_list.js
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/patches.txt
  erpnext/regional/india/setup.py
  erpnext/regional/india/utils.py
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: Regional

#17149 fix(India): run patch for GST custom fields
  erpnext/patches.txt
  erpnext/patches/v10_0/gst_hsn_fixes.py
Labels: frappe-support, review-codacy

#17121 fix(Purchase Order): fetch payment terms
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
Labels: frappe-support

#17472 fix: patch to remove scheduling tool
  erpnext/patches.txt
  erpnext/patches/v11_1/delete_scheduling_tool.py
Labels: frappe-support

#17473 fix: Remove Scheduling Tool if exists
  erpnext/patches.txt
  erpnext/patches/v11_1/delete_scheduling_tool.py
Labels: frappe-support

#17506 fix: renamed column avg. buying rate to valuation rate in gross profit report
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: Kaizen, reports

#17573 fix(lead): Map lead name to quotation party_name
  erpnext/crm/doctype/lead/lead.py
Labels: frappe-support

#17532 fix: Show "Merge Account" button only to users with write access
  erpnext/accounts/doctype/account/account.js
  erpnext/accounts/doctype/account/account.py
Labels: frappe-support

#17571 fix(accounts): Add missing field
  erpnext/setup/doctype/company/company.json
Labels: frappe-support

#17013 feat: Bank remittance report for tracking payroll-entry transactions
  erpnext/hr/doctype/payroll_entry/payroll_entry.json
  erpnext/hr/report/bank_remittance/__init__.py
  erpnext/hr/report/bank_remittance/bank_remittance.js
  erpnext/hr/report/bank_remittance/bank_remittance.json
  erpnext/hr/report/bank_remittance/bank_remittance.py
Labels: reports

#17613 fix(Issue): Do not remove issue assignment when closed
  erpnext/support/doctype/issue/issue.py
Labels: frappe-support

#17595 refactor: Payroll processing and tax calculation
  erpnext/accounts/doctype/bank_guarantee/bank_guarantee.py
  erpnext/accounts/page/bank_reconciliation/bank_reconciliation.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.html
  erpnext/hr/doctype/additional_salary/additional_salary.js
  erpnext/hr/doctype/additional_salary/additional_salary.json
  erpnext/hr/doctype/additional_salary/additional_salary.py
  erpnext/hr/doctype/employee_benefit_application/employee_benefit_application.js
  erpnext/hr/doctype/employee_benefit_application/employee_benefit_application.py
  erpnext/hr/doctype/employee_benefit_claim/employee_benefit_claim.py
  erpnext/hr/doctype/employee_tax_exemption_declaration/employee_tax_exemption_declaration.json
  erpnext/hr/doctype/employee_tax_exemption_declaration/employee_tax_exemption_declaration.py
  erpnext/hr/doctype/employee_tax_exemption_proof_submission/employee_tax_exemption_proof_submission.json
  erpnext/hr/doctype/payroll_entry/payroll_entry.py
  erpnext/hr/doctype/payroll_period/payroll_period.py
  erpnext/hr/doctype/salary_component/salary_component.js
  erpnext/hr/doctype/salary_component/salary_component.json
  erpnext/hr/doctype/salary_component/test_records.json
  erpnext/hr/doctype/salary_component/test_salary_component.py
  erpnext/hr/doctype/salary_detail/salary_detail.json
  erpnext/hr/doctype/salary_slip/salary_slip.js
  erpnext/hr/doctype/salary_slip/salary_slip.json
  erpnext/hr/doctype/salary_slip/salary_slip.py
  erpnext/hr/doctype/salary_slip/test_salary_slip.py
  erpnext/hr/doctype/salary_structure/salary_structure.js
  erpnext/hr/doctype/salary_structure/salary_structure.py
  erpnext/hr/doctype/salary_structure/test_salary_structure.py
  erpnext/hr/report/salary_register/salary_register.py
  erpnext/hr/utils.py
  erpnext/regional/india/utils.py
  erpnext/setup/doctype/company/company.js
Labels: review-codacy

#17563 Fix for Chart of Account sorting problem
  erpnext/accounts/report/financial_statements.py
Labels: needs-semantic-title

#17530 fix(Additional Salary): Check if component already exists
  erpnext/hr/doctype/additional_salary/additional_salary.py
Labels: frappe-support

#17529 fix(Additional Salary): Check if component already exists
  erpnext/hr/doctype/additional_salary/additional_salary.py
Labels: frappe-support

#17619 fix: Query fixes in quotation and opportunity
  erpnext/crm/doctype/opportunity/opportunity.js
  erpnext/crm/doctype/opportunity/opportunity.json
  erpnext/selling/doctype/quotation/quotation.js
Labels: frappe-support, review-codacy

#17650 fix: GSTR 2 report fix
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: frappe-support, review-codacy

#17652 fix: Unable to create item variant based on manufacturer
  erpnext/stock/doctype/item/item.js
Labels: frappe-support

#17651 fix: Unable to create item variant based on manufacturer
  erpnext/stock/doctype/item/item.js
Labels: frappe-support

#17632 fix: Allow return if delivery note or sales order is required in selling settings(v11)
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: Kaizen

#17631 fix: Allow return if delivery note or sales order is required in selling settings(v12)
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: Kaizen

#17640 fix: GL Entry for opening stock reconciliation
  erpnext/controllers/stock_controller.py
Labels: frappe-support

#17686 fix: while making the item, default warehouse not set even if the stock settings has the default warehouse
  erpnext/stock/doctype/item/item.py
Labels: frappe-support

#17706 fix: table name alias
  erpnext/accounts/party.py
Labels: frappe-support

#17703 refactor: deprecate old API as per https://github.com/frappe/frappe/pull/7537
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/config/support.py
  erpnext/crm/doctype/opportunity/opportunity.js
  erpnext/hr/doctype/appraisal/appraisal.js
  erpnext/hr/doctype/leave_control_panel/leave_control_panel.js
  erpnext/hr/doctype/leave_control_panel/leave_control_panel.json
  erpnext/hr/doctype/leave_control_panel/leave_control_panel.py
  erpnext/maintenance/doctype/maintenance_schedule/maintenance_schedule.js
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.js
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/projects/doctype/task/task.js
  erpnext/projects/doctype/task/task.py
  erpnext/selling/doctype/installation_note/installation_note.js
  erpnext/selling/page/point_of_sale/point_of_sale.js
  erpnext/setup/doctype/email_digest/email_digest.js
  erpnext/setup/doctype/global_defaults/global_defaults.js
  erpnext/support/doctype/warranty_claim/warranty_claim.js
  erpnext/support/doctype/warranty_claim/warranty_claim.json
Labels: review-codacy

#17719 fix: Only show registered customers for GSTR-1 B2B Report
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: frappe-support

#17751 fix: GSTR-1 Report B2B fixes
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: frappe-support

#17745 fix: Improve error message
  erpnext/accounts/utils.py
Labels: hotfix

#17726 fix: Do not fetch batch items and serialized items in stock reconciliation
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: frappe-support

#17725 fix: Do not fetch batch items and serialized items in stock reconciliation
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: frappe-support

#16998 fix: Status updater for Credit/Debit Note Issued
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice_list.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice_list.js
  erpnext/controllers/status_updater.py
Labels: foundation-funded

#17550 Pricing Rules are not queried correctly after removing 'customer' and adding 'party_name' in Quotation #17547
  erpnext/controllers/accounts_controller.py
Labels: needs-semantic-title

#17779 fix (performance): Dont fetch all orders to update a few
  erpnext/controllers/status_updater.py
Labels: needs-semantic-title, review-codacy

#17360 feat: Product Bundle Balance Report
  erpnext/stock/report/product_bundle_balance/__init__.py
  erpnext/stock/report/product_bundle_balance/product_bundle_balance.js
  erpnext/stock/report/product_bundle_balance/product_bundle_balance.json
  erpnext/stock/report/product_bundle_balance/product_bundle_balance.py
Labels: foundation-funded, reports, stock

#17789 fix: Dont fetch all orders to update a few
  erpnext/controllers/status_updater.py
Labels: review-codacy
