Repository frappe/erpnext, pull requests merged in 2019-06, with the labels that each got.

#17840 fix(Employee On boarding): Set task weight from On boarding template
  erpnext/hr/doctype/employee_boarding_activity/employee_boarding_activity.json
  erpnext/hr/doctype/employee_onboarding/employee_onboarding.js
  erpnext/hr/utils.py
Labels: frappe-support

#17716 fix(projects): Remove hardcode of expected end date for new Tasks
  erpnext/projects/doctype/task/task.js
Labels: review-codacy

#17861 fix: Update demo.html
  erpnext/templates/pages/demo.html
Labels: bug, fixed

#17836 [Add] GSTIN filter in HSN summary report
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
  erpnext/regional/india/utils.py
  erpnext/regional/report/gst_itemised_sales_register/gst_itemised_sales_register.js
  erpnext/regional/report/hsn_wise_summary_of_outward_supplies/hsn_wise_summary_of_outward_supplies.js
  erpnext/regional/report/hsn_wise_summary_of_outward_supplies/hsn_wise_summary_of_outward_supplies.py
  erpnext/regional/report/india_gst_common/india_gst_common.js
Labels: needs-semantic-title, review-codacy

#17867 fix: GSTIN filters in hsn wise summary and itemised reports
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
  erpnext/regional/india/utils.py
  erpnext/regional/report/gst_itemised_sales_register/gst_itemised_sales_register.js
  erpnext/regional/report/hsn_wise_summary_of_outward_supplies/hsn_wise_summary_of_outward_supplies.js
  erpnext/regional/report/hsn_wise_summary_of_outward_supplies/hsn_wise_summary_of_outward_supplies.py
  erpnext/regional/report/india_gst_common/india_gst_common.js
Labels: review-codacy

#17618 feat: set COGS for material issue only
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/get_item_details.py
Labels: frappe-support

#17881 fix: set COGS for material issue only
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/get_item_details.py
Labels: frappe-support

#17871 fix: show cost_center in print format of report trial balance
  erpnext/accounts/report/financial_statements.html
Labels: frappe-support

#17924 feat: added cost center in the opening invoice creation tool
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.js
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.json
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.py
  erpnext/accounts/doctype/opening_invoice_creation_tool_item/opening_invoice_creation_tool_item.json
Labels: review-codacy

#17786 fix: trial balance opening balance not showing in the debit side for the liability account
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: frappe-support

#17938 fix: leave without pay spelling in salary register
  erpnext/hr/report/salary_register/salary_register.py
Labels: dont-merge, human-resources

#17960 feat: delayed order reports
  erpnext/stock/report/delayed_item_report/__init__.py
  erpnext/stock/report/delayed_item_report/delayed_item_report.js
  erpnext/stock/report/delayed_item_report/delayed_item_report.json
  erpnext/stock/report/delayed_item_report/delayed_item_report.py
  erpnext/stock/report/delayed_order_report/__init__.py
  erpnext/stock/report/delayed_order_report/delayed_order_report.js
  erpnext/stock/report/delayed_order_report/delayed_order_report.json
  erpnext/stock/report/delayed_order_report/delayed_order_report.py
Labels: review-codacy

#17979 fix: finance book filters includes the gl data which don't have finance book
  erpnext/accounts/report/balance_sheet/balance_sheet.js
  erpnext/accounts/report/cash_flow/cash_flow.js
  erpnext/accounts/report/cash_flow/cash_flow.py
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.js
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/profit_and_loss_statement/profit_and_loss_statement.js
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: review-codacy

#17980 fix: Consider discount_amount only when provided to calculate rate
  erpnext/public/js/controllers/buying.js
Labels: frappe-support

#18013 fix(test): Explicitly search for Material Request Item with Item Code
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
Labels: needs-semantic-title

#18024 fix: Python 3 compatibility fixes
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
  erpnext/accounts/report/sales_payment_summary/test_sales_payment_summary.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: review-codacy

#17517 feat(HR): Auto Attendance
  erpnext/config/hr.py
  erpnext/hooks.py
  erpnext/hr/doctype/attendance/attendance.json
  erpnext/hr/doctype/attendance/attendance.py
  erpnext/hr/doctype/attendance/attendance_dashboard.py
  erpnext/hr/doctype/attendance/test_attendance.py
  erpnext/hr/doctype/daily_work_summary_group/daily_work_summary_group.py
  erpnext/hr/doctype/employee/employee.json
  erpnext/hr/doctype/employee/employee.py
  erpnext/hr/doctype/employee/employee_dashboard.py
  erpnext/hr/doctype/employee_checkin/__init__.py
  erpnext/hr/doctype/employee_checkin/employee_checkin.js
  erpnext/hr/doctype/employee_checkin/employee_checkin.json
  erpnext/hr/doctype/employee_checkin/employee_checkin.py
  erpnext/hr/doctype/employee_checkin/test_employee_checkin.py
  erpnext/hr/doctype/holiday_list/holiday_list.py
  erpnext/hr/doctype/holiday_list/test_holiday_list.py
  erpnext/hr/doctype/hr_settings/hr_settings.json
  erpnext/hr/doctype/hr_settings/hr_settings.py
  erpnext/hr/doctype/hr_settings/test_hr_settings.py
  erpnext/hr/doctype/shift_assignment/shift_assignment.json
  erpnext/hr/doctype/shift_assignment/shift_assignment.py
  erpnext/hr/doctype/shift_type/shift_type.js
  erpnext/hr/doctype/shift_type/shift_type.json
  erpnext/hr/doctype/shift_type/shift_type.py
  erpnext/hr/doctype/shift_type/shift_type_dashboard.py
  erpnext/projects/doctype/project/project.py
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: foundation-funded, human-resources, review-codacy

#17986 fix: as limit 100 was set in the query therefore not all item's default value moved to the Item Default table
  erpnext/patches.txt
  erpnext/patches/v11_0/move_item_defaults_to_child_table_for_multicompany.py
Labels: review-codacy

#18072 fix(Attendance): Attendance gantt fix
  erpnext/hr/doctype/attendance/attendance_calendar.js
Labels: frappe-support

#18073 fix(Attendance): Attendance gantt view
  erpnext/hr/doctype/attendance/attendance_calendar.js
Labels: frappe-support

#18062 feat: Confirmation to submit material request against Production Plan
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
Labels: frappe-support

#18071 fix: Usability fixes to Serial No and batch selector
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/selling/sales_common.js
Labels: frappe-support

#18070 fix: Usability fixes to Serial No and batch selector
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/selling/sales_common.js
Labels: frappe-support

#17895 fix(Utils): Do not add duplicate item to items
  erpnext/public/js/utils.js
Labels: frappe-support

#17896 fix(Utils): Do not add duplicate items
  erpnext/public/js/utils.js
Labels: frappe-support

#18083 fix: add a more descriptive message when no records are found
  erpnext/accounts/doctype/exchange_rate_revaluation/exchange_rate_revaluation.js
  erpnext/accounts/doctype/exchange_rate_revaluation/exchange_rate_revaluation.py
  erpnext/accounts/doctype/exchange_rate_revaluation_account/exchange_rate_revaluation_account.json
Labels: review-codacy

#17981 fix: finance book filters includes the gl data which don't have finance book
  erpnext/accounts/report/balance_sheet/balance_sheet.js
  erpnext/accounts/report/cash_flow/cash_flow.js
  erpnext/accounts/report/cash_flow/cash_flow.py
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.js
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/profit_and_loss_statement/profit_and_loss_statement.js
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: review-codacy
