Repository frappe/erpnext, pull requests merged in 2020-01, with the labels that each got.

#19514 fix: frappe.rename_doc update
  erpnext/healthcare/doctype/clinical_procedure_template/clinical_procedure_template.py
  erpnext/healthcare/doctype/healthcare_service_unit_type/healthcare_service_unit_type.py
  erpnext/healthcare/doctype/lab_test_template/lab_test_template.py
  erpnext/patches/v11_0/merge_land_unit_with_location.py
  erpnext/patches/v11_0/rename_asset_adjustment_doctype.py
  erpnext/patches/v11_0/rename_health_insurance.py
  erpnext/patches/v11_0/rename_healthcare_doctype_and_fields.py
  erpnext/patches/v11_0/rename_production_order_to_work_order.py
  erpnext/patches/v11_0/rename_supplier_type_to_supplier_group.py
  erpnext/patches/v12_0/rename_pricing_rule_child_doctypes.py
  erpnext/patches/v9_2/rename_translated_domains_in_en.py
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/doctype/warehouse/test_warehouse.py
Labels: depends-on-frappe, version-13

#20354 fix: Set Quotation expired if not Ordered or Lost
  erpnext/selling/doctype/quotation/quotation.py
Labels: bug

#20378 fix(Healthcare): disabled Lab Test Template shown as Enabled in List View
  erpnext/healthcare/doctype/lab_test_template/lab_test_template.js
  erpnext/healthcare/doctype/lab_test_template/lab_test_template.json
  erpnext/healthcare/doctype/lab_test_template/lab_test_template.py
  erpnext/healthcare/doctype/lab_test_template/lab_test_template_list.js
Labels: needs-docs
