Repository frappe/erpnext, pull requests merged in 2020-08, with the labels that each got.

#22723 fix: Not able to cancel application,allocation nad encashments
  erpnext/hr/doctype/leave_allocation/leave_allocation.js
  erpnext/hr/doctype/leave_application/leave_application.js
  erpnext/hr/doctype/leave_encashment/leave_encashment.js
Labels: depends-on-frappe, squash

#22447 feat: added search to support page
  erpnext/www/support/index.html
Labels: depends-on-frappe

#23127 feat: Quoted Item Comparison Report Enhancements v2
  erpnext/buying/report/quoted_item_comparison/quoted_item_comparison.js
  erpnext/buying/report/quoted_item_comparison/quoted_item_comparison.py
Labels: depends-on-frappe, needs-docs
