Repository frappe/erpnext, pull requests merged in 2020-12, with the labels that each got.

#23559 fix: Handle Account and Item None not found in Opening Invoice Creation Tool
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.py
  erpnext/accounts/doctype/opening_invoice_creation_tool/test_opening_invoice_creation_tool.py
  erpnext/accounts/doctype/process_deferred_accounting/test_process_deferred_accounting.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: backport version-12-hotfix

#22859 feat: Return tracking in PR/DN
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/report/delivered_items_to_be_billed/delivered_items_to_be_billed.py
  erpnext/accounts/report/non_billed_report.py
  erpnext/accounts/report/received_items_to_be_billed/received_items_to_be_billed.py
  erpnext/controllers/buying_controller.py
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/controllers/status_updater.py
  erpnext/controllers/stock_controller.py
  erpnext/patches.txt
  erpnext/patches/v13_0/update_returned_qty_in_pr_dn.py
  erpnext/patches/v7_0/po_status_issue_for_pr_return.py
  erpnext/public/js/controllers/buying.js
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_note/delivery_note_list.js
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt_list.js
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
Labels: backport version-12-hotfix

#24022 fix: overriding po
  erpnext/controllers/selling_controller.py
Labels: dont-merge

#24023 fix: po orverride
  erpnext/controllers/selling_controller.py
Labels: dont-merge

#24001 fix: incorrect stock quantity if 'Allow Multiple Material Consumption…
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/manufacturing/doctype/work_order/work_order.js
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests

#23959 refactor: Auto Repeat next schedule date function params
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: depends-on-frappe

#24163 fix: do not manufacture same serial no multiple times
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/serial_no/serial_no.py
Labels: travis-failing

#24152 fix: filter Therapy Types and Therapy Plan in Patient Appointment
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.js
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.json
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.py
Labels: do not squash

#24184 feat: GST E-Invoicing
  erpnext/accounts/doctype/sales_invoice/regional/india.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/print_format/gst_e_invoice/__init__.py
  erpnext/accounts/print_format/gst_e_invoice/gst_e_invoice.html
  erpnext/accounts/print_format/gst_e_invoice/gst_e_invoice.json
  erpnext/controllers/accounts_controller.py
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v12_0/setup_einvoice_fields.py
  erpnext/regional/doctype/e_invoice_request_log/__init__.py
  erpnext/regional/doctype/e_invoice_request_log/e_invoice_request_log.js
  erpnext/regional/doctype/e_invoice_request_log/e_invoice_request_log.json
  erpnext/regional/doctype/e_invoice_request_log/e_invoice_request_log.py
  erpnext/regional/doctype/e_invoice_request_log/test_e_invoice_request_log.py
  erpnext/regional/doctype/e_invoice_settings/__init__.py
  erpnext/regional/doctype/e_invoice_settings/e_invoice_settings.js
  erpnext/regional/doctype/e_invoice_settings/e_invoice_settings.json
  erpnext/regional/doctype/e_invoice_settings/e_invoice_settings.py
  erpnext/regional/doctype/e_invoice_settings/test_e_invoice_settings.py
  erpnext/regional/doctype/e_invoice_user/__init__.py
  erpnext/regional/doctype/e_invoice_user/e_invoice_user.json
  erpnext/regional/doctype/e_invoice_user/e_invoice_user.py
  erpnext/regional/india/e_invoice/__init__.py
  erpnext/regional/india/e_invoice/einv_item_template.json
  erpnext/regional/india/e_invoice/einv_template.json
  erpnext/regional/india/e_invoice/einv_validation.json
  erpnext/regional/india/e_invoice/einvoice.js
  erpnext/regional/india/e_invoice/utils.py
  erpnext/regional/india/setup.py
  requirements.txt
Labels: Review-sider

#24176 feat: Add year_to_date field (cumulative salary for a fiscal year)
  erpnext/loan_management/doctype/loan/test_loan.py
  erpnext/payroll/doctype/employee_tax_exemption_declaration/test_employee_tax_exemption_declaration.py
  erpnext/payroll/doctype/income_tax_slab/income_tax_slab.py
  erpnext/payroll/doctype/salary_slip/salary_slip.js
  erpnext/payroll/doctype/salary_slip/salary_slip.json
  erpnext/payroll/doctype/salary_slip/salary_slip.py
  erpnext/payroll/doctype/salary_slip/test_salary_slip.py
  erpnext/payroll/doctype/salary_structure/test_salary_structure.py
Labels: dont-merge, needs-docs, needs-tests, travis-failing
