Repository frappe/erpnext, pull requests merged in 2020-09, with the labels that each got.

#23131 fix: Form dashboard showing wrong balance
  erpnext/hr/doctype/leave_application/leave_application.py
Labels: needs-tests

#23052 fix: get_transaction_entries function arguments in Bank Statement Transaction Entry
  erpnext/accounts/doctype/bank_statement_transaction_entry/bank_statement_transaction_entry.py
Labels: needs-tests

#23051 fix: get_transaction_entries function arguments in Bank Statement Transaction Entry
  erpnext/accounts/doctype/bank_statement_transaction_entry/bank_statement_transaction_entry.py
Labels: needs-tests

#23027 fix: Item GL entries for purchase invoice
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests

#22849 refactor: move datev-specific stuff to utils
  erpnext/regional/germany/utils/__init__.py
  erpnext/regional/germany/utils/datev/__init__.py
  erpnext/regional/germany/utils/datev/datev_constants.py
  erpnext/regional/germany/utils/datev/datev_csv.py
  erpnext/regional/report/datev/datev.py
  erpnext/regional/report/datev/test_datev.py
Labels: Regional, refactor

#23201 fix: style for website theme
  erpnext/hooks.py
  erpnext/public/js/website_theme.js
Labels: depends-on-frappe
