Repository frappe/erpnext, pull requests merged in 2020-02, with the labels that each got.

#20493 fix: Unable to submit landed cost voucher
  erpnext/stock/doctype/landed_cost_voucher/test_landed_cost_voucher.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#20494 fix: Unable to submit landed cost voucher
  erpnext/stock/doctype/landed_cost_voucher/test_landed_cost_voucher.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#20582 fix(regional): update DATEV Export to DATEV-Format v7.0
  erpnext/regional/report/datev/datev.py
  erpnext/regional/report/datev/datev_constants.py
Labels: Accounts, Regional, integration

#20691 fix: set query on change in opportunity_from value
  erpnext/crm/doctype/opportunity/opportunity.js
Labels: backport version-12-hotfix

#20723 fix(HR): show correct closing leave balance
  erpnext/hr/report/employee_leave_balance/employee_leave_balance.py
Labels: backport version-12-hotfix

#20502 fix: wrong calculation of depreciation eliminated for a period
  erpnext/accounts/report/asset_depreciations_and_balances/asset_depreciations_and_balances.py
Labels: needs-tests
