Repository frappe/erpnext, pull requests merged in 2020-04, with the labels that each got.

#19862 feat(regional): a central place for regional address templates
  erpnext/patches/v10_0/update_address_template_for_india.py
  erpnext/patches/v8_1/gst_fixes.py
  erpnext/regional/address_template/README.md
  erpnext/regional/address_template/__init__.py
  erpnext/regional/address_template/setup.py
  erpnext/regional/address_template/templates/germany.html
  erpnext/regional/address_template/templates/india.html
  erpnext/regional/address_template/templates/united_states.html
  erpnext/regional/address_template/test_regional_address_template.py
  erpnext/regional/germany/setup.py
  erpnext/regional/india/setup.py
  erpnext/regional/united_states/setup.py
  erpnext/setup/setup_wizard/operations/install_fixtures.py
Labels: Regional

#21126 fix(regional): DATEV report: description in header, quote nonnumeric values
  erpnext/regional/report/datev/datev.py
Labels: Accounts, Regional

#21203 fix: minor issues
  erpnext/accounts/doctype/chart_of_accounts_importer/chart_of_accounts_importer.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.json
Labels: dont-merge

#21230 fix: Purchase Invoice Form Cleanup
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
Labels: dont-merge

#21232 fix: Purchase Receipt Form Cleanup
  erpnext/buying/doctype/purchase_receipt_item_supplied/purchase_receipt_item_supplied.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
Labels: dont-merge

#20932 fix [ux]: Purchase Order Form Cleanup
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.json
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/buying/doctype/purchase_order_item/purchase_order_item.json
  erpnext/buying/doctype/purchase_order_item_supplied/purchase_order_item_supplied.json
Labels: dont-merge

#20870 feat: Allow tax withholding category selection at invoice level
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/report/tds_computation_summary/tds_computation_summary.py
  erpnext/patches.txt
  erpnext/patches/v12_0/add_permission_in_lower_deduction.py
  erpnext/regional/doctype/lower_deduction_certificate/__init__.py
  erpnext/regional/doctype/lower_deduction_certificate/lower_deduction_certificate.js
  erpnext/regional/doctype/lower_deduction_certificate/lower_deduction_certificate.json
  erpnext/regional/doctype/lower_deduction_certificate/lower_deduction_certificate.py
  erpnext/regional/doctype/lower_deduction_certificate/test_lower_deduction_certificate.py
  erpnext/regional/india/setup.py
Labels: needs-docs

#20754 feat: employee leave balance reports
  erpnext/hr/doctype/leave_application/leave_application.py
  erpnext/hr/doctype/leave_ledger_entry/leave_ledger_entry.json
  erpnext/hr/report/employee_leave_balance/employee_leave_balance.py
  erpnext/hr/report/employee_leave_balance_summary/employee_leave_balance_summary.js
  erpnext/hr/report/employee_leave_balance_summary/employee_leave_balance_summary.py
Labels: needs-docs

#21234 fix: Move Video Doctype from Education module to Core
  erpnext/education/doctype/video/__init__.py
  erpnext/education/doctype/video/test_video.js
  erpnext/education/doctype/video/test_video.py
  erpnext/education/doctype/video/video.js
  erpnext/education/doctype/video/video.json
  erpnext/education/doctype/video/video.py
  erpnext/patches.txt
  erpnext/patches/v12_0/retain_permission_rules_for_video_doctype.py
  erpnext/setup/setup_wizard/operations/install_fixtures.py
Labels: depends-on-frappe
