Repository frappe/erpnext, pull requests merged in 2020-07, with the labels that each got.

#22651 bump: pandas to 1.0.5
  requirements.txt
Labels: dependencies

#22652 fix: button to download DATEV file
  erpnext/regional/report/datev/datev.js
Labels: Regional

#22051 fix: Project link not set in accounts other than profit and loss accounts
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/invoice_discounting/invoice_discounting.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_records.json
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
  erpnext/accounts/utils.py
  erpnext/assets/doctype/asset/depreciation.py
  erpnext/buying/report/procurement_tracker/test_procurement_tracker.py
  erpnext/controllers/stock_controller.py
  erpnext/hr/doctype/employee_advance/employee_advance.py
  erpnext/hr/doctype/expense_claim/expense_claim.py
  erpnext/patches.txt
  erpnext/patches/v12_0/unhide_cost_center_field.py
  erpnext/projects/doctype/project/test_project.py
  erpnext/projects/doctype/project_template/test_project_template.py
  erpnext/regional/report/datev/test_datev.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/www/book-appointment/__init__.py
  erpnext/www/book-appointment/verify/__init__.py
Labels: release-candidate

#22596 fix: Exploded Item Rate in BOM
  erpnext/manufacturing/doctype/bom/bom.py
Labels: needs-tests

#22448 fix: job applicant fixes
  erpnext/hr/doctype/employee_onboarding/employee_onboarding.js
  erpnext/hr/doctype/employee_onboarding/employee_onboarding.json
  erpnext/hr/doctype/employee_onboarding/employee_onboarding.py
  erpnext/hr/doctype/job_applicant/job_applicant.js
  erpnext/hr/doctype/job_offer/job_offer.py
Labels: travis-failing

#22622 feat: added range for age in stock ageing
  erpnext/stock/report/stock_ageing/stock_ageing.js
  erpnext/stock/report/stock_ageing/stock_ageing.py
Labels: dont-merge

#22648 fix: Unable to submit backdated stock transactions for different items
  erpnext/accounts/doctype/coupon_code/test_coupon_code.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/general_ledger.py
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: travis-failing
