Repository frappe/erpnext, pull requests merged in 2021-03, with the labels that each got.

#24179 fix: to update Sales Person's incentives On Save
  erpnext/controllers/selling_controller.py
Labels: needs-tests

#24849 fix(Membership): Generate Invoice for membership webhook only if automation is enabled
  erpnext/non_profit/doctype/membership/membership.py
  erpnext/non_profit/doctype/non_profit_settings/non_profit_settings.py
Labels: Skip Manual Testing

#24839 fix: Unequal debit and credit issue on RCM Invoice
  erpnext/regional/india/utils.py
Labels: travis-failing

#24836 fix: Unequal debit and credit issue on RCM Invoice
  erpnext/regional/india/utils.py
Labels: travis-failing

#24838 fix: Unequal debit and credit issue on RCM Invoice
  erpnext/regional/india/utils.py
Labels: travis-failing

#24831 fix: fix Payment references from disappearing on adding Cost Center in Payment Entry
  erpnext/accounts/doctype/payment_entry/payment_entry.js
Labels: travis-failing

#24885 fix: allow creating stock entry based on work order for customer provided items
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: squash

#24881 perf: reduce number of queries for checking if future SL entry exists
  erpnext/controllers/stock_controller.py
  erpnext/stock/stock_ledger.py
Labels: squash

#25045 test: use insert instead of save
  erpnext/accounts/doctype/bank_transaction/test_bank_transaction.py
Labels: dont-merge, squash

#25063 fix: do not fetch stopped MR in production plan
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: backport version-12-hotfix

#25095 fix: don't set "Company:company:default_currency" as default for currency link fields
  erpnext/hr/doctype/employee_advance/employee_advance.json
  erpnext/hr/doctype/leave_encashment/leave_encashment.json
  erpnext/payroll/doctype/additional_salary/additional_salary.json
  erpnext/payroll/doctype/employee_benefit_application/employee_benefit_application.json
  erpnext/payroll/doctype/employee_benefit_claim/employee_benefit_claim.js
  erpnext/payroll/doctype/employee_benefit_claim/employee_benefit_claim.json
  erpnext/payroll/doctype/employee_incentive/employee_incentive.json
  erpnext/payroll/doctype/employee_tax_exemption_declaration/employee_tax_exemption_declaration.js
  erpnext/payroll/doctype/employee_tax_exemption_declaration/employee_tax_exemption_declaration.json
  erpnext/payroll/doctype/employee_tax_exemption_proof_submission/employee_tax_exemption_proof_submission.js
  erpnext/payroll/doctype/employee_tax_exemption_proof_submission/employee_tax_exemption_proof_submission.json
  erpnext/payroll/doctype/income_tax_slab/income_tax_slab.json
  erpnext/payroll/doctype/retention_bonus/retention_bonus.json
  erpnext/payroll/doctype/salary_slip/salary_slip.json
  erpnext/payroll/doctype/salary_structure/salary_structure.json
  erpnext/payroll/doctype/salary_structure_assignment/salary_structure_assignment.json
Labels: backport version-13-pre-release

#25070 fix: Update Bin via Update Item on Purchase/Sales Order
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/stock/doctype/bin/bin.json
Labels: backport version-12-hotfix
