Repository frappe/erpnext, pull requests merged in 2021-09, with the labels that each got.

#27282 fix: translate labels
  erpnext/stock/report/cogs_by_item_group/cogs_by_item_group.py
Labels: backport version-13-hotfix

#27280 ci(semgrep): add translation checks for report labels
  .github/helper/semgrep_rules/report.py
  .github/helper/semgrep_rules/report.yml
Labels: backport version-13-hotfix

#27293 fix: Zero division error while fetching unconsumed materials
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: squash, backport version-13-hotfix

#27278 fix: production plan UX and validation message
  erpnext/manufacturing/doctype/material_request_plan_item/material_request_plan_item.json
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.json
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: backport version-13-hotfix

#27292 fix: mapping for company name lead->contact
  erpnext/crm/doctype/lead/lead.py
Labels: CRM

#27291 fix: mapping for company name lead->contact
  erpnext/crm/doctype/lead/lead.py
Labels: CRM

#27242 fix: (Backport-develop) track salary slip ytd gross salary.
  erpnext/payroll/doctype/salary_slip/salary_slip.js
  erpnext/payroll/doctype/salary_slip/salary_slip.json
  erpnext/payroll/doctype/salary_slip/salary_slip.py
Labels: payroll

#27215 fix: track salary slip ytd gross salary.
  erpnext/payroll/doctype/salary_slip/salary_slip.js
  erpnext/payroll/doctype/salary_slip/salary_slip.json
  erpnext/payroll/doctype/salary_slip/salary_slip.py
Labels: payroll, backport develop

#27314 fix: minor linting issues
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/payroll/doctype/gratuity_rule/gratuity_rule.py
Labels: squash, backport version-13-hotfix

#27323 fix: south africa vat patch failure
  erpnext/patches/v13_0/add_custom_field_for_south_africa.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#27306 fix: Move related fields together in Selling Settings
  erpnext/selling/doctype/selling_settings/selling_settings.json
Labels: backport version-13-hotfix

#27300 fix: Braintree payment processed twice
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/hooks.py
Labels: backport version-13-hotfix

#26129 feat: CDNR Unreg json generation
  erpnext/accounts/doctype/payment_entry/regional/india.js
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v13_0/create_gst_payment_entry_fields.py
  erpnext/regional/india/setup.py
  erpnext/regional/india/utils.py
  erpnext/regional/report/gstr_1/gstr_1.js
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: dont-merge

#27279 feat: CDNR Unreg json generation
  erpnext/accounts/doctype/payment_entry/regional/india.js
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v13_0/create_gst_payment_entry_fields.py
  erpnext/regional/india/setup.py
  erpnext/regional/india/utils.py
  erpnext/regional/report/gstr_1/gstr_1.js
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: dont-merge

#27330 fix: manually added weight per unit reset to zero after save
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/get_item_details.py
Labels: backport version-13-hotfix

#27316 fix: Presentation currency conversion in reports
  erpnext/accounts/report/utils.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#27326 fix: Dont fetch Stopped/Cancelled MRs in Stock Entry Get Items dialog
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: squash, backport version-13-hotfix

#27353 fix(healthcare): Added item price to default price list
  erpnext/healthcare/doctype/lab_test_template/lab_test_template.py
Labels: healthcare, manual-porting-required

#27355 fix: patch failure for vat audit report
  erpnext/patches/v13_0/add_custom_field_for_south_africa.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#26590 feat: multi-currency in Opportunity
  erpnext/crm/doctype/opportunity/opportunity.js
  erpnext/crm/doctype/opportunity/opportunity.json
  erpnext/crm/doctype/opportunity/opportunity.py
  erpnext/crm/doctype/opportunity/test_opportunity.py
  erpnext/crm/doctype/opportunity_item/opportunity_item.json
  erpnext/patches.txt
  erpnext/patches/v14_0/update_opportunity_currency_fields.py
Labels: CRM

#27365 fix: employee reminder settings
  erpnext/hr/doctype/employee/employee_reminders.py
Labels: HR, backport version-13-hotfix

#27373 fix: GSTR-1 Reports not showing any data
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: backport version-13-hotfix

#27375 fix: 'NoneType' has no attribute 'name'
  erpnext/regional/india/e_invoice/utils.py
Labels: Skip Manual Testing

#27368 fix: missed to add voucher_type, voucher_no to get GL Entries
  erpnext/accounts/test/test_utils.py
  erpnext/accounts/utils.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#27358 fix: Check if Item is serialised before trying to fetch SN and set SO in it
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: squash, backport version-13-hotfix

#27389 fix: scan barcode fields input length
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
Labels: backport version-13-hotfix

#27298 fix: General Ledger translation issues
  .github/helper/semgrep_rules/report.yml
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#27386 fix: document naming rule not working for subscription invoices
  erpnext/accounts/doctype/subscription/subscription.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#27352 fix: auto complete sales order rows in production plan
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: backport version-13-hotfix

#27374 fix: added checkbox show remarks in the filters for AR & AP reports
  erpnext/accounts/report/accounts_payable/accounts_payable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: backport version-13-hotfix

#27258 feat: Validity dates in Tax Withholding Rates
  erpnext/accounts/doctype/fiscal_year/fiscal_year_dashboard.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_rate/tax_withholding_rate.json
  erpnext/patches.txt
  erpnext/patches/v13_0/update_dates_in_tax_withholding_category.py
Labels: backport version-13-hotfix

#27403 fix: job card overlap unknown column `jc.employee`
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/job_card/test_job_card.py
Labels: squash, backport version-13-hotfix

#27406 chore: remove snyk from devdependencies
  package.json
  yarn.lock
Labels: discussion

#27401 fix: Website item patch fixes
  erpnext/e_commerce/doctype/website_item/website_item.py
  erpnext/patches/v13_0/create_website_items.py
  erpnext/stock/doctype/item/item.json
Labels: e-commerce-fix

#27408 refactor: .doc missing and empty row on new doc
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.js
Labels: backport version-12-hotfix, backport version-13-hotfix

#27363 fix: fix to fetch customers and billing email in PSOA
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.json
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
Labels: backport version-13-hotfix

#27430 fix: fail migration due to None type during v13_0.update_returned_qty_in_pr_dn
  erpnext/patches/v13_0/update_returned_qty_in_pr_dn.py
Labels: backport develop

#27433 fix: Template Error due to use of single quote
  erpnext/public/js/bank_reconciliation_tool/dialog_manager.js
Labels: backport version-13-hotfix

#27412 fix(ux): clean invalid fields from variant setting
  erpnext/stock/doctype/item_variant_settings/item_variant_settings.js
Labels: squash, backport version-13-hotfix

#27411 fix(ux): apply proper filtering in stock reports
  erpnext/stock/report/stock_ageing/stock_ageing.js
  erpnext/stock/report/stock_balance/stock_balance.js
Labels: squash, backport version-13-hotfix

#27446 Revert "fix: Salary component account filter"
  erpnext/payroll/doctype/salary_component/salary_component.js
Labels: squash, backport version-13-pre-release

#27452 feat: (get_items_from) filter material request item in purchase order (#27449)
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/public/js/utils.js
  erpnext/stock/doctype/material_request/material_request.py
Labels: backport

#27455 fix: editable price list rate field in sales transactions
  erpnext/selling/sales_common.js
Labels: backport version-13-pre-release, backport version-13-hotfix

#27465 fix: cancelled sales invoices are considered in billed qty calculation
  erpnext/selling/report/sales_order_analysis/sales_order_analysis.py
Labels: backport version-13-hotfix

#27438 fix: employee advance return through multiple additional salaries
  erpnext/hr/doctype/employee_advance/employee_advance.js
  erpnext/hr/doctype/employee_advance/employee_advance.json
  erpnext/hr/doctype/employee_advance/employee_advance.py
  erpnext/hr/doctype/employee_advance/test_employee_advance.py
  erpnext/payroll/doctype/additional_salary/additional_salary.py
Labels: backport version-13-hotfix

#26729 perf: Optimize get_attribute_filters
  erpnext/setup/doctype/item_group/item_group.py
  erpnext/shopping_cart/filters.py
  erpnext/www/all-products/index.html
  erpnext/www/all-products/index.py
Labels: frappe-support, hotfix, backport version-13-hotfix

#27456 fix(HR): Ignore invalid fields when updating employee details
  erpnext/hr/utils.py
Labels: HR, backport version-13-hotfix

#27227 fix: Maintain same rate in Stock Ledger until stock become positive
  erpnext/stock/stock_ledger.py
Labels: backport version-13-pre-release, backport develop

#27281 feat: link items to supplier / customer
  erpnext/buying/doctype/supplier/supplier.json
  erpnext/buying/doctype/supplier_item_group/supplier_item_group.json
  erpnext/buying/doctype/supplier_item_group/supplier_item_group.py
  erpnext/buying/doctype/supplier_item_group/test_supplier_item_group.py
  erpnext/controllers/queries.py
  erpnext/patches.txt
  erpnext/patches/v13_0/replace_supplier_item_group_with_party_specific_item.py
  erpnext/selling/doctype/customer/customer.json
  erpnext/selling/doctype/party_specific_item/__init__.py
  erpnext/selling/doctype/party_specific_item/party_specific_item.js
  erpnext/selling/doctype/party_specific_item/party_specific_item.json
  erpnext/selling/doctype/party_specific_item/party_specific_item.py
  erpnext/selling/doctype/party_specific_item/test_party_specific_item.py
  erpnext/selling/sales_common.js
Labels: backport version-13-hotfix

#27481 fix: GSTR-1 Reports not showing any data
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: backport version-13-pre-release

#27475 fix: Handle Excess/Multiple Item Transfer against Job Card
  erpnext/manufacturing/doctype/job_card/job_card.js
  erpnext/manufacturing/doctype/job_card/job_card.json
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/job_card/test_job_card.py
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.json
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-docs

#27486 fix: Handle Excess/Multiple Item Transfer against Job Card
  erpnext/manufacturing/doctype/job_card/job_card.js
  erpnext/manufacturing/doctype/job_card/job_card.json
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/job_card/test_job_card.py
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.json
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: squash, backport version-13-pre-release

#27488 fix: Args missing error on changing Price List currency with cart enabled
  erpnext/e_commerce/doctype/e_commerce_settings/e_commerce_settings.py
Labels: squash, backport version-13-pre-release

#27489 fix: Patch for updating tax withholding category dates
  erpnext/patches/v13_0/update_dates_in_tax_withholding_category.py
  erpnext/regional/india/setup.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#27464 fix: calculate operating cost based on BOM Quantity
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom/test_bom.py
  erpnext/manufacturing/doctype/bom_operation/bom_operation.json
Labels: backport version-13-pre-release, backport version-13-hotfix

#27493 fix: Values with same account name and different account number in consolidated balance sheet report
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#27398 fix: Autoname for customer and supplier
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/buying/doctype/supplier/supplier.py
  erpnext/selling/doctype/customer/customer.py
  erpnext/selling/doctype/selling_settings/selling_settings.json
Labels: backport version-13-hotfix

#27499 fix: Tags getting fetched correctly in Get Supplier in RFQ (Request For Quotation)
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
Labels: backport develop

#27508 fix: Shopping Cart and Variant Selection
  erpnext/e_commerce/doctype/website_item/website_item.py
  erpnext/e_commerce/shopping_cart/cart.py
  erpnext/e_commerce/variant_selector/item_variants_cache.py
  erpnext/public/js/shopping_cart.js
  erpnext/templates/includes/cart.js
  erpnext/templates/includes/cart/cart_items_total.html
  erpnext/templates/includes/cart/cart_payment_summary.html
  erpnext/templates/pages/cart.html
Labels: squash, backport version-13-pre-release

#27513 fix: table data deleted on submitted maintenance schedule
  erpnext/maintenance/doctype/maintenance_schedule/maintenance_schedule.js
  erpnext/maintenance/doctype/maintenance_schedule/maintenance_schedule.py
Labels: backport version-13-hotfix

#27516 fix(minor): Remove b2c limit check from CDNR Invoices
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: backport version-13-pre-release, backport develop

#27510 test: automated test for running all stock reports
  erpnext/stock/report/test_reports.py
  erpnext/tests/utils.py
Labels: squash, backport version-13-hotfix

#27523 fix: not able to submit stock entry with 350 items
  erpnext/stock/stock_ledger.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#27537 fix(ProdPlan): Get SubAssy Items does not work
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: squash, backport version-13-hotfix

#27538 fix: Validate if item exists on uploading items in stock reco
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: backport version-13-hotfix

#27544 ci: comment about coverage after min. 3 builds
  codecov.yml
Labels: dont-merge

#27393 fix: no validation on item defaults
  erpnext/setup/doctype/item_group/item_group.py
  erpnext/setup/doctype/item_group/test_records.json
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/item/test_item.py
Labels: backport version-12-hotfix, squash, backport version-13-hotfix

#27471 feat: Merge POS invoices based on customer group
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.js
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.json
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v13_0/create_accounting_dimensions_in_pos_doctypes.py
Labels: backport version-13-hotfix

#27555 fix: Remove duplicates from customer_code field
  erpnext/stock/doctype/item/item.py
Labels: backport version-13-hotfix

#27563 fix: unecessary keyword args were passed in mapper functions
  erpnext/public/js/utils.js
  erpnext/stock/doctype/material_request/material_request.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#27427 fix(healthcare): Duplicate Contact error on add Patient
  erpnext/healthcare/doctype/patient/patient.py
  erpnext/healthcare/doctype/patient/test_patient.py
  erpnext/healthcare/doctype/patient_appointment/test_patient_appointment.py
  erpnext/healthcare/doctype/patient_medical_record/test_patient_medical_record.py
  erpnext/healthcare/utils.py
Labels: healthcare, manual-porting-required

#27441 fix: PO/PINV - Check if doctype has company_address field before setting the value
  erpnext/public/js/controllers/transaction.js
Labels: squash, backport version-13-pre-release, backport develop

#27574 fix: Handle `is_search_module_loaded` for redis version < 4.0.0
  erpnext/e_commerce/redisearch.py
Labels: squash, backport version-13-pre-release, e-commerce-fix

#27584 fix: Improvements in COA Importer
  erpnext/accounts/doctype/chart_of_accounts_importer/chart_of_accounts_importer.js
  erpnext/accounts/doctype/chart_of_accounts_importer/chart_of_accounts_importer.py
Labels: backport version-13-hotfix

#27534 fix(plaid): query to check if bank account exists
  erpnext/erpnext_integrations/doctype/plaid_settings/plaid_settings.py
Labels: backport version-12-hotfix, Skip Manual Testing, backport version-13-hotfix

#27581 fix(pos): check if item exists before fetching available qty
  erpnext/selling/page/point_of_sale/pos_item_details.js
Labels: Skip Manual Testing

#27614 fix: update default KSA VAT rate for setup
  erpnext/setup/setup_wizard/data/country_wise_tax.json
Labels: Accounts, backport version-13-hotfix

#27628 fix: (ux) Use subassembly schedule date while making WO from Prod Plan
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: backport version-13-hotfix

#27625 feat: add `Partly Paid` status in Invoices
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice_list.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice_list.js
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: squash, backport version-13-hotfix

#27656 fix: local variable 'fiscal_year_details' referenced before assignment
  erpnext/regional/india/setup.py
Labels: Skip Manual Testing, backport version-13-hotfix

#27659 fix: setting of gain/loss if party account is in company currency
  erpnext/accounts/doctype/payment_entry_reference/payment_entry_reference.json
  erpnext/accounts/doctype/purchase_invoice_advance/purchase_invoice_advance.json
  erpnext/accounts/doctype/sales_invoice_advance/sales_invoice_advance.json
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/patches/v13_0/modify_invalid_gain_loss_gl_entries.py
Labels: dont squash

#27662 chore: add shipping address in eway bill test
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
Labels: Skip Manual Testing

#27451 feat: TDS deduction using journal entry and other fixes
  erpnext/accounts/doctype/journal_entry/journal_entry.json
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
  erpnext/accounts/report/tds_computation_summary/tds_computation_summary.json
  erpnext/accounts/report/tds_computation_summary/tds_computation_summary.py
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.js
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.json
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.py
Labels: backport version-13-hotfix

#27680 fix: set item.qty as mandatory
  erpnext/stock/doctype/pick_list_item/pick_list_item.json
Labels: backport version-12-hotfix, squash, backport version-13-hotfix

#27566 fix: apply price list after batch or serial no insertion
  erpnext/public/js/controllers/transaction.js
Labels: backport version-13-hotfix

#27536 fix: cannot delete a project if linked with sales order
  erpnext/projects/doctype/project/project.py
  erpnext/projects/doctype/project/test_project.py
Labels: backport version-13-hotfix

#27684 fix: Ignore user permission for Represents Company field in Sales and Purchase docs
  erpnext/accounts/doctype/fiscal_year_company/fiscal_year_company.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
Labels: Skip Manual Testing, backport version-13-hotfix

#27554 fix: Maintenance Schedule child table status for legacy data
  erpnext/maintenance/doctype/maintenance_schedule_detail/maintenance_schedule_detail.json
  erpnext/patches/v13_0/set_status_in_maintenance_schedule_table.py
Labels: backport version-13-hotfix

#27700 fix: remove stale doctypes and add msg for ecommerce refactor
  erpnext/patches.txt
  erpnext/patches/v13_0/shopping_cart_to_ecommerce.py
Labels: squash
