Repository frappe/erpnext, pull requests merged in 2021-12, with the labels that each got.

#28535 fix: cannot load company form
  erpnext/setup/doctype/company/company.js
  erpnext/setup/doctype/company/company.py
Labels: backport version-13-hotfix

#28390 fix(POS Profile): replace `cur_frm` with `frm`
  erpnext/accounts/doctype/pos_profile/pos_profile.js
Labels: backport version-13-hotfix

#28667 test: dynamic Fiscal Year creation in tests
  erpnext/accounts/doctype/fiscal_year/test_fiscal_year.py
  erpnext/accounts/doctype/fiscal_year/test_records.json
Labels: backport version-13-hotfix

#28679 fix: Make buttons for Asset-related actions translatable
  erpnext/assets/doctype/asset/asset.js
Labels: backport version-13-hotfix

#28684 fix: dont requeue repost immediately and clear progress
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: Skip Manual Testing, backport version-13-pre-release, backport version-13-hotfix

#28691 fix: remove change_abbr method
  erpnext/setup/doctype/company/company.js
  erpnext/setup/doctype/company/company.json
Labels: backport version-13-pre-release

#28699 fix: qrcode image name for invoices with special chars
  erpnext/regional/saudi_arabia/utils.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#28675 fix: Create Depreciation Schedules for existing Assets accurately
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/regional/india/utils.py
Labels: backport version-13-hotfix

#28705 refactor: SLE submission execution flow
  erpnext/stock/doctype/bin/bin.py
  erpnext/stock/stock_ledger.py
  erpnext/stock/utils.py
Labels: Skip Manual Testing, backport version-13-hotfix

#28715 fix(ksa): qrcode for invoices with special chars
  erpnext/regional/saudi_arabia/utils.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#28721 fix: weird item sorting by `idx`
  erpnext/stock/doctype/item/item.json
Labels: backport version-13-hotfix

#28710 fix: incorrect outgoing rates when material_consumption enabled
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#28745 refactor: map serial from schedule if only one
  erpnext/maintenance/doctype/maintenance_schedule/maintenance_schedule.py
Labels: backport version-13-hotfix

#28772 fix: ignore mandatory fields while creating WO from SO
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: backport version-13-hotfix

#28792 fix: Maintenance Visit purposes tables is not visible on submission
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.js
Labels: backport version-13-hotfix

#28803 fix: deduplicate after finishing the repost
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: Skip Manual Testing, backport version-13-hotfix

#28798 fix: misleading "Set Default X" fields after saving
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/controllers/tests/test_transaction_base.py
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/material_request/material_request.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/utilities/transaction_base.py
Labels: squash, backport version-13-hotfix

#28643 feat: added QI link in Job Card Dashboard
  erpnext/manufacturing/doctype/job_card/job_card_dashboard.py
Labels: backport version-13-hotfix

#28815 fix: validate pending reposts before freezing stock/account
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/public/js/utils.js
  erpnext/stock/doctype/repost_item_valuation/test_repost_item_valuation.py
  erpnext/stock/doctype/stock_settings/stock_settings.py
  erpnext/stock/utils.py
Labels: backport version-13-hotfix

#28818 fix: no module named 'redisearch'
  erpnext/e_commerce/doctype/e_commerce_settings/e_commerce_settings.py
  erpnext/e_commerce/doctype/website_item/website_item.py
  erpnext/e_commerce/redisearch_utils.py
  erpnext/templates/pages/product_search.py
Labels: squash

#28420 feat(buying): quotation number in supplier quotation
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.json
Labels: squash

#28797 fix: validate if asset account is set against company
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: backport version-13-hotfix

#28507 fix: Clear Depreciation Schedule before modification
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
Labels: accounts, backport version-13-hotfix

#28677 fix: Fix 'Adjust Asset Value' button
  erpnext/assets/doctype/asset/asset.js
  erpnext/assets/doctype/asset/asset.py
Labels: backport version-13-hotfix

#28832 fix: KSA QR field rename patch
  erpnext/patches/v13_0/rename_ksa_qr_field.py
Labels: accounts

#28866 fix: reorder patch to fix custom field options
  erpnext/patches.txt
Labels: backport version-13-pre-release, backport version-13-hotfix

#28873 fix:Nonstock item showing in Itemwise Recommended Reorder Level report
  erpnext/stock/report/itemwise_recommended_reorder_level/itemwise_recommended_reorder_level.py
Labels: stock, backport version-13-hotfix

#28876 fix: can't change valuation_method on item
  erpnext/stock/doctype/item/item.json
Labels: backport version-13-hotfix

#27939 test: remove commits from tests
  erpnext/manufacturing/doctype/blanket_order/test_blanket_order.py
  erpnext/manufacturing/doctype/bom/test_bom.py
  erpnext/manufacturing/doctype/bom_update_tool/test_bom_update_tool.py
  erpnext/manufacturing/doctype/job_card/test_job_card.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
  erpnext/manufacturing/doctype/routing/test_routing.py
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/manufacturing/doctype/workstation/test_workstation.py
  erpnext/selling/doctype/customer/test_customer.py
  erpnext/selling/doctype/party_specific_item/test_party_specific_item.py
  erpnext/selling/doctype/quotation/test_quotation.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/selling/report/pending_so_items_for_purchase_request/test_pending_so_items_for_purchase_request.py
  erpnext/selling/report/sales_analytics/test_analytics.py
Labels: squash, backport version-13-hotfix

#28888 fix(test): Employee Exit Summary
  erpnext/hr/doctype/exit_interview/test_exit_interview.py
  erpnext/hr/report/employee_exits/employee_exits.py
Labels: Skip Manual Testing

#28853 revert: "fix: expected value after useful life validation"
  erpnext/assets/doctype/asset/asset.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#28821 fix: Currency fix for `cost` field in subscription plan
  erpnext/accounts/doctype/subscription_plan/subscription_plan.json
Labels: accounts, backport version-13-hotfix

#28844 feat: 'Invoice Number' field in Opening Invoice Creation Tool
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.py
  erpnext/accounts/doctype/opening_invoice_creation_tool/test_opening_invoice_creation_tool.py
  erpnext/accounts/doctype/opening_invoice_creation_tool_item/opening_invoice_creation_tool_item.json
Labels: accounts

#27063 feat: Manufacturing : in BOM Operation time can be fix #27062
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom_operation/bom_operation.json
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: squash

#28551 feat: Home Onboarding
  erpnext/assets/module_onboarding/assets/assets.json
  erpnext/assets/onboarding_step/asset_category/asset_category.json
  erpnext/assets/onboarding_step/asset_item/asset_item.json
  erpnext/assets/onboarding_step/asset_purchase/asset_purchase.json
  erpnext/assets/onboarding_step/fixed_asset_accounts/fixed_asset_accounts.json
  erpnext/selling/form_tour/customer/customer.json
  erpnext/selling/form_tour/quotation/quotation.json
  erpnext/setup/form_tour/company/company.json
  erpnext/setup/module_onboarding/home/home.json
  erpnext/setup/onboarding_step/company_set_up/company_set_up.json
  erpnext/setup/onboarding_step/create_a_customer/create_a_customer.json
  erpnext/setup/onboarding_step/create_a_quotation/create_a_quotation.json
  erpnext/setup/onboarding_step/create_a_supplier/create_a_supplier.json
  erpnext/setup/onboarding_step/create_an_item/create_an_item.json
  erpnext/setup/onboarding_step/data_import/data_import.json
  erpnext/setup/onboarding_step/letterhead/letterhead.json
  erpnext/setup/onboarding_step/navigation_help/navigation_help.json
  erpnext/setup/workspace/home/home.json
  erpnext/stock/form_tour/item/item.json
  erpnext/stock/form_tour/item_general/item_general.json
Labels: backport version-13-hotfix

#28921 chore: stock ledger invariant check report
  erpnext/stock/report/stock_ledger_invariant_check/__init__.py
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.js
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.json
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.py
  erpnext/stock/report/test_reports.py
Labels: stock, backport version-13-pre-release, backport version-13-hotfix

#28917 fix: mapping to maintenance visit gets erased
  erpnext/maintenance/doctype/maintenance_schedule/test_maintenance_schedule.py
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.js
Labels: backport version-13-pre-release, backport version-13-hotfix

#28911 fix(ksa): enable ksa pos invoice print format
  erpnext/patches.txt
  erpnext/patches/v13_0/disable_ksa_print_format_for_others.py
Labels: pre-release-testing, backport version-13-pre-release, backport version-13-hotfix

#28938 fix: Add Invoice Number field to list view in Opening Invoice Creation Tool
  erpnext/accounts/doctype/opening_invoice_creation_tool_item/opening_invoice_creation_tool_item.json
Labels: backport version-13-hotfix

#28948 fix: incorrect rounding off near zero
  erpnext/stock/stock_ledger.py
Labels: backport version-13-pre-release

#28965 test: remove unnecessary creation of companies
  erpnext/__init__.py
  erpnext/accounts/doctype/opening_invoice_creation_tool/test_opening_invoice_creation_tool.py
  erpnext/setup/doctype/company/test_records.json
  erpnext/stock/doctype/shipment/test_shipment.py
  erpnext/tests/test_init.py
Labels: squash, backport version-13-hotfix

#28937 fix: Added filter for dispatch address
  erpnext/public/js/queries.js
  erpnext/selling/sales_common.js
Labels: backport version-13-hotfix

#28975 fix: Reset value_after_depreciation on reversing journal entry during Asset return
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#28988 style: better labels for SLE fields
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.json
Labels: squash

#28985 fix: Convert Item links to Website Item links in `Item Card Group` template data
  erpnext/e_commerce/web_template/item_card_group/item_card_group.html
  erpnext/e_commerce/web_template/item_card_group/item_card_group.json
  erpnext/patches.txt
  erpnext/patches/v13_0/convert_to_website_item_in_item_card_group_template.py
Labels: e-commerce-fix

#28908 fix: Set cost center for credit entries while posting Depreciation Entries
  erpnext/assets/doctype/asset/depreciation.py
Labels: accounts

#28953 fix(UX): Optimize rate updation on changing price list
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/get_item_details.py
Labels: accounts

#28951 fix(e-commerce): fetch selling price with pricing rule
  erpnext/e_commerce/doctype/website_item/test_website_item.py
  erpnext/utilities/product.py
Labels: needs-tests, e-commerce-fix

#29042 fix: ignore links while setting default notification templates in Settings
  erpnext/patches/v11_0/add_default_dispatch_notification_template.py
  erpnext/patches/v13_0/add_default_interview_notification_templates.py
Labels: Skip Manual Testing

#28555 fix: Validate Finished Goods for Independent Manufacture entries as well
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: backport version-13-hotfix

#29057 fix: Deferred revenue test case
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
Labels: Skip Manual Testing

#29014 fix!: disable renaming on serial nos
  erpnext/stock/doctype/serial_no/serial_no.json
  erpnext/stock/doctype/serial_no/serial_no.py
Labels: squash

#29051 fix: tests
  erpnext/payroll/doctype/salary_slip/test_salary_slip.py
  erpnext/projects/report/project_profitability/test_project_profitability.py
Labels: Skip Manual Testing

#28034 fix: Updates in term loan processing
  erpnext/loan_management/doctype/loan/loan.json
  erpnext/loan_management/doctype/loan/loan.py
  erpnext/loan_management/doctype/loan/test_loan.py
  erpnext/loan_management/doctype/loan_application/loan_application.py
  erpnext/loan_management/doctype/loan_disbursement/loan_disbursement.py
  erpnext/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
  erpnext/loan_management/doctype/loan_security_unpledge/loan_security_unpledge.py
Labels: accounts

#29076 fix(e-commerce): shopping cart total quantity
  erpnext/e_commerce/shopping_cart/cart.py
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: e-commerce-fix
