Repository frappe/erpnext, pull requests merged in 2021-05, with the labels that each got.

#25648 feat(india): reduced rate of depreciation as per IT Act
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/hooks.py
  erpnext/regional/india/utils.py
Labels: release-candidate

#25481 fix: sync shopify customer addresses
  erpnext/erpnext_integrations/doctype/shopify_settings/sync_customer.py
Labels: backport version-12-hotfix

#25652 fix(pos): UI fixes related to overflowing payment section
  erpnext/public/scss/point-of-sale.scss
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_item_selector.js
Labels: release-candidate

#25699 fix: Process Statement of Accounts formatting
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.html
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.json
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
Labels: WIP

#25757 fix: include field add_deduct_tax in Purchase Taxes setup
  erpnext/setup/setup_wizard/operations/taxes_setup.py
Labels: backport version-13-hotfix
