Repository frappe/erpnext, pull requests merged in 2021-08, with the labels that each got.

#26706 fix: POS Invoice consolidated Sales Invoice field set to no copy
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
Labels: backport version-13-hotfix, backport version-13-pre-release

#26774 fix: change format string to percent string interpolation
  erpnext/patches/v13_0/add_missing_fg_item_for_stock_entry.py
Labels: backport version-13-hotfix

#26773 fix: remove stock balance report limit
  erpnext/stock/report/stock_balance/stock_balance.py
Labels: backport version-13-hotfix

#26700 refactor!: drop shopify integration from ERPNext
  erpnext/erpnext_integrations/connectors/shopify_connection.py
  erpnext/erpnext_integrations/doctype/shopify_log/__init__.py
  erpnext/erpnext_integrations/doctype/shopify_log/shopify_log.js
  erpnext/erpnext_integrations/doctype/shopify_log/shopify_log.json
  erpnext/erpnext_integrations/doctype/shopify_log/shopify_log.py
  erpnext/erpnext_integrations/doctype/shopify_log/shopify_log_list.js
  erpnext/erpnext_integrations/doctype/shopify_log/test_shopify_log.js
  erpnext/erpnext_integrations/doctype/shopify_log/test_shopify_log.py
  erpnext/erpnext_integrations/doctype/shopify_settings/__init__.py
  erpnext/erpnext_integrations/doctype/shopify_settings/shopify_settings.js
  erpnext/erpnext_integrations/doctype/shopify_settings/shopify_settings.json
  erpnext/erpnext_integrations/doctype/shopify_settings/shopify_settings.py
  erpnext/erpnext_integrations/doctype/shopify_settings/sync_customer.py
  erpnext/erpnext_integrations/doctype/shopify_settings/sync_product.py
  erpnext/erpnext_integrations/doctype/shopify_settings/test_data/custom_field.json
  erpnext/erpnext_integrations/doctype/shopify_settings/test_data/shopify_customer.json
  erpnext/erpnext_integrations/doctype/shopify_settings/test_data/shopify_item.json
  erpnext/erpnext_integrations/doctype/shopify_settings/test_data/shopify_order.json
  erpnext/erpnext_integrations/doctype/shopify_settings/test_shopify_settings.js
  erpnext/erpnext_integrations/doctype/shopify_settings/test_shopify_settings.py
  erpnext/erpnext_integrations/doctype/shopify_tax_account/__init__.py
  erpnext/erpnext_integrations/doctype/shopify_tax_account/shopify_tax_account.json
  erpnext/erpnext_integrations/doctype/shopify_tax_account/shopify_tax_account.py
  erpnext/erpnext_integrations/doctype/shopify_webhook_detail/__init__.py
  erpnext/erpnext_integrations/doctype/shopify_webhook_detail/shopify_webhook_detail.json
  erpnext/erpnext_integrations/doctype/shopify_webhook_detail/shopify_webhook_detail.py
  erpnext/erpnext_integrations/workspace/erpnext_integrations/erpnext_integrations.json
  erpnext/erpnext_integrations/workspace/erpnext_integrations_settings/erpnext_integrations_settings.json
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v11_0/refactor_erpnext_shopify.py
  erpnext/patches/v12_0/set_default_shopify_app_type.py
  erpnext/patches/v13_0/shopify_deprecation_warning.py
  erpnext/patches/v13_0/update_custom_fields_for_shopify.py
Labels: squash

#26619 fix: Reset weight_per_unit on replacing Item
  erpnext/stock/get_item_details.py
Labels: backport version-13-hotfix

#26708 fix: POS payment modes displayed wrong total
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: backport version-13-hotfix

#26811 fix: trigger lost reason dialog when status is changed to lost
  erpnext/crm/doctype/opportunity/opportunity.js
Labels: backport version-13-hotfix

#26816 fix: typo in error message
  erpnext/accounts/doctype/account/account.py
Labels: backport version-13-hotfix

#26815 fix: Let all System Managers be able to delete Company transactions
  erpnext/setup/doctype/transaction_deletion_record/transaction_deletion_record.json
Labels: backport version-13-hotfix

#26809 fix: Do not fetch fully return issued purchase receipts
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
Labels: backport version-13-hotfix

#26824 fix(e-invoicing): cannot generate IRNs for standalone credit notes
  erpnext/regional/india/e_invoice/utils.py
Labels: backport version-13-hotfix

#26837 test: use item that allows fractional UOM in test
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport version-13-hotfix

#26839 test: fix pricelist tests
  erpnext/stock/doctype/batch/test_batch.py
  erpnext/stock/doctype/item/test_item.py
Labels: backport version-13-hotfix

#26316 feat: add french address template
  erpnext/regional/address_template/templates/france.html
Labels: Regional, squash, backport version-13-hotfix

#26655 fix: price list with 0 value are ignored
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/stock/get_item_details.py
Labels: backport version-12-hotfix, squash, backport version-13-hotfix

#26724 fix: allow alternative items when using job card
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: backport version-13-hotfix

#25845 fix: production plan not fetching sales order of a variant
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
Labels: backport develop

#26803 fix: Faulty Gl Entry for Asset LCVs
  erpnext/stock/doctype/landed_cost_voucher/test_landed_cost_voucher.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: backport version-13-hotfix

#26835 fix: validate python expressions
  erpnext/accounts/doctype/pricing_rule/pricing_rule.json
  erpnext/stock/doctype/item_quality_inspection_parameter/item_quality_inspection_parameter.json
Labels: backport version-13-hotfix

#26855 fix: add parameter for db insert while adding item tax
  erpnext/controllers/accounts_controller.py
Labels: backport version-13-hotfix

#26859 test: flaky tests for PR
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport version-13-hotfix

#26860 test: fix flaky purchase receipt test (bp #26859)
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport

#26743 patch: Delete all orphaned tables
  erpnext/patches.txt
  erpnext/patches/v13_0/delete_orphaned_tables.py
Labels: backport version-13-hotfix

#26853 fix: Pos Profile not mandatory for Sales Invoice
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: backport version-13-hotfix

#26638 fix(e-invoicing): cannot cancel invoice if IRN cancelled on portal
  erpnext/patches.txt
  erpnext/patches/v12_0/show_einvoice_irn_cancelled_field.py
  erpnext/regional/india/setup.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#26880 fix(e-invoicing): cannot cancel invoice if IRN cancelled on portal (#26638)
  erpnext/patches.txt
  erpnext/patches/v12_0/show_einvoice_irn_cancelled_field.py
  erpnext/regional/india/setup.py
Labels: backport

#26551 fix: Sales Return cancellation if linked with Payment Entry
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: backport version-13-hotfix

#25993 fix: timesheet amount issue
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice_timesheet/sales_invoice_timesheet.json
  erpnext/projects/doctype/timesheet/timesheet.json
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: squash, backport develop

#26775 perf: various minor perf fixes for ledger postings
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/utils.py
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.py
  erpnext/stock/stock_ledger.py
  erpnext/stock/utils.py
Labels: backport version-13-hotfix

#26673 fix: Stock Analytics Report must consider warehouse during calculation
  erpnext/stock/report/stock_analytics/stock_analytics.py
  erpnext/stock/report/stock_balance/stock_balance.py
Labels: backport version-13-hotfix

#26908 fix: Stock Analytics Report must consider warehouse during calculation
  erpnext/stock/report/stock_analytics/stock_analytics.py
  erpnext/stock/report/stock_balance/stock_balance.py
Labels: backport version-13-pre-release

#26674 fix: Deadlock while doing payment reconciliation
  erpnext/accounts/general_ledger.py
Labels: inactive

#26543 feat: depreciate Asset after sale
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/assets/doctype/asset/asset.py
Labels: backport version-13-hotfix

#26915 fix(e-invoicing): ZeroDivisionError on creating e-invoice for credit note
  erpnext/regional/india/e_invoice/utils.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#26920 fix: from_warehouse getting set to None
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-13-hotfix

#26905 fix: Nest `.level` class style under `.hierarchy` class
  erpnext/public/scss/hierarchy_chart.scss
Labels: squash, backport develop

#26928 fix: Deferred Revenue Section should be collapsible only if its not enabled
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
Labels: backport version-13-hotfix

#26827 fix: show proper currency symbol in Taxes and Charges table
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.json
  erpnext/accounts/doctype/sales_taxes_and_charges/sales_taxes_and_charges.json
Labels: backport version-13-hotfix

#26934 ci: ignore js files in unittests
  .github/workflows/patch.yml
  .github/workflows/server-tests.yml
  .github/workflows/ui-tests.yml
Labels: backport version-13-hotfix

#26942 fix: (Stock Analytics) Copy previous balance dict object instead of assigning
  erpnext/stock/report/stock_analytics/stock_analytics.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#26947 fix: unknown attribute "string_types"
  erpnext/hr/doctype/attendance/attendance.py
Labels: backport develop

#26955 fix: Add mandatory depends on condition for export type field
  erpnext/patches.txt
  erpnext/patches/v13_0/update_export_type_for_gst.py
  erpnext/regional/india/setup.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#26917 feat: enable track changes for leave type
  erpnext/hr/doctype/leave_type/leave_type.json
Labels: squash, backport version-13-hotfix

#26960 fix: Budget variance missing values
  erpnext/accounts/report/budget_variance_report/budget_variance_report.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#26962 ci: ignore backports while checking docs
  .github/helper/documentation.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#26976 fix: Incorrect `modified` time in documents that inherit from `StatusUpdater`
  erpnext/controllers/status_updater.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#26967 fix: typo
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: backport develop

#26986 fix: set account for change amount even if pos profile not found
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: backport version-13-hotfix

#27001 fix: Return Qty in PR/DN for legacy data
  erpnext/patches/v13_0/update_returned_qty_in_pr_dn.py
Labels: backport version-13-hotfix

#26988 fix: Dimension filter query fix to avoid including disabled dimensions
  erpnext/controllers/queries.py
Labels: backport version-13-hotfix

#26992 fix: Sales order qty update fails in "Update Items" button
  erpnext/controllers/accounts_controller.py
Labels: backport version-13-hotfix, backport develop

#26936 fix: filtering of items in Sales and Purchase Orders
  erpnext/public/js/utils.js
Labels: backport version-13-hotfix

#26987 fix: Add ignore user perms to set_target_warehouse field in sales invoice
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
Labels: backport version-13-hotfix

#26546 fix: assigning values to rows in sales register reports
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
  erpnext/accounts/report/sales_register/sales_register.py
Labels: backport version-13-hotfix

#26737 fix: Payment Reconciliation party validation issue
  erpnext/accounts/party.py
  erpnext/accounts/utils.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#27026 fix: equality check instead of assignment
  erpnext/shopping_cart/cart.py
Labels: backport version-12-hotfix, squash, backport version-13-hotfix

#26997 fix: add child item groups into the filters
  erpnext/selling/report/sales_partner_target_variance_based_on_item_group/item_group_wise_sales_target_variance.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#27031 fix: pass planned start date to created work order
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
Labels: backport version-13-hotfix

#27025 refactor: renamed varint_item_code to variant_item_code
  erpnext/manufacturing/doctype/bom/bom.js
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: backport version-13-hotfix

#27040 fix: Shopping cart Exchange rate validation
  erpnext/hooks.py
  erpnext/shopping_cart/doctype/shopping_cart_settings/shopping_cart_settings.py
  erpnext/shopping_cart/doctype/shopping_cart_settings/test_shopping_cart_settings.py
  erpnext/stock/doctype/price_list/price_list.py
Labels: dont-merge

#26990 refactor: scan barcode field scanning
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/material_request/material_request.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/stock_entry/stock_entry.json
Labels: backport version-13-hotfix

#26923 fix: Cascade deletion for Company
  erpnext/hooks.py
  erpnext/regional/india/utils.py
  erpnext/setup/doctype/company/company.py
Labels: backport version-13-hotfix

#27061 fix(ux): removed rate from grid view (bp #27033)
  erpnext/accounts/doctype/promotional_scheme_price_discount/promotional_scheme_price_discount.json
Labels: backport

#27060 fix: Incorrect mandatory error message for warehouse (bp #27028)
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport

#26975 fix: Consolidated balance sheet showing incorrect values
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#27069 feat: Column for total amount due in Accounts Receivable/Payable Summary
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable_summary/accounts_receivable_summary.py
Labels: backport version-13-hotfix

#27044 fix: Eway bill version changed to 1.0.0421
  erpnext/regional/india/utils.py
Labels: backport version-13-hotfix

#26593 fix: Price list rate not fetched for return sales invoice fixed
  erpnext/stock/get_item_details.py
Labels: inactive

#27083 fix: Eway bill test update to check ver 1.0.0421
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
Labels: backport version-13-hotfix

#27081 fix: batch no reset on changing of qty
  erpnext/selling/sales_common.js
  erpnext/stock/get_item_details.py
Labels: backport version-13-hotfix

#27080 fix: stock ledger report not working if include UOM selected in filter
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: backport version-13-hotfix

#27008 refactor: use `read_only_depends_on` instead of code
  erpnext/accounts/doctype/pos_invoice/pos_invoice.js
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
Labels: backport version-13-hotfix

#27014 fix: stock analytics report date range issues and add company filter
  erpnext/stock/report/stock_analytics/stock_analytics.js
  erpnext/stock/report/stock_analytics/stock_analytics.py
  erpnext/stock/report/stock_analytics/test_stock_analytics.py
Labels: squash, backport version-13-hotfix

#27021 fix: discard empty rows from update items
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/utils.js
Labels: backport version-12-hotfix, squash, backport version-13-hotfix

#27043 fix(ux): keep stock entry title & purpose in sync
  erpnext/stock/doctype/stock_entry/stock_entry.json
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: squash, backport version-13-hotfix

#27004 feat: Pos invoice coupon code feature
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
  erpnext/public/js/controllers/transaction.js
  erpnext/public/scss/point-of-sale.scss
Labels: backport version-13-hotfix

#27097 fix: Correct price list rate field value in return Sales Invoice
  erpnext/controllers/sales_and_purchase_return.py
Labels: backport version-13-hotfix

#27078 feat: allow draft pos invoices even if no stock available
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Labels: backport version-13-hotfix

#27045 fix: calculation of gross profit percentage in Gross Profit Report
  erpnext/accounts/report/gross_profit/gross_profit.json
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#24664 refactor: social media post fixes
  erpnext/crm/doctype/linkedin_settings/linkedin_settings.js
  erpnext/crm/doctype/linkedin_settings/linkedin_settings.json
  erpnext/crm/doctype/linkedin_settings/linkedin_settings.py
  erpnext/crm/doctype/social_media_post/social_media_post.js
  erpnext/crm/doctype/social_media_post/social_media_post.json
  erpnext/crm/doctype/social_media_post/social_media_post.py
  erpnext/crm/doctype/social_media_post/social_media_post_list.js
  erpnext/crm/doctype/twitter_settings/twitter_settings.js
  erpnext/crm/doctype/twitter_settings/twitter_settings.json
  erpnext/crm/doctype/twitter_settings/twitter_settings.py
Labels: CRM, backport develop

#25735 feat: Employee reminders
  erpnext/hooks.py
  erpnext/hr/doctype/compensatory_leave_request/compensatory_leave_request.py
  erpnext/hr/doctype/employee/employee.py
  erpnext/hr/doctype/employee/employee_reminders.py
  erpnext/hr/doctype/employee/test_employee.py
  erpnext/hr/doctype/employee/test_employee_reminders.py
  erpnext/hr/doctype/hr_settings/hr_settings.json
  erpnext/hr/doctype/hr_settings/hr_settings.py
  erpnext/hr/doctype/upload_attendance/upload_attendance.py
  erpnext/hr/utils.py
  erpnext/patches.txt
  erpnext/patches/v13_0/rename_stop_to_send_birthday_reminders.py
  erpnext/payroll/doctype/employee_benefit_application/employee_benefit_application.py
  erpnext/payroll/doctype/payroll_period/payroll_period.py
  erpnext/payroll/doctype/salary_slip/salary_slip.py
  erpnext/public/js/utils.js
  erpnext/templates/emails/anniversary_reminder.html
  erpnext/templates/emails/holiday_reminder.html
Labels: HR, backport develop

#27104 fix: incorrect gl entry on period closing involving finance books (#26921)
  erpnext/accounts/doctype/finance_book/test_finance_book.py
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
  erpnext/accounts/doctype/period_closing_voucher/test_period_closing_voucher.py
  erpnext/accounts/general_ledger.py
Labels: backport

#26999 fix: lead name issue
  erpnext/crm/doctype/lead/lead.py
Labels: CRM, backport version-13-hotfix

#26225 perf: reduce number of queries to validate selling price
  erpnext/controllers/selling_controller.py
Labels: squash, backport version-13-hotfix

#27074 fix(minor): Update GSTR-1 json version
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: backport version-13-hotfix

#27110 fix: Updated timestamp for pos invoice json
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
Labels: backport version-13-hotfix

#27002 fix: validate party and party type only if both available
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: backport version-13-hotfix

#27052 fix: update scrap table item details; typo
  erpnext/manufacturing/doctype/bom/bom.py
Labels: backport version-13-hotfix

#27109 feat: unreconcile on cancellation of bank transaction
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
  erpnext/accounts/doctype/bank_transaction/bank_transaction_list.js
  erpnext/accounts/doctype/bank_transaction/test_bank_transaction.py
  erpnext/controllers/status_updater.py
Labels: backport version-13-hotfix

#27136 fix: reduce Sales Invoice row size
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
Labels: squash, backport version-13-hotfix

#27058 fix: TDS calculation on net total
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
Labels: backport develop

#27065 fix: partial rename while replacing abbreviation
  erpnext/setup/doctype/company/company.py
Labels: dont-merge

#27141 feat: provision to create customer from opportunity
  erpnext/crm/doctype/opportunity/opportunity.js
  erpnext/crm/doctype/opportunity/opportunity.py
  erpnext/selling/doctype/customer/customer.json
Labels: backport version-13-hotfix

#27129 fix(healthcare): Removed ignore user permissions flag in appointment
  erpnext/healthcare/doctype/healthcare_practitioner/healthcare_practitioner.json
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.json
  erpnext/healthcare/doctype/patient_appointment/test_patient_appointment.py
Labels: healthcare, backport version-13-hotfix

#27220 ci: use node action instead of apt
  .github/helper/install.sh
  .github/workflows/patch.yml
  .github/workflows/server-tests.yml
Labels: backport version-13-hotfix

#27204 fix: Expense Claim reimbursed amount update issue
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/hr/doctype/expense_claim/expense_claim.py
  erpnext/hr/doctype/expense_claim/test_expense_claim.py
Labels: backport version-13-hotfix

#27197 feat: (consistency) Add Primary Address and Contact section in Supplier
  erpnext/buying/doctype/supplier/supplier.js
  erpnext/buying/doctype/supplier/supplier.json
  erpnext/buying/doctype/supplier/supplier.py
  erpnext/public/build.json
  erpnext/public/js/erpnext.bundle.js
  erpnext/public/js/utils/supplier_quick_entry.js
  erpnext/selling/doctype/customer/customer.py
Labels: backport version-13-hotfix

#27232 feat: (consistency) Add Primary Address and Contact section in Supplier
  erpnext/buying/doctype/supplier/supplier.js
  erpnext/buying/doctype/supplier/supplier.json
  erpnext/buying/doctype/supplier/supplier.py
  erpnext/public/build.json
  erpnext/public/js/utils/supplier_quick_entry.js
  erpnext/selling/doctype/customer/customer.py
Labels: squash, backport version-13-pre-release

#27217 fix: Correct company address not getting copied from Purchase Order to Invoice
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/utils/party.js
Labels: backport version-13-pre-release, backport version-13-hotfix

#27228 fix: Stock Ageing report issues for serialized items
  erpnext/stock/report/stock_ageing/stock_ageing.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#27249 fix(test): first check for org chart always fails
  cypress/integration/test_organizational_chart_desktop.js
  cypress/integration/test_organizational_chart_mobile.js
Labels: backport version-13-hotfix

#27247 fix(payroll): Fixed issue with accessing last salary slip for new employee
  erpnext/payroll/doctype/gratuity/gratuity.py
  erpnext/payroll/doctype/gratuity/test_gratuity.py
Labels: payroll, backport version-13-hotfix

#27246 feat: color and leave type in leave application calendar
  erpnext/hr/doctype/leave_application/leave_application.py
  erpnext/hr/doctype/leave_application/leave_application_calendar.js
Labels: HR, backport develop

#27191 fix: email digest original_user issue
  erpnext/setup/doctype/email_digest/email_digest.py
Labels: backport version-13-hotfix

#27209 fix: payment terms on Sales Order when Invoice Portion field is empty
  erpnext/controllers/accounts_controller.py
Labels: backport develop

#27251 fix: pos payment methods not setting rounded_total
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: backport develop

#27143 feat: Taxjar Integration update
  erpnext/erpnext_integrations/taxjar_integration.py
  erpnext/patches.txt
  erpnext/patches/v13_0/custom_fields_for_taxjar_integration.py
  erpnext/regional/doctype/product_tax_category/__init__.py
  erpnext/regional/doctype/product_tax_category/product_tax_category.js
  erpnext/regional/doctype/product_tax_category/product_tax_category.json
  erpnext/regional/doctype/product_tax_category/product_tax_category.py
  erpnext/regional/doctype/product_tax_category/test_product_tax_category.py
  erpnext/regional/united_states/product_tax_category_data.json
  erpnext/regional/united_states/setup.py
Labels: backport version-13-hotfix

#27262 fix(minor): Incorrect unallocated amount on type receive
  erpnext/accounts/doctype/payment_entry/payment_entry.js
Labels: backport version-13-pre-release, backport version-13-hotfix

#27128 refactor: payment reconciliation tool
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.js
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.json
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation_allocation/__init__.py
  erpnext/accounts/doctype/payment_reconciliation_allocation/payment_reconciliation_allocation.json
  erpnext/accounts/doctype/payment_reconciliation_allocation/payment_reconciliation_allocation.py
  erpnext/accounts/doctype/payment_reconciliation_invoice/payment_reconciliation_invoice.json
  erpnext/accounts/doctype/payment_reconciliation_payment/payment_reconciliation_payment.json
  erpnext/accounts/utils.py
  erpnext/controllers/accounts_controller.py
Labels: backport version-13-hotfix

#27266 Revert: add child item groups into the filters
  erpnext/selling/report/sales_partner_target_variance_based_on_item_group/item_group_wise_sales_target_variance.py
Labels: backport version-12-hotfix, backport version-13-pre-release, backport version-13-hotfix

#27270 revert: "refactor: simplify initialize_previous_data"
  erpnext/stock/stock_ledger.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#27273 fix: Healthcare Service Unit fixes
  erpnext/healthcare/doctype/healthcare_service_unit/healthcare_service_unit.py
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.py
Labels: backport version-13-pre-release, backport version-13-hotfix
