Repository frappe/erpnext, pull requests merged in 2021-06, with the labels that each got.

#25771 refactor: leave balance report
  erpnext/hr/report/employee_leave_balance/employee_leave_balance.js
  erpnext/hr/report/employee_leave_balance/employee_leave_balance.py
  erpnext/hr/utils.py
Labels: HR

#25221 feat: create Quality Inspections from account and stock documents
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/stock_controller.py
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/doctype/quality_inspection/test_quality_inspection.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: needs-tests

#25921 fix(healthcare): update linked Customer
  erpnext/healthcare/doctype/patient/patient.py
Labels: backport version-13-hotfix

#25939 fix: update shopify api version (#25600)
  erpnext/erpnext_integrations/doctype/shopify_settings/shopify_settings.py
  erpnext/erpnext_integrations/doctype/shopify_settings/sync_product.py
Labels: backport

#25937 fix: sync shopify customer addresses (#25481)
  erpnext/erpnext_integrations/doctype/shopify_settings/sync_customer.py
Labels: backport

#25775 fix: wrong round off gl entry posted in case of purchase invoice
  erpnext/accounts/general_ledger.py
Labels: backport version-12-hotfix

#25902 fix: AttributeError: 'PurchaseReceiptItem' object has no attribute 'purchase_invoice'
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: backport version-13-hotfix

#25957 fix: AttributeError: 'PurchaseReceiptItem' object has no attribute 'purchase_invoice' (#25902)
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: backport

#26021 test(perf): eliminate repeat creation of HSN codes (#25947)
  erpnext/regional/india/setup.py
Labels: backport

#25896 fix: Correct South Africa VAT Rate
  erpnext/setup/setup_wizard/data/country_wise_tax.json
Labels: squash

#25894 fix: Correct South Africa VAT Rate (Updated)
  erpnext/setup/setup_wizard/data/country_wise_tax.json
Labels: squash

#26102 fix: escaped warehouse value for sql query (#26049)
  erpnext/controllers/stock_controller.py
Labels: backport

#26101 fix: auto unlink warehouse from item on delete (#26073)
  erpnext/stock/doctype/warehouse/test_warehouse.py
  erpnext/stock/doctype/warehouse/warehouse.py
Labels: backport

#26062 fix: status indicator for delivery notes
  erpnext/stock/doctype/delivery_note/delivery_note_list.js
Labels: backport develop

#26124 fix: status indicator for delivery notes (#26062)
  erpnext/stock/doctype/delivery_note/delivery_note_list.js
Labels: backport

#26192 fix(Work Order): added freeze when trying to stop work order
  erpnext/manufacturing/doctype/work_order/work_order.js
Labels: backport version-13-hotfix

#26196 fix(Work Order): added freeze when trying to stop work order (#26192)
  erpnext/manufacturing/doctype/work_order/work_order.js
Labels: backport

#25891 refactor: update cost updates operation time and hour rates in BOM
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom/test_bom.py
  erpnext/manufacturing/doctype/routing/routing.py
  erpnext/manufacturing/doctype/routing/test_routing.py
  erpnext/manufacturing/doctype/workstation/test_workstation.py
  erpnext/manufacturing/doctype/workstation/workstation.py
Labels: backport develop

#26105 fix: batch nos in packed items
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/delivery_note/delivery_note.js
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#26206 fix: batch nos in packed items (bp #26105)
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/delivery_note/delivery_note.js
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: backport

#26212 perf: don't query unless required (bp #26175)
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/material_request/material_request.py
Labels: backport

#26217 fix: precision rate for packed items (bp #26046)
  erpnext/controllers/selling_controller.py
Labels: backport

#25886 fix: order and time of operations in multilevel BOM work order
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom/test_bom.py
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/manufacturing/doctype/work_order_operation/work_order_operation.json
Labels: backport develop
