Repository frappe/erpnext, pull requests merged in 2021-01, with the labels that each got.

#24329 fix: Back Update from QC based on Batch No
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
Labels: backport version-12-hotfix

#24338 fix: Batch/Serial Selector for Scanned Batched Item
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: backport version-12-hotfix

#24324 fix: Company Wise Valuation Rate for RM in BOM
  erpnext/manufacturing/doctype/bom/bom.js
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: backport version-12-hotfix, needs-tests

#23603 feat: Issue Summary Script Report
  erpnext/support/desk_page/support/support.json
  erpnext/support/report/issue_summary/__init__.py
  erpnext/support/report/issue_summary/issue_summary.js
  erpnext/support/report/issue_summary/issue_summary.json
  erpnext/support/report/issue_summary/issue_summary.py
Labels: needs-tests

#24323 fix: last purchase rate not updating when voucher cancelled if only one voucher is present - v12
  erpnext/buying/utils.py
Labels: bug

#24322 fix: last purchase rate not updating when voucher cancelled if only one voucher is present
  erpnext/buying/utils.py
Labels: bug

#24456 fix: Add loan to value field in Loan Interest Report
  erpnext/loan_management/report/applicant_wise_loan_security_exposure/applicant_wise_loan_security_exposure.py
  erpnext/loan_management/report/loan_interest_report/loan_interest_report.py
  erpnext/loan_management/report/loan_security_exposure/loan_security_exposure.py
Labels: Skip Manual Testing

#24086 feat: temporary against account
  erpnext/regional/doctype/datev_settings/datev_settings.json
  erpnext/regional/report/datev/datev.py
  erpnext/regional/report/datev/test_datev.py
Labels: Accounts, Regional

#24468 fix: Division by 0 error in security exposure reports
  erpnext/loan_management/report/applicant_wise_loan_security_exposure/applicant_wise_loan_security_exposure.py
  erpnext/loan_management/report/loan_security_exposure/loan_security_exposure.py
Labels: Skip Manual Testing
