Repository frappe/erpnext, pull requests merged in 2021-11, with the labels that each got.

#28178 fix: pass company while fetching valuation rate
  erpnext/stock/stock_ledger.py
Labels: frappe-support, Skip Manual Testing, backport version-13-pre-release, backport version-13-hotfix

#28182 fix(ux): stock levels take time after item merge
  erpnext/stock/doctype/item/item.py
Labels: frappe-support, backport version-13-hotfix

#27657 test(patch): run patch tests for major releases
  .github/workflows/patch.yml
Labels: squash

#28210 fix(shopify): ignore unsupported methods while resyncing
  erpnext/erpnext_integrations/doctype/shopify_log/shopify_log.py
Labels: backport version-12-hotfix

#28235 fix(e-invoicing): link to error log list
  erpnext/regional/india/e_invoice/utils.py
Labels: Skip Manual Testing

#28152 fix: replace newline in remarks (DATEV report)
  erpnext/regional/report/datev/datev.py
Labels: Regional

#28283 fix: show full item name in search widget
  erpnext/controllers/queries.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#28286 feat: Add count for Healthcare Practitioner on Healthcare dashboard
  erpnext/healthcare/workspace/healthcare/healthcare.json
Labels: manual-porting-required

#28150 feat: provision to close the Work Order
  erpnext/manufacturing/doctype/job_card/job_card.js
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/manufacturing/doctype/work_order/work_order.js
  erpnext/manufacturing/doctype/work_order/work_order.json
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/stock/stock_balance.py
Labels: squash

#28296 fix: add Email option to contact email field
  erpnext/support/doctype/warranty_claim/warranty_claim.json
Labels: squash, backport version-13-hotfix

#28320 fix: default value for allow neg stock in repost_item_valuation
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: backport version-13-hotfix

#28367 fix(WooCommerce): always expect signature in webhook requests
  erpnext/erpnext_integrations/connectors/woocommerce_connection.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#28369 fix(M-Pesa): validate type before executing `get_doc`
  erpnext/erpnext_integrations/doctype/mpesa_settings/mpesa_settings.py
Labels: backport version-13-hotfix

#28372 fix: validate hmac unconditionally
  erpnext/erpnext_integrations/utils.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#28388 fix: Work order creation from sales order
  erpnext/selling/doctype/sales_order/sales_order.js
Labels: CI-failing, backport version-13-hotfix

#28392 fix: remove item-item group name validation
  erpnext/setup/doctype/item_group/item_group.py
  erpnext/stock/doctype/item/item.py
Labels: backport version-13-hotfix

#28406 fix(ux): help section background in dark mode
  erpnext/accounts/doctype/accounting_dimension_filter/accounting_dimension_filter.js
  erpnext/accounts/doctype/loyalty_program/loyalty_program.js
  erpnext/accounts/doctype/pricing_rule/pricing_rule.js
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.js
Labels: backport version-13-hotfix

#28228 fix: Pull only Items that are in Job Card in a Stock Entry against Job Card
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/job_card/test_job_card.py
  erpnext/manufacturing/doctype/operation/test_operation.py
  erpnext/manufacturing/doctype/workstation/test_workstation.py
  erpnext/manufacturing/report/production_plan_summary/production_plan_summary.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-13-hotfix

#28446 fix: unchecking the "With Operations" in BOM clears operations table
  erpnext/manufacturing/doctype/bom/bom.js
  erpnext/manufacturing/doctype/bom/bom.json
Labels: Skip Manual Testing, backport version-13-hotfix

#28302 fix: Shipping Rule picking up old net_rate
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/public/js/controllers/transaction.js
Labels: dont-merge

#28468 fix: coa balance rendering bug
  erpnext/accounts/doctype/account/account_tree.js
Labels: Skip Manual Testing

#28469 fix: FY query returning None for new company
  erpnext/regional/india/setup.py
Labels: dont-merge, needs-tests

#28303 fix(healthcare): Practitioner standard query
  erpnext/healthcare/doctype/healthcare_practitioner/healthcare_practitioner.py
Labels: healthcare, manual-porting-required

#28512 fix: broken bom tree view and remove duplicate button
  erpnext/manufacturing/doctype/bom/bom_item_preview.html
  erpnext/manufacturing/doctype/bom/bom_tree.js
Labels: squash

#28217 fix: fixes in work order doctype
  erpnext/manufacturing/doctype/work_order/work_order.js
  erpnext/manufacturing/doctype/work_order/work_order.json
  erpnext/manufacturing/doctype/work_order_operation/work_order_operation.json
Labels: squash, backport version-13-hotfix

#28564 fix: total stock summary UI glitch
  erpnext/stock/report/total_stock_summary/total_stock_summary.js
  erpnext/stock/report/total_stock_summary/total_stock_summary.py
Labels: backport version-13-hotfix

#28558 fix(UX): combine_items checkbox to trigger get_items and sub_assembly button
  erpnext/manufacturing/doctype/production_plan/production_plan.js
Labels: backport version-13-hotfix

#27348 fix (refactor): Tax Withholding for Advances using Payment Entry against suppliers
  erpnext/accounts/doctype/advance_tax/__init__.py
  erpnext/accounts/doctype/advance_tax/advance_tax.json
  erpnext/accounts/doctype/advance_tax/advance_tax.py
  erpnext/accounts/doctype/advance_taxes_and_charges/advance_taxes_and_charges.json
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/general_ledger.py
  erpnext/controllers/accounts_controller.py
Labels: dont-merge

#28583 fix: incorrect balance in "Warehouse Wise Item Balance and Age" report
  erpnext/stock/report/warehouse_wise_item_balance_age_and_value/warehouse_wise_item_balance_age_and_value.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#28455 fix(ux): allow translations
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/controllers/stock_controller.py
Labels: squash, backport version-13-hotfix

#28606 feat: Allow addition of custom product search box
  erpnext/e_commerce/product_ui/search.js
Labels: e-commerce-fix

#28556 fix: incorrect discount amount set when item is replaced
  erpnext/stock/get_item_details.py
Labels: backport version-13-hotfix

#28349 feat: Let serialised Items be consumed during Asset Repairs
  erpnext/assets/doctype/asset_repair/asset_repair.js
  erpnext/assets/doctype/asset_repair/asset_repair.py
  erpnext/assets/doctype/asset_repair/test_asset_repair.py
  erpnext/assets/doctype/asset_repair_consumed_item/asset_repair_consumed_item.json
Labels: backport version-13-hotfix

#28632 fix(ux): remove attachment limit from item doctype
  erpnext/selling/doctype/quotation/quotation.json
  erpnext/stock/doctype/item/item.json
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.json
Labels: backport version-12-hotfix, backport version-13-hotfix

#27467 feat: Grant commission on certain items only
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
  erpnext/accounts/doctype/pos_invoice_item/pos_invoice_item.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
  erpnext/accounts/report/sales_partners_commission/sales_partners_commission.json
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/selling_controller.py
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/doctype/sales_order_item/sales_order_item.json
  erpnext/selling/sales_common.js
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.json
  erpnext/stock/doctype/item/item.json
  erpnext/stock/get_item_details.py
Labels: squash

#28646 chore: remove duplicate code
  erpnext/hr/doctype/employee/employee.py
Labels: backport version-13-hotfix
