Repository frappe/erpnext, pull requests merged in 2022-04, with the labels that each got.

#30050 fix: check for debit credit difference even after round-off adjustment
  erpnext/accounts/general_ledger.py
Labels: accounts, squash

#30538 fix: convert dates to datetime before comparing in leave days calculation and fix half day edge case
  erpnext/hr/doctype/leave_application/leave_application.py
  erpnext/hr/doctype/leave_application/test_leave_application.py
  erpnext/payroll/doctype/salary_slip/test_salary_slip.py
Labels: backport version-13-hotfix

#30543 perf: index barcode for faster scans
  erpnext/stock/doctype/item_barcode/item_barcode.json
Labels: backport version-13-hotfix

#30191 fix: incorrect payable amount for loan closure
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#30556 fix: bulk fix (~330) missing translations
  erpnext/accounts/doctype/account/account_tree.js
  erpnext/accounts/doctype/bank_statement_import/bank_statement_import.js
  erpnext/accounts/doctype/cash_flow_mapping/cash_flow_mapping.py
  erpnext/accounts/doctype/currency_exchange_settings/currency_exchange_settings.py
  erpnext/accounts/doctype/mode_of_payment/mode_of_payment.py
  erpnext/accounts/doctype/pos_profile/pos_profile.py
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/report/balance_sheet/balance_sheet.py
  erpnext/accounts/report/budget_variance_report/budget_variance_report.py
  erpnext/accounts/report/dimension_wise_accounts_balance_report/dimension_wise_accounts_balance_report.py
  erpnext/accounts/report/inactive_sales_items/inactive_sales_items.py
  erpnext/accounts/report/payment_period_based_on_invoice_date/payment_period_based_on_invoice_date.py
  erpnext/assets/doctype/asset_category/asset_category.py
  erpnext/assets/doctype/asset_movement/asset_movement.py
  erpnext/assets/doctype/asset_repair/asset_repair.js
  erpnext/assets/doctype/asset_value_adjustment/asset_value_adjustment.py
  erpnext/buying/doctype/supplier_scorecard/supplier_scorecard.py
  erpnext/buying/doctype/supplier_scorecard_criteria/supplier_scorecard_criteria.py
  erpnext/buying/report/purchase_order_trends/purchase_order_trends.py
  erpnext/crm/doctype/linkedin_settings/linkedin_settings.js
  erpnext/crm/doctype/social_media_post/social_media_post.js
  erpnext/crm/report/first_response_time_for_opportunity/first_response_time_for_opportunity.py
  erpnext/education/doctype/course_scheduling_tool/course_scheduling_tool.py
  erpnext/education/doctype/student_group_creation_tool/student_group_creation_tool.py
  erpnext/hr/doctype/department_approver/department_approver.py
  erpnext/hr/doctype/shift_assignment/shift_assignment.py
  erpnext/hr/doctype/shift_request/shift_request.py
  erpnext/hr/doctype/staffing_plan/staffing_plan.py
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
  erpnext/maintenance/doctype/maintenance_schedule/maintenance_schedule.py
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.py
  erpnext/manufacturing/report/bom_explorer/bom_explorer.py
  erpnext/manufacturing/report/production_plan_summary/production_plan_summary.py
  erpnext/manufacturing/report/work_order_stock_report/work_order_stock_report.py
  erpnext/payroll/doctype/employee_benefit_claim/employee_benefit_claim.py
  erpnext/payroll/doctype/gratuity_rule/gratuity_rule.js
  erpnext/payroll/doctype/payroll_entry/payroll_entry.js
  erpnext/payroll/report/salary_payments_based_on_payment_mode/salary_payments_based_on_payment_mode.py
  erpnext/projects/report/delayed_tasks_summary/delayed_tasks_summary.py
  erpnext/regional/doctype/datev_settings/datev_settings.js
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/selling/report/customer_acquisition_and_loyalty/customer_acquisition_and_loyalty.py
  erpnext/selling/report/customer_credit_balance/customer_credit_balance.py
  erpnext/selling/report/item_wise_sales_history/item_wise_sales_history.py
  erpnext/selling/report/quotation_trends/quotation_trends.py
  erpnext/selling/report/sales_order_trends/sales_order_trends.py
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/material_request/material_request.py
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/page/warehouse_capacity_summary/warehouse_capacity_summary.js
  erpnext/stock/reorder_item.py
  erpnext/stock/report/bom_search/bom_search.py
  erpnext/stock/report/item_variant_details/item_variant_details.py
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.py
  erpnext/support/report/first_response_time_for_issues/first_response_time_for_issues.py
  erpnext/utilities/doctype/video/video.js
  erpnext/utilities/report/youtube_interactions/youtube_interactions.py
Labels: stock

#30560 fix: maintain FIFO queue even if outgoing_rate is not found
  erpnext/stock/tests/test_valuation.py
  erpnext/stock/valuation.py
Labels: stock

#30537 fix(pos): do not reset search input on item selection
  erpnext/selling/page/point_of_sale/pos_item_selector.js
Labels: backport version-13-hotfix

#30522 feat: Redisearch with consent
  erpnext/e_commerce/doctype/e_commerce_settings/e_commerce_settings.json
  erpnext/e_commerce/doctype/e_commerce_settings/e_commerce_settings.py
  erpnext/e_commerce/redisearch_utils.py
  erpnext/templates/pages/product_search.py
Labels: ecommerce

#30553 fix(india): minor e-invoicing fixes
  erpnext/accounts/print_format/gst_e_invoice/gst_e_invoice.html
  erpnext/regional/india/e_invoice/utils.py
Labels: backport version-13-hotfix

#30579 fix: fetch from fields not working in eway bill dialog
  erpnext/regional/india/e_invoice/einvoice.js
Labels: backport version-13-hotfix

#30578 chore: Accessibility for E-commerce Doctypes
  erpnext/e_commerce/doctype/website_item/website_item.js
  erpnext/stock/doctype/item/item.js
  erpnext/stock/doctype/item/item_dashboard.py
Labels: backport version-13-hotfix

#29955 feat: Scheduling Multiple shifts and Auto Attendance
  .git-blame-ignore-revs
  erpnext/hr/doctype/attendance/attendance.py
  erpnext/hr/doctype/attendance/test_attendance.py
  erpnext/hr/doctype/employee_checkin/employee_checkin.py
  erpnext/hr/doctype/employee_checkin/test_employee_checkin.py
  erpnext/hr/doctype/shift_assignment/shift_assignment.py
  erpnext/hr/doctype/shift_assignment/test_shift_assignment.py
  erpnext/hr/doctype/shift_request/shift_request.py
  erpnext/hr/doctype/shift_request/test_shift_request.py
  erpnext/hr/doctype/shift_type/shift_type.py
  erpnext/hr/doctype/shift_type/test_shift_type.py
  erpnext/hr/report/monthly_attendance_sheet/monthly_attendance_sheet.js
  erpnext/hr/report/monthly_attendance_sheet/monthly_attendance_sheet.py
  erpnext/hr/report/monthly_attendance_sheet/test_monthly_attendance_sheet.py
Labels: HR, needs-manual-testing

#30557 fix: Issues on loan repayment
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#30594 fix(patch): check null values in is_cancelled patch
  erpnext/patches/v12_0/update_is_cancelled_field.py
  erpnext/patches/v14_0/change_is_subcontracted_fieldtype.py
Labels: backport version-13-hotfix

#30599 fix: hide pending qty only if original item is assigned
  erpnext/public/js/utils/serial_no_batch_selector.js
Labels: backport version-13-pre-release, backport version-13-hotfix

#30619 fix: fallback to item_name if description is not found
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/item/test_item.py
Labels: stock, backport version-13-hotfix

#30621 fix: warehouse naming when suffix is present
  erpnext/stock/doctype/warehouse/test_warehouse.py
  erpnext/stock/doctype/warehouse/warehouse.py
Labels: backport version-13-hotfix

#30625 test: Fix failing tests for healthcare service unit
  erpnext/healthcare/doctype/healthcare_service_unit/healthcare_service_unit.json
Labels: healthcare, Skip Manual Testing, manual-porting-required

#30628 test: Pricing rule test for transactions
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
Labels: needs-tests

#30588 feat: Scheduling Multiple shifts and Auto Attendance
  .git-blame-ignore-revs
  erpnext/hr/doctype/attendance/attendance.py
  erpnext/hr/doctype/attendance/test_attendance.py
  erpnext/hr/doctype/employee_checkin/employee_checkin.py
  erpnext/hr/doctype/employee_checkin/test_employee_checkin.py
  erpnext/hr/doctype/shift_assignment/shift_assignment.py
  erpnext/hr/doctype/shift_assignment/test_shift_assignment.py
  erpnext/hr/doctype/shift_request/shift_request.py
  erpnext/hr/doctype/shift_request/test_shift_request.py
  erpnext/hr/doctype/shift_type/shift_type.py
  erpnext/hr/doctype/shift_type/test_shift_type.py
  erpnext/hr/report/monthly_attendance_sheet/monthly_attendance_sheet.js
  erpnext/hr/report/monthly_attendance_sheet/monthly_attendance_sheet.py
  erpnext/hr/report/monthly_attendance_sheet/test_monthly_attendance_sheet.py
Labels: HR, needs-manual-testing

#30637 feat: barcode scanning in quotation
  erpnext/selling/doctype/quotation/quotation.json
Labels: squash

#30644 fix: remove bad defaults from BOM operation
  erpnext/manufacturing/doctype/bom_operation/bom_operation.json
  erpnext/stock/doctype/item/item.json
Labels: backport version-13-hotfix

#30596 fix: removed unused courses template
  erpnext/templates/pages/courses.html
  erpnext/templates/pages/courses.py
Labels: backport version-13-hotfix

#30542 fix: Ignore disabled tax categories
  erpnext/regional/india/utils.py
Labels: needs-tests

#30488 fix: web form filters for project
  erpnext/projects/doctype/project/project.py
Labels: needs-tests

#30602 fix: Deferred Revenue/Expense Account validation
  erpnext/accounts/deferred_revenue.py
  erpnext/accounts/doctype/journal_entry/journal_entry.json
  erpnext/accounts/doctype/process_deferred_accounting/process_deferred_accounting.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: accounts

#30674 fix: Handle multiple item transfer in separate SEs against WO
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/manufacturing/doctype/work_order/work_order.js
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-13-hotfix

#30684 fix: ignore item-less maintenance visit for sr no
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.js
Labels: backport version-13-hotfix

#30686 feat: Ignore permlevel for specific fields
  erpnext/controllers/buying_controller.py
  erpnext/controllers/selling_controller.py
Labels: selling, buying, needs-tests

#30689 fix: Do not show disabled dimensions in reports
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
Labels: needs-tests

#30688 fix: Map Production Plan company in subassembly WO created from it
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: backport version-13-hotfix

#30692 fix: Depreciation Amount calculation for first row when Monthly Depreciation is allowed
  erpnext/assets/doctype/asset/asset.py
Labels: backport develop

#30584 refactor!: remove DATEV integration
  erpnext/patches.txt
  erpnext/patches/v13_0/germany_fill_debtor_creditor_number.py
  erpnext/patches/v13_0/germany_make_custom_fields.py
  erpnext/patches/v14_0/delete_datev_doctypes.py
  erpnext/regional/doctype/datev_settings/__init__.py
  erpnext/regional/doctype/datev_settings/datev_settings.js
  erpnext/regional/doctype/datev_settings/datev_settings.json
  erpnext/regional/doctype/datev_settings/datev_settings.py
  erpnext/regional/doctype/datev_settings/test_datev_settings.py
  erpnext/regional/germany/__init__.py
  erpnext/regional/germany/setup.py
  erpnext/regional/germany/utils/__init__.py
  erpnext/regional/germany/utils/datev/__init__.py
  erpnext/regional/germany/utils/datev/datev_constants.py
  erpnext/regional/germany/utils/datev/datev_csv.py
  erpnext/regional/report/datev/__init__.py
  erpnext/regional/report/datev/datev.js
  erpnext/regional/report/datev/datev.json
  erpnext/regional/report/datev/datev.py
  erpnext/regional/report/datev/test_datev.py
Labels: squash

#30703 chore: warning for DATEV deprecation
  erpnext/patches.txt
  erpnext/patches/v13_0/datev_deprecation_warning.py
Labels: squash

#30598 chore(deps)!: Drop `pandas` as dependency
  requirements.txt
Labels: squash

#30709 test: flaky PR close test
  erpnext/quality_management/doctype/quality_procedure/test_quality_procedure.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: squash

#30675 feat: Item-wise provisional accounting for service items
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/setup/doctype/company/company.js
  erpnext/stock/doctype/item/item.js
  erpnext/stock/doctype/item_default/item_default.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#30713 chore: check in missing __init__.py
  erpnext/www/shop-by-category/__init__.py
Labels: squash

#30710 fix: Exchange gain and loss on advance Journal Entry allocation
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: accounts

#30724 fix: Consistent customer and supplier forms
  erpnext/buying/doctype/supplier/supplier.json
  erpnext/hooks.py
  erpnext/selling/doctype/customer/customer.json
Labels: needs-tests

#30729 chore: Add semantic releases
  .github/workflows/release.yml
  .releaserc
Labels: backport version-13-hotfix

#30721 fix: SO's without delivery note will also be fetched
  erpnext/selling/report/sales_order_analysis/sales_order_analysis.py
  erpnext/selling/report/sales_order_analysis/test_sales_order_analysis.py
Labels: reports, selling

#30737 fix(patch): check if column is present while fixing reverse linking
  erpnext/patches/v13_0/patch_to_fix_reverse_linking_in_additional_salary_encashment_and_incentive.py
Labels: backport version-13-hotfix

#29072 fix: Must not be able to start Job Card if it is related to Work Order that is not started yet
  erpnext/manufacturing/doctype/job_card/job_card.js
Labels: squash, backport version-13-hotfix

#30770 fix: batch_no filtering not working when batch no is also a number in…
  erpnext/stock/doctype/serial_no/serial_no.py
Labels: backport version-13-hotfix

#30726 fix: dependent gle reposting
  erpnext/accounts/test/test_utils.py
  erpnext/accounts/utils.py
  erpnext/stock/doctype/bin/bin.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.json
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/doctype/repost_item_valuation/test_repost_item_valuation.py
  erpnext/stock/doctype/stock_ledger_entry/test_stock_ledger_entry.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/stock_ledger.py
Labels: stock, backport version-13-hotfix

#30757 fix(india): 401 & 403 client error while generating IRN
  erpnext/regional/india/e_invoice/utils.py
Labels: backport version-13-hotfix

#30725 fix: update translation
  erpnext/translations/ru.csv
Labels: squash

#30780 feat: minor enhancements in Employee Promotion
  erpnext/hr/doctype/employee/employee.json
  erpnext/hr/doctype/employee_promotion/employee_promotion.json
  erpnext/hr/doctype/employee_promotion/employee_promotion.py
  erpnext/hr/doctype/employee_promotion/test_employee_promotion.py
  erpnext/hr/doctype/employee_transfer_property/__init__.py
  erpnext/hr/doctype/employee_transfer_property/employee_transfer_property.js
  erpnext/hr/doctype/employee_transfer_property/employee_transfer_property.json
  erpnext/hr/doctype/employee_transfer_property/employee_transfer_property.py
  erpnext/hr/doctype/employee_transfer_property/test_employee_transfer_property.py
  erpnext/hr/employee_property_update.js
  erpnext/hr/utils.py
  erpnext/patches.txt
  erpnext/patches/v14_0/delete_employee_transfer_property_doctype.py
Labels: HR

#30796 test: tie breaking in SLEs
  erpnext/stock/doctype/stock_ledger_entry/test_stock_ledger_entry.py
Labels: squash

#30778 fix: Do not validate while creating accounting dimension
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
Labels: needs-tests

#30642 feat: separate discount accounting for buying and selling
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/buying/doctype/buying_settings/buying_settings.py
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/patches/v14_0/discount_accounting_separation.py
  erpnext/selling/doctype/selling_settings/selling_settings.json
  erpnext/selling/doctype/selling_settings/selling_settings.py
Labels: squash

#30799 fix(india): cess value not considered while validating e-invoice totals
  erpnext/regional/india/e_invoice/utils.py
Labels: backport version-13-hotfix

#30754 fix: First preference to parent cost center rather than round off cost center
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/general_ledger.py
Labels: accounts

#30774 fix(postgres): minimum required changes for postgres builds
  erpnext/accounts/doctype/tax_rule/tax_rule.py
  erpnext/accounts/party.py
  erpnext/crm/doctype/opportunity/opportunity.py
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/regional/india/setup.py
  erpnext/stock/doctype/item_price/item_price.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/stock_ledger.py
  erpnext/stock/utils.py
Labels: stock, postgres

#30808 fix(pos): search field doesn't reset on checkout
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_item_cart.js
  erpnext/selling/page/point_of_sale/pos_item_selector.js
  erpnext/selling/page/point_of_sale/pos_number_pad.js
Labels: backport version-13-hotfix

#30762 feat: support product bundles in picklist
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order_item/sales_order_item.json
  erpnext/stock/doctype/packed_item/packed_item.json
  erpnext/stock/doctype/packed_item/packed_item.py
  erpnext/stock/doctype/packed_item/test_packed_item.py
  erpnext/stock/doctype/pick_list/pick_list.json
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/pick_list/test_pick_list.py
  erpnext/stock/doctype/pick_list_item/pick_list_item.json
Labels: backport version-13-hotfix

#30827 test: create new item instead of using with _Test Item
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
Labels: backport version-13-hotfix

#30802 fix: Allow multi-currency opening invoices
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.py
Labels: needs-tests

#30843 fix: Multi currency opening invoices
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.py
Labels: needs-tests

#30815 fix: Ignore custom field validation while setup
  erpnext/regional/united_arab_emirates/setup.py
Labels: needs-tests
