Repository frappe/erpnext, pull requests merged in 2022-06, with the labels that each got.

#31215 fix: unusable SO after clearing taxes
  erpnext/controllers/accounts_controller.py
Labels: needs-tests

#31218 fix(India): GSTIN filter in GSTR-1 report
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: needs-tests

#31219 fix: Parent dimension filters in orders
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/public/js/controllers/buying.js
  erpnext/selling/sales_common.js
  erpnext/stock/doctype/delivery_note/delivery_note.js
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.js
Labels: selling

#31231 fix(India): Supplies from composite dealer not showing up
  erpnext/regional/doctype/gstr_3b_report/gstr_3b_report.py
Labels: needs-tests

#31223 fix: display currencies in validation message.
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#31230 fix: Remove redundant query
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Labels: needs-tests

#31243 fix(job card): only hold during draft state
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/patches.txt
  erpnext/patches/v13_0/job_card_status_on_hold.py
Labels: backport version-13-hotfix

#31242 fix(Sales Register): incorrect query with dimensions
  erpnext/accounts/report/sales_register/sales_register.py
Labels: backport version-13-hotfix

#31253 fix: leave balance for earned leaves in backdated Leave Application dashboard
  erpnext/hr/doctype/leave_application/leave_application.js
  erpnext/hr/doctype/leave_application/leave_application.py
  erpnext/hr/doctype/leave_application/test_leave_application.py
Labels: backport version-13-hotfix

#31233 fix: Reverse provisional entries on Purchase Invoice cancel
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
Labels: needs-tests

#31258 fix: Close unsecured terms loans
  erpnext/loan_management/doctype/loan/loan.js
  erpnext/loan_management/doctype/loan/loan.py
Labels: needs-tests

#31247 fix(india): e-invoice eligibility if company gstin is not configured
  erpnext/regional/india/e_invoice/utils.py
Labels: needs-tests, backport version-12-hotfix, backport version-13-hotfix

#31282 chore: Use `frappe.as_unicode` to decode output of redis module list
  erpnext/e_commerce/redisearch_utils.py
Labels: backport version-13-hotfix, ecommerce

#31297 fix(ux): hide new version btn on unsaved BOM
  erpnext/manufacturing/doctype/bom/bom.js
Labels: backport version-13-hotfix

#31302 fix: Reset represents company on disabling internal customer and supplier
  erpnext/buying/doctype/supplier/supplier.py
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests

#31216 fix: Trial Balance failing to ignore Finance Book
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests

#31294 fix(India): Incorrect taxable in GSTR-3B report
  erpnext/regional/doctype/gstr_3b_report/gstr_3b_report.py
Labels: accounts, needs-tests

#31225 fix: Print/PDF for financial statement reports displays either wrong date range or wrong fiscal year
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.js
Labels: accounts

#31273 fix: ignore payment ledger on cancellation of loan
  erpnext/loan_management/doctype/loan/loan.py
  erpnext/loan_management/doctype/loan_disbursement/loan_disbursement.py
  erpnext/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
  erpnext/loan_management/doctype/loan_write_off/loan_write_off.py
Labels: accounts, needs-tests

#31198 feat: two new groupby mode on gross profit: Monthly, Payment Term
  erpnext/accounts/report/gross_profit/gross_profit.js
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: accounts, needs-tests

#31315 refactor: remove add_fetch
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/sales_common.js
  erpnext/stock/doctype/delivery_note/delivery_note.json
Labels: selling

#31240 fix: unnecessary GLE reposts
  erpnext/accounts/utils.py
Labels: backport version-13-hotfix

#31295 fix: update Period Closing Voucher per Company
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
Labels: accounts, needs-tests

#31182 refactor: migrating data from GL to payment ledger using raw SQL
  erpnext/accounts/doctype/payment_ledger_entry/payment_ledger_entry.json
  erpnext/patches/v14_0/migrate_gl_to_payment_ledger.py
Labels: accounts, needs-tests

#31320 fix(UX): use doc.status for Job Card status
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/job_card/job_card_list.js
  erpnext/manufacturing/doctype/job_card/test_job_card.py
Labels: backport version-13-hotfix

#31107 refactor: Accounts Receivable/Payable Report will use Payment Ledger
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
Labels: accounts

#31337 refactor: get_fiscal_years API
  .github/workflows/patch.yml
  erpnext/accounts/utils.py
  erpnext/regional/report/irs_1099/irs_1099.py
  erpnext/tests/test_exotel.py
Labels: accounts

#31345 refactor: use db independent offset syntax
  erpnext/accounts/doctype/account/account.py
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/payment_order/payment_order.py
  erpnext/accounts/doctype/pos_profile/pos_profile.py
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
  erpnext/controllers/queries.py
  erpnext/manufacturing/report/bom_variance_report/bom_variance_report.py
  erpnext/payroll/doctype/payroll_entry/payroll_entry.py
  erpnext/projects/doctype/project/project.py
  erpnext/projects/doctype/task/task.py
  erpnext/projects/doctype/timesheet/timesheet.py
  erpnext/projects/utils.py
  erpnext/selling/doctype/product_bundle/product_bundle.py
  erpnext/selling/page/point_of_sale/point_of_sale.py
  erpnext/setup/doctype/party_type/party_type.py
  erpnext/stock/doctype/item_alternative/item_alternative.py
  erpnext/stock/doctype/packing_slip/packing_slip.py
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
  erpnext/templates/pages/product_search.py
Labels: squash

#31343 perf: GLE reposting with progress and chunking
  erpnext/accounts/test/test_utils.py
  erpnext/accounts/utils.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.json
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/doctype/repost_item_valuation/test_repost_item_valuation.py
Labels: accounts

#31362 fix: Spelling mistake in quotation depend on
  erpnext/selling/doctype/quotation/quotation.json
Labels: squash

#31353 fix: Pick Template BOM if variant BOM absent in WO popup from SO
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/stock/get_item_details.py
Labels: stock

#31373 perf: GLE reposting with progress and chunking (backport #31343)
  erpnext/accounts/test/test_utils.py
  erpnext/accounts/utils.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.json
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/doctype/repost_item_valuation/test_repost_item_valuation.py
Labels: accounts

#31377 test: silent test failure in stock assertions
  erpnext/accounts/utils.py
  erpnext/stock/tests/test_utils.py
Labels: accounts

#31372 chore: Fix a potential variable misuse bug
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
Labels: squash

#31327 fix: transaction date gets unset in material request
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/get_item_details.py
Labels: stock

#31389 fix: UOM handling for transaction without item
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: accounts

#30837 fix: Respect system precision for user facing balance qty values
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_ledger_entry/test_stock_ledger_entry.py
  erpnext/stock/stock_ledger.py
Labels: stock

#31358 refactor: DB independent quoting and truthy/falsy values
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/subscription/subscription.py
  erpnext/accounts/report/sales_payment_summary/sales_payment_summary.py
  erpnext/accounts/utils.py
  erpnext/assets/doctype/asset_maintenance/asset_maintenance.py
  erpnext/buying/report/procurement_tracker/procurement_tracker.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/queries.py
  erpnext/controllers/status_updater.py
  erpnext/erpnext_integrations/doctype/mpesa_settings/test_mpesa_settings.py
  erpnext/hr/doctype/exit_interview/exit_interview.py
  erpnext/hr/doctype/job_offer/test_job_offer.py
  erpnext/hr/doctype/leave_application/leave_application.py
  erpnext/hr/doctype/leave_application/test_leave_application.py
  erpnext/hr/report/employee_exits/employee_exits.py
  erpnext/hr/report/vehicle_expenses/test_vehicle_expenses.py
  erpnext/hr/utils.py
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/payroll/doctype/payroll_entry/payroll_entry.py
  erpnext/payroll/doctype/salary_slip/salary_slip.py
  erpnext/projects/report/project_profitability/project_profitability.py
  erpnext/regional/report/hsn_wise_summary_of_outward_supplies/hsn_wise_summary_of_outward_supplies.py
  erpnext/regional/report/irs_1099/irs_1099.py
  erpnext/regional/report/vat_audit_report/vat_audit_report.py
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/selling/report/pending_so_items_for_purchase_request/pending_so_items_for_purchase_request.py
  erpnext/setup/doctype/company/company.py
  erpnext/setup/doctype/email_digest/email_digest.py
  erpnext/setup/doctype/transaction_deletion_record/transaction_deletion_record.py
  erpnext/stock/doctype/delivery_trip/delivery_trip.py
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/warehouse/warehouse.py
  erpnext/stock/get_item_details.py
  erpnext/stock/reorder_item.py
  erpnext/stock/report/incorrect_balance_qty_after_transaction/incorrect_balance_qty_after_transaction.py
  erpnext/stock/report/incorrect_serial_no_valuation/incorrect_serial_no_valuation.py
  erpnext/stock/report/stock_ledger/stock_ledger.py
  erpnext/stock/stock_balance.py
Labels: accounts, stock, squash, HR

#31396 fix: Quotation lost update
  erpnext/selling/doctype/quotation/quotation.py
Labels: needs-tests

#31360 refactor: if() to CASE WHEN
  erpnext/controllers/queries.py
  erpnext/controllers/status_updater.py
  erpnext/payroll/doctype/payroll_entry/payroll_entry.py
  erpnext/projects/doctype/project/project.py
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/utils.py
Labels: stock, squash

#31136 refactor: Payment Reconciliation tool will use Payment Ledger
  erpnext/accounts/README.md
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_ledger_entry/payment_ledger_entry.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/utils.py
Labels: accounts

#31350 fix: Conversion rate validation for multi-currency invoices
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#31418 fix: handle empty values("") in against_voucher columns on gl migration
  erpnext/patches/v14_0/migrate_gl_to_payment_ledger.py
Labels: needs-tests

#31423 chore: Clear Progress section for completed logs & `on_submit` UX
  erpnext/manufacturing/doctype/bom_update_log/bom_update_log.json
  erpnext/manufacturing/doctype/bom_update_log/bom_update_log.py
Labels: Unrelated Test(s) Failing

#31395 fix: filter set in Bank Clearance Summary
  erpnext/accounts/report/bank_clearance_summary/bank_clearance_summary.py
Labels: needs-tests

#31439 fix: General Ledger and TB opening entries mismatch issues
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/journal_entry/journal_entry.json
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests

#31448 fix: get_all replace by sql
  erpnext/patches/v14_0/crm_ux_cleanup.py
Labels: needs-tests

#31442 fix: incorrect outstanding for invoice
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/general_ledger.py
Labels: accounts, needs-tests

#31446 fix: Quotation and Sales Order item sync
  erpnext/selling/doctype/quotation/quotation.py
Labels: needs-tests

#31408 fix: dont update RM items table if not required
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/controllers/accounts_controller.py
Labels: buying, subcontracting

#31466 fix: offset some scheduled jobs to avoid locks
  erpnext/hooks.py
Labels: dont-merge

#31460 fix: 'attribute error' on AR/AP report with delivery note filter
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests
