Repository frappe/erpnext, pull requests merged in 2022-05, with the labels that each got.

#30854 fix(minor): discount accounting patch
  erpnext/patches/v14_0/discount_accounting_separation.py
Labels: needs-tests

#30806 fix: Consistent accounting dimensions across Sales and Purchase docs
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v13_0/create_accounting_dimensions_in_orders.py
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
Labels: needs-tests

#30858 fix(minor): accounting dimension patch
  erpnext/patches/v14_0/discount_accounting_separation.py
Labels: needs-tests

#30857 feat: Copy task color from project template
  erpnext/projects/doctype/project/project.py
Labels: squash

#30861 chore: Education domain deprecation warning
  erpnext/patches.txt
  erpnext/patches/v13_0/education_deprecation_warning.py
Labels: squash

#30835 fix: convert default_item_manufacturer to link field
  erpnext/patches.txt
  erpnext/patches/v13_0/change_default_item_manufacturer_fieldtype.py
  erpnext/stock/doctype/item/item.json
Labels: backport version-13-hotfix

#30864 fix(minor): update frappe.error_log to new API
  erpnext/accounts/deferred_revenue.py
  erpnext/accounts/doctype/bank_statement_import/bank_statement_import.py
  erpnext/accounts/doctype/bank_transaction/bank_transaction_upload.py
  erpnext/accounts/doctype/ledger_merge/ledger_merge.py
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.py
  erpnext/accounts/doctype/subscription/subscription.py
  erpnext/crm/doctype/linkedin_settings/linkedin_settings.py
  erpnext/crm/doctype/social_media_post/social_media_post.py
  erpnext/e_commerce/api.py
  erpnext/e_commerce/redisearch_utils.py
  erpnext/erpnext_integrations/connectors/woocommerce_connection.py
  erpnext/erpnext_integrations/doctype/gocardless_settings/gocardless_settings.py
  erpnext/erpnext_integrations/doctype/mpesa_settings/mpesa_settings.py
  erpnext/erpnext_integrations/doctype/plaid_settings/plaid_connector.py
  erpnext/erpnext_integrations/doctype/plaid_settings/plaid_settings.py
  erpnext/erpnext_integrations/exotel_integration.py
  erpnext/erpnext_integrations/stripe_integration.py
  erpnext/manufacturing/doctype/bom_update_log/bom_update_log.py
  erpnext/patches/v12_0/move_bank_account_swift_number_to_bank.py
  erpnext/patches/v13_0/add_missing_fg_item_for_stock_entry.py
  erpnext/patches/v13_0/convert_to_website_item_in_item_card_group_template.py
  erpnext/patches/v13_0/modify_invalid_gain_loss_gl_entries.py
  erpnext/patches/v14_0/rename_ongoing_status_in_sla_documents.py
  erpnext/regional/doctype/import_supplier_invoice/import_supplier_invoice.py
  erpnext/setup/doctype/company/company.py
  erpnext/setup/setup_wizard/operations/taxes_setup.py
  erpnext/setup/utils.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/reorder_item.py
  erpnext/templates/pages/integrations/gocardless_checkout.py
  erpnext/templates/pages/integrations/gocardless_confirmation.py
  erpnext/utilities/doctype/video/video.py
  erpnext/utilities/doctype/video_settings/video_settings.py
Labels: accounts, stock, squash, ecommerce

#30870 fix(UX): misleading stock entry lables
  erpnext/stock/doctype/stock_entry/stock_entry.json
Labels: squash, backport version-13-hotfix

#30875 fix(India): Supply type for overseas invoices with payment of tax
  erpnext/regional/india/e_invoice/utils.py
Labels: backport version-13-hotfix

#30814 fix(india): e-invoice generation for registered composition gst category type
  erpnext/regional/india/e_invoice/utils.py
  erpnext/regional/india/setup.py
Labels: backport version-13-hotfix

#30899 fix: Show linked time sheets in sales invoice dashboard
  erpnext/accounts/doctype/sales_invoice/sales_invoice_dashboard.py
Labels: needs-tests

#30903 chore: Remove reference to Instructor doctype
  erpnext/utilities/activation.py
Labels: needs-tests

#30909 fix: disable form save on naming series tool
  erpnext/setup/doctype/naming_series/naming_series.js
Labels: backport version-13-hotfix

#30879 fix(india): keyerror while generating e-way bill from an e-invoice
  erpnext/regional/india/e_invoice/utils.py
Labels: needs-tests

#30897 fix: Consider party and party type as well in group by consolidated view
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests

#30908 feat(india): E Invoice Eway Bill Distance is calculated automatically.
  erpnext/regional/india/e_invoice/einvoice.js
  erpnext/regional/india/e_invoice/utils.py
Labels: needs-tests, squash, backport version-13-hotfix

#30888 feat(india): E Invoice Cancel Eway Bill is enabled.
  erpnext/regional/india/e_invoice/einvoice.js
  erpnext/regional/india/e_invoice/utils.py
Labels: needs-tests, squash

#30065 fix: HSN-wise-summary of outward supplies Updated Report
  erpnext/regional/report/hsn_wise_summary_of_outward_supplies/hsn_wise_summary_of_outward_supplies.py
Labels: accounts

#30931 fix: remove check for already allocated earned leaves
  erpnext/hr/doctype/leave_allocation/leave_allocation.js
  erpnext/hr/doctype/leave_application/test_leave_application.py
  erpnext/hr/doctype/leave_policy_assignment/test_leave_policy_assignment.py
  erpnext/hr/utils.py
Labels: HR

#30935 fix(pos): creating pos returns resets pricing rules & discounts
  erpnext/selling/page/point_of_sale/pos_controller.js
Labels: backport version-13-hotfix

#30922 fix: subtract change_amount from paid_amount field on POS Register
  erpnext/accounts/report/pos_register/pos_register.py
Labels: needs-tests

#30940 feat(HR): Leave Type configuration to allow over allocation
  erpnext/hr/doctype/leave_allocation/leave_allocation.py
  erpnext/hr/doctype/leave_allocation/test_leave_allocation.py
  erpnext/hr/doctype/leave_type/leave_type.json
Labels: HR

#30939 feat(india): generate qrcode button for e-invoice
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/regional/india/e_invoice/einvoice.js
  erpnext/regional/india/e_invoice/utils.py
Labels: backport version-13-hotfix

#30948 fix(india): invoice type for a debit note e-invoice
  erpnext/regional/india/e_invoice/utils.py
Labels: backport version-13-hotfix

#30913 fix: double future qty updates
  erpnext/stock/doctype/stock_ledger_entry/test_stock_ledger_entry.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.py
  erpnext/stock/stock_ledger.py
Labels: stock, backport version-13-hotfix

#30962 fix: Block 0 Qty via Update Items to be consistent with form validation
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-13-hotfix

#30969 chore: fifo queue vs qty after transaction comparison report
  erpnext/stock/report/fifo_queue_vs_qty_after_transaction_comparison/__init__.py
  erpnext/stock/report/fifo_queue_vs_qty_after_transaction_comparison/fifo_queue_vs_qty_after_transaction_comparison.js
  erpnext/stock/report/fifo_queue_vs_qty_after_transaction_comparison/fifo_queue_vs_qty_after_transaction_comparison.json
  erpnext/stock/report/fifo_queue_vs_qty_after_transaction_comparison/fifo_queue_vs_qty_after_transaction_comparison.py
  erpnext/stock/report/test_reports.py
Labels: backport version-13-hotfix

#30945 fix: stock analytics report shows incorrect data there's no stock movement in a period
  erpnext/stock/report/stock_analytics/stock_analytics.py
  erpnext/stock/report/stock_analytics/test_stock_analytics.py
Labels: backport version-13-hotfix

#30995 fix(patch): avoid checking for return field if it doesnt exits
  erpnext/stock/doctype/bin/bin.py
Labels: backport version-13-hotfix

#30614 feat: add Link to Opportunity
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.json
Labels: squash

#31006 test: check translation files
  erpnext/tests/test_init.py
Labels: backport version-13-hotfix

#31011 fix(Employee Advance): Return/Deduction from Salary button visibility
  erpnext/hr/doctype/employee_advance/employee_advance.js
Labels: backport version-13-hotfix

#31013 feat: add Employee Status filter in leave balance reports
  erpnext/hr/report/employee_leave_balance/employee_leave_balance.js
  erpnext/hr/report/employee_leave_balance/employee_leave_balance.py
  erpnext/hr/report/employee_leave_balance/test_employee_leave_balance.py
  erpnext/hr/report/employee_leave_balance_summary/employee_leave_balance_summary.js
  erpnext/hr/report/employee_leave_balance_summary/employee_leave_balance_summary.py
  erpnext/hr/report/employee_leave_balance_summary/test_employee_leave_balance_summary.py
Labels: backport version-13-hotfix

#31015 feat: select multiple values for accounting dimension
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/purchase_register/purchase_register.py
  erpnext/accounts/report/sales_register/sales_register.py
  erpnext/accounts/report/trial_balance/trial_balance.py
  erpnext/public/js/utils.js
Labels: needs-tests

#30987 fix: prevent bypassing forced valuation rate
  erpnext/controllers/buying_controller.py
  erpnext/controllers/selling_controller.py
  erpnext/selling/doctype/customer/test_customer.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: selling, buying, backport version-13-hotfix

#31010 fix: GL entry validation for minuscule loan penalty
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#30979 fix: dont fail repost for recoverable errors
  erpnext/patches.txt
  erpnext/patches/v13_0/requeue_recoverable_reposts.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests

#31025 fix: hide template items from sales/purchase order
  erpnext/public/js/controllers/buying.js
  erpnext/selling/sales_common.js
Labels: backport version-13-hotfix

#31026 fix: remove item attribute limit from variant selector
  erpnext/stock/doctype/item/item.js
Labels: backport version-13-hotfix

#30992 fix(translations): Update ru translations
  erpnext/translations/ru.csv
Labels: squash

#30834 fix: precision loss when transferring
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_ledger_entry/test_stock_ledger_entry.py
Labels: backport version-13-hotfix

#31034 fix: disable pricing rules for internal transfers
  erpnext/controllers/accounts_controller.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: accounts, squash, backport version-13-hotfix

#31024 fix: discount ledger entry in case of multicurrency invoice
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-13-hotfix

#31045 fix: unlink Attendance from Employee Checkins on cancellation
  erpnext/hr/doctype/attendance/attendance.py
  erpnext/hr/doctype/employee_checkin/test_employee_checkin.py
Labels: HR

#31055 fix(india): eway bill cancel api is disabled
  erpnext/regional/india/e_invoice/einvoice.js
  erpnext/regional/india/e_invoice/utils.py
Labels: backport version-13-hotfix

#31053 fix(india): error while parsing e-invoice
  erpnext/regional/india/e_invoice/utils.py
Labels: backport version-13-hotfix

#31068 fix: always update item_name for stock entry
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: backport version-13-hotfix

#31004 fix: duplicate entries in payment terms report output
  erpnext/selling/report/payment_terms_status_for_sales_order/payment_terms_status_for_sales_order.py
Labels: needs-tests

#31062 fix: Leave Encashment calculations
  erpnext/hr/doctype/leave_encashment/leave_encashment.py
  erpnext/hr/doctype/leave_encashment/test_leave_encashment.py
Labels: backport version-13-hotfix

#31082 fix translation German "Designation"
  erpnext/translations/de.csv
Labels: backport version-13-hotfix

#31092 fix(rfq): Use `<a>` directly and style it as button instead of using `<button>`
  erpnext/templates/emails/request_for_quotation.html
Labels: frappe-support, backport version-13-hotfix

#31103 chore: error logging for auto material requests
  erpnext/stock/reorder_item.py
Labels: stock, needs-tests, backport version-13-hotfix

#31113 fix: don't fetch item_code if already exists.
  erpnext/stock/get_item_details.py
Labels: stock, backport version-13-hotfix

#31077 fix: Loan repayment entries for payroll payable account
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
  erpnext/payroll/doctype/payroll_entry/payroll_entry.py
Labels: needs-tests

#31112 fix(pos): paid amount calculation for multicurrency invoice
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: backport version-13-hotfix

#26916 fix: Account currency validation for first transaction
  erpnext/accounts/doctype/period_closing_voucher/test_period_closing_voucher.py
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/accounts/party.py
  erpnext/controllers/accounts_controller.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: accounts

#31129 fix: Loan Doc query in Bank Reconciliation Statement
  erpnext/accounts/report/bank_reconciliation_statement/bank_reconciliation_statement.py
Labels: needs-tests

#31039 fix: Chart data for monthly periodicity in Cash Flow report
  erpnext/accounts/report/cash_flow/cash_flow.py
Labels: needs-tests

#31124 fix: timesheet fetching in sales invoice
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
Labels: backport develop

#31102 feat: Add german translations
  erpnext/translations/de.csv
Labels: backport version-13-hotfix

#31140 fix: skip existing batch number during autogen
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/batch/test_batch.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#31141 feat: live preview of naming series on naming series tool
  erpnext/setup/doctype/naming_series/naming_series.js
  erpnext/setup/doctype/naming_series/naming_series.json
  erpnext/setup/doctype/naming_series/naming_series.py
  erpnext/setup/doctype/naming_series/test_naming_series.py
Labels: backport version-13-hotfix

#31101 fix: Improve button labels in Warehouse
  erpnext/stock/doctype/warehouse/warehouse.js
  erpnext/translations/de.csv
Labels: backport version-13-hotfix

#31100 fix(india): duplicate qrcode and hide button
  erpnext/regional/india/e_invoice/einvoice.js
  erpnext/regional/india/e_invoice/utils.py
Labels: needs-tests

#30850 fix(pos): freeze screen while processing pos invoices
  erpnext/accounts/doctype/pos_closing_entry/pos_closing_entry.js
Labels: backport version-13-hotfix

#31148 fix: date filter on quality inspection report
  erpnext/manufacturing/report/quality_inspection_summary/quality_inspection_summary.py
Labels: backport version-13-hotfix

#31127 feat: Auto accrue loan interest for backdated term loans
  erpnext/loan_management/doctype/loan/loan.py
  erpnext/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests

#31168 fix: Auto Insert Item Price If Missing when discount & blank UOM
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/stock/get_item_details.py
Labels: stock, squash
