Repository frappe/erpnext, pull requests merged in 2022-01, with the labels that each got.

#29037 feat: update de.csv
  erpnext/translations/de.csv
Labels: squash

#28812 feat: ledger merger
  erpnext/accounts/doctype/ledger_merge/__init__.py
  erpnext/accounts/doctype/ledger_merge/ledger_merge.js
  erpnext/accounts/doctype/ledger_merge/ledger_merge.json
  erpnext/accounts/doctype/ledger_merge/ledger_merge.py
  erpnext/accounts/doctype/ledger_merge/test_ledger_merge.py
  erpnext/accounts/doctype/ledger_merge_accounts/__init__.py
  erpnext/accounts/doctype/ledger_merge_accounts/ledger_merge_accounts.json
  erpnext/accounts/doctype/ledger_merge_accounts/ledger_merge_accounts.py
Labels: accounts

#29050 feat: Add currency in import download statement
  erpnext/accounts/doctype/bank_statement_import/bank_statement_import.js
Labels: accounts

#29098 fix: filter query in bank reconciliation tool
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.js
Labels: Skip Manual Testing, backport version-13-pre-release, backport version-13-hotfix

#28907 fix: Validation in POS for item batch no stock quantity
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/stock/doctype/batch/batch.py
Labels: accounts

#28160 refactor: `update_invoice_status` with query builder
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: accounts

#29134 fix: update idx after updating items in so/po
  erpnext/controllers/accounts_controller.py
Labels: frappe-support

#29130 fix: minor issues
  erpnext/accounts/doctype/account/account.js
  erpnext/regional/doctype/uae_vat_settings/uae_vat_settings.js
  erpnext/selling/page/point_of_sale/pos_item_selector.js
Labels: backport version-13-hotfix

#29127 fix: Modifying Opening invoice creation tool timestamp
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.json
Labels: backport version-13-hotfix

#29163 fix: Earned Leave allocation from Leave Policy Assignment
  erpnext/hr/doctype/leave_policy_assignment/leave_policy_assignment.py
  erpnext/hr/doctype/leave_policy_assignment/test_leave_policy_assignment.py
Labels: HR

#29125 fix: cannot create reverse journal entry
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/journal_entry/journal_entry.json
  erpnext/accounts/doctype/journal_entry/journal_entry.py
Labels: backport version-13-hotfix

#29172 fix: incorrect serial no valuation report showing cancelled entries
  erpnext/stock/report/incorrect_serial_no_valuation/incorrect_serial_no_valuation.py
Labels: Skip Manual Testing, backport version-13-pre-release, backport version-13-hotfix

#29180 chore: Remove the extra 's' in patient age string
  erpnext/healthcare/doctype/patient/patient.py
Labels: healthcare, manual-porting-required

#28994 fix: cannot create debit note with zero qty
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: accounts, backport version-13-hotfix

#28309 fix: Task Depends on not removed from Gantt chart
  erpnext/projects/doctype/task/task.py
Labels: project

#29011 fix: pos invoices consolidation case with permlevel
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
Labels: backport version-13-hotfix

#29211 fix: Exclude unpublished items while fetching items from other item groups
  erpnext/e_commerce/product_data_engine/query.py
Labels: e-commerce-fix

#29131 fix(patch): serial no whitespace trimming
  erpnext/patches.txt
  erpnext/patches/v13_0/trim_whitespace_from_serial_nos.py
Labels: Skip Manual Testing, backport version-13-hotfix

#27318 feat: currency exchange settings
  erpnext/accounts/doctype/currency_exchange_settings/__init__.py
  erpnext/accounts/doctype/currency_exchange_settings/currency_exchange_settings.js
  erpnext/accounts/doctype/currency_exchange_settings/currency_exchange_settings.json
  erpnext/accounts/doctype/currency_exchange_settings/currency_exchange_settings.py
  erpnext/accounts/doctype/currency_exchange_settings/test_currency_exchange_settings.py
  erpnext/accounts/doctype/currency_exchange_settings_details/__init__.py
  erpnext/accounts/doctype/currency_exchange_settings_details/currency_exchange_settings_details.json
  erpnext/accounts/doctype/currency_exchange_settings_details/currency_exchange_settings_details.py
  erpnext/accounts/doctype/currency_exchange_settings_result/__init__.py
  erpnext/accounts/doctype/currency_exchange_settings_result/currency_exchange_settings_result.json
  erpnext/accounts/doctype/currency_exchange_settings_result/currency_exchange_settings_result.py
  erpnext/patches.txt
  erpnext/patches/v13_0/update_exchange_rate_settings.py
  erpnext/setup/doctype/currency_exchange/test_currency_exchange.py
  erpnext/setup/install.py
  erpnext/setup/utils.py
Labels: accounts

#28883 fix(gl-report): group by cost center only if include_dimensions is checked
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: backport version-13-hotfix

#29154 fix: "update cost" should ignore overridden routing times
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/routing/test_routing.py
Labels: backport version-13-hotfix

#29219 fix: Behaviour of Item Variants Cache generation
  erpnext/e_commerce/doctype/website_item/website_item.py
  erpnext/e_commerce/variant_selector/item_variants_cache.py
  erpnext/e_commerce/variant_selector/test_variant_selector.py
Labels: e-commerce-fix

#29230 fix: description not fetch in sales order analytics report
  erpnext/selling/report/sales_order_analysis/sales_order_analysis.py
Labels: backport version-13-hotfix

#29189 fix(asset): check if fixed asset account is set against company
  erpnext/assets/doctype/asset/asset.py
Labels: backport version-13-hotfix

#29257 fix: Avoid resetting Default wh fields for Manufacture Entry
  erpnext/controllers/tests/test_transaction_base.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/utilities/transaction_base.py
Labels: backport version-13-hotfix

#29062 fix: erase UOMs when changing stock UOM
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/item/test_item.py
Labels: squash

#29271 fix: Don't validate FG in repack entry
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: backport version-13-hotfix

#29270 fix: threshold fields shows incorrect currency
  erpnext/accounts/doctype/tax_withholding_rate/tax_withholding_rate.json
Labels: backport version-13-hotfix

#29208 fix(India): NIL Rated, Exempted and non gst invoices in GSTR-1 report
  erpnext/regional/report/gstr_1/gstr_1.js
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: needs-tests

#29115 fix: Deferred revenue booking for multi currency invoices via JV
  erpnext/accounts/deferred_revenue.py
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: Skip Manual Testing

#29175 fix: seperate custom field creation for KSA
  erpnext/patches.txt
  erpnext/regional/saudi_arabia/setup.py
Labels: accounts

#29302 fix: only add stock queue if FIFO
  erpnext/stock/stock_ledger.py
Labels: backport version-13-hotfix

#29303 fix: ignore cancelled SLEs
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/report/batch_item_expiry_status/batch_item_expiry_status.py
  erpnext/stock/report/cogs_by_item_group/cogs_by_item_group.py
  erpnext/stock/report/itemwise_recommended_reorder_level/itemwise_recommended_reorder_level.py
  erpnext/stock/stock_ledger.py
Labels: Skip Manual Testing

#29306 fix(patch): sle.serial_no = "\n" causes incorrect queue
  erpnext/patches.txt
  erpnext/patches/v13_0/trim_whitespace_from_serial_nos.py
  erpnext/stock/stock_ledger.py
Labels: Skip Manual Testing, backport version-13-hotfix

#29312 fix: show work order progress bar even it is closed
  erpnext/manufacturing/doctype/work_order/work_order.js
Labels: backport version-13-hotfix

#29182 fix: get project from PO into payment entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: accounts

#28987 fix: incorrect serial no valuation
  erpnext/controllers/selling_controller.py
  erpnext/stock/doctype/serial_no/test_serial_no.py
  erpnext/stock/stock_ledger.py
Labels: hotfix, stock, selling, backport version-13-hotfix

#28570 fix: purchase to Stock UOM conversion on Production Plan
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: hotfix, squash

#29326 fix: cover case when all material needs to be bought
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: Skip Manual Testing, backport version-13-hotfix

#29331 fix: enable allow negative stock by default in reposts
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.json
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: Skip Manual Testing, backport version-13-hotfix

#28843 refactor: update_serial_no function for old Maintenance Visits
  erpnext/maintenance/doctype/maintenance_schedule/maintenance_schedule.py
  erpnext/maintenance/doctype/maintenance_schedule/test_maintenance_schedule.py
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.js
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.json
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.py
  erpnext/patches.txt
  erpnext/patches/v13_0/update_maintenance_schedule_field_in_visit.py
Labels: backport version-13-hotfix

#29376 fix: show stock UOM for material transfers
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: backport version-13-hotfix

#29375 fix: (enhance) BOM Operations Report
  erpnext/manufacturing/report/bom_operations_time/bom_operations_time.js
  erpnext/manufacturing/report/bom_operations_time/bom_operations_time.json
  erpnext/manufacturing/report/bom_operations_time/bom_operations_time.py
Labels: backport version-13-hotfix

#29384 refactor: Added deprecation warning for hospitality domain
  erpnext/patches.txt
  erpnext/patches/v13_0/hospitality_deprecation_warning.py
Labels: Hospitality, Skip Manual Testing

#28607 fix: updated packed_items getting fetched on Sales Return / Credit Note
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/stock_ledger_entry/test_stock_ledger_entry.py
  erpnext/stock/utils.py
Labels: backport version-13-hotfix

#29373 fix: cost center validation of asset
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
Labels: accounts, backport version-13-hotfix

#29077 fix(e-commerce)(UX): shopping cart qty badge
  erpnext/public/scss/shopping_cart.scss
Labels: e-commerce-fix

#28589 fix(Timesheets): calculate to time
  erpnext/projects/doctype/timesheet/test_timesheet.py
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: squash

#29362 fix: cannot cancel jv after migrating from v12
  erpnext/patches.txt
  erpnext/patches/v13_0/delete_bank_reconciliation_detail.py
Labels: accounts, Skip Manual Testing, backport version-13-hotfix

#29385 fix: first depreciation amount in asset
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
Labels: backport version-13-hotfix

#29389 fix: update status on visit cancel
  erpnext/maintenance/doctype/maintenance_schedule/test_maintenance_schedule.py
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#29383 fix: Cart & Popup Logic of Item variant without Website Item
  erpnext/e_commerce/shopping_cart/cart.py
  erpnext/e_commerce/shopping_cart/test_shopping_cart.py
  erpnext/e_commerce/variant_selector/test_variant_selector.py
  erpnext/e_commerce/variant_selector/utils.py
  erpnext/templates/generators/item/item_configure.js
Labels: backport version-13-pre-release

#29334 feat: purchase grouped asset
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/controllers/buying_controller.py
  erpnext/patches.txt
  erpnext/patches/v13_0/update_asset_quantity_field.py
  erpnext/stock/doctype/item/item.json
Labels: accounts, buying

#29367 fix: bypass_credit_limit_check in credit balance report
  erpnext/selling/report/customer_credit_balance/customer_credit_balance.py
Labels: backport version-13-hotfix

#29398 fix: Wrong variable name breaks Cart Items rendering
  erpnext/e_commerce/shopping_cart/cart.py
  erpnext/e_commerce/shopping_cart/test_shopping_cart.py
  erpnext/e_commerce/variant_selector/test_variant_selector.py
Labels: e-commerce-fix

#29411 fix: barcode is always deleted and inserted each time an item is saved
  erpnext/stock/doctype/item/item.py
Labels: backport version-13-hotfix

#29407 fix: opening invoice creation tool can fetch multiple accounting dimension
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.py
  erpnext/accounts/doctype/opening_invoice_creation_tool/test_opening_invoice_creation_tool.py
Labels: accounts

#29360 test: unit test for deferred item with zero months
  erpnext/accounts/report/deferred_revenue_and_expense/test_deferred_revenue_and_expense.py
Labels: accounts

#29425 fix: honour 'include holidays' setting while marking attendance for leave application
  erpnext/hr/doctype/leave_application/leave_application.py
  erpnext/hr/doctype/leave_application/test_leave_application.py
  erpnext/payroll/doctype/salary_slip/test_salary_slip.py
Labels: HR

#29435 fix: fetch "transfer material against" from BOM
  erpnext/manufacturing/doctype/work_order/work_order.json
Labels: backport version-13-hotfix

#29067 fix: broken patches
  erpnext/patches/v12_0/update_is_cancelled_field.py
  erpnext/patches/v13_0/delete_old_sales_reports.py
  erpnext/patches/v13_0/make_homepage_products_website_items.py
  erpnext/patches/v13_0/setup_fields_for_80g_certificate_and_donation.py
  erpnext/patches/v13_0/update_actual_start_and_end_date_in_wo.py
Labels: Skip Manual Testing

#29426 fix: Use get for conditionally available fields while setting missing values
  erpnext/controllers/buying_controller.py
Labels: buying, WIP, Skip Manual Testing

#28940 refactor: move patches to post migration
  erpnext/patches.txt
  erpnext/patches/v14_0/add_default_exit_questionnaire_notification_template.py
  erpnext/patches/v14_0/rearrange_company_fields.py
Labels: Skip Manual Testing

#29405 fix(healthcare): populate practitioner selected in form to check availability popup
  erpnext/healthcare/doctype/lab_test/lab_test.json
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.js
  erpnext/healthcare/doctype/patient_appointment/patient_appointment.py
  erpnext/healthcare/doctype/sample_collection/sample_collection.json
  erpnext/healthcare/doctype/vital_signs/vital_signs.json
Labels: healthcare

#29471 fix: Further sort sales_order_analysis to get consistent response
  erpnext/selling/report/sales_order_analysis/sales_order_analysis.py
Labels: frappe-support

#29479 fix: drop `six` code
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
  erpnext/accounts/report/accounts_receivable_summary/accounts_receivable_summary.py
  erpnext/crm/doctype/linkedin_settings/linkedin_settings.py
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/amazon_methods.py
  erpnext/erpnext_integrations/doctype/gocardless_settings/gocardless_settings.py
  erpnext/erpnext_integrations/doctype/woocommerce_settings/woocommerce_settings.py
  erpnext/erpnext_integrations/utils.py
  erpnext/regional/germany/utils/datev/datev_csv.py
  erpnext/regional/report/datev/test_datev.py
  erpnext/setup/doctype/item_group/item_group.py
Labels: Skip Manual Testing

#28877 fix: qty filter not working if apply_multiple_pricing_rules is enabled
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/utils.py
Labels: backport version-13-hotfix

#29428 fix: Add shipping charges to taxes only if applicable
  erpnext/accounts/doctype/shipping_rule/shipping_rule.py
Labels: Skip Manual Testing

#29494 fix: batch selector for alternate item
  erpnext/public/js/utils/serial_no_batch_selector.js
Labels: frappe-support, backport version-13-hotfix

#29499 fix(India): Tax calculation for overseas suppliers
  erpnext/regional/india/utils.py
Labels: Skip Manual Testing

#29491 fix: currency change issue
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
Labels: squash, Skip Manual Testing

#28958 fix: cost of poor quality report time filters not working
  erpnext/manufacturing/report/cost_of_poor_quality_report/cost_of_poor_quality_report.js
  erpnext/manufacturing/report/cost_of_poor_quality_report/cost_of_poor_quality_report.py
  erpnext/manufacturing/report/test_reports.py
Labels: manufacturing, squash, backport version-13-hotfix

#29480 revert: "refactor!: drop e-invoicing integration from erpnext"
  erpnext/accounts/doctype/sales_invoice/regional/india.js
  erpnext/accounts/doctype/sales_invoice/regional/india_list.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/print_format/gst_e_invoice/__init__.py
  erpnext/accounts/print_format/gst_e_invoice/gst_e_invoice.html
  erpnext/accounts/print_format/gst_e_invoice/gst_e_invoice.json
  erpnext/controllers/accounts_controller.py
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v12_0/add_company_link_to_einvoice_settings.py
  erpnext/patches/v12_0/add_einvoice_status_field.py
  erpnext/patches/v12_0/add_einvoice_summary_report_permissions.py
  erpnext/patches/v12_0/add_ewaybill_validity_field.py
  erpnext/patches/v12_0/setup_einvoice_fields.py
  erpnext/patches/v12_0/show_einvoice_irn_cancelled_field.py
  erpnext/patches/v13_0/einvoicing_deprecation_warning.py
  erpnext/patches/v14_0/delete_einvoicing_doctypes.py
  erpnext/patches/v14_0/restore_einvoice_fields.py
  erpnext/regional/doctype/e_invoice_request_log/__init__.py
  erpnext/regional/doctype/e_invoice_request_log/e_invoice_request_log.js
  erpnext/regional/doctype/e_invoice_request_log/e_invoice_request_log.json
  erpnext/regional/doctype/e_invoice_request_log/e_invoice_request_log.py
  erpnext/regional/doctype/e_invoice_request_log/test_e_invoice_request_log.py
  erpnext/regional/doctype/e_invoice_settings/__init__.py
  erpnext/regional/doctype/e_invoice_settings/e_invoice_settings.js
  erpnext/regional/doctype/e_invoice_settings/e_invoice_settings.json
  erpnext/regional/doctype/e_invoice_settings/e_invoice_settings.py
  erpnext/regional/doctype/e_invoice_settings/test_e_invoice_settings.py
  erpnext/regional/doctype/e_invoice_user/__init__.py
  erpnext/regional/doctype/e_invoice_user/e_invoice_user.json
  erpnext/regional/doctype/e_invoice_user/e_invoice_user.py
  erpnext/regional/india/e_invoice/__init__.py
  erpnext/regional/india/e_invoice/einv_item_template.json
  erpnext/regional/india/e_invoice/einv_template.json
  erpnext/regional/india/e_invoice/einv_validation.json
  erpnext/regional/india/e_invoice/einvoice.js
  erpnext/regional/india/e_invoice/utils.py
  erpnext/regional/india/setup.py
  erpnext/regional/report/e_invoice_summary/__init__.py
  erpnext/regional/report/e_invoice_summary/e_invoice_summary.js
  erpnext/regional/report/e_invoice_summary/e_invoice_summary.json
  erpnext/regional/report/e_invoice_summary/e_invoice_summary.py
Labels: accounts

#29454 fix(sales order): incorrect no. of items fetched while creating dn
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: backport version-13-hotfix

#29531 fix: not able to declare opportunity lost without competitors
  erpnext/selling/sales_common.js
Labels: selling

#29447 fix: Validation for invalid serial nos at POS invoice level
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
Labels: backport version-13-hotfix

#29519 fix: bin uniqueness
  erpnext/patches.txt
  erpnext/patches/v13_0/add_bin_unique_constraint.py
  erpnext/stock/doctype/bin/bin.json
  erpnext/stock/doctype/bin/bin.py
  erpnext/stock/doctype/bin/test_bin.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/utils.py
Labels: stock, Skip Manual Testing, backport version-13-hotfix

#29536 feat: Cost Center Allocation
  erpnext/accounts/doctype/cost_center/cost_center.js
  erpnext/accounts/doctype/cost_center/cost_center.json
  erpnext/accounts/doctype/cost_center/cost_center.py
  erpnext/accounts/doctype/cost_center/test_cost_center.py
  erpnext/accounts/doctype/cost_center_allocation/__init__.py
  erpnext/accounts/doctype/cost_center_allocation/cost_center_allocation.js
  erpnext/accounts/doctype/cost_center_allocation/cost_center_allocation.json
  erpnext/accounts/doctype/cost_center_allocation/cost_center_allocation.py
  erpnext/accounts/doctype/cost_center_allocation/test_cost_center_allocation.py
  erpnext/accounts/doctype/cost_center_allocation_percentage/__init__.py
  erpnext/accounts/doctype/cost_center_allocation_percentage/cost_center_allocation_percentage.json
  erpnext/accounts/doctype/cost_center_allocation_percentage/cost_center_allocation_percentage.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/report/budget_variance_report/budget_variance_report.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/profitability_analysis/profitability_analysis.py
  erpnext/accounts/workspace/accounting/accounting.json
  erpnext/patches.txt
  erpnext/patches/v13_0/remove_bad_selling_defaults.py
  erpnext/patches/v13_0/update_maintenance_schedule_field_in_visit.py
  erpnext/patches/v14_0/migrate_cost_center_allocations.py
  erpnext/patches/v14_0/migrate_crm_settings.py
Labels: accounts
