Repository frappe/erpnext, pull requests merged in 2022-02, with the labels that each got.

#29290 fix: billed amount in delivery note items
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/patches.txt
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: accounts

#29359 fix: bypass selling price validation for free item
  erpnext/controllers/selling_controller.py
Labels: selling, needs-tests

#29556 feat: Allowing non stock items in POS
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/selling/page/point_of_sale/point_of_sale.py
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_item_selector.js
  erpnext/tests/test_point_of_sale.py
Labels: backport version-13-hotfix

#29578 fix: Future recurring period calculation for additional salary
  erpnext/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests

#29592 fix: Program Enrollment tests
  erpnext/education/doctype/program_enrollment/program_enrollment.py
  erpnext/hr/doctype/employee/test_employee_reminders.py
Labels: Skip Manual Testing

#29597 fix(pos): pricing rule on transactions doesn't work
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_item_cart.js
Labels: backport version-13-hotfix

#29610 fix: ignore empty customer/supplier in item query
  erpnext/controllers/queries.py
  erpnext/controllers/tests/test_queries.py
Labels: backport version-13-hotfix

#29607 feat: show stock value difference on Stock Ledger report
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: backport version-13-hotfix

#29456 fix: Incorrect packing list for recurring items & code cleanup
  erpnext/public/js/controllers/buying.js
  erpnext/stock/doctype/packed_item/packed_item.json
  erpnext/stock/doctype/packed_item/packed_item.py
  erpnext/stock/doctype/packed_item/test_packed_item.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#29642 fix: Regenerate packed items on newly mapped doc
  erpnext/stock/doctype/packed_item/packed_item.py
  erpnext/stock/doctype/packed_item/test_packed_item.py
Labels: backport version-13-pre-release, backport version-13-hotfix

#29635 fix: Incorrect tax template in Sales Invoice via data import
  erpnext/controllers/selling_controller.py
Labels: Skip Manual Testing

#29663 fix: dont show cancelled PO items in plan report
  erpnext/manufacturing/report/production_planning_report/production_planning_report.py
Labels: needs-tests

#29601 fix: Incorrect provisional profit and loss in balance sheet
  erpnext/accounts/report/balance_sheet/balance_sheet.py
  erpnext/accounts/report/financial_statements.py
Labels: needs-tests

#29609 fix: Zero rated exports in GSTR-3B report
  erpnext/regional/doctype/gstr_3b_report/gstr_3b_report.py
Labels: needs-tests

#29638 feat: Tab views in Stocks and Accounts Settings
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/selling/doctype/selling_settings/selling_settings.json
  erpnext/stock/doctype/stock_settings/stock_settings.json
Labels: squash

#29349 feat: option to disable Item Tax Template and Tax Category
  erpnext/accounts/doctype/item_tax_template/item_tax_template.json
  erpnext/accounts/doctype/tax_category/tax_category.json
  erpnext/controllers/queries.py
Labels: accounts, needs-docs

#29674 fix(ux): make stock entry type the title field
  erpnext/stock/doctype/stock_entry/stock_entry.json
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-13-hotfix

#29460 feat: Refund entry against loans
  erpnext/loan_management/doctype/loan/loan.js
  erpnext/loan_management/doctype/loan/loan.json
  erpnext/loan_management/doctype/loan/loan.py
  erpnext/loan_management/doctype/loan/test_loan.py
  erpnext/loan_management/doctype/loan_application/test_loan_application.py
  erpnext/loan_management/doctype/loan_disbursement/loan_disbursement.py
  erpnext/loan_management/doctype/loan_disbursement/test_loan_disbursement.py
  erpnext/loan_management/doctype/loan_interest_accrual/test_loan_interest_accrual.py
  erpnext/loan_management/doctype/loan_type/loan_type.js
  erpnext/loan_management/doctype/loan_type/loan_type.json
  erpnext/patches.txt
  erpnext/patches/v13_0/update_disbursement_account.py
  erpnext/payroll/doctype/payroll_entry/test_payroll_entry.py
  erpnext/payroll/doctype/salary_slip/test_salary_slip.py
Labels: Skip Manual Testing

#29660 fix: Add missing key in Loan
  erpnext/loan_management/doctype/loan/test_loan.py
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: accounts, needs-tests

#29684 fix: use correct field in bom_stock_calculated report
  erpnext/manufacturing/report/bom_stock_calculated/bom_stock_calculated.py
Labels: needs-tests

#29656 fix: dont ignore items that dont have SVD
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: accounts, backport version-13-hotfix

#29679 fix: ignore cancelled SLEs
  erpnext/controllers/stock_controller.py
Labels: stock, Skip Manual Testing, backport version-13-hotfix

#29699 chore: show credit/debit-to account in error message
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: backport version-13-hotfix

#29599 fix: Coupon code item pricing dynamic updation issue in pos screen
  erpnext/public/js/controllers/transaction.js
Labels: backport version-13-hotfix

#29560 fix: typeerror on invoice creation from SO/PO
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-13-hotfix

#29650 fix: earned leaves not allocated if assignment is created on month-end based on Leave Policy
  erpnext/hr/doctype/leave_application/test_leave_application.py
  erpnext/hr/doctype/leave_policy_assignment/leave_policy_assignment.py
  erpnext/hr/doctype/leave_policy_assignment/test_leave_policy_assignment.py
  erpnext/hr/utils.py
Labels: HR

#29709 fix: currency in bank reconciliation chart
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.js
Labels: backport version-13-hotfix

#29374 fix: ignore pricing rule in transactions
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/controllers/transaction.js
Labels: accounts, backport version-13-hotfix

#29701 fix(pos): incorrect grand_total in case of inclusive taxes on item
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/pos_invoice_merge_log/test_pos_invoice_merge_log.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/tests/test_point_of_sale.py
Labels: accounts, backport version-13-hotfix

#29745 refactor!: drop deprecated and dead code related to Bin/sle processing
  erpnext/stock/doctype/bin/bin.py
  erpnext/stock/stock_balance.py
  erpnext/stock/utils.py
Labels: stock, Skip Manual Testing

#29746 fix: update bin modified timestamp when updating qty
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/stock/stock_balance.py
Labels: stock, backport version-13-hotfix

#29756 Revert "fix(India): Tax calculation for overseas suppliers"
  erpnext/regional/india/utils.py
Labels: needs-tests

#29711 fix: Earned Leave allocation based on joining date fixes
  erpnext/hr/doctype/leave_policy_assignment/leave_policy_assignment.py
  erpnext/hr/doctype/leave_policy_assignment/test_leave_policy_assignment.py
  erpnext/hr/utils.py
Labels: HR

#29754 chore: remove deprecated print format
  erpnext/accounts/print_format/gst_pos_invoice/__init__.py
  erpnext/accounts/print_format/gst_pos_invoice/gst_pos_invoice.json
Labels: backport version-13-hotfix

#29761 feat: item-wise negative stock setting
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/stock/doctype/item/item.json
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/stock_ledger.py
Labels: stock

#29700 fix(India): Report GSTR-1 minor fixes
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: accounts

#29778 fix: incorrect pricing rule filtering on selecting first item
  erpnext/stock/get_item_details.py
Labels: backport version-13-hotfix

#29438 refactor!: amazon mws integration
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/__init__.py
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/amazon_methods.py
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/amazon_mws_api.py
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/amazon_mws_settings.js
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/amazon_mws_settings.json
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/amazon_mws_settings.py
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/test_amazon_mws_settings.py
  erpnext/erpnext_integrations/doctype/amazon_mws_settings/xml_utils.py
  erpnext/erpnext_integrations/workspace/erpnext_integrations/erpnext_integrations.json
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v12_0/rename_mws_settings_fields.py
  erpnext/patches/v14_0/delete_amazon_mws_doctype.py
Labels: squash

#29789 fix: disable rounded total in opening invoice creation tool
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.py
Labels: backport version-13-hotfix

#29799 fix: get_item_details overrides parentype
  erpnext/stock/get_item_details.py
Labels: stock, Skip Manual Testing

#29593 fix: Deadlock on making reverse GL Entries
  erpnext/accounts/general_ledger.py
Labels: accounts, needs-tests

#29791 fix: Fixes in TDS payable monthly report
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.py
Labels: accounts, needs-tests

#29812 fix: dont attempt to set batch number if item doesn't have batch no
  erpnext/selling/sales_common.js
Labels: selling, Skip Manual Testing, backport version-13-pre-release, backport version-13-hotfix

#29639 perf: Weed out disabled variants via sql query instead of pythonic looping separately
  erpnext/e_commerce/variant_selector/item_variants_cache.py
  erpnext/e_commerce/variant_selector/test_variant_selector.py
  erpnext/stock/doctype/item/item.js
Labels: backport version-13-hotfix

#29803 fix: Update SO via Work Order made from MR (attached to SO)
  erpnext/patches.txt
  erpnext/patches/v14_0/set_work_order_qty_in_so_from_mr.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/stock/doctype/material_request/material_request.py
Labels: backport version-13-hotfix

#29137 feat: Payment Terms Status report
  erpnext/selling/report/payment_terms_status_for_sales_order/__init__.py
  erpnext/selling/report/payment_terms_status_for_sales_order/payment_terms_status_for_sales_order.js
  erpnext/selling/report/payment_terms_status_for_sales_order/payment_terms_status_for_sales_order.json
  erpnext/selling/report/payment_terms_status_for_sales_order/payment_terms_status_for_sales_order.py
  erpnext/selling/report/payment_terms_status_for_sales_order/test_payment_terms_status_for_sales_order.py
Labels: reports, accounts

#29835 chore: Move patch that updates SO from WO to v13
  erpnext/patches.txt
  erpnext/patches/v13_0/set_work_order_qty_in_so_from_mr.py
Labels: needs-tests, Skip Manual Testing

#29848 fix: currency in bank reconciliation tool
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.js
Labels: backport version-13-pre-release, backport version-13-hotfix

#29836 feat (minor): added item name in the excel sheet
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: needs-tests

#29859 fix: coupon code is applied even if ignore_pricing_rule is enabled
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: backport version-13-pre-release, backport version-13-hotfix

#29866 fix: avoid creating bins without item-wh
  erpnext/controllers/accounts_controller.py
  erpnext/patches/v12_0/recalculate_requested_qty_in_bin.py
  erpnext/patches/v4_2/repost_reserved_qty.py
  erpnext/patches/v4_2/update_requested_and_ordered_qty.py
Labels: Skip Manual Testing, backport version-13-pre-release, backport version-13-hotfix

#29774 fix: Patch fixes
  erpnext/patches.txt
  erpnext/patches/v14_0/update_opportunity_currency_fields.py
  erpnext/regional/saudi_arabia/setup.py
Labels: accounts, Skip Manual Testing

#29816 fix: Stock Ageing Transfer Bucket logic for Repack Entry with split batch rows
  erpnext/stock/report/stock_ageing/stock_ageing.py
  erpnext/stock/report/stock_ageing/stock_ageing_fifo_logic.md
  erpnext/stock/report/stock_ageing/test_stock_ageing.py
Labels: backport version-13-hotfix

#29869 fix: GSTIN filter for GSTR-1 report
  erpnext/regional/report/gstr_1/gstr_1.js
  erpnext/regional/report/gstr_1/gstr_1.py
Labels: needs-tests

#29771 fix: Error in consolidated financial statements
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
Labels: accounts, needs-tests

#29896 fix(pos): removal of coupon code
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: pre-release-testing, backport version-13-pre-release, backport version-13-hotfix

#29887 fix: Ledger entries on LIA for term loans
  erpnext/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
Labels: needs-tests, Skip Manual Testing

#29907 fix: Total Credit amount in TDS Payable monthly report
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.py
Labels: needs-tests

#29914 fix: round off increments in numeric item variant
  erpnext/stock/doctype/item/item.js
Labels: Skip Manual Testing, backport version-13-hotfix

#29916 fix: only set batchwise valuation flag if new batch
  erpnext/stock/doctype/batch/batch.json
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/batch/test_batch.py
Labels: Skip Manual Testing

#29740 fix: Multiple fixes in Gross Profit report
  erpnext/accounts/report/gross_profit/gross_profit.js
  erpnext/accounts/report/gross_profit/gross_profit.json
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: accounts, needs-tests

#29917 fix: Fetch conversion factor even if it already existed in row, on item change
  erpnext/public/js/controllers/transaction.js
Labels: stock

#29900 fix(asset): no. of depr booked cannot be equal to total no. of depr
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
Labels: backport version-13-hotfix

#29938 fix: remove customer field value when MR is not customer provided
  erpnext/stock/doctype/material_request/material_request.py
Labels: Skip Manual Testing

#29308 docs: add human readable specifications for stock ledger
  erpnext/stock/spec/README.md
  erpnext/stock/spec/reposting.md
Labels: hotfix

#29942 fix: Taxjar minor fixes
  erpnext/erpnext_integrations/taxjar_integration.py
Labels: needs-tests

#29865 feat: Bank Reconciliation for loan documents
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
  erpnext/accounts/report/bank_reconciliation_statement/bank_reconciliation_statement.py
  erpnext/loan_management/doctype/loan_disbursement/loan_disbursement.json
  erpnext/loan_management/doctype/loan_disbursement/loan_disbursement.py
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.json
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
  erpnext/patches.txt
  erpnext/patches/v13_0/update_accounts_in_loan_docs.py
  erpnext/public/js/bank_reconciliation_tool/dialog_manager.js
Labels: needs-tests

#29714 fix: Fetch valuation rate for stock items consumed during asset repair
  erpnext/assets/doctype/asset_repair/asset_repair.js
  erpnext/assets/doctype/asset_repair_consumed_item/asset_repair_consumed_item.json
Labels: backport develop

#29879 fix: Validate party account with company
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/sales_taxes_and_charges_template/sales_taxes_and_charges_template.py
  erpnext/accounts/party.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#29953 chore: Adjust heart icon to v14 icons in frappe (make consistent with v13) & misc fix
  erpnext/public/scss/shopping_cart.scss
  erpnext/templates/includes/navbar/navbar_items.html
  erpnext/www/shop-by-category/index.py
Labels: needs-tests

#29950 fix: ignore duplicates explicitly
  erpnext/accounts/doctype/bank_transaction/test_bank_transaction.py
  erpnext/accounts/report/tax_detail/test_tax_detail.py
  erpnext/accounts/utils.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_category/test_asset_category.py
  erpnext/buying/doctype/supplier/test_supplier.py
  erpnext/e_commerce/shopping_cart/test_shopping_cart.py
  erpnext/erpnext_integrations/doctype/tally_migration/tally_migration.py
  erpnext/hr/doctype/employee/employee.py
  erpnext/hr/doctype/exit_interview/exit_interview.py
  erpnext/hr/doctype/vehicle_log/test_vehicle_log.py
  erpnext/portal/doctype/homepage_section/test_homepage_section.py
  erpnext/regional/india/setup.py
  erpnext/setup/utils.py
  erpnext/stock/doctype/batch/test_batch.py
Labels: postgres

#29913 fix: Block merging items if both have product bundles
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/item/test_item.py
Labels: backport version-13-hotfix

#29991 fix(pos): minor fixes
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: needs-tests, backport version-13-hotfix

#29733 fix(e-commerce): Unique Shopping Cart Per Logged In User
  erpnext/e_commerce/product_data_engine/query.py
  erpnext/e_commerce/shopping_cart/cart.py
  erpnext/e_commerce/shopping_cart/test_shopping_cart.py
  erpnext/tests/utils.py
Labels: backport version-13-hotfix

#30004 fix(minor): student attendance tool query fix
  erpnext/education/doctype/student_attendance_tool/student_attendance_tool.js
  erpnext/education/doctype/student_attendance_tool/student_attendance_tool.py
  erpnext/public/js/education/student_button.html
  erpnext/public/js/erpnext.bundle.js
Labels: needs-tests

#29995 fix: Regional print format addition
  erpnext/hr/doctype/department/department.py
  erpnext/hr/doctype/department/test_records.json
  erpnext/regional/india/setup.py
Labels: needs-tests

#29928 fix: Account filter in PSOA
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
Labels: accounts, needs-tests

#30013 fix: dont fetch draft/cancelled BOMs
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: Skip Manual Testing

#29977 fix: Total taxes and charges in payment entry for multi-currency payments
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
Labels: needs-tests
