Repository frappe/erpnext, pull requests merged in 2022-07, with the labels that each got.

#31503 fix(UX): dont apply price list when changing batch on mapped docs
  erpnext/public/js/controllers/transaction.js
Labels: backport version-13-hotfix

#31493 fix: Internal PI link in Sales Invoice
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice_dashboard.py
Labels: needs-tests

#31405 feat: Cash and Non trade discounts in Sales Invoice
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/regional/india/e_invoice/utils.py
  erpnext/regional/india/utils.py
Labels: accounts, needs-tests

#31499 fix: Use account currency on Payment Reconciliation tool
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/accounts/utils.py
Labels: accounts

#31550 fix: Use Contact Name instead of Supplier in RFQ Email
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
Labels: backport version-13-hotfix

#31603 fix: dont override default report options in charts
  erpnext/buying/report/purchase_analytics/purchase_analytics.js
  erpnext/selling/report/sales_analytics/sales_analytics.js
Labels: backport version-13-hotfix

#31424 feat: Inventory Dimension
  erpnext/controllers/stock_controller.py
  erpnext/public/js/utils.js
  erpnext/stock/doctype/inventory_dimension/__init__.py
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.js
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.json
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.py
  erpnext/stock/doctype/inventory_dimension/test_inventory_dimension.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/report/stock_balance/stock_balance.js
  erpnext/stock/report/stock_balance/stock_balance.py
  erpnext/stock/report/stock_ledger/stock_ledger.js
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: stock

#31639 fix: assign duplicate_items_msg outside conditional
  erpnext/controllers/selling_controller.py
Labels: backport develop

#31615 fix(pos): validate product bundles while submitting pos invoice
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: backport version-13-hotfix

#31654 fix: rounding errors while closing pos
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/pos_profile/pos_profile.json
Labels: backport version-13-hotfix

#31659 fix: ensure defaults removed in bad frappe patch get set again
  erpnext/patches.txt
  erpnext/patches/v13_0/reset_corrupt_defaults.py
Labels: backport version-13-hotfix

#31596 Update de.csv
  erpnext/translations/de.csv
Labels: backport version-13-hotfix

#31699 fix: hero image not loading in portal homepage
  erpnext/templates/pages/home.css
  erpnext/templates/pages/home.html
Labels: backport develop

#31286 fix: Added total of future amount, Remaining Balance in Payable and Receivable reports
  erpnext/accounts/report/accounts_payable/accounts_payable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: accounts, needs-tests
