Repository frappe/erpnext, pull requests merged in 2022-08, with the labels that each got.

#31761 fix: specify allowed doctype in queries
  erpnext/controllers/queries.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#31763 fix: linter
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests

#31771 fix(ecommerce): remove query to non-existing field
  erpnext/setup/doctype/item_group/item_group.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#31780 Fix: Loan pending principal amount
  erpnext/loan_management/doctype/loan_balance_adjustment/loan_balance_adjustment.py
  erpnext/loan_management/doctype/loan_disbursement/loan_disbursement.json
  erpnext/loan_management/doctype/loan_disbursement/loan_disbursement.py
  erpnext/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.json
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
  erpnext/loan_management/doctype/loan_security_unpledge/loan_security_unpledge.py
  erpnext/loan_management/doctype/loan_write_off/loan_write_off.py
Labels: needs-tests

#31733 fix: set `billing_address` for purchases in `get_party_details`
  erpnext/accounts/party.py
  erpnext/controllers/buying_controller.py
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/utils/party.js
Labels: backport version-13-hotfix

#31777 fix: intercompany SO created from Purchase Order throws exception
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests

#31779 Bug add accouting dimension in asset repair
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v13_0/create_accounting_dimensions_for_asset_repair.py
Labels: needs-tests

#31804 fix: incorrect incoming rate set for inter transfer purchase receipt
  erpnext/controllers/buying_controller.py
  erpnext/stock/stock_ledger.py
Labels: stock, buying, needs-tests

#31801 Tds report
  erpnext/accounts/report/tds_computation_summary/tds_computation_summary.py
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.py
Labels: needs-tests

#31814 refactor: use browser native lazy loading
  erpnext/portal/doctype/homepage_section/test_homepage_section.py
  erpnext/templates/includes/macros.html
  erpnext/templates/pages/home.html
Labels: backport version-14-hotfix

#31817 fix: limit pos recent order page result
  erpnext/selling/page/point_of_sale/point_of_sale.py
Labels: needs-tests

#31799 fix: process loan interest accrual
  erpnext/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
Labels: needs-tests

#31830 fix: Unable to make payment entry against Fees using education app
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#31706 fix: incorrect produced-qty in production-plan-item
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#31513 fix: incorrect rate in BOM exploded items
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom/test_bom.py
  erpnext/manufacturing/doctype/bom_item/bom_item.json
Labels: backport version-13-hotfix, backport version-14-hotfix

#31863 fix: not able to issue expired batches
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/batch/test_batch.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: stock

#31856 fix: incorrect tax amt due to different exchange rate in PR and PI
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests

#31848 fix: Make expense account editable in Subcontracting Receipt Item
  erpnext/controllers/stock_controller.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
Labels: stock, backport version-14-hotfix

#31839 fix: Transit filter for Default Target Warehouse in SE
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#31849 fix: Add dimension section in subcontracting doctypes
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v14_0/create_accounting_dimensions_in_subcontracting_doctypes.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.json
  erpnext/subcontracting/doctype/subcontracting_order_item/subcontracting_order_item.json
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
Labels: backport version-14-hotfix

#31730 fix: Make expense account editable in Purchase Receipt Item
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
Labels: backport version-13-hotfix, backport version-14-hotfix

#31875 fix(projects): Add missing comma
  erpnext/projects/doctype/project/project.py
Labels: needs-tests

#31881 chore: weekly version-14 release
  .github/workflows/release.yml
  .releaserc
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/party.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/gross_profit/gross_profit.js
  erpnext/accounts/utils.py
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.js
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
  erpnext/controllers/buying_controller.py
  erpnext/controllers/queries.py
  erpnext/controllers/stock_controller.py
  erpnext/hooks.py
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom/test_bom.py
  erpnext/manufacturing/doctype/bom_item/bom_item.json
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
  erpnext/patches.txt
  erpnext/patches/v13_0/create_accounting_dimensions_for_asset_repair.py
  erpnext/patches/v14_0/create_accounting_dimensions_in_subcontracting_doctypes.py
  erpnext/portal/doctype/homepage_section/test_homepage_section.py
  erpnext/projects/doctype/project/project.py
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/utils/party.js
  erpnext/setup/doctype/item_group/item_group.py
  erpnext/stock/doctype/batch/test_batch.py
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.js
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.json
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.py
  erpnext/stock/doctype/inventory_dimension/test_inventory_dimension.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.json
  erpnext/subcontracting/doctype/subcontracting_order_item/subcontracting_order_item.json
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
  erpnext/templates/includes/macros.html
  erpnext/templates/pages/home.html
Labels: accounts, stock, buying

#31871 fix: incorrect buying amount in Gross Profit rpt
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests

#31853 perf: use `create_custom_fields`
  erpnext/erpnext_integrations/doctype/tally_migration/tally_migration.py
  erpnext/erpnext_integrations/doctype/woocommerce_settings/woocommerce_settings.py
  erpnext/setup/install.py
Labels: backport version-14-hotfix

#31890 fix: additional-costs in SCO and SCR
  erpnext/buying/report/subcontracted_item_to_be_received/test_subcontracted_item_to_be_received.py
  erpnext/controllers/subcontracting_controller.py
  erpnext/controllers/tests/test_subcontracting_controller.py
  erpnext/stock/landed_taxes_and_charges_common.js
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.js
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
Labels: stock, backport version-14-hotfix

#31899 fix: repost item valuation for subcontracting receipt
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.js
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
Labels: backport version-14-hotfix

#31905 fix: make rate field read-only in subcontracting receipt item
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
Labels: backport version-14-hotfix

#31924 fix: don't allow to create SCR directly
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
Labels: backport version-14-hotfix

#31910 fix: Cash and non trade discount calculation
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: accounts, needs-tests

#31932 chore: weekly version 14 release
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/pos_closing_entry/pos_closing_entry.js
  erpnext/accounts/doctype/pos_closing_entry/pos_closing_entry.json
  erpnext/accounts/doctype/pos_closing_entry/pos_closing_entry.py
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.json
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/report/gross_profit/gross_profit.py
  erpnext/accounts/report/tds_computation_summary/tds_computation_summary.py
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.py
  erpnext/buying/report/subcontracted_item_to_be_received/test_subcontracted_item_to_be_received.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/subcontracting_controller.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/controllers/tests/test_subcontracting_controller.py
  erpnext/crm/doctype/lead/lead.json
  erpnext/crm/doctype/opportunity/opportunity.json
  erpnext/crm/doctype/prospect/prospect.json
  erpnext/erpnext_integrations/doctype/tally_migration/tally_migration.py
  erpnext/erpnext_integrations/doctype/woocommerce_settings/woocommerce_settings.py
  erpnext/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  erpnext/patches.txt
  erpnext/patches/v14_0/fix_crm_no_of_employees.py
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/setup/install.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.js
  erpnext/stock/landed_taxes_and_charges_common.js
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.js
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
Labels: accounts, stock

#31936 chore: add Work Order test dependencies
  erpnext/manufacturing/doctype/work_order/test_work_order.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#31935 fix: Route condition set for stock ledger
  erpnext/stock/doctype/item/item_dashboard.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#31952 fix: Explicitly commit "log_error" since its getting called during GET request
  erpnext/erpnext_integrations/exotel_integration.py
Labels: backport version-14-hotfix

#31942 fix: include payment against PO in AR/AP report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
Labels: needs-tests

#31950 fix: display amount in account currency if party is supplied
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests

#31934 refactor: disable discount accounting on Buying module(PI)
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
Labels: dont-merge, needs-tests

#31951 fix: Purposes not set in Maintenance Visit
  erpnext/maintenance/doctype/maintenance_schedule/maintenance_schedule.py
Labels: needs-tests

#31776 fix: for Tree Type item and item group show net amout
  erpnext/selling/report/sales_analytics/sales_analytics.py
Labels: needs-tests

#31967 fix: material request connection on work order
  erpnext/manufacturing/doctype/work_order/work_order_dashboard.py
  erpnext/stock/doctype/material_request/material_request.json
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: needs-tests

#31974 fix: add validation for PO in Stock Entry
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-14-hotfix

#31977 fix: restrict party types to Supplier/Customer for AR/AP report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests

#31984 fix: Purchase Order creation from Sales Order
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests

#31994 chore: allow return of components in SCO
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.js
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order_list.js
  erpnext/subcontracting/doctype/subcontracting_order/test_subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_order_supplied_item/subcontracting_order_supplied_item.json
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
Labels: backport version-14-hotfix

#32004 fix: AD not getting copied from SCO while creating a SE
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.js
Labels: backport version-14-hotfix

#32006 fix: Rounded total for cash and non trade discount invoices
  erpnext/controllers/taxes_and_totals.py
Labels: accounts, needs-tests

#32009 refactor: readd remarks field to payment ledger
  erpnext/accounts/doctype/payment_ledger_entry/payment_ledger_entry.json
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/utils.py
  erpnext/patches.txt
  erpnext/patches/v14_0/migrate_remarks_from_gl_to_payment_ledger.py
Labels: accounts, needs-tests

#32014 fix(patch): update sla doctype directly
  erpnext/patches/v13_0/add_doctype_to_sla.py
Labels: backport version-14-hotfix

#32016 fix: permissions for Task Type
  erpnext/projects/doctype/task_type/task_type.json
Labels: backport version-13-hotfix, backport version-14-hotfix

#32005 fix: lost quotation not to expired
  erpnext/selling/doctype/quotation/quotation.py
Labels: needs-tests

#32025 chore: weekly version-14 release
  erpnext/accounts/doctype/payment_ledger_entry/payment_ledger_entry.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/utils.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_repair/asset_repair.js
  erpnext/assets/doctype/asset_repair/asset_repair.json
  erpnext/assets/doctype/asset_repair/asset_repair.py
  erpnext/assets/doctype/asset_repair/test_asset_repair.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/erpnext_integrations/exotel_integration.py
  erpnext/maintenance/doctype/maintenance_schedule/maintenance_schedule.py
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/manufacturing/doctype/work_order/work_order_dashboard.py
  erpnext/patches.txt
  erpnext/patches/v13_0/add_doctype_to_sla.py
  erpnext/patches/v14_0/migrate_remarks_from_gl_to_payment_ledger.py
  erpnext/projects/doctype/task_type/task_type.json
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/setup/doctype/company/company.json
  erpnext/stock/doctype/item/item_dashboard.py
  erpnext/stock/doctype/material_request/material_request.json
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.js
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.js
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order_list.js
  erpnext/subcontracting/doctype/subcontracting_order/test_subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_order_supplied_item/subcontracting_order_supplied_item.json
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
  erpnext/translations/fr.csv
Labels: accounts

#32026 fix: force delete old report docs
  erpnext/patches/v13_0/delete_old_sales_reports.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#32030 fix: Loan Interest accruals for 0 rated loans
  erpnext/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
  erpnext/loan_management/doctype/process_loan_interest_accrual/process_loan_interest_accrual.py
Labels: needs-tests
