Repository frappe/erpnext, pull requests merged in 2022-10, with the labels that each got.

#32371 fix: typo in sales_register's filter mode_of_payment
  erpnext/accounts/report/sales_register/sales_register.py
Labels: squash

#32456 fix: update with new Frappe color. fix #32455
  erpnext/www/book_appointment/index.css
Labels: squash

#32445 fix: (bulk transaction) key error and better error logging
  erpnext/utilities/bulk_transaction.py
Labels: backport version-14-hotfix

#32441 fix: fixes query builder order by issue in postgres
  erpnext/accounts/doctype/bank_clearance/bank_clearance.py
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#32394 fix: fetch swift number in payment request from bank doctype
  erpnext/accounts/doctype/payment_request/payment_request.json
Labels: squash

#32466 fix: not able to return sold expired batches
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#29018 refactor(UI): clean up portal pages
  erpnext/public/scss/order-page.scss
  erpnext/public/scss/website.scss
  erpnext/templates/includes/footer/footer_extension.html
  erpnext/templates/includes/macros.html
  erpnext/templates/includes/order/order_macros.html
  erpnext/templates/includes/order/order_taxes.html
  erpnext/templates/includes/transaction_row.html
  erpnext/templates/pages/order.html
Labels: squash

#32491 refactor: remove duplicate entries on remarks migration patch
  erpnext/patches/v14_0/migrate_remarks_from_gl_to_payment_ledger.py
Labels: needs-tests

#32515 chore: drop stale demo page
  erpnext/templates/pages/demo.html
Labels: backport version-14-hotfix

#32522 fix: Tax withholding related fixes
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
Labels: needs-tests

#32536 fix: PO cancel post advance payment cancel against PO
  erpnext/buying/doctype/purchase_order/purchase_order.py
Labels: needs-tests

#32497 chore: set `Quality Inspection` status based on readings status
  erpnext/stock/doctype/quality_inspection/quality_inspection.json
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
  erpnext/stock/doctype/quality_inspection/test_quality_inspection.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#32548 fix: allow deletion of cancelled Invoices once payments are unlinked
  erpnext/accounts/doctype/payment_ledger_entry/test_payment_ledger_entry.py
  erpnext/accounts/utils.py
Labels: accounts

#32554 fix: use naming_series in budget
  erpnext/accounts/doctype/budget/budget.json
  erpnext/accounts/doctype/budget/budget.py
Labels: needs-tests

#32408 feat: Tab Breaks in all Sales and Purchase cycle transactions
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.json
  erpnext/regional/united_arab_emirates/setup.py
  erpnext/selling/doctype/quotation/quotation.json
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/material_request/material_request.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
Labels: needs-tests

#32549 fix: type-cast while saving an item
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/item/test_item.py
Labels: needs-tests, backport version-14-hotfix

#32563 fix: consider sales rate as incoming rate for transit warehouse in purchase flow
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/stock_ledger.py
Labels: stock, backport version-13-hotfix, backport version-14-hotfix

#32576 fix: `Brand Defaults` filters
  erpnext/setup/doctype/brand/brand.js
Labels: bug, backport version-13-hotfix, backport version-14-hotfix

#32588 fix: don't try to update youtube data if disabled in settings
  erpnext/utilities/doctype/video/video.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#32567 fix: deduplicate Payment Ledger on Item value repost
  erpnext/accounts/utils.py
  erpnext/stock/doctype/repost_item_valuation/test_repost_item_valuation.py
Labels: accounts

#32595 chore: drop dead code
  erpnext/hooks.py
  erpnext/startup/report_data_map.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#32594 fix: Party account for multi-order invoices
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests

#32607 chore: Remove HRMS related code
  erpnext/accounts/doctype/journal_entry_account/journal_entry_account.json
  erpnext/accounts/utils.py
Labels: accounts

#32598 refactor: split ple creation function into two
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#32622 fix: Ignore linked purchase invoice on cancel
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests

#32527 refactor: rewrite buying reports queries in qb
  erpnext/buying/report/procurement_tracker/procurement_tracker.py
  erpnext/buying/report/purchase_order_analysis/purchase_order_analysis.py
  erpnext/buying/report/supplier_quotation_comparison/supplier_quotation_comparison.py
Labels: backport version-14-hotfix

#32520 refactor: rewrite stock reports queries in qb
  erpnext/stock/report/batch_item_expiry_status/batch_item_expiry_status.py
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
  erpnext/stock/report/delayed_item_report/delayed_item_report.py
  erpnext/stock/report/item_prices/item_prices.py
  erpnext/stock/report/stock_projected_qty/stock_projected_qty.py
  erpnext/stock/report/supplier_wise_sales_analytics/supplier_wise_sales_analytics.py
  erpnext/stock/report/total_stock_summary/total_stock_summary.py
  erpnext/stock/report/warehouse_wise_item_balance_age_and_value/warehouse_wise_item_balance_age_and_value.py
Labels: refactor

#32566 fix: pricing rule item code UOM apply & conversions
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/utils.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/public/js/controllers/transaction.js
Labels: squash

#32635 fix: Integrity Error on PLE while submitting sales invoice
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/utils.py
Labels: accounts

#32641 fix: allow to create Sales Order from expired Quotation
  erpnext/selling/doctype/quotation/quotation.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#32659 fix: Billing Address for inter-company purchase docs
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: needs-tests

#32629 perf: cache barcode scan result
  erpnext/stock/utils.py
Labels: stock, needs-tests

#32551 fix: number of months subscription plan
  erpnext/accounts/doctype/subscription_plan/subscription_plan.py
Labels: needs-tests

#32650 fix: unset contact details
  erpnext/public/js/utils/party.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#32424 feat: Repayment schedule types for term loans
  erpnext/loan_management/doctype/loan/loan.js
  erpnext/loan_management/doctype/loan/loan.json
  erpnext/loan_management/doctype/loan/loan.py
  erpnext/loan_management/doctype/loan/test_loan.py
  erpnext/loan_management/doctype/loan_type/loan_type.json
  erpnext/patches.txt
  erpnext/patches/v13_0/update_schedule_type_in_loans.py
Labels: needs-tests

#32724 fix: Filter fixes in Accounts Payable report
  erpnext/accounts/report/accounts_payable/accounts_payable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests

#32738 fix: Added Material Request Reference in Purchase Recipt Dashboard for Tracking
  erpnext/stock/doctype/purchase_receipt/purchase_receipt_dashboard.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#32692 fix: Clear invoice table post importing invoices
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.js
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.py
Labels: needs-tests

#32718 fix: Total Sales amount update in project via Sales Order
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests

#32725 fix: add translate function on remark text on asset_value_adjustment.py
  erpnext/assets/doctype/asset_value_adjustment/asset_value_adjustment.py
Labels: needs-tests

#32722 fix: Reference due date field type in Journal Entry Accounts table
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/journal_entry_account/journal_entry_account.json
Labels: needs-tests

#32620 feat: page break in SoA pdf
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.js
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.json
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
Labels: needs-tests

#32662 refactor: rewrite stock reports queries in qb
  erpnext/stock/report/itemwise_recommended_reorder_level/itemwise_recommended_reorder_level.py
  erpnext/stock/report/product_bundle_balance/product_bundle_balance.py
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: refactor, backport version-14-hotfix

#32754 fix: add `Sales Order` reference in Material Request Dashboard
  erpnext/stock/doctype/material_request/material_request_dashboard.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#32759 Pass project to stock entry items
  erpnext/assets/doctype/asset_repair/asset_repair.py
Labels: needs-tests

#32768 fix: Budget validation for main cost center
  erpnext/accounts/doctype/budget/budget.py
  erpnext/accounts/doctype/budget/test_budget.py
  erpnext/accounts/general_ledger.py
Labels: accounts

#32730 fix: duplicate custom fields for inventory dimension
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.py
  erpnext/stock/doctype/inventory_dimension/test_inventory_dimension.py
Labels: backport version-14-hotfix
