Repository frappe/erpnext, pull requests merged in 2023-11, with the labels that each got.

#37680 fix: status when over delivery or billing in SO
  erpnext/controllers/status_updater.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#37635 fix: validate sales order item with quotation
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#37590 fix: gov compliance for tax withholding report
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
  erpnext/buying/doctype/supplier/supplier.json
  erpnext/selling/doctype/customer/customer.json
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#37694 fix: set docstatus filter to ignore cancel document
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.py
Labels: needs-tests, squash

#37278 fix: german translations of Accounts Settings
  erpnext/translations/de.csv
Labels: backport version-14-hotfix

#37451 feat: report Timesheet Billing Summary
  erpnext/projects/report/billing_summary.py
  erpnext/projects/report/employee_billing_summary/employee_billing_summary.js
  erpnext/projects/report/employee_billing_summary/employee_billing_summary.json
  erpnext/projects/report/employee_billing_summary/employee_billing_summary.py
  erpnext/projects/report/project_billing_summary/__init__.py
  erpnext/projects/report/project_billing_summary/project_billing_summary.js
  erpnext/projects/report/project_billing_summary/project_billing_summary.py
  erpnext/projects/report/timesheet_billing_summary/__init__.py
  erpnext/projects/report/timesheet_billing_summary/timesheet_billing_summary.js
  erpnext/projects/report/timesheet_billing_summary/timesheet_billing_summary.json
  erpnext/projects/report/timesheet_billing_summary/timesheet_billing_summary.py
  erpnext/projects/workspace/projects/projects.json
Labels: needs-tests

#37827 refactor: update fields label and remove unused fields from BIN
  erpnext/stock/doctype/bin/bin.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#37832 refactor: checkbox to toggle remarks in General Ledger
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests

#37836 feat(Stock Balance): add filters from route
  erpnext/stock/page/stock_balance/stock_balance.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#37819 fix: `TypeError` in PR for non-stock item
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#37838 refactor: pass limits to JE and PE queries in reconciliation tool
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
Labels: needs-tests

#37849 fix: remove voucher type and no for Item and Warehouse based reposting
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/stock_reposting_settings/stock_reposting_settings.json
Labels: stock, needs-tests

#37864 fix: permission error while creating Supplier Quotation from Portal
  erpnext/controllers/buying_controller.py
Labels: backport version-13-hotfix, backport version-14-hotfix, backport version-15-hotfix

#37869 refactor: 'group only by voucher' flag in AR/AP report
  erpnext/accounts/report/accounts_payable/accounts_payable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests

#37881 perf: index return against for purchase invoice
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#37858 fix: incorrect available qty for backdated stock reco with batch
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation_item/stock_reconciliation_item.json
  erpnext/stock/report/stock_ledger/stock_ledger.py
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.py
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#37889 fix: add missing disbursement account in update_old_loans patch
  erpnext/patches/v13_0/update_old_loans.py
Labels: needs-tests, backport version-13-hotfix

#37893 chore: rename daily_depreciation in asset to depreciation_amount_based_on_num_days_in_month [dev]
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.json
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
  erpnext/assets/doctype/asset_finance_book/asset_finance_book.json
  erpnext/patches.txt
  erpnext/patches/v15_0/rename_daily_depreciation_to_depreciation_amount_based_on_num_days_in_month.py
Labels: backport version-15-hotfix

#37754 fix: consider reserved stock while cancelling a stock transaction
  erpnext/patches.txt
  erpnext/patches/v15_0/set_reserved_stock_in_bin.py
  erpnext/stock/doctype/bin/bin.json
  erpnext/stock/doctype/bin/bin.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.py
  erpnext/stock/doctype/stock_reservation_entry/test_stock_reservation_entry.py
  erpnext/stock/stock_ledger.py
Labels: stock, backport version-15-hotfix

#37299 fix: Set right party name in bank transaction
  erpnext/accounts/doctype/bank_transaction/auto_match_party.py
Labels: backport version-14-hotfix

#37886 refactor: avoid precision based validation error while reconciling
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#37915 refactor: avoid precision based validation error on reconciliation
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#37890 fix: list index out of range
  erpnext/assets/doctype/asset/depreciation.py
Labels: needs-tests, backport version-15-hotfix

#37880 fix: list index out of range
  erpnext/assets/doctype/asset/depreciation.py
Labels: needs-tests

#37799 fix: POS change amount gl entry with no amount
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests

#37879 refactor: flag to toggle billed amy update in DN for Credit Note
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: needs-tests

#37928 fix: make `Material Request Item` required if `Material Request` is set in PO
  erpnext/buying/doctype/purchase_order_item/purchase_order_item.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#37935 fix: don't reset rate if greater than zero in standalone debit note
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/controllers/buying_controller.py
Labels: buying, backport version-14-hotfix, backport version-15-hotfix

#37903 fix: link between parent and child procedure
  erpnext/quality_management/doctype/quality_procedure/quality_procedure.js
  erpnext/quality_management/doctype/quality_procedure/quality_procedure.py
  erpnext/quality_management/doctype/quality_procedure/test_quality_procedure.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#37948 fix: typo in AR report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests

#37971 refactor: optimize bulk transaction for speed
  erpnext/utilities/bulk_transaction.py
Labels: needs-tests

#37987 Revert "fix: set empty value for tax template in item details"
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/get_item_details.py
Labels: stock

#37979 fix: ignore Stock Reservation for future dated PR
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: backport version-15-hotfix

#37860 refactor: ignore disabled account while selecting Income Accounts
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/controllers/queries.py
Labels: needs-tests

#38000 fix: Mark Status field in Payment Entry 'no_copy'.
  erpnext/accounts/doctype/payment_entry/payment_entry.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#37828 fix: payments irrespective of party types
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable_summary/accounts_receivable_summary.py
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
  erpnext/accounts/utils.py
Labels: needs-tests, defer backport, backport version-15-hotfix

#37995 fix: make adjustment entry using stock reconciliation
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.json
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#37988 fix: pick serial nos from selected batch only
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/utils.py
Labels: stock

#37716 feat: multi-select customer group in AR Report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
Labels: needs-tests

#37746 feat: in_party_currency option for AR/AP reports
  erpnext/accounts/report/accounts_payable/accounts_payable.js
  erpnext/accounts/report/accounts_payable/test_accounts_payable.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
Labels: needs-tests

#37963 fix: Supplier Quotation fields
  erpnext/accounts/party.py
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.json
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.json
  erpnext/public/js/utils/party.js
Labels: accounts, needs-tests

#37905 fix: sales order not assigned to territory orders
  erpnext/selling/report/territory_wise_sales/territory_wise_sales.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#37447 fix(payments): incoming payment requests aren't supposed to be in 'initiated' state (only outgoing are)
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/patches.txt
  erpnext/patches/v15_0/migrate_payment_request_status.py
Labels: needs-tests

#38010 fix: make item field read-only in batch
  erpnext/stock/doctype/batch/batch.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#38004 fix: handling of exchange rate journals in AR/AP
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests

#37386 fix(customer): quick form and integration fixes
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests

#38045 fix(patch): to migrate properly in post section
  erpnext/patches/v15_0/migrate_payment_request_status.py
Labels: needs-tests

#37710 fix(crm): ensure primary address and contact follows customer setting
  erpnext/crm/doctype/lead/lead.py
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests

#37238 fix: COA Importer app related issues
  erpnext/accounts/doctype/chart_of_accounts_importer/chart_of_accounts_importer.js
  erpnext/accounts/doctype/chart_of_accounts_importer/chart_of_accounts_importer.py
  erpnext/accounts/doctype/chart_of_accounts_importer/coa_sample_template.csv
Labels: needs-tests

#37557 fix: added a customer name and supplier name columns #37433 issue
  erpnext/selling/report/address_and_contacts/address_and_contacts.py
Labels: needs-tests

#38055 fix(customer): contact creation for companies
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests

#38052 fix: close `Credit Limit Crossed` dialog
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#38019 fix: indentation issue in the Production Plan Summary report
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
  erpnext/manufacturing/report/production_plan_summary/production_plan_summary.js
  erpnext/manufacturing/report/production_plan_summary/production_plan_summary.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#37986 Fixed a bug in the POS system when adding products
  erpnext/selling/page/point_of_sale/pos_controller.js
Labels: backport develop

#37867 fix: remove ESS role when not mapped to employee
  erpnext/setup/doctype/employee/employee.js
  erpnext/setup/doctype/employee/employee.py
  erpnext/setup/doctype/employee/test_employee.py
Labels: needs-tests

#38077 chore: delete comments and unlink attachments on company transactions deletion
  erpnext/controllers/buying_controller.py
  erpnext/setup/doctype/transaction_deletion_record/transaction_deletion_record.py
Labels: buying, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38085 fix: Not able to save subcontracting receipt
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
Labels: backport version-15-hotfix

#38094 fix: valuation rate for the subcontracting receipt supplied items with Serial and Batch Bundle
  erpnext/controllers/subcontracting_controller.py
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.json
  erpnext/stock/serial_batch_bundle.py
  erpnext/stock/stock_ledger.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
Labels: stock, backport version-15-hotfix

#38095 chore: refetch item images on transaction save
  erpnext/accounts/doctype/pos_invoice_item/pos_invoice_item.json
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
  erpnext/buying/doctype/purchase_order_item/purchase_order_item.json
  erpnext/buying/doctype/request_for_quotation_item/request_for_quotation_item.json
  erpnext/buying/doctype/supplier_quotation_item/supplier_quotation_item.json
  erpnext/crm/doctype/opportunity_item/opportunity_item.json
  erpnext/manufacturing/doctype/bom_explosion_item/bom_explosion_item.json
  erpnext/manufacturing/doctype/bom_item/bom_item.json
  erpnext/selling/doctype/quotation_item/quotation_item.json
  erpnext/selling/doctype/sales_order_item/sales_order_item.json
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.json
  erpnext/stock/doctype/material_request_item/material_request_item.json
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/subcontracting/doctype/subcontracting_order_item/subcontracting_order_item.json
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#38105 fix: duplicate field
  erpnext/stock/doctype/closing_stock_balance/closing_stock_balance.json
Labels: backport version-14-hotfix

#38111 chore: change read only condition of asset quantity field
  erpnext/assets/doctype/asset/asset.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#38082 refactor: use 'boolean' parameter while fetching FY year
  erpnext/accounts/utils.py
  erpnext/public/js/financial_statements.js
  erpnext/public/js/utils.js
Labels: accounts, needs-tests

#38071 fix: handle partial return against invoices in payment entries
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#38090 fix(dn): regression from bulk transaction fix
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/utilities/bulk_transaction.py
Labels: backport version-15-hotfix

#38123 fix: GL Entries for receiving non CWIP assets using Purchase Receipt
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: stock, needs-tests

#38128 fix: bom creator not able to amend / duplicate
  erpnext/manufacturing/doctype/bom_creator/bom_creator.js
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
  erpnext/manufacturing/doctype/bom_creator_item/bom_creator_item.json
Labels: needs-tests

#38136 fix: allow regional gl in payment entry for gl preview
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#38144 fix(minor): show party instead of party name where naming series not set
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
Labels: needs-tests

#38134 fix(Timesheet): reset billing hours equal to hours if they exceed actual hours
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: needs-tests

#38127 feat: add `Supplier Delivery Note` field in SCR
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#38167 fix: pass check permission in `render_address`
  erpnext/accounts/party.py
Labels: accounts, backport version-13-hotfix, backport version-14-hotfix, backport version-15-hotfix

#38121 fix: incorrect incoming rate for serial and batch items in standalone debit note
  erpnext/controllers/buying_controller.py
Labels: buying, needs-tests

#38142 feat: Add accounting dimensions to Supplier Quotation
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.json
  erpnext/buying/doctype/supplier_quotation_item/supplier_quotation_item.json
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v14_0/create_accounting_dimensions_in_supplier_quotation.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38147 fix: issue occured when creating supplier with contact details
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests, backport version-15-hotfix

#38163 fix: attributes were mandatory for manufacturers
  erpnext/stock/doctype/item/item.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#38161 fix: valuation rate in report Item Prices
  erpnext/stock/report/item_prices/item_prices.py
Labels: needs-tests

#38183 style: remove trailing whitespace
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests, backport version-15-hotfix

#38181 fix: payment entry rounding error (Backport #38177)
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#38171 fix: wrong round off and rounded total
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38146 fix(minor): show party values when naming by is not naming series
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.py
Labels: needs-tests

#38200 fix: TypeError in Subcontracting Receipt
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#38207 fix(ux): `Task` creation from `Timesheet`
  erpnext/projects/doctype/task/task.json
  erpnext/projects/doctype/timesheet/timesheet.js
Labels: backport version-15-hotfix

#38210 refactor: extend billed amount update flag to POS Invoice as well
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/controllers/sales_and_purchase_return.py
Labels: needs-tests

#38212 refactor: update scheduled job for bulk transaction
  erpnext/hooks.py
  erpnext/utilities/bulk_transaction.py
Labels: needs-tests

#38223 fix: set default asset quantity as 1 [dev]
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/asset.py
  erpnext/controllers/buying_controller.py
  erpnext/patches.txt
  erpnext/patches/v14_0/update_zero_asset_quantity_field.py
Labels: buying, needs-tests, backport version-15-hotfix

#38224 fix: set default asset quantity as 1 [v14]
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/asset.py
  erpnext/controllers/buying_controller.py
  erpnext/patches.txt
  erpnext/patches/v14_0/update_zero_asset_quantity_field.py
Labels: buying, needs-tests

#38217 fix: round `unreconciled_amount` before asserting
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#38244 fix: valuation rate for FG item for subcontracting receipt
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
Labels: backport version-15-hotfix

#38254 fix: set asset's valuation_rate according to asset quantity
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38081 fix: check reposting ledger settings before setting repost flag
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests

#38205 fix: partial cancel of gle and ple (backport #35609)
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#38262 fix: patch - Duplicate entry quality inspection parameter
  erpnext/patches/v13_0/convert_qi_parameter_to_link_field.py
Labels: needs-tests

#38257 refactor: optmize outstanding amount query
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#38148 refactor: convert Payment Reconciliation to virtual doctype
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.json
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation_allocation/payment_reconciliation_allocation.json
  erpnext/accounts/doctype/payment_reconciliation_invoice/payment_reconciliation_invoice.json
  erpnext/accounts/doctype/payment_reconciliation_payment/payment_reconciliation_payment.json
  erpnext/patches.txt
  erpnext/patches/v14_0/clear_reconciliation_values_from_singles.py
Labels: needs-tests

#38268 fix: Supplier `Primary Contact`
  erpnext/buying/doctype/supplier/supplier.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38276 fix: don't depreciate assets with no schedule on scrapping
  erpnext/assets/doctype/asset/depreciation.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38294 fix: don't depreciate non-depreciable assets on scrapping [v14]
  erpnext/assets/doctype/asset/depreciation.py
Labels: needs-tests

#38297 feat: add Bank Transaction to connections in Journal and Payment Entry
  erpnext/accounts/doctype/journal_entry/journal_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#38299 add flt() for None type error
  erpnext/accounts/doctype/journal_entry/journal_entry.py
Labels: needs-tests

#38289 fix: display all item rate stop messages
  erpnext/utilities/transaction_base.py
Labels: needs-tests

#38269 fix: skip fixed assets in product bundle
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/controllers/selling_controller.py
  erpnext/selling/doctype/product_bundle/product_bundle.json
  erpnext/selling/doctype/product_bundle/product_bundle.py
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/packed_item/packed_item.py
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/get_item_details.py
Labels: needs-tests

#38298 perf: optimize update_purchase_cost method
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/patches.txt
  erpnext/projects/doctype/project/project.js
  erpnext/projects/doctype/project/project.py
Labels: needs-tests

#38320 chore: release v14
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/journal_entry/journal_entry.json
  erpnext/accounts/doctype/journal_entry_account/journal_entry_account.json
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/unreconcile_payment/__init__.py
  erpnext/accounts/doctype/unreconcile_payment/test_unreconcile_payment.py
  erpnext/accounts/doctype/unreconcile_payment/unreconcile_payment.js
  erpnext/accounts/doctype/unreconcile_payment/unreconcile_payment.json
  erpnext/accounts/doctype/unreconcile_payment/unreconcile_payment.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/utils.py
  erpnext/assets/doctype/asset/depreciation.py
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/buying/doctype/supplier/supplier.py
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/patches/v13_0/convert_qi_parameter_to_link_field.py
  erpnext/projects/doctype/project/project.js
  erpnext/projects/doctype/project/project.py
  erpnext/public/js/utils/unreconcile.js
Labels: accounts

#38273 fix: annual income and expenses in email digest
  erpnext/accounts/utils.py
  erpnext/setup/doctype/email_digest/email_digest.py
Labels: accounts, needs-tests

#38309 feat: new Report "Lost Quotations"
  erpnext/crm/doctype/competitor/competitor.json
  erpnext/selling/report/lost_quotations/__init__.py
  erpnext/selling/report/lost_quotations/lost_quotations.js
  erpnext/selling/report/lost_quotations/lost_quotations.json
  erpnext/selling/report/lost_quotations/lost_quotations.py
  erpnext/setup/doctype/quotation_lost_reason/quotation_lost_reason.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#38261 fix(ux): Sales Order Stock Reservation Dialog
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.py
Labels: backport version-15-hotfix

#38345 fix: job card overlap validation
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests

#38284 fix: fetch item_tax_template values if fields with fetch_from exisit
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/get_item_details.py
Labels: accounts, stock, needs-tests

#38182 refactor: bank transaction
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
  erpnext/accounts/doctype/bank_transaction/bank_transaction.json
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38321 fix : Payment Reco Issue and chart of account importer
  erpnext/accounts/doctype/chart_of_accounts_importer/chart_of_accounts_importer.py
  erpnext/accounts/doctype/journal_entry/journal_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38354 refactor: handle rounding loss on AR/AP reports
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests

#38360 fix: make parameters of `create_subscription_process` optional (and other minor fixes)
  erpnext/accounts/doctype/process_subscription/process_subscription.py
  erpnext/accounts/doctype/subscription/subscription.py
  erpnext/hooks.py
Labels: backport version-15-hotfix

#38342 fix: debit credit mismatch in multi-currecy asset purchase receipt
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/www/all-products/__init__.py
  erpnext/www/shop-by-category/__init__.py
Labels: needs-tests

#38377 fix: Product Bundle Parent Item input
  erpnext/selling/doctype/product_bundle/product_bundle.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38381 fix: no fstring in translation
  erpnext/stock/report/stock_and_account_value_comparison/stock_and_account_value_comparison.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38382 fix: stock availability not showing
  erpnext/e_commerce/product_ui/list.js
  erpnext/utilities/product.py
Labels: needs-tests

#38391 fix: serial no status
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/serial_no/serial_no.js
  erpnext/stock/doctype/serial_no/serial_no.json
  erpnext/stock/report/serial_no_ledger/serial_no_ledger.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, backport version-15-hotfix

#38398 fix(CRM): create contact if existing customer doesn't have contact
  erpnext/crm/doctype/lead/lead.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38260 fix(regional): use net figures for sales calc
  erpnext/regional/report/uae_vat_201/uae_vat_201.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38165 fix: make create button translatable
  erpnext/public/js/communication.js
Labels: backport version-13-hotfix, backport version-14-hotfix, backport version-15-hotfix

#38394 fix: `OperationalError` while selecting Serial No in `Warranty Claim`
  erpnext/support/doctype/warranty_claim/warranty_claim.js
  erpnext/support/doctype/warranty_claim/warranty_claim.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#38415 fix: incorrect ordered qty for Subcontracting Order
  erpnext/controllers/tests/test_subcontracting_controller.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_order/test_subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38365 feat:add customer group filter in sales register
  erpnext/accounts/report/sales_register/sales_register.js
  erpnext/accounts/report/sales_register/sales_register.py
Labels: needs-tests

#38250 fix: unset discount amount based on coupon code
  erpnext/public/js/utils/sales_common.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#38290 feat: auto create PR on SCR submission
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/purchase_order/purchase_order_dashboard.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.js
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_order_item/subcontracting_order_item.json
  erpnext/subcontracting/doctype/subcontracting_order_service_item/subcontracting_order_service_item.json
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt_dashboard.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
Labels: backport version-15-hotfix

#38427 Update Serial No issue
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests

#38439 fix: use `docstatus` instead of `status`
  erpnext/buying/doctype/purchase_order/purchase_order.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38441 fix: exploded items in Subcontracting Receipt
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#38446 refactor: pass on filter to up front outstanding query as well
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#38449 refactor: Simpler log settings setup
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v14_0/setup_clear_repost_logs.py
  erpnext/setup/install.py
Labels: backport version-15-hotfix

#38450 fix(ux): make valuation field read only when it can't be modified
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#38455 fix: incorrect requested quantity for the subcontracting order
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/controllers/subcontracting_controller.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_order/test_subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_order_item/subcontracting_order_item.json
  erpnext/subcontracting/doctype/subcontracting_order_service_item/subcontracting_order_service_item.json
Labels: backport version-14-hotfix, backport version-15-hotfix
