Repository frappe/erpnext, pull requests merged in 2023-07, with the labels that each got.

#35609 feat: Record Advance Payment as a liability
  erpnext/accounts/doctype/finance_book/test_finance_book.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/doctype/journal_entry/test_records.json
  erpnext/accounts/doctype/party_account/party_account.json
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/payment_entry_reference/payment_entry_reference.json
  erpnext/accounts/doctype/payment_ledger_entry/payment_ledger_entry.json
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.js
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.json
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/process_deferred_accounting/test_process_deferred_accounting.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice_advance/purchase_invoice_advance.json
  erpnext/accounts/doctype/sales_invoice/test_records.json
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/doctype/sales_invoice_advance/sales_invoice_advance.json
  erpnext/accounts/general_ledger.py
  erpnext/accounts/party.py
  erpnext/accounts/utils.py
  erpnext/buying/doctype/supplier/supplier.js
  erpnext/buying/doctype/supplier/supplier.json
  erpnext/controllers/accounts_controller.py
  erpnext/selling/doctype/customer/customer.js
  erpnext/selling/doctype/customer/customer.json
  erpnext/setup/doctype/company/company.js
  erpnext/setup/doctype/company/company.json
  erpnext/setup/doctype/customer_group/customer_group.js
  erpnext/setup/doctype/customer_group/customer_group.json
  erpnext/setup/doctype/supplier_group/supplier_group.js
Labels: accounts, defer backport

#35955 fix: incorrect reposting causing stock adjustment entry
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#35930 feat(Supplier Scorecard): added method for ordered quantity in supplier scorecard
  erpnext/buying/doctype/supplier_scorecard/supplier_scorecard.py
  erpnext/buying/doctype/supplier_scorecard_variable/supplier_scorecard_variable.py
Labels: needs-tests, backport version-14-hotfix

#35971 fix: delete loan module workspace properly after separation
  erpnext/patches.txt
  erpnext/patches/v15_0/remove_loan_management_module.py
Labels: needs-tests

#35977 fix: reserve the pos invoice batches
  erpnext/accounts/doctype/pos_invoice/pos_invoice.js
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: do not backport

#35986 fix: Further sort purchase_order_analysis to get consistent response
  erpnext/buying/report/purchase_order_analysis/purchase_order_analysis.py
Labels: frappe-support, backport version-14-hotfix

#35991 fix: Netherlands - Grootboekschema COA structure
  erpnext/accounts/doctype/account/chart_of_accounts/verified/nl_grootboekschema.json
Labels: backport version-14-hotfix

#36000 feat(accounts): standardize additional columns implementation for sales/purchase reports
  erpnext/accounts/report/item_wise_purchase_register/item_wise_purchase_register.py
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
  erpnext/accounts/report/purchase_register/purchase_register.py
  erpnext/accounts/report/sales_register/sales_register.py
  erpnext/accounts/report/utils.py
Labels: backport version-14-hotfix

#36004 fix: handle loan_repayment's posting_date datetime in bank_clearance_summary report
  erpnext/accounts/report/bank_clearance_summary/bank_clearance_summary.py
Labels: needs-tests, backport version-13-hotfix, backport develop

#36011 fix(Payment Entry): compare rounded amount
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: critical, backport version-13-hotfix, backport version-14-hotfix

#35990 fix: German translations
  erpnext/translations/de.csv
Labels: backport version-14-hotfix

#36036 fix: Opening balance in presentation currency in Trial Balance report
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/trial_balance/trial_balance.py
  erpnext/accounts/report/utils.py
Labels: needs-tests

#35887 fix: Vietnamese translation of "Company"
  erpnext/translations/vi.csv
Labels: squash, backport version-14-hotfix

#36017 refactor(Payment Entry): translatable strings
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/translations/de.csv
Labels: backport version-13-hotfix, backport version-14-hotfix

#35978 fix: deferred accounting entries on accounts frozen
  erpnext/accounts/deferred_revenue.py
  erpnext/accounts/doctype/process_deferred_accounting/test_process_deferred_accounting.py
Labels: accounts, backport version-14-hotfix

#35963 fix: labels and translations
  erpnext/translations/vi.csv
Labels: backport version-14-hotfix

#36051 feat: Provision to auto create Exchange Rate Revaluation
  erpnext/accounts/doctype/exchange_rate_revaluation/exchange_rate_revaluation.py
  erpnext/accounts/utils.py
  erpnext/hooks.py
  erpnext/setup/doctype/company/company.json
Labels: accounts, needs-tests

#36030 fix: precision causing outstanding issue on partly paid invoices
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#36063 fix: Delivery Note return valuation
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: backport version-14-hotfix

#35779 fix: payment entry `voucher_type` error
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, inactive, backport version-13-hotfix, backport version-14-hotfix

#35910 fix: also check on_hold
  erpnext/accounts/utils.py
Labels: backport develop, backport version-14-hotfix

#36076 fix: possible type error on ERR creation
  erpnext/accounts/doctype/exchange_rate_revaluation/exchange_rate_revaluation.py
Labels: needs-tests

#36078 fix: Validate for missing expense account
  erpnext/controllers/stock_controller.py
Labels: stock, needs-tests, backport version-14-hotfix

#36085 fix: incorrect status in MR created from PP
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#35989 fix: error messages while evaluating formulas and handle line boundaries
  erpnext/payroll/doctype/salary_slip/salary_slip.py
  erpnext/payroll/utils.py
Labels: squash

#36088 fix: circular dependency during reposting causing timeout error
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/stock_ledger.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#36093 fix: allow manual asset receipt mov from nowhere
  erpnext/assets/doctype/asset_movement/asset_movement.js
  erpnext/assets/doctype/asset_movement/asset_movement.py
Labels: needs-tests, backport version-13-hotfix, backport develop

#36058 fix: Ambiguous column error while submitting stock entry
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests, backport version-14-hotfix

#36097 feat: add project filter in reports importing financial statements js file
  erpnext/accounts/report/gross_and_net_profit_report/gross_and_net_profit_report.js
  erpnext/accounts/report/profit_and_loss_statement/profit_and_loss_statement.js
  erpnext/public/js/financial_statements.js
Labels: backport version-14-hotfix

#36106 refactor: `Batch Item Expiry Status` report
  erpnext/stock/report/batch_item_expiry_status/batch_item_expiry_status.js
  erpnext/stock/report/batch_item_expiry_status/batch_item_expiry_status.py
Labels: backport version-14-hotfix

#36113 fix: Accounts closing balance patch
  erpnext/patches/v14_0/update_closing_balances.py
Labels: needs-tests, backport version-14-hotfix

#36117 fix: Account balance patch and query fixes
  erpnext/accounts/report/trial_balance/trial_balance.py
  erpnext/patches.txt
  erpnext/patches/v14_0/update_closing_balances.py
Labels: needs-tests, backport version-14-hotfix

#36105 fix: improve "Update Items" modal
  erpnext/public/js/utils.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#35974 fix: get_dimension with_cost_center_and_project=false is not working.
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
Labels: needs-tests, backport version-14-hotfix

#36116 feat: add local holidays
  erpnext/setup/doctype/holiday_list/holiday_list.js
  erpnext/setup/doctype/holiday_list/holiday_list.json
  erpnext/setup/doctype/holiday_list/holiday_list.py
  erpnext/setup/doctype/holiday_list/test_holiday_list.py
  erpnext/translations/de.csv
  pyproject.toml
Labels: backport version-14-hotfix

#36136 fix: `TypeError` while creating WO from PP
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: needs-tests, backport version-14-hotfix

#36135 fix: Opening entries showing up incorrectly in TB report
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests, backport version-14-hotfix

#36133 perf: index in `Item` and `Item Variant Attribute`
  erpnext/stock/doctype/item/item.json
  erpnext/stock/doctype/item_variant_attribute/item_variant_attribute.json
Labels: backport version-13-hotfix, backport version-14-hotfix

#36150 perf: send SLA doctypes in boot
  erpnext/hooks.py
  erpnext/public/js/utils.js
  erpnext/support/doctype/service_level_agreement/service_level_agreement.py
Labels: backport version-14-hotfix

#35960 fix: Remove current fiscal year from Global Defaults
  erpnext/accounts/doctype/fiscal_year/fiscal_year.js
  erpnext/accounts/doctype/fiscal_year/fiscal_year.py
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.js
  erpnext/accounts/report/deferred_revenue_and_expense/deferred_revenue_and_expense.js
  erpnext/accounts/report/deferred_revenue_and_expense/deferred_revenue_and_expense.py
  erpnext/accounts/report/deferred_revenue_and_expense/test_deferred_revenue_and_expense.py
  erpnext/accounts/report/dimension_wise_accounts_balance_report/dimension_wise_accounts_balance_report.js
  erpnext/accounts/report/profitability_analysis/profitability_analysis.js
  erpnext/accounts/report/trial_balance/trial_balance.js
  erpnext/accounts/report/trial_balance_for_party/trial_balance_for_party.js
  erpnext/accounts/utils.py
  erpnext/assets/report/fixed_asset_register/fixed_asset_register.js
  erpnext/hooks.py
  erpnext/manufacturing/report/job_card_summary/job_card_summary.js
  erpnext/patches.txt
  erpnext/public/js/financial_statements.js
  erpnext/public/js/utils.js
  erpnext/regional/report/fichier_des_ecritures_comptables_[fec]/fichier_des_ecritures_comptables_[fec].js
  erpnext/regional/report/irs_1099/irs_1099.js
  erpnext/setup/doctype/global_defaults/global_defaults.json
  erpnext/setup/doctype/global_defaults/global_defaults.py
  erpnext/setup/setup_wizard/operations/install_fixtures.py
Labels: needs-tests

#36151 fix: Added report 'Serial and Batch Summary' to view serial / batch nos
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/utils.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.json
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.js
  erpnext/stock/report/serial_and_batch_summary/__init__.py
  erpnext/stock/report/serial_and_batch_summary/serial_and_batch_summary.js
  erpnext/stock/report/serial_and_batch_summary/serial_and_batch_summary.json
  erpnext/stock/report/serial_and_batch_summary/serial_and_batch_summary.py
Labels: needs-tests

#36008 refactor: Leave Application should not be in hook.py
  erpnext/hooks.py
Labels: backport version-14-hotfix

#36163 chore: use consistent quotes
  erpnext/templates/includes/itemised_tax_breakup.html
Labels: backport version-13-hotfix, backport version-14-hotfix

#36169 fix: incorrect Balance qty in the stock ledger
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/stock_ledger.py
Labels: stock

#36166 fix(test): `test_stock_reservation_against_sales_order`
  erpnext/selling/doctype/sales_order/test_sales_order.py
Labels: do not backport

#36171 fix: Opening balance in TB report
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests

#36175 fix: Trailing opening entries in Accounts closing balance
  erpnext/accounts/doctype/account_closing_balance/account_closing_balance.py
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
  erpnext/patches/v14_0/update_closing_balances.py
Labels: needs-tests, backport version-14-hotfix

#36157 fix: validate docs in closed accounting period on save
  erpnext/accounts/doctype/accounting_period/accounting_period.js
  erpnext/accounts/doctype/accounting_period/accounting_period.py
  erpnext/accounts/doctype/accounting_period/test_accounting_period.py
  erpnext/accounts/general_ledger.py
  erpnext/controllers/queries.py
  erpnext/hooks.py
Labels: accounts, backport develop

#36181 fix: broken overallocation validation in payment entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#36189 fix: Default fiscal year in accounting, buying and selling charts
  erpnext/accounts/dashboard_chart/budget_variance/budget_variance.json
  erpnext/accounts/dashboard_chart/profit_and_loss/profit_and_loss.json
  erpnext/buying/dashboard_chart/purchase_order_trends/purchase_order_trends.json
  erpnext/buying/dashboard_chart/top_suppliers/top_suppliers.json
  erpnext/public/js/utils.js
  erpnext/selling/dashboard_chart/sales_order_trends/sales_order_trends.json
  erpnext/selling/dashboard_chart/top_customers/top_customers.json
Labels: backport version-14-hotfix

#35689 feat: Payments based dunning
  erpnext/accounts/doctype/dunning/dunning.js
  erpnext/accounts/doctype/dunning/dunning.json
  erpnext/accounts/doctype/dunning/dunning.py
  erpnext/accounts/doctype/dunning/dunning_dashboard.py
  erpnext/accounts/doctype/dunning/test_dunning.py
  erpnext/accounts/doctype/dunning_type/dunning_type.js
  erpnext/accounts/doctype/dunning_type/dunning_type.json
  erpnext/accounts/doctype/dunning_type/dunning_type.py
  erpnext/accounts/doctype/dunning_type/test_records.json
  erpnext/accounts/doctype/overdue_payment/__init__.py
  erpnext/accounts/doctype/overdue_payment/overdue_payment.json
  erpnext/accounts/doctype/overdue_payment/overdue_payment.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/print_format/dunning_letter/dunning_letter.json
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v14_0/single_to_multi_dunning.py
  erpnext/translations/de.csv
Labels: backport version-14-hotfix

#36208 fix: made item or warehouse filter mandatory
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
Labels: backport version-14-hotfix

#36209 fix: Ambiguous column error while submitting stock entry
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests

#36229 fix: FY in naming series variable for orders
  erpnext/accounts/utils.py
Labels: backport version-14-hotfix

#36233 chore: release version 14
  erpnext/accounts/doctype/account_closing_balance/account_closing_balance.py
  erpnext/accounts/utils.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
Labels: accounts, needs-tests

#36241 fix: multiple fixes on payment terms based issues in payment entry
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/controllers/queries.py
Labels: needs-tests

#36259 fix: no default email account causing reposting issue
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests, backport version-14-hotfix

#36261 refactor: apply terms based validation only on sales/purchase doctypes
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#36263 fix: allow both custodian and location while creating asset
  erpnext/assets/doctype/asset_movement/asset_movement.py
Labels: needs-tests, backport version-13-hotfix

#36274 fix: customer filter in process soa
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts_accounts_receivable.html
Labels: needs-tests, backport version-14-hotfix

#36272 fix: set new purchase_receipt_amount on asset split
  erpnext/assets/doctype/asset/asset.py
Labels: needs-tests, backport version-13-hotfix

#36278 fix(regional): set `frappe.flags.company` temporarily, where required
  erpnext/accounts/party.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/utilities/regional.py
Labels: accounts, needs-tests, backport version-14-hotfix

#36235 fix: Correct Tax Breakup for different tax rates for same hsn code
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/templates/includes/itemised_tax_breakup.html
Labels: accounts, needs-tests, backport version-14-hotfix

#36286 fix: Correct Tax Breakup for different tax rates for same hsn code (backport #36235)
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/templates/includes/itemised_tax_breakup.html
Labels: accounts

#36107 feat: filtering based on accounting dimensions in profitability analysis
  erpnext/accounts/report/profitability_analysis/profitability_analysis.js
  erpnext/accounts/report/profitability_analysis/profitability_analysis.py
Labels: needs-tests, backport version-14-hotfix

#36196 fix: show tax withholding category details for customers
  erpnext/accounts/report/tax_withholding_details/__init__.py
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.js
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.json
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.js
  erpnext/patches.txt
Labels: needs-tests

#36246 build(deps): update tweepy 3.10.0 -> 4.14.0
  erpnext/crm/doctype/twitter_settings/twitter_settings.py
  pyproject.toml
Labels: needs-tests

#36300 fix: added missing option Partially Received in the status field
  erpnext/stock/doctype/material_request/material_request.json
Labels: backport develop

#36125 fix: apply discount on item after applying price list
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/sales_common.js
Labels: backport develop, backport version-14-hotfix

#36298 fix:show invoices name instead of object address
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#36310 fix: group by in fixed asset register
  erpnext/assets/report/fixed_asset_register/fixed_asset_register.py
Labels: needs-tests

#36316 fix: apply discount on item after applying price list
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/sales_common.js
Labels: selling

#36318 chore(Item Group): remove redundant autoname
  erpnext/setup/doctype/item_group/item_group.py
Labels: backport version-14-hotfix

#36324 fix: filter by cost center in trial balance
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests

#36238 fix: POS closing with item name
  erpnext/accounts/doctype/pos_closing_entry/test_pos_closing_entry.py
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests, defer backport

#36332 fix: show depr schedule table in asset doc
  erpnext/assets/doctype/asset/asset.js
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
  erpnext/assets/doctype/depreciation_schedule/depreciation_schedule.json
Labels: needs-tests

#36334 chore: adding totals in asset reports
  erpnext/accounts/report/asset_depreciation_ledger/asset_depreciation_ledger.json
  erpnext/accounts/report/asset_depreciations_and_balances/asset_depreciations_and_balances.json
  erpnext/assets/report/fixed_asset_register/fixed_asset_register.json
Labels: backport version-14-hotfix

#36327 fix: GL Entries should not be split based on cost center allocation in PCV
  erpnext/accounts/general_ledger.py
Labels: accounts, needs-tests

#36336 perf: don't use ifnull where it's not required
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
  erpnext/accounts/report/profitability_analysis/profitability_analysis.py
  erpnext/accounts/report/sales_register/sales_register.py
  erpnext/manufacturing/doctype/bom_update_log/bom_updation_utils.py
  erpnext/projects/report/project_wise_stock_tracking/project_wise_stock_tracking.py
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
Labels: needs-tests

#36069 feat: include payments in purchase / sales register report
  erpnext/accounts/report/item_wise_purchase_register/item_wise_purchase_register.py
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
  erpnext/accounts/report/purchase_register/purchase_register.js
  erpnext/accounts/report/purchase_register/purchase_register.py
  erpnext/accounts/report/purchase_register/test_purchase_register.py
  erpnext/accounts/report/sales_register/sales_register.js
  erpnext/accounts/report/sales_register/sales_register.py
  erpnext/accounts/report/utils.py
Labels: needs-tests

#36297 fix: cost center filter for fetching payments
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#36347 fix: Ignore account closing balance for financial statement
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests, backport version-14-hotfix

#36313 fix(Item Group): allow root deletion
  erpnext/setup/doctype/item_group/item_group.py
Labels: backport version-14-hotfix

#36092 fix: paid_amount when the group is mode of payment
  erpnext/accounts/report/pos_register/pos_register.py
Labels: needs-tests

#36126 fix: incorrect `idx` on Journals after reconciliation
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#36221 perf: use `LEFT JOIN` instead of `NOT EXISTS`
  erpnext/manufacturing/doctype/bom_update_log/bom_update_log.py
  erpnext/manufacturing/doctype/bom_update_log/bom_updation_utils.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#36365 fix: removed "fetch_from"
  erpnext/quality_management/doctype/quality_goal_objective/quality_goal_objective.json
Labels: backport version-13-hotfix, backport version-14-hotfix

#36380 fix: change fieldtype from Currency to Float for the valuation rate in reports
  erpnext/stock/report/stock_balance/stock_balance.py
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: needs-tests

#36149 fix: make offsetting entry for acc dimensions in general ledger
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.js
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/accounts/doctype/accounting_dimension_detail/accounting_dimension_detail.json
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/report/trial_balance/test_trial_balance.py
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests

#36375 fix: Job Card validation fixed when displaying total completed quantity
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests, backport version-14-hotfix

#36400 fix: only publish repost progress to doc subscriber
  erpnext/stock/stock_ledger.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#36369 fix: in payment_entry 'Unallocated Amount' cal is broken
  erpnext/accounts/doctype/payment_entry/payment_entry.js
Labels: backport version-14-hotfix

#36320 fix(Supplier): german translations
  erpnext/translations/de.csv
Labels: backport version-14-hotfix

#36167 fix: rounding of percentage fields
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/controllers/website_list_for_contact.py
  erpnext/patches/v12_0/update_bom_in_so_mr.py
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/selling/doctype/sales_order/sales_order_list.js
  erpnext/templates/form_grid/item_grid.html
Labels: defer backport

#36389 fix: translate
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests

#36417 fix: ignore cancelled gle in voucher-wise balance report
  erpnext/accounts/report/voucher_wise_balance/voucher_wise_balance.py
Labels: needs-tests

#36420 fix: process_owner is not link User
  erpnext/quality_management/doctype/non_conformance/non_conformance.json
Labels: backport version-14-hotfix

#35958 fix: job card suggest holiday as start date
  erpnext/manufacturing/doctype/workstation/workstation.py
Labels: needs-tests, backport version-14-hotfix

#36421 fix: Defined "Open" Status as default
  erpnext/quality_management/doctype/quality_review_objective/quality_review_objective.json
Labels: backport version-14-hotfix

#35818 fix: group item reorder by (warehouse, material_request_type)
  erpnext/stock/doctype/item/item.py
Labels: needs-tests, backport version-14-hotfix

#36416 fix: not able to make material request
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
Labels: backport version-14-hotfix

#36428 perf: avoid full table scan in sle count check
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
Labels: needs-tests, backport version-14-hotfix

#36303 fix: root type in account map for balance sheet
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
  erpnext/accounts/report/financial_statements.py
Labels: needs-tests
