Repository frappe/erpnext, pull requests merged in 2023-01, with the labels that each got.

#33274 fix: update payment entry references
  erpnext/accounts/test/test_utils.py
  erpnext/accounts/utils.py
  erpnext/www/book-appointment/__init__.py
  erpnext/www/book-appointment/verify/__init__.py
Labels: accounts

#33464 feat: calculate hours
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: needs-tests

#33495 fix(stock): missing ordered_qty in get_bin_details
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/get_item_details.py
Labels: stock, backport version-13-hotfix, backport version-14-hotfix

#33444 fix: consider child nodes while getting bin details
  erpnext/controllers/selling_controller.py
  erpnext/public/js/controllers/buying.js
  erpnext/stock/get_item_details.py
Labels: stock, backport version-13-hotfix, backport version-14-hotfix

#33165 refactor: Exchange rate revaluation to handle accounts with zero account balance
  erpnext/accounts/doctype/exchange_rate_revaluation/exchange_rate_revaluation.js
  erpnext/accounts/doctype/exchange_rate_revaluation/exchange_rate_revaluation.json
  erpnext/accounts/doctype/exchange_rate_revaluation/exchange_rate_revaluation.py
  erpnext/accounts/doctype/exchange_rate_revaluation_account/exchange_rate_revaluation_account.json
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/journal_entry/journal_entry.json
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
  erpnext/accounts/report/general_ledger/test_general_ledger.py
  erpnext/accounts/report/utils.py
Labels: needs-tests

#33504 fix: [concurrency issue] incorrect picked qty in sales order
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: backport version-14-hotfix

#33515 fix: Deferred revenue date comparison
  erpnext/accounts/deferred_revenue.py
Labels: accounts, needs-tests, backport version-13-hotfix, backport version-14-hotfix

#33514 fix: set `supplier` details while mapping SE(Send to Subcontractor)
  erpnext/controllers/subcontracting_controller.py
Labels: backport version-14-hotfix

#33518 fix: Get payment entry button not visible in Bank Clearance doc
  erpnext/accounts/doctype/bank_clearance/bank_clearance.js
Labels: backport version-14-hotfix

#33519 fix: Missing opening entry in general ledger
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#33524 refactor: revamp process loss feature & added tab breaks
  erpnext/manufacturing/doctype/bom/bom.js
  erpnext/manufacturing/doctype/bom/bom.json
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom/test_bom.py
  erpnext/manufacturing/doctype/bom_scrap_item/bom_scrap_item.json
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/manufacturing/doctype/work_order/work_order.json
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/stock/doctype/stock_entry/stock_entry.json
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry_detail/stock_entry_detail.json
Labels: backport version-14-hotfix

#33543 chore: enable `No Copy` attribute for `route` in Item Group
  erpnext/setup/doctype/item_group/item_group.json
Labels: backport version-13-hotfix, backport version-14-hotfix

#33537 refactor: Sales Partner column in AR and AR Summary Report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable_summary/accounts_receivable_summary.py
Labels: needs-tests

#33548 fix: incorrect status in the work order
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-14-hotfix

#33581 refactor: convert heatmap queries to QB
  erpnext/projects/doctype/project/project.py
  erpnext/setup/doctype/sales_person/sales_person.py
  erpnext/stock/doctype/item/item.py
Labels: postgres

#33569 chore: patch property setters for JE with new entry type
  erpnext/patches.txt
  erpnext/patches/v14_0/update_entry_type_for_journal_entry.py
Labels: needs-tests, backport version-14-hotfix

#33496 fix: customer/supplier quick entry dialog
  erpnext/public/js/erpnext.bundle.js
  erpnext/public/js/utils/contact_address_quick_entry.js
  erpnext/public/js/utils/customer_quick_entry.js
  erpnext/public/js/utils/supplier_quick_entry.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#33562 fix: better handling of duplicate bundle items
  erpnext/stock/doctype/packed_item/packed_item.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#33549 fix: incorrect warehouse and selling amount on bundled products
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests

#33535 fix(accounts): currency fields no longer read as strings by validation function in Payment Entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-14-hotfix

#33577 fix: Timeout error while saving the purchase invoice
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/controllers/buying_controller.py
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/get_item_details.py
Labels: buying

#33597 fix: don't check other warehouse ledgers to calculate valuation rate
  erpnext/stock/stock_ledger.py
Labels: backport version-14-hotfix

#33481 fix: Incorrect exchange rate in payment entries
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#33604 fix: RFQ emails not sent with pdf attachment
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
Labels: needs-tests, backport version-14-hotfix

#33611 fix: better comparision of `difference_value` of Stock and Account
  erpnext/stock/report/stock_and_account_value_comparison/stock_and_account_value_comparison.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#33621 chore: subcontracting validations
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/controllers/subcontracting_controller.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
Labels: needs-tests, backport version-14-hotfix

#33627 fix: only group similar items in print format if group_same_items is checked in pick list
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/pick_list/test_pick_list.py
Labels: squash, backport version-13-hotfix, backport version-14-hotfix

#33271 feat: Date filters on bank reconciliation tool
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.js
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.json
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
  erpnext/accounts/doctype/bank_transaction/test_bank_transaction.py
  erpnext/public/js/bank_reconciliation_tool/data_table_manager.js
  erpnext/public/js/bank_reconciliation_tool/dialog_manager.js
Labels: needs-tests

#33608 fix: asset value in fixed asset register
  erpnext/assets/report/fixed_asset_register/fixed_asset_register.py
Labels: needs-tests, backport version-14-hotfix

#33636 chore: reuse doc object in test_pick_list_grouping_before_print
  erpnext/stock/doctype/pick_list/test_pick_list.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#33651 fix: zero rm-cost in SCR
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
Labels: dont-merge, backport version-14-hotfix

#33635 fix: Return against internal purchase invoice
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-13-hotfix, backport version-14-hotfix

#33594 refactor: use DocStatus
  erpnext/accounts/doctype/repost_payment_ledger/repost_payment_ledger.py
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: backport version-14-hotfix

#33664 chore: `Sales Order` link in `Pick List`
  erpnext/stock/doctype/pick_list/pick_list_dashboard.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#33603 FIX: Remove usage of "six.string_types"
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
Labels: needs-tests

#33662 revert: Reverting changes done on 33495
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#33582 fix: allow to create sales order from expired quotation
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/quotation/test_quotation.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#33663 fix: attribute error while submitting Repost PLE
  erpnext/accounts/doctype/repost_payment_ledger/repost_payment_ledger.py
Labels: needs-tests

#33661 perf: improve reconciliation performance for JE with 100s of accounts
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#33616 fix: Patch to update reference_due_date in Journal Entry
  erpnext/patches.txt
  erpnext/patches/v14_0/update_reference_due_date_in_journal_entry.py
Labels: needs-tests

#33593 feat: disable currency exchange api.
  erpnext/accounts/doctype/currency_exchange_settings/currency_exchange_settings.json
  erpnext/setup/utils.py
Labels: needs-tests

#33684 feat: [minor] date type based on filter in Work Order Summary report
  erpnext/manufacturing/report/work_order_summary/work_order_summary.js
  erpnext/manufacturing/report/work_order_summary/work_order_summary.py
Labels: needs-tests

#33686 chore: Typo in payment reconciliation
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
Labels: needs-tests, backport version-14-hotfix

#33690 fix: Sales Order Connections Tabs do not show linked Material Request or "+" button (intoduce by #33304)
  erpnext/selling/doctype/sales_order/sales_order_dashboard.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#33695 fix: patch item_reposting_for_incorrect_sl_and_gl
  erpnext/patches.txt
  erpnext/patches/v13_0/item_reposting_for_incorrect_sl_and_gl.py
Labels: backport version-14-hotfix

#33699 fix: Rate from LDC in TDS reports
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.py
Labels: needs-tests, backport version-14-hotfix

#33682 fix: handle asset depr entries posting failure, improve asset depr schedules cancel notes and fix asset repair link [develop]
  erpnext/assets/doctype/asset/asset.js
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/depreciation.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.json
  erpnext/assets/doctype/asset_repair/asset_repair.py
  erpnext/assets/doctype/asset_value_adjustment/asset_value_adjustment.py
Labels: needs-tests

#33705 fix: Missing constructor args in Bank Reco Tool
  erpnext/accounts/doctype/journal_entry/journal_entry.json
  erpnext/public/js/bank_reconciliation_tool/dialog_manager.js
Labels: backport version-14-hotfix

#33712 fix: local variable 'stock_rbnb' referenced before assignment
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
Labels: needs-tests

#33679 refactor: rewrite `pick_list.py` queries in `QB`
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#33698 fix: the frappe throw message is corrected in the group task validation
  erpnext/projects/doctype/task/task.py
Labels: needs-tests, backport develop

#33723 fix: don't add template item in sales/purchase transaction
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/stock/get_item_details.py
Labels: stock, backport version-13-hotfix, backport version-14-hotfix

#33619 fix: rewrite logic for duplicate check in Item Attribute
  erpnext/stock/doctype/item_attribute/item_attribute.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#33643 fix: use hash based naming for tax withheld vouchers child table
  erpnext/accounts/doctype/tax_withheld_vouchers/tax_withheld_vouchers.json
  erpnext/patches.txt
  erpnext/patches/v14_0/change_autoname_for_tax_withheld_vouchers.py
Labels: backport version-14-hotfix

#33718 fix(ecommerce): breadcrumb: fallback to `/all-products`
  erpnext/e_commerce/doctype/website_item/test_website_item.py
  erpnext/setup/doctype/item_group/item_group.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#33739 fix: calculate correct amount for qty == 0
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: backport version-14-hotfix

#33743 fix: Short closed order, receipt and delivery note status on cancellation
  erpnext/controllers/status_updater.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#33746 fix(pricing rule): free item duplication
  erpnext/accounts/doctype/pricing_rule/utils.py
  erpnext/public/js/controllers/transaction.js
Labels: needs-tests

#33595 feat: Add operating cost based on bom quanity without creating job card
  erpnext/manufacturing/doctype/bom/bom.js
  erpnext/manufacturing/doctype/bom/bom.json
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom/test_bom.py
  erpnext/manufacturing/doctype/bom/test_records.json
Labels: dont-merge

#33759 fix: incorrect actual qty for the packed item
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/selling_controller.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: selling, backport version-13-hotfix, backport version-14-hotfix

#33726 feat: Copy project_name, from_time, to_time from timesheet details to sales invoice.
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: needs-tests

#33710 Removed an unnecessary check in code which always evaluates to true
  erpnext/accounts/report/deferred_revenue_and_expense/deferred_revenue_and_expense.py
Labels: needs-tests

#33760 fix: not able to change default BOM in the Subcontracting Order
  erpnext/subcontracting/doctype/subcontracting_order_item/subcontracting_order_item.json
Labels: backport version-14-hotfix

#33713 fix: Better budget exceeding validation messages
  erpnext/accounts/doctype/budget/budget.py
Labels: needs-tests

#33778 fix: missing constant definition
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: critical, backport version-13-hotfix, backport version-14-hotfix

#33772 fix: some asset bugs related to finance books [v14]
  erpnext/assets/doctype/asset/asset.js
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/depreciation.py
Labels: needs-tests

#33547 fix: incorrect `rate` and `amount` in MR Item
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: backport version-14-hotfix

#33735 fix: use stock qty to calculate POS reserved stock
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Labels: needs-tests

#33747 fix: TDS deduction in payment entry
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
Labels: needs-tests, backport version-14-hotfix

#33757 ci: documentation helper
  .github/helper/documentation.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#33790 fix: web supplier quotation
  erpnext/templates/pages/order.py
Labels: backport version-14-hotfix

#33797 chore: add `Cancelled` status in SCO `get_indicator`
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order_list.js
Labels: backport version-14-hotfix

#33810 fix: use correct filter name in reports
  erpnext/buying/report/supplier_quotation_comparison/supplier_quotation_comparison.js
  erpnext/stock/doctype/quality_inspection/quality_inspection.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#33814 fix: use correct filter name in `item_query`
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#33800 fix: GST Category validation broken for pos unregistered customer who dont have address.
  erpnext/accounts/party.py
Labels: accounts, needs-tests, backport version-14-hotfix

#33815 fix: disfuctional cost center filter on Journal Entries
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
Labels: backport version-14-hotfix

#33831 perf: show update items dialog
  erpnext/public/js/utils.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#33835 fix(patch): validation error on cost center allocation migration
  erpnext/accounts/doctype/cost_center_allocation/cost_center_allocation.py
  erpnext/patches/v14_0/migrate_cost_center_allocations.py
Labels: needs-tests

#33005 feat(pos): multiple item prices
  erpnext/selling/page/point_of_sale/point_of_sale.py
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_item_cart.js
  erpnext/selling/page/point_of_sale/pos_item_selector.js
  erpnext/selling/page/point_of_sale/pos_past_order_summary.js
Labels: needs-tests, squash

#33845 fix: item rate not fetching
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/doctype/item/item.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#33834 fix: double salutation on quotation print
  erpnext/crm/doctype/lead/lead.py
Labels: needs-tests, backport version-14-hotfix

#33850 fix: Currency symbol for tax withholding net total field
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/buying/doctype/purchase_order/purchase_order.json
Labels: backport version-14-hotfix

#33852 fix: Ignore linked JE on JE cancellation
  erpnext/accounts/doctype/journal_entry/journal_entry.js
Labels: backport version-14-hotfix

#33858 chore: Resize numeric and date columns
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests, backport version-14-hotfix

#33859 fix: Lead to customer creation
  erpnext/crm/doctype/lead/lead.py
Labels: needs-tests, backport version-14-hotfix

#33855 fix: Amount validation in Payment Request against Purchase Order
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: needs-tests, backport version-14-hotfix

#33736 fix(gp): fetch buying amount from dn related to so
  erpnext/accounts/report/gross_profit/gross_profit.py
  erpnext/accounts/report/gross_profit/test_gross_profit.py
Labels: needs-tests

#33883 fix: disposal_was_made_on_original_schedule_date [develop]
  erpnext/assets/doctype/asset/depreciation.py
Labels: needs-tests

#33715 fix: consider existing pick-list
  erpnext/patches.txt
  erpnext/patches/v14_0/set_pick_list_status.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/pick_list/pick_list.json
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/pick_list/pick_list_list.js
  erpnext/stock/doctype/pick_list/test_pick_list.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-14-hotfix
