Repository frappe/erpnext, pull requests merged in 2023-09, with the labels that each got.

#36898 fix: `company` is ambiguous
  erpnext/accounts/report/item_wise_purchase_register/item_wise_purchase_register.py
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Labels: needs-tests

#36889 fix: fetch currency in discount accounting SI
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-14-hotfix

#36884 fix: Set the default filter in All Trends Report
  erpnext/public/js/purchase_trends_filters.js
  erpnext/public/js/sales_trends_filters.js
Labels: backport develop

#36900 fix: reduce threshold for background job in PCV
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
Labels: needs-tests, backport version-14-hotfix

#36908 fix: only show "Unreconcile" if reconciled
  erpnext/accounts/doctype/bank_transaction/bank_transaction.js
Labels: backport version-14-hotfix

#36895 fix(startup): coa drill down
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#36914 chore: patch to correct asset values if je has workflow [dev]
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/patches.txt
  erpnext/patches/v15_0/correct_asset_value_if_je_with_workflow.py
Labels: needs-tests

#36915 chore: patch to correct asset values if je has workflow [v14]
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/patches.txt
  erpnext/patches/v14_0/correct_asset_value_if_je_with_workflow.py
Labels: needs-tests

#36911 fix: deduplicate gain/loss JE creation for journals as payment
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation_allocation/payment_reconciliation_allocation.json
  erpnext/accounts/doctype/payment_reconciliation_payment/payment_reconciliation_payment.json
  erpnext/accounts/utils.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
Labels: accounts

#36892 fix: when create doc from item dashboard default uom (buying or selling) is not correctly selected
  erpnext/stock/doctype/item/item.js
Labels: backport version-14-hotfix

#36929 refactor: remove `Recalculate Rate` from SCR Item
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
Labels: backport version-14-hotfix

#36940 fix: invalid gain/loss JE created on base currency Expense Claim
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#36950 refactor: gain/loss je should use same posting date as payment
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/utils.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#36920 fix: payment recon not showing payment entry when party_type is Student
  erpnext/accounts/party.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#36963 fix: index error on Receivable report based on payment terms
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests, backport version-14-hotfix

#36954 fix: ignore mandatory fields while saving WO
  erpnext/stock/doctype/material_request/material_request.py
Labels: backport version-14-hotfix

#36919 fix: use primary key for link lookup
  erpnext/stock/report/stock_balance/stock_balance.py
Labels: needs-tests

#36979 chore: asset finance books validation
  erpnext/assets/doctype/asset/asset.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#36983 chore: Update employee for tests
  erpnext/setup/doctype/employee/test_employee.py
Labels: backport version-14-hotfix

#36985 fix: Update party type for payroll payable account
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#36843 fix: show customer name for naming series in process soa
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.json
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts_accounts_receivable.html
  erpnext/accounts/doctype/process_statement_of_accounts/test_process_statement_of_accounts.py
Labels: needs-tests, backport version-14-hotfix

#37006 feat: Add half-yearly asset maintenance periodicity.
  erpnext/assets/doctype/asset_maintenance/asset_maintenance.py
  erpnext/assets/doctype/asset_maintenance_task/asset_maintenance_task.json
Labels: needs-tests, backport version-14-hotfix

#37013 fix(ux): filters for SCR Item `Serial and Batch Bundle`
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
Labels: do not backport

#37024 fix(ux): docstatus filter for `Reference Name` in QI
  erpnext/stock/doctype/quality_inspection/quality_inspection.js
Labels: backport version-14-hotfix

#37025 fix: `Parent Task` link with `Project Task`
  erpnext/projects/doctype/project/project.py
  erpnext/projects/doctype/project/test_project.py
  erpnext/projects/doctype/task/task.json
Labels: backport version-14-hotfix

#37055 fix: Apply dimension filter, irrespective of dimension columns
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests, backport version-14-hotfix

#36944 fix: incorrect stock ledger entries in DN
  erpnext/stock/doctype/delivery_note/delivery_note.json
Labels: backport version-13-hotfix, backport version-14-hotfix

#37046 fix: Purchase Receipt Provisional Accounting GL Entries
  erpnext/buying/doctype/supplier/test_supplier.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport version-14-hotfix

#36980 fix: + btn not appearing for delivery note connection
  erpnext/accounts/doctype/sales_invoice/sales_invoice_dashboard.py
  erpnext/stock/doctype/delivery_note/delivery_note_dashboard.py
Labels: needs-tests, backport version-14-hotfix

#36364 fix: Naming Series preview when no previous transaction present
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#36973 fix: accepted warehouse and rejected warehouse can't be same
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/buying/doctype/purchase_order_item/purchase_order_item.json
Labels: backport version-13-hotfix, backport version-14-hotfix

#37041 fix: multiple fixes for booking advances in seperate account
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.js
  erpnext/accounts/utils.py
  erpnext/buying/doctype/supplier/supplier.js
  erpnext/selling/doctype/customer/customer.js
  erpnext/setup/doctype/company/company.js
  erpnext/setup/doctype/customer_group/customer_group.js
  erpnext/setup/doctype/supplier_group/supplier_group.js
Labels: accounts, needs-tests

#37031 fix: "Based on" field always has the value "Not applicable"
  erpnext/setup/doctype/authorization_rule/authorization_rule.py
Labels: needs-tests

#37032 feat: created "based on" Item Group to specify a different percentage…
  erpnext/setup/doctype/authorization_control/authorization_control.py
  erpnext/setup/doctype/authorization_rule/authorization_rule.js
  erpnext/setup/doctype/authorization_rule/authorization_rule.json
  erpnext/setup/doctype/authorization_rule/authorization_rule.py
Labels: needs-tests

#37001 fix: Comment unusable code and list can not be used as doctype name
  erpnext/e_commerce/shopping_cart/cart.py
Labels: backport version-14-hotfix

#36874 refactor Translatable Voucher Type in General Ledger Report
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests

#37015 refactor!: remove `woocommerce` integration
  erpnext/erpnext_integrations/connectors/__init__.py
  erpnext/erpnext_integrations/connectors/woocommerce_connection.py
  erpnext/erpnext_integrations/doctype/woocommerce_settings/__init__.py
  erpnext/erpnext_integrations/doctype/woocommerce_settings/test_woocommerce_settings.py
  erpnext/erpnext_integrations/doctype/woocommerce_settings/woocommerce_settings.js
  erpnext/erpnext_integrations/doctype/woocommerce_settings/woocommerce_settings.json
  erpnext/erpnext_integrations/doctype/woocommerce_settings/woocommerce_settings.py
  erpnext/patches.txt
  erpnext/patches/v15_0/delete_woocommerce_settings_doctype.py
Labels: do not backport

#36880 fix: prorate factor in subscription invoice total
  erpnext/accounts/doctype/subscription_plan/subscription_plan.py
Labels: needs-tests

#36879 feat: Unreconcile Payments
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/unreconcile_payment_entries/__init__.py
  erpnext/accounts/doctype/unreconcile_payment_entries/unreconcile_payment_entries.json
  erpnext/accounts/doctype/unreconcile_payment_entries/unreconcile_payment_entries.py
  erpnext/accounts/doctype/unreconcile_payments/__init__.py
  erpnext/accounts/doctype/unreconcile_payments/test_unreconcile_payments.py
  erpnext/accounts/doctype/unreconcile_payments/unreconcile_payments.js
  erpnext/accounts/doctype/unreconcile_payments/unreconcile_payments.json
  erpnext/accounts/doctype/unreconcile_payments/unreconcile_payments.py
  erpnext/accounts/utils.py
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/erpnext.bundle.js
  erpnext/public/js/utils.js
  erpnext/public/js/utils/unreconcile.js
Labels: accounts

#37073 fix: precision issue and column name
  erpnext/buying/report/requested_items_to_order_and_receive/requested_items_to_order_and_receive.py
Labels: needs-tests

#37108 fix: asset validation misfire on debit notes
  erpnext/controllers/buying_controller.py
Labels: buying, needs-tests

#37102 fix: ignore user permissions for `Source Warehouse` in MR
  erpnext/stock/doctype/material_request/material_request.json
Labels: backport version-14-hotfix

#37023 fix: company wise deferred accounting fields in item
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/report/deferred_revenue_and_expense/test_deferred_revenue_and_expense.py
  erpnext/patches.txt
  erpnext/patches/v14_0/delete_education_doctypes.py
  erpnext/patches/v14_0/delete_healthcare_doctypes.py
  erpnext/patches/v14_0/migrate_deferred_accounts_to_item_defaults.py
  erpnext/stock/doctype/item/item.js
  erpnext/stock/doctype/item/item.json
  erpnext/stock/doctype/item_default/item_default.json
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests, backport version-14-hotfix

#37074 fix: Don't allow merging accounts with different currency
  erpnext/accounts/doctype/account/account.js
  erpnext/accounts/doctype/account/account.py
  erpnext/accounts/doctype/account/test_account.py
  erpnext/accounts/doctype/ledger_merge/ledger_merge.py
Labels: backport version-14-hotfix

#36668 fix: accounting dimensions required while creating POS Profile
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/accounts/doctype/accounting_dimension/test_accounting_dimension.py
  erpnext/accounts/doctype/pos_closing_entry/test_pos_closing_entry.py
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/pos_profile/pos_profile.js
  erpnext/accounts/doctype/pos_profile/pos_profile.py
  erpnext/accounts/doctype/pos_profile/test_pos_profile.py
Labels: needs-tests

#37127 refactor: better date filters in `Get Outstanding Invoices` dialog
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#37131 refactor: more generic filters in Accounts Receivable report
  erpnext/accounts/report/accounts_payable/test_accounts_payable.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
Labels: needs-tests

#37143 chore: remove obsolete welcome page
  erpnext/patches.txt
  erpnext/setup/page/welcome_to_erpnext/__init__.py
  erpnext/setup/page/welcome_to_erpnext/welcome_to_erpnext.css
  erpnext/setup/page/welcome_to_erpnext/welcome_to_erpnext.html
  erpnext/setup/page/welcome_to_erpnext/welcome_to_erpnext.js
  erpnext/setup/page/welcome_to_erpnext/welcome_to_erpnext.json
Labels: needs-tests

#37115 feat: provision to create RIV from `Stock Ledger Invariant Check` report
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.js
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.py
Labels: backport version-14-hotfix

#37133 fix: after applying coupon code, field in_words not updated
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#37138 fix: POS opening Issue if Product Bundle is available
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Labels: needs-tests

#37135 fix: fetch logic for repay_from_salary in loan_repayment [v14]
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.js
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#36937 add item group filter added in item-wise purchase register
  erpnext/accounts/report/item_wise_purchase_register/item_wise_purchase_register.js
  erpnext/accounts/report/item_wise_purchase_register/item_wise_purchase_register.py
Labels: needs-tests

#37122 fix: german translation of Sales and Purchase Invoice
  erpnext/translations/de.csv
Labels: backport version-14-hotfix

#37042 chore: translations dutch
  erpnext/translations/nl.csv
Labels: backport version-14-hotfix

#37119 chore: add regional support for getting payment entries
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#37047 fix: allow to select parent warehouse in the website item
  erpnext/e_commerce/doctype/website_item/test_website_item.py
  erpnext/e_commerce/doctype/website_item/website_item.js
  erpnext/e_commerce/doctype/website_item/website_item.json
  erpnext/e_commerce/product_data_engine/query.py
  erpnext/e_commerce/shopping_cart/cart.py
  erpnext/e_commerce/variant_selector/utils.py
  erpnext/stock/get_item_details.py
  erpnext/templates/generators/item/item_add_to_cart.html
  erpnext/templates/pages/wishlist.py
  erpnext/utilities/product.py
Labels: stock, needs-tests

#36600 feat: allow to edit Stock Quantity in the Sales and Purchase Transactions
  erpnext/controllers/buying_controller.py
  erpnext/controllers/selling_controller.py
  erpnext/public/js/controllers/buying.js
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/utils/sales_common.js
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/stock/doctype/stock_settings/stock_settings.json
  erpnext/stock/doctype/stock_settings/stock_settings.py
Labels: selling, buying, needs-tests

#37150 fix: labels for `Stock Ledger Invariant Check` report
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.js
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.py
Labels: backport version-14-hotfix

#37165 feat: `Stock Ledger Variance` report
  erpnext/stock/report/stock_ledger_variance/__init__.py
  erpnext/stock/report/stock_ledger_variance/stock_ledger_variance.js
  erpnext/stock/report/stock_ledger_variance/stock_ledger_variance.json
  erpnext/stock/report/stock_ledger_variance/stock_ledger_variance.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#37120 fix: handle multiple references with same name
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#37185 refactor(minor): Stock Reservation Entry
  erpnext/stock/dashboard/item_dashboard.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.js
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.py
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry_list.js
  erpnext/stock/report/stock_balance/stock_balance.py
Labels: do not backport

#37069 fix: Recalculate `advance_paid` in SO/PO after unlinking from advance entry
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/utils.py
Labels: accounts, backport version-13-hotfix, backport version-14-hotfix

#37202 refactor: ignore PLE's on PCV cancellation
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
Labels: needs-tests

#37213 fix: filter gl entries in process soa
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
Labels: backport version-14-hotfix

#37211 feat: Toggle net values in Trial Balance report
  erpnext/accounts/report/trial_balance/trial_balance.js
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests, backport version-14-hotfix

#37167 fix: set customer currency in pos_invoice if exists
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Labels: needs-tests, backport develop, backport version-14-hotfix

#37214 fix!: german translation of Purchase Receipt
  erpnext/translations/de.csv
Labels: do not backport

#37215 fix(Material Request): consider project for item details
  erpnext/stock/doctype/material_request/material_request.js
Labels: backport version-14-hotfix

#37228 refactor(region): Splitting of France Regional logic from ERPNext
  erpnext/patches.txt
  erpnext/patches/v14_0/france_depreciation_warning.py
Labels: needs-tests

#37230 fix: incorrect `Parent Task` getting set for 2nd to nth child Task
  erpnext/projects/doctype/project/project.py
Labels: backport version-14-hotfix

#37194 feat: editable purchase invoice
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.json
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.json
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
  erpnext/accounts/doctype/repost_payment_ledger/repost_payment_ledger.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#37242 fix: serial number decimal issue
  erpnext/controllers/subcontracting_controller.py
Labels: needs-tests

#37249 chore: Drop redundant check
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#37248 fix: AP & AR summary filters to match AR
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/report/accounts_payable/accounts_payable.js
  erpnext/accounts/report/accounts_payable_summary/accounts_payable_summary.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable_summary/accounts_receivable_summary.js
Labels: needs-tests

#37029 fix: PCV posting issues
  erpnext/accounts/doctype/payment_request/payment_request.json
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.json
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
  erpnext/accounts/doctype/period_closing_voucher/test_period_closing_voucher.py
Labels: needs-tests

#37234 fix: Use default Cost Center of the Company for additional discount
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#37273 fix: Set `serial_and_batch_bundle` in right field for Asset Repair Stock Entry
  erpnext/assets/doctype/asset_repair/asset_repair.py
Labels: needs-tests

#37268 fix: AP AR filters from Party link
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/report/accounts_payable/accounts_payable.js
  erpnext/accounts/report/accounts_payable/test_accounts_payable.py
  erpnext/accounts/report/accounts_payable_summary/accounts_payable_summary.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
  erpnext/accounts/report/accounts_receivable_summary/accounts_receivable_summary.js
  erpnext/buying/doctype/supplier/supplier.js
  erpnext/selling/doctype/customer/customer.js
Labels: needs-tests, backport version-14-hotfix

#37285 fix: Not unique table/alias: 'tabTask'
  erpnext/projects/doctype/task/task.json
Labels: backport version-14-hotfix
