Repository frappe/erpnext, pull requests merged in 2023-12, with the labels that each got.

#38478 fix: show item name as title instead of item group in BOM
  erpnext/manufacturing/doctype/bom/bom.py
Labels: needs-tests

#38421 add supplier group filter in purchase register
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/report/purchase_register/purchase_register.js
  erpnext/accounts/report/purchase_register/purchase_register.py
Labels: needs-tests

#38393 refactor: GL entries build logic for `Advance in Separate Party Account` option.
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/utils.py
Labels: accounts

#38440 fix(pe): show split alert only on splitting
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#38474 chore: add translate function to email subject in digest frecuency
  erpnext/setup/doctype/email_digest/email_digest.py
Labels: needs-tests

#38401 fix: don't consider cancelled entries
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#38368 fix: Add missing french translations
  erpnext/translations/fr.csv
Labels: backport version-14-hotfix, backport version-15-hotfix

#38378 fix: SO ordered qty on PO item removal
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-14-hotfix, v15

#38209 fix: use predefined onload property `load_after_mapping`
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.py
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38493 fix: don't update previous doc on rate change
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38525 fix: multiple minor fixes in report and Exchange Rate Revaluation
  erpnext/accounts/doctype/exchange_rate_revaluation/exchange_rate_revaluation.py
  erpnext/selling/report/sales_person_wise_transaction_summary/sales_person_wise_transaction_summary.py
Labels: needs-tests

#38437 fix: incorrectly treating normal payment as advance
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#38562 fix: get dynamic link with parenttype contact
  erpnext/crm/doctype/lead/lead.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38556 fix(minor): financial statements period end date
  erpnext/accounts/report/financial_statements.py
Labels: needs-tests

#38553 feat: `Company` filter in `Stock Ledger Variance` report
  erpnext/stock/report/stock_ledger_variance/stock_ledger_variance.js
  erpnext/stock/report/stock_ledger_variance/stock_ledger_variance.py
Labels: backport version-13-hotfix, backport version-14-hotfix, backport version-15-hotfix

#38570 refactor: ignore unreconcile doc on PI cancel/delete
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38566 fix: incorrect material request quantity in Production Plan
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38580 fix: sql error while filtering on finance book in GL
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38592 fix: consider the `Valuation Method` while picking incorrect SLE
  erpnext/stock/report/stock_ledger_variance/stock_ledger_variance.py
Labels: backport version-13-hotfix, backport version-14-hotfix, backport version-15-hotfix

#38416 fix: only highest eligible coupon applied
  erpnext/accounts/doctype/pricing_rule/utils.py
Labels: needs-tests

#38477 feat: add employee number to client user bootinfo
  erpnext/hooks.py
  erpnext/startup/boot.py
Labels: needs-tests

#38608 fix(ux): don't update qty blindly
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#38636 fix: calc monthly_repayment_amount correctly in regenerate_repayment_schedule
  erpnext/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#38634 fix: Shipping Address Link Showing in Buying
  erpnext/public/js/controllers/buying.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#38637 fix: auto delete draft serial and batch bundle
  erpnext/controllers/accounts_controller.py
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
Labels: accounts

#38653 Revert "refactor: bank transaction (backport #38182)"
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
  erpnext/accounts/doctype/bank_transaction/bank_transaction.json
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
Labels: needs-tests

#38659 fix: not able to make serial and batch using csv import
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/serial_and_batch_entry/serial_and_batch_entry.json
Labels: needs-tests

#38672 fix: get data for leaderboard
  erpnext/startup/leaderboard.py
Labels: backport version-13-hotfix, backport version-14-hotfix, backport version-15-hotfix

#38673 fix: typo in unittest
  erpnext/accounts/doctype/repost_accounting_ledger/test_repost_accounting_ledger.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38644 fix: attribute error
  erpnext/stock/get_item_details.py
Labels: stock

#38667 fix: close PO on SCO close
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38669 fix: serial no filter in the Serial No Ledger report
  erpnext/stock/report/serial_no_ledger/serial_no_ledger.py
Labels: needs-tests, backport version-15-hotfix

#38685 refactor: add `get_list` for virtual child doctypes
  erpnext/accounts/doctype/payment_reconciliation_allocation/payment_reconciliation_allocation.py
  erpnext/accounts/doctype/payment_reconciliation_invoice/payment_reconciliation_invoice.py
  erpnext/accounts/doctype/payment_reconciliation_payment/payment_reconciliation_payment.py
Labels: needs-tests

#38692 fix: typeerror on new sites
  erpnext/public/js/utils.js
Labels: backport version-15-hotfix

#38696 fix: 1st row depr. sch. value of asset put to less than 180 days acc. to I.T. S. 32
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
Labels: needs-tests, backport version-15-hotfix

#38697 fix: 1st row depr. sch. value of asset put to less than 180 days acc. to I.T. S. 32
  erpnext/assets/doctype/asset/asset.py
Labels: needs-tests

#38712 fix: supplier removed on selection of item
  erpnext/stock/get_item_details.py
Labels: stock, backport version-15-hotfix

#38716 fix: barcode scanning for the stock entry
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/utils/barcode_scanner.js
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: backport version-15-hotfix

#38725 feat: RFQ print preview
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38717 fix: fetch exc rate of multi currency journals on reconciliation
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
Labels: needs-tests

#38744 fix: error while filtering on name on reconciliation tool
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#38505 feat: set lead name from email
  erpnext/crm/doctype/lead/lead.json
  erpnext/crm/doctype/lead/lead.py
Labels: needs-tests

#38533 fix: set date format from system settings
  erpnext/patches.txt
  erpnext/setup/install.py
Labels: defer backport

#38720 fix(ux): don't override Item Name and Description in MR
  erpnext/stock/doctype/material_request/material_request.js
Labels: dont-merge, backport version-14-hotfix, backport version-15-hotfix

#38767 fix: skip JVs against bank accounts in tax report
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
Labels: needs-tests

#38766 fix: validation error on reconciling PE to Journals as Invoice
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#38776 fix: asset patch failure due to missing shift_based column
  erpnext/patches/v15_0/create_asset_depreciation_schedules_from_assets.py
Labels: needs-tests, backport version-15-hotfix

#38778 fix: wrong currency in Stock Balance report
  erpnext/stock/report/stock_balance/stock_balance.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38691 fix: Init internal child table values
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#38742 fix: show bill_date and bill_no in Purchase Register
  erpnext/accounts/report/purchase_register/purchase_register.py
Labels: needs-tests

#38789 fix: Reset SLA on issue doesn't work
  erpnext/support/doctype/issue/issue.js
  erpnext/support/doctype/service_level_agreement/service_level_agreement.py
Labels: needs-tests

#38807 fix(demo): Demo setup for Canadian COA
  erpnext/accounts/doctype/account/chart_of_accounts/verified/ca_plan_comptable_pour_les_provinces_francophones.json
  erpnext/setup/demo.py
Labels: needs-tests, backport version-15-hotfix

#38808 fix: fetch item_tax_template values if fields with fetch_from exisit (backport #38284)
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/get_item_details.py
Labels: accounts, stock, needs-tests

#38809 fix: fetch item_tax_template values if fields with fetch_from exisit (backport #38284)
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/get_item_details.py
Labels: accounts, stock, needs-tests

#38817 fix: not able to cancel SCR with Batch
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
Labels: backport develop

#38820 refactor: ignore ERR journals in Statment of Accounts
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.json
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests

#38826 fix: not able to make inter-company po from so
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/controllers/buying_controller.py
Labels: backport develop

#38827 perf: index `return_against` on delivery note
  erpnext/patches.txt
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_note/patches/__init__.py
  erpnext/stock/doctype/delivery_note/patches/drop_unused_return_against_index.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38845 fix: item variant with manufacturer
  erpnext/controllers/item_variant.py
  erpnext/stock/doctype/item/test_item.py
Labels: stock

#38842 fix: set `fg-itm-qty` based on `qty` instead of the other way round in Subcontracting POs
  erpnext/buying/doctype/purchase_order/purchase_order.js
Labels: backport version-15-hotfix

#38848 fix: on closed unreserved the production plan qty
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
Labels: backport develop

#38849 fix: incoming rate for sales return with Moving Average valuation method
  erpnext/controllers/selling_controller.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: selling, backport develop

#38861 fix: if not budget then don't validate
  erpnext/stock/doctype/material_request/material_request.py
Labels: backport develop, backport version-15-hotfix

#38830 perf: use estimated rows instead of actual rows
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38850 fix: local reference error in BOM
  erpnext/manufacturing/doctype/bom/bom.py
Labels: needs-tests

#38880 fix: allow to set rate manually for service item in BOM
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom/test_bom.py
  erpnext/manufacturing/doctype/bom_item/bom_item.json
  erpnext/patches.txt
  erpnext/patches/v14_0/set_maintain_stock_for_bom_item.py
Labels: backport develop

#38858 fix: unset discount amount for removed coupons
  erpnext/selling/sales_common.js
Labels: selling

#38879 feat: total_asset_cost field
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset_repair/asset_repair.py
  erpnext/patches.txt
  erpnext/patches/v14_0/update_total_asset_cost_field.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38895 fix: reposting not fixing valuation rate for sales return using movin…
  erpnext/controllers/selling_controller.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/stock_ledger.py
Labels: stock, selling, backport develop

#38904 chore: additional_asset_cost field
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset_repair/asset_repair.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38909 fix: reset the incoming rate on changing of the warehouse
  erpnext/selling/sales_common.js
Labels: selling, backport develop, backport version-15-hotfix

#38884 perf: Drop unused/duplicate/sub-optimal indexes
  .pre-commit-config.yaml
  erpnext/accounts/doctype/gl_entry/gl_entry.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/buying/doctype/purchase_order_item/purchase_order_item.json
  erpnext/patches.txt
  erpnext/stock/doctype/bin/bin.json
  erpnext/stock/doctype/delivery_note/patches/drop_unused_return_against_index.py
  erpnext/tests/test_perf.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38915 chore: fixup broken JSON files
  erpnext/accounts/doctype/account/chart_of_accounts/unverified/at_austria_chart_template.json
  erpnext/accounts/doctype/journal_entry/test_records.json
  erpnext/setup/demo_data/journal_entry.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#38660 Update company.py
  erpnext/setup/doctype/company/company.py
Labels: needs-tests

#38558 feat: provision to add items in Stock Reservation dialog
  erpnext/controllers/queries.py
  erpnext/selling/doctype/sales_order/sales_order.js
Labels: backport version-15-hotfix

#38922 fix: `Reserved Stock` report
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.py
  erpnext/stock/report/reserved_stock/reserved_stock.js
Labels: backport version-15-hotfix

#38925 fix: reset the incoming rate on changing of the warehouse
  erpnext/public/js/utils/sales_common.js
Labels: backport version-15-hotfix

#38927 fix: first name error on customer creation
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests

#38822 feat: voucher subtype for general ledger
  erpnext/accounts/doctype/gl_entry/gl_entry.json
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#38837 fix(Project): german translation for actual time
  erpnext/translations/de.csv
Labels: squash

#38942 fix(ux): make PR and PI Item rate field readonly based on `Maintain Same Rate`
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.js
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#38891 fix: incorrect price list in customer-wise item price report
  erpnext/selling/report/customer_wise_item_price/customer_wise_item_price.py
Labels: needs-tests

#38949 fix: do not make serial batch bundle for zero qty
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
Labels: backport version-15-hotfix

#38950 fix: not able to import serial batch bundle using csv
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#38956 fix: min order qty optional in production plan
  erpnext/manufacturing/doctype/bom/bom.json
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.json
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38962 fix: use `Stock Qty` while getting `POS Reserved Qty`
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Labels: backport version-15-hotfix

#38964 fix: incorrect qty in serial batch bundle against pick list
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/pick_list/pick_list.js
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/pick_list/test_pick_list.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#38798 fix : correct logic for overlap error
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests

#38967 fix : correct logic for overlap error
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests

#38346 feat: Merge taxes from mapped docs
  erpnext/public/js/utils.js
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests, backport version-15-hotfix

#38805 feat: remove german CoA "SKR04 ohne Kontonummern" and rename other CoA files
  erpnext/accounts/doctype/account/chart_of_accounts/verified/de_kontenplan_SKR03.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/de_kontenplan_SKR04.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/de_kontenplan_SKR04_with_account_number.json
Labels: dont squash

#38986 fix: remove bad defaults
  erpnext/accounts/doctype/cashier_closing/cashier_closing.json
  erpnext/selling/doctype/customer/customer.json
  erpnext/stock/tests/test_valuation.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38969 fix: incorrect net profit in Profit and Loss Statement
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/profit_and_loss_statement/profit_and_loss_statement.py
  erpnext/accounts/report/profit_and_loss_statement/test_profit_and_loss_statement.py
Labels: backport version-15-hotfix

#38994 fix: serial and batch bundle company mandatory error
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#39002 fix: auto fetch not working if bundle exists
  erpnext/public/js/utils/serial_no_batch_selector.js
Labels: backport version-15-hotfix

#39005 fix: Multiple subscription fixes
  erpnext/accounts/doctype/subscription/subscription.json
  erpnext/accounts/doctype/subscription/subscription.py
  erpnext/controllers/accounts_controller.py
Labels: backport version-15-hotfix

#39013 fix: Validate account in Sales/Purchase Taxes and Charges Template
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38551 feat: skip disabled accounts in COA
  erpnext/accounts/utils.py
  erpnext/setup/doctype/department/department.py
  erpnext/stock/doctype/warehouse/warehouse.py
Labels: accounts, needs-tests

#39043 fix: enqueue demo data setup on setup complete
  erpnext/hooks.py
  erpnext/setup/setup_wizard/setup_wizard.py
Labels: backport version-15-hotfix

#38914 fix: GL values in transaction currency via JV
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests
