Repository frappe/erpnext, pull requests merged in 2023-10, with the labels that each got.

#37313 fix: ignore user permissions for `Source Warehouse`
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
Labels: backport version-14-hotfix

#37229 refactor!: Remove Regionalisation of France as now there is an App ERPNext France to manage it
  erpnext/regional/__init__.py
  erpnext/regional/address_template/templates/france.html
  erpnext/regional/france/__init__.py
  erpnext/regional/france/setup.py
  erpnext/regional/france/utils.py
  erpnext/regional/report/fichier_des_ecritures_comptables_[fec]/__init__.py
  erpnext/regional/report/fichier_des_ecritures_comptables_[fec]/fichier_des_ecritures_comptables_[fec].js
  erpnext/regional/report/fichier_des_ecritures_comptables_[fec]/fichier_des_ecritures_comptables_[fec].json
  erpnext/regional/report/fichier_des_ecritures_comptables_[fec]/fichier_des_ecritures_comptables_[fec].py
  erpnext/tests/test_regional.py
Labels: regional

#37302 feat: asset salvage_value_percentage
  erpnext/assets/doctype/asset/asset.js
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset_activity/asset_activity.json
  erpnext/assets/doctype/asset_finance_book/asset_finance_book.json
Labels: needs-tests, backport version-14-hotfix

#37304 fix: only float row values for total in AP summary
  erpnext/accounts/report/accounts_receivable_summary/accounts_receivable_summary.py
Labels: needs-tests, backport version-14-hotfix

#37301 fix: validation message for valuation rate
  erpnext/controllers/selling_controller.py
Labels: selling, needs-tests

#37359 refactor: add `access_key` field to facilitate use of exchangerate.host provider
  erpnext/accounts/doctype/currency_exchange_settings/currency_exchange_settings.json
  erpnext/accounts/doctype/currency_exchange_settings/currency_exchange_settings.py
  erpnext/setup/doctype/currency_exchange/test_currency_exchange.py
Labels: needs-tests

#37370 fix: fetch company details for Lead based quotation
  erpnext/crm/doctype/lead/lead.py
Labels: needs-tests

#37300 fix: incorrect status of the returned purchase receipt
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: accounts, backport develop

#37289 fix: ageing summary in SOA AR
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/doctype/process_statement_of_accounts/test_process_statement_of_accounts.py
Labels: needs-tests, backport version-14-hotfix

#37310 chore: rewrite query using query builder
  erpnext/crm/report/lead_details/lead_details.py
  erpnext/e_commerce/shopping_cart/test_shopping_cart.py
Labels: needs-tests

#37123 fix: payment request rounding in multi-currency and on status update
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: needs-tests

#37401 fix: fetch dependent task subject and project
  erpnext/projects/doctype/task_depends_on/task_depends_on.json
Labels: backport version-14-hotfix

#37452 fix(ux): allow MR to Stop until fully received
  erpnext/stock/doctype/material_request/material_request.js
Labels: backport version-14-hotfix

#37400 fix: production plan reserved qty incorrect calculation
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests

#37424 fix: negative valuation rate in PR return
  erpnext/controllers/buying_controller.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/stock_ledger.py
Labels: stock, buying, backport version-13-hotfix

#37459 refactor: add validation for Advances in SI/PI
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#37436 refactor: for non-repost fields, don't validate
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests

#37418 fix: german tranlations of "Is Return"
  erpnext/translations/de.csv
Labels: backport version-14-hotfix

#37484 refactor(patch): ignore links on closing balance patch
  erpnext/accounts/doctype/account_closing_balance/account_closing_balance.py
Labels: needs-tests

#37481 fix: use `flt` to ignore TypeError
  erpnext/stock/stock_ledger.py
Labels: stock, backport version-13-hotfix

#37435 fix(gp): wrong `allocated_amount` when grouped by Sales Person
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests

#37495 fix: keyerror on gl and pl comparision report
  erpnext/accounts/report/general_and_payment_ledger_comparison/general_and_payment_ledger_comparison.py
Labels: needs-tests

#37494 fix: Stock Reconciliation Insufficient Stock Error
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/stock_ledger.py
Labels: stock

#37478 refactor: back calculate total amt for TDS
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
Labels: needs-tests

#37512 fix: inflated total amt in TDS report using back calculation
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.py
Labels: needs-tests

#37414 fix: consider received qty while creating SO -> MR
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: backport version-14-hotfix

#36780 feat: item(row) wise tax amount rounding
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: accounts, needs-tests

#37513 fix: GL Entries not getting created for PR Return
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport version-14-hotfix

#37528 perf: index `dn_detail` in `Delivery Note Item`
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.json
Labels: backport version-14-hotfix

#37524 fix: Incorrect vat amount in KSA VAT report
  erpnext/regional/report/ksa_vat/ksa_vat.py
Labels: needs-tests

#37330 refactor: checkbox to toggle exchange rate inheritence in PO->PI
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#37527 fix: same Serial No get mapped while creating SO -> DN
  erpnext/controllers/accounts_controller.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/get_item_details.py
Labels: stock

#37541 fix(test): project test case
  erpnext/projects/doctype/task_depends_on/task_depends_on.json
Labels: backport version-14-hotfix

#37550 chore: Add accounting dimensions to Sales Order Item table
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v14_0/create_accounting_dimensions_in_sales_order_item.py
  erpnext/selling/doctype/sales_order_item/sales_order_item.json
Labels: needs-tests

#37549 refactor: use account in key while grouping voucher in ar/ap report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
Labels: needs-tests

#37539 fix: billed_qty to show a sum of all invoiced qty from the purchase order item.
  erpnext/buying/report/purchase_order_analysis/purchase_order_analysis.py
Labels: needs-tests

#37554 fix: e-commerce permissions for address
  erpnext/accounts/party.py
  erpnext/controllers/selling_controller.py
Labels: accounts, selling, backport version-13-hotfix, backport version-14-hotfix

#37565 fix: Issues related to RFQ and Supplier Quotation on Portal
  erpnext/accounts/party.py
  erpnext/templates/includes/rfq.js
  erpnext/templates/includes/rfq/rfq_macros.html
  erpnext/templates/pages/order.html
  erpnext/templates/pages/rfq.html
Labels: accounts, needs-tests

#37571 fix: payment entry count on supplier dashboard
  erpnext/buying/doctype/supplier/supplier_dashboard.py
Labels: needs-tests

#37602 fix: Correctly extract last message
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
Labels: needs-tests

#37605 fix(delivery): rename dt fetch stop action
  erpnext/stock/doctype/delivery_trip/delivery_trip.js
Labels: backport version-14-hotfix

#37591 fix: incorrect cost center in the purchase invoice
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/get_item_details.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#37595 fix: add regional support to extend purchase gl entries
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: stock, needs-tests

#37542 fix: GL Entries for receiving non CWIP assets using Purchase Receipt
  erpnext/controllers/stock_controller.py
  erpnext/public/images/erpnext-favicon.svg
  erpnext/public/images/erpnext-logo.png
  erpnext/public/images/erpnext-logo.svg
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#37611 refactor: use gzip library's compress() and decompress() methods directly
  erpnext/stock/doctype/closing_stock_balance/closing_stock_balance.py
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests, backport version-15-hotfix

#37496 fix: set empty value for tax template in item details
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests, backport version-14-hotfix

#37613 fix: error while loading Financial Ratios report
  erpnext/accounts/report/financial_ratios/financial_ratios.py
Labels: needs-tests

#37580 feat(Supplier Scorecard): added method for invoiced quantity in suppl…
  erpnext/buying/doctype/supplier_scorecard/supplier_scorecard.py
  erpnext/buying/doctype/supplier_scorecard_variable/supplier_scorecard_variable.py
Labels: needs-tests

#37483 fix: Update user profile picture, if employee profile pic is changed
  erpnext/setup/doctype/employee/employee.py
Labels: needs-tests

#37612 fix: remove from or target warehouse for non internal transfer entries
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: stock, backport version-13-hotfix, backport version-14-hotfix

#37618 chore: Add missing commits back
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#37522 fix: Cash flow mapping fix
  erpnext/accounts/report/cash_flow/custom_cash_flow.py
Labels: needs-tests

#37499 fix: Quality Inspection Parameter migration - DuplicateEntryError due to case sensitivity
  erpnext/patches/v13_0/convert_qi_parameter_to_link_field.py
Labels: needs-tests

#37637 Revert "fix: set empty value for tax template in item details (backport #37496)"
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/get_item_details.py
Labels: stock

#37586 fix: overallocation on purchase order to multiple invoices
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/accounts/utils.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
Labels: accounts

#37638 fix: close employee loan on write off
  erpnext/loan_management/doctype/loan/loan.py
  erpnext/loan_management/doctype/loan_write_off/loan_write_off.py
Labels: needs-tests

#37603 feat: auto reserve stock for Sales Order on purchase
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/patches.txt
  erpnext/patches/v15_0/update_sre_from_voucher_details.py
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/pick_list/pick_list.js
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/pick_list/pick_list_dashboard.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt_dashboard.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.js
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.json
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.py
  erpnext/stock/doctype/stock_reservation_entry/test_stock_reservation_entry.py
  erpnext/stock/doctype/stock_settings/stock_settings.json
  erpnext/stock/report/reserved_stock/reserved_stock.js
  erpnext/stock/report/reserved_stock/reserved_stock.py
Labels: backport version-15-hotfix

#37642 fix: Purchase Receipt GL Entries
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#37576 fix: incorrect process loss validation for multiple finished items
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests, backport version-14-hotfix

#37660 fix: GL Entries for receiving non CWIP assets using Purchase Receipt
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/general_ledger.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/controllers/stock_controller.py
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/patches/v12_0/set_expense_account_in_landed_cost_voucher_taxes.py
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/setup/doctype/company/company.js
  erpnext/setup/doctype/company/company.json
  erpnext/setup/doctype/company/company.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
Labels: accounts, stock

#37658 fix: wrong german translation
  erpnext/translations/de.csv
Labels: backport version-13-hotfix

#37625 refactor: set exchange rate on foreign currency JE from Bank Reconciliation
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
Labels: needs-tests

#37668 fix: force delete removed report
  erpnext/patches.txt
Labels: backport version-15-hotfix

#37671 chore: fixed test case non_internal_transfer_delivery_note
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: backport version-13-hotfix, backport version-14-hotfix, backport version-15-hotfix

#37669 refactor: rename field `Over Order Allowance` to `Blanket Order Allowance`
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/manufacturing/doctype/blanket_order/blanket_order.py
  erpnext/manufacturing/doctype/blanket_order/test_blanket_order.py
  erpnext/patches.txt
  erpnext/patches/v14_0/rename_over_order_allowance_field.py
  erpnext/selling/doctype/selling_settings/selling_settings.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#37686 feat: allow return of components for SCO that don't have SCR created
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#37604 feat(delivery): link to delivery notes list view from delivery trip
  erpnext/stock/doctype/delivery_trip/delivery_trip.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#37306 fix: avoid name clash in delivery stop
  erpnext/patches.txt
  erpnext/patches/v14_0/migrate_delivery_stop_lock_field.py
  erpnext/stock/doctype/delivery_stop/delivery_stop.json
  erpnext/stock/doctype/delivery_trip/delivery_trip.py
  erpnext/stock/doctype/delivery_trip/test_delivery_trip.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#37466 fix(defaults): apply discount and provisonal defaults from item group and brand if available
  erpnext/stock/get_item_details.py
Labels: stock, backport version-14-hotfix, backport version-15-hotfix

#37707 fix: typeerror on TDS payable monthly report
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
Labels: needs-tests

#37714 fix: typeerror on tds payable monthly report
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.py
Labels: needs-tests

#37690 fix(plaid): Do not sync pending transactions
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
  erpnext/erpnext_integrations/doctype/plaid_settings/plaid_settings.py
Labels: needs-tests

#37723 chore: allow wip_composite_asset in the MR PO PR PI flow
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/purchase_order_item/purchase_order_item.json
  erpnext/stock/doctype/material_request/material_request.py
  erpnext/stock/doctype/material_request_item/material_request_item.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#37721 fix: unsupported operand type(s) for serial and batch bundle in POS Invoice
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#37674 fix(minor): set tax values for item variants
  erpnext/stock/doctype/item/item.py
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#37722 fix: typo in function name and msg
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#37737 fix: fetch asset received but not billed account only when needed
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests

#37732 refactor: remove extraneous disabled filters
  erpnext/accounts/report/profitability_analysis/profitability_analysis.js
  erpnext/assets/doctype/asset/asset.js
  erpnext/buying/report/supplier_quotation_comparison/supplier_quotation_comparison.js
  erpnext/manufacturing/report/bom_operations_time/bom_operations_time.js
  erpnext/public/js/controllers/accounts.js
  erpnext/stock/doctype/item_price/item_price.js
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.js
  erpnext/support/doctype/issue/issue.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#37752 fix: negative current qty causing recursion issue
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: needs-tests

#37661 fix: make changes that enable gantt view for job cards
  erpnext/manufacturing/doctype/job_card/job_card_calendar.js
  erpnext/manufacturing/doctype/job_card/job_card_list.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#37720 refactor: ignore cancelled GLE's while looking for currency of existing entries
  erpnext/accounts/party.py
Labels: accounts, needs-tests

#37758 fix: `PermissionError` while creating DN from SO
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: backport version-15-hotfix

#37766 fix: indexing on Delivery Note Item
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#37708 fix: set correct `purchase_sle` in `get_last_sle()`
  erpnext/stock/doctype/serial_no/serial_no.py
Labels: needs-tests

#37597 fix(packed_item): ensure proper names for ref integrity
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests

#37796 fix: In-Transit Warehouse company filter
  erpnext/setup/doctype/company/company.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#37743 fix: make project page translatable
  erpnext/templates/pages/projects.html
Labels: backport version-15-hotfix

#37793 refactor: pull remarks only if needed on AR/AP report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests

#37742 fix: remove GoCardless Settings and Mpesa Settings from Workspace
  erpnext/erpnext_integrations/workspace/erpnext_integrations/erpnext_integrations.json
Labels: do not backport
