Repository frappe/erpnext, pull requests merged in 2023-05, with the labels that each got.

#35084 fix: Naming series error in Journal Entry template
  erpnext/accounts/doctype/journal_entry_template/journal_entry_template.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#35037 fix: Patch for posting closing balances
  erpnext/patches/v14_0/update_closing_balances.py
Labels: needs-tests

#35064 fix: Updates in process statement of Accounts
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.html
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.json
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/doctype/process_statement_of_accounts_customer/process_statement_of_accounts_customer.json
Labels: needs-tests, backport version-14-hotfix

#35117 fix: handle expected_value_after_useful_life properly in asset value adjustment
  erpnext/assets/doctype/asset_value_adjustment/asset_value_adjustment.py
Labels: needs-tests, backport version-13-hotfix, backport develop

#35118 fix: don't allow to make reposting for the closed period
  erpnext/accounts/doctype/period_closing_voucher/test_period_closing_voucher.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#35123 fix: timeout error while submitting delivery note
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.json
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#35061 refactor: don't book exchange gain/loss for sales/purchase orders
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
Labels: needs-tests

#35091 refactor: button to toggle parent doc cost center preference for rounding adjustment amount
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/general_ledger.py
Labels: accounts, needs-tests

#35107 fix: incorrect paid_amount and exchange rate in Payment Entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#35085 fix: handle finance book properly in trial balance and general ledger
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#35136 fix: handle finance book properly in trial balance and general ledger [v14]
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests, backport version-13-hotfix

#35144 feat: reserve qty against production plan raw materials in BIN
  erpnext/manufacturing/doctype/material_request_plan_item/material_request_plan_item.json
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/stock/doctype/bin/bin.json
  erpnext/stock/doctype/bin/bin.py
  erpnext/stock/report/stock_projected_qty/stock_projected_qty.py
Labels: backport version-14-hotfix

#35148 fix: over production percentage not considered in validation
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/work_order/test_work_order.py
Labels: backport version-14-hotfix

#35158 fix: internal transfer condition
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#35189 fix: handle empty FBs properly in TB and GL [v14]
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests, backport version-13-hotfix

#35196 fix: pick the in progress reposting entries first
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests, backport version-14-hotfix

#35200 fix: error regarding accepted and supplier warehouse
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/stock/doctype/material_request/material_request.json
  erpnext/stock/doctype/material_request_item/material_request_item.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
Labels: backport version-14-hotfix

#34998 fix: update workstation hour rate when workstation change in job card
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests

#35186 fix: child acc will inherit acc currency if explicitly specified
  erpnext/accounts/doctype/account/account.py
  erpnext/accounts/doctype/account/test_account.py
  erpnext/setup/doctype/company/test_records.json
Labels: needs-tests

#35142 fix: ineffective bypass flag for Credit Limit in Customer Group
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests

#35153 fix: fetch default sales team on Quotation -> Sales Order creation
  erpnext/selling/doctype/quotation/quotation.py
Labels: needs-tests, backport version-14-hotfix

#35216 fix: broken save on empty row existance
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: backport version-14-hotfix

#35227 fix: non manufacturing items/fixed asset items in BOM
  erpnext/manufacturing/doctype/bom/bom.js
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom/test_bom.py
Labels: backport version-14-hotfix

#35178 fix: account closing balance patch
  erpnext/patches.txt
  erpnext/patches/v14_0/update_closing_balances.py
Labels: needs-tests

#35268 fix: BOM item filter issue
  erpnext/manufacturing/doctype/bom/bom.js
Labels: backport version-14-hotfix

#35273 fix: incorrect packing items
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
Labels: backport version-14-hotfix

#35224 fix: inventory dimension for material transfer not working
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.py
  erpnext/stock/doctype/inventory_dimension/test_inventory_dimension.py
Labels: backport version-14-hotfix

#35275 fix: add missing options for `Content Align`
  erpnext/e_commerce/web_template/hero_slider/hero_slider.json
Labels: backport version-13-hotfix, backport version-14-hotfix

#35289 fix: inventory dimension for returned inter company transfer
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/inventory_dimension/test_inventory_dimension.py
Labels: backport version-14-hotfix

#35262 fix: bad strings format for update-translations part-2
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: needs-tests

#35171 fix: allow search leads by doctype search fields
  erpnext/controllers/queries.py
Labels: needs-tests

#35146 feat: copy project from timesheet to invoice
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: needs-tests

#35115 fix: function `batch_no` should only be declared once
  erpnext/selling/sales_common.js
Labels: selling, backport version-14-hotfix

#35079 fix: allow over-payment against SO
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/startup/boot.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#35293 fix: sales person allocated amount calculation error nonetype and float
  erpnext/controllers/selling_controller.py
Labels: selling, needs-tests, backport version-14-hotfix

#35187 fix: port option for additional_conditions in item wise sales register
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Labels: needs-tests, backport version-14-hotfix

#35138 fix: recalculate costs in SCR while reposting
  erpnext/controllers/subcontracting_controller.py
  erpnext/controllers/tests/test_subcontracting_controller.py
  erpnext/stock/stock_ledger.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
Labels: stock, backport version-14-hotfix

#35311 fix: update workstation hour rate when workstation change in job card
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests

#35312 fix: item list view not working
  erpnext/stock/doctype/item/item_list.js
Labels: backport version-14-hotfix

#35319 fix(UX): misc "home" onboarding improvements
  erpnext/setup/module_onboarding/home/home.json
  erpnext/setup/onboarding_step/company_set_up/company_set_up.json
  erpnext/setup/onboarding_step/create_a_customer/create_a_customer.json
  erpnext/setup/onboarding_step/create_a_quotation/create_a_quotation.json
  erpnext/setup/onboarding_step/create_a_supplier/create_a_supplier.json
  erpnext/setup/onboarding_step/create_an_item/create_an_item.json
  erpnext/setup/onboarding_step/data_import/data_import.json
  erpnext/setup/onboarding_step/letterhead/letterhead.json
  erpnext/setup/onboarding_step/navigation_help/navigation_help.json
Labels: backport version-14-hotfix

#35309 fix: cancelled vouchers in tax withheld vouchers list
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#35328 fix: force to do reposting for cancelled document
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/repost_item_valuation/test_repost_item_valuation.py
Labels: stock, backport version-14-hotfix

#35285 fix: unable to create partial invoice with auto fetch terms enabled
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-14-hotfix

#35338 fix: consider 0 if rate/qty are null
  erpnext/patches/v13_0/update_amt_in_work_order_required_items.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#35306 fix: Pick List Status
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: bug, backport version-14-hotfix

#35352 fix: create sales order
  erpnext/selling/doctype/quotation/quotation.py
Labels: needs-tests

#35355 fix: possible type error on quotation -> sales order creation
  erpnext/selling/doctype/quotation/quotation.py
Labels: needs-tests

#34909 Get incoming rate v14 fix
  erpnext/stock/utils.py
Labels: stock, needs-tests

#35346 fix: account closing balance patch
  erpnext/patches.txt
  erpnext/patches/v14_0/update_closing_balances.py
Labels: needs-tests

#35365 feat: provision to make reposting entries from Stock and Account Value Comparison Report
  erpnext/stock/report/stock_and_account_value_comparison/stock_and_account_value_comparison.js
  erpnext/stock/report/stock_and_account_value_comparison/stock_and_account_value_comparison.py
Labels: backport version-14-hotfix

#35156 fix: Incorrect Earned Leaves Proration
  erpnext/hr/doctype/leave_policy_assignment/leave_policy_assignment.py
Labels: inactive

#35376 fix: don't recalculate rate for SCR rejected warehouse SLE
  erpnext/controllers/subcontracting_controller.py
Labels: backport version-14-hotfix

#35389 fix: replace quotation with invoice in first onboarding
  erpnext/accounts/form_tour/sales_invoice/sales_invoice.json
  erpnext/selling/form_tour/quotation/quotation.json
  erpnext/setup/module_onboarding/home/home.json
  erpnext/setup/onboarding_step/create_a_customer/create_a_customer.json
  erpnext/setup/onboarding_step/create_an_item/create_an_item.json
  erpnext/setup/onboarding_step/create_your_first_sales_invoice/create_your_first_sales_invoice.json
Labels: backport version-14-hotfix

#35396 fix: incorrect depr schedule and posting dates on selling of existing assets [v14]
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/depreciation.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
Labels: backport version-13-hotfix

#35410 fix: Negative value in Reserved Qty for Production Plan
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: needs-tests

#35320 fix: Gross and Net Profit Report - incorrect calculation of totals
  erpnext/accounts/report/gross_and_net_profit_report/gross_and_net_profit_report.py
Labels: needs-tests, backport develop

#35417 fix(Gross Profit): 'company' column is ambiguous in filter
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests

#35426 fix: incorrect available quantity in BIN
  erpnext/stock/stock_ledger.py
  erpnext/stock/utils.py
Labels: stock, needs-tests

#35416 fix: Show future payments in accounts receivable summary
  erpnext/accounts/party.py
  erpnext/accounts/report/accounts_receivable_summary/accounts_receivable_summary.py
Labels: accounts, needs-tests

#35435 fix(UX): task and project name in error message
  erpnext/projects/doctype/task/task.py
Labels: needs-tests

#35124 feat: add todo calendar to bootinfo.calendars
  erpnext/hooks.py
Labels: needs-tests

#35458 fix: monthly WDV depr schedule for existing assets [v14]
  erpnext/assets/doctype/asset/asset.py
Labels: needs-tests

#35460 fix: monthly wdv depr schedule for existing assets [dev]
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
Labels: needs-tests

#35478 fix: incorrect transferred qty in the job card
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/job_card/test_job_card.py
Labels: backport version-14-hotfix

#35487 fix: Error while validating budget
  erpnext/accounts/doctype/budget/budget.py
Labels: needs-tests, backport version-14-hotfix

#35451 fix: Billing Address display in buying transactions
  erpnext/controllers/buying_controller.py
Labels: buying, needs-tests, backport version-14-hotfix

#35497 fix: use kwargs in new_doc
  erpnext/controllers/accounts_controller.py
  erpnext/patches/v13_0/copy_custom_field_filters_to_website_item.py
Labels: accounts, needs-tests

#35500 chore: remove whitelisting for method not accessed from UI
  erpnext/assets/doctype/asset_category/asset_category.py
Labels: needs-tests, backport version-13-hotfix, backport version-14-hotfix

#35503 fix(ux): throw if no row selected to create repost entries
  erpnext/stock/report/stock_and_account_value_comparison/stock_and_account_value_comparison.js
Labels: backport version-14-hotfix

#35482 fix: missing bom details in the stock entry
  erpnext/manufacturing/doctype/job_card/test_job_card.py
  erpnext/stock/doctype/material_request/material_request.py
Labels: backport version-14-hotfix
