Repository frappe/erpnext, pull requests merged in 2024-07, with the labels that each got.

#41896 fix(SO): Fix logic to check if supplier has changed
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests

#42000 perf: flush db at once
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: needs-tests

#42076 fix: batch reset while making SABB
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, backport version-15-hotfix

#42126 fix: Re-open allows SO's to be over credit limit
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42144 fix: handle none type object error
  erpnext/patches/v15_0/update_total_number_of_booked_depreciations.py
Labels: needs-tests

#42073 fix: always post to tax account heads if LCV is booked
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42140 fix: provisional entry for non stock items
  erpnext/accounts/doctype/gl_entry/gl_entry.json
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests

#42147 fix: show zero stock items filter in the stock balance report
  erpnext/stock/report/stock_balance/stock_balance.js
  erpnext/stock/report/stock_balance/stock_balance.py
Labels: backport version-15-hotfix

#42162 refactor: remove obsolete function call
  erpnext/regional/doctype/import_supplier_invoice/import_supplier_invoice.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#42157 fix: path of automatically updates the status of asset maintenance log
  erpnext/hooks.py
Labels: backport version-15-hotfix

#42143 refactor: validation to prevent recursion with mixed conditions
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/accounts/doctype/promotional_scheme/promotional_scheme.py
  erpnext/accounts/doctype/promotional_scheme/test_promotional_scheme.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42174 fix: fetch expense account from asset category
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/controllers/accounts_controller.py
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/get_item_details.py
Labels: accounts, stock

#41622 fix: BOM Creator Recursion Error on duplicate save
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
Labels: needs-tests, inactive

#41975 fix: group by in item-wise purchase register
  erpnext/accounts/report/item_wise_purchase_register/item_wise_purchase_register.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42051 fix: Consider adding warranty period to serial nos
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: stock, needs-tests

#42183 fix: empty item-wise sales/purchase register reports on initial load
  erpnext/accounts/report/item_wise_purchase_register/item_wise_purchase_register.js
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#42186 fix: provision to enable do not use batch-wise valuation
  erpnext/patches.txt
  erpnext/patches/v15_0/do_not_use_batchwise_valuation.py
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/pick_list/test_pick_list.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_settings/stock_settings.json
  erpnext/stock/doctype/stock_settings/stock_settings.py
  erpnext/stock/stock_ledger.py
  erpnext/stock/utils.py
Labels: stock, backport version-15-hotfix

#42235 fix: add missing german translations
  erpnext/translations/de.csv
Labels: backport version-14-hotfix

#42026 fix: Multiple fixes in Bank Statement Import
  erpnext/accounts/doctype/bank_statement_import/bank_statement_import.js
  erpnext/accounts/doctype/bank_statement_import/bank_statement_import.json
  erpnext/accounts/doctype/bank_statement_import/bank_statement_import.py
Labels: needs-tests

#42231 fix: auto serial and batch bundle not creating for Asset Capitalization
  erpnext/controllers/stock_controller.py
Labels: stock, needs-tests

#42226 fix(Inventory Dimension): reduce perms for Stock User
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.json
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.py
Labels: backport version-15-hotfix

#42227 fix(Putaway Rule): reduce perms for Stock User
  erpnext/stock/doctype/putaway_rule/putaway_rule.json
Labels: backport version-15-hotfix

#42225 fix(Stock Entry Type): reduce perms for Stock User
  erpnext/stock/doctype/stock_entry_type/stock_entry_type.json
Labels: backport version-15-hotfix

#42248 fix: actual qty in sales order
  erpnext/public/js/utils/sales_common.js
Labels: backport version-15-hotfix

#42233 fix: added filter to show only submitted assets
  erpnext/assets/doctype/asset_repair/asset_repair.js
Labels: backport version-15-hotfix

#42060 fix: updated logic for calculating tax_withholding_net_total in payment entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#42258 fix(tds): use doctype reference when mapping keys across multiple doctypes
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
Labels: needs-tests, backport version-15-hotfix

#42262 fix(tds): use doctype reference when mapping keys across multiple doctype (backport #42258)
  erpnext/accounts/report/tds_payable_monthly/tds_payable_monthly.py
Labels: needs-tests

#42127 fix: removed max discount validation for sales return
  erpnext/controllers/selling_controller.py
Labels: selling, needs-tests

#42204 fix: Reopen Project if Completion Percentage is Below 100%
  erpnext/projects/doctype/project/project.py
Labels: needs-tests

#42247 fix: don't merge tax into stock account on purchase receipt repost
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42232 fix(Warehouse): add buttons only if the user can use them
  erpnext/stock/doctype/warehouse/warehouse.js
Labels: backport version-15-hotfix

#42287 fix: missing discount on POS Credit Notes
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#42192 refactor: tests for item wise sales register report
  erpnext/accounts/report/accounts_payable/test_accounts_payable.py
  erpnext/accounts/report/item_wise_sales_register/test_item_wise_sales_register.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42282 fix: slowness in reposting dependent vouchers.
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#42274 fix: keep status as In Progress for RIV for Timeout Error
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests

#42284 fix: While submitting PCV ensure previous FY is closed
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
Labels: needs-tests

#42276 feat: configurable depreciation calculation via accounts settings
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
  erpnext/assets/doctype/asset_depreciation_schedule/test_asset_depreciation_schedule.py
Labels: backport version-15-hotfix

#42303 fix: not able to submit LCV entry
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/general_ledger.py
Labels: backport version-15-hotfix

#42308 chore: release v15
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/general_ledger.py
  erpnext/accounts/report/accounts_payable/test_accounts_payable.py
  erpnext/accounts/report/item_wise_sales_register/test_item_wise_sales_register.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
  erpnext/assets/doctype/asset_depreciation_schedule/test_asset_depreciation_schedule.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/doctype/warehouse/warehouse.js
  erpnext/stock/stock_ledger.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.js
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
Labels: accounts, stock

#42310 fix: address and contact filters for SCO and SCR
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.js
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
Labels: backport version-15-hotfix

#42314 fix: incoming rate zero for supplied items in returned SCR
  erpnext/controllers/subcontracting_controller.py
Labels: needs-tests, backport version-15-hotfix

#42330 fix: incorrect valuation rate for items from different warehouses in Gross Profit
  erpnext/accounts/report/gross_profit/gross_profit.py
  erpnext/accounts/report/gross_profit/test_gross_profit.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42294 refactor: make reposting implicit
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#42333 fix: not able to cancel the inter transfer DN
  erpnext/controllers/buying_controller.py
  erpnext/controllers/selling_controller.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: selling, buying

#41317 feat: create variant with/without image
  erpnext/controllers/item_variant.py
  erpnext/stock/doctype/item/item.js
Labels: stock, needs-tests

#42327 fix: remove doctype link from serial no ledger report
  erpnext/stock/report/serial_no_ledger/serial_no_ledger.py
Labels: backport version-15-hotfix

#42342 fix: bin deadlock issue
  erpnext/stock/utils.py
Labels: stock, needs-tests, backport version-15-hotfix

#42351 fix: same posting date and time causing incorrect valuation rate
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock

#42188 fix: service item capitalization
  erpnext/assets/doctype/asset/asset.js
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/assets/doctype/asset_capitalization/test_asset_capitalization.py
  erpnext/patches.txt
  erpnext/patches/v15_0/remove_cancelled_asset_capitalization_from_asset.py
Labels: backport version-15-hotfix

#42358 fix: items not fetching in End Transit entry
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-15-hotfix

#42352 fix: show total rows credit row in balance sheet
  erpnext/accounts/report/balance_sheet/balance_sheet.py
Labels: needs-tests, backport version-15-hotfix

#42307 fix: remove redundant proprietorship field from customer type and supplier type
  erpnext/buying/doctype/supplier/supplier.json
  erpnext/buying/doctype/supplier/supplier.py
  erpnext/patches.txt
  erpnext/patches/v14_0/update_proprietorship_to_individual.py
  erpnext/selling/doctype/customer/customer.json
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests

#42366 fix: remove redundant proprietorship field from customer type and supplier type (backport #42307)
  erpnext/buying/doctype/supplier/supplier.json
  erpnext/patches.txt
  erpnext/patches/v14_0/update_proprietorship_to_individual.py
  erpnext/selling/doctype/customer/customer.json
Labels: needs-tests

#42371 fix: not able to save QC
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
Labels: needs-tests

#42369 fix: missing cr/dr notes on payment reconciliation
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42374 fix: Show the rows in AR/AP report where outstanding equals to 0.01
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
  erpnext/patches.txt
Labels: backport version-14-hotfix, backport version-15-hotfix

#39638 feat: add login user to driver if available for notifications
  erpnext/setup/doctype/driver/driver.json
  erpnext/setup/doctype/driver/driver.py
Labels: needs-tests, depends-on-frappe

#42387 fix: Purchase Order Analysis Report Data
  erpnext/buying/report/purchase_order_analysis/purchase_order_analysis.py
Labels: needs-tests, backport version-15-hotfix

#42380 fix: rounding issue causing incorrect quantity in SE
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests, backport version-15-hotfix

#41491 fix: serial and batch bundle for POS Invoice
  erpnext/accounts/doctype/pos_closing_entry/test_pos_closing_entry.py
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/doctype/pos_invoice_item/pos_invoice_item.json
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_item_details.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, backport version-15-hotfix

#41959 fix: Don't allow negative amount on Payment Request #41905
  erpnext/accounts/doctype/payment_request/payment_request.json
Labels: backport version-15-hotfix

#42404 fix: Billing hours is not updated in Time sheet#19026
  erpnext/projects/doctype/timesheet/timesheet.js
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: needs-tests

#42399 feat: add make_regional_gl_entries override for Sales Invoice
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: stock, needs-tests

#42407 test: basic test case for item-wise purchase register
  erpnext/accounts/report/item_wise_purchase_register/test_item_wise_purchase_register.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42417 fix: process on background based on number of invoices on POS Closing Entry
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
Labels: needs-tests

#42419 fix: provide initial value for `.reduce()` call
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#42377 fix: ignore duplicates while creating default templates
  erpnext/setup/setup_wizard/operations/taxes_setup.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42372 fix: correct validation for depreciation posting date
  erpnext/assets/doctype/asset/asset.js
  erpnext/assets/doctype/asset/asset.py
Labels: assets, backport version-15-hotfix

#42390 refactor: cleaning up stale code related to reposting
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/journal_entry/journal_entry.json
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#42434 fix: incorrect current qty for the batch in stock reco
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
Labels: backport version-15-hotfix

#42452 fix: keyerror posting_time
  erpnext/stock/stock_ledger.py
Labels: stock, backport version-15-hotfix

#42462 refactor: provision for re-evaluating Exchange Rates in monthly frequency
  erpnext/accounts/utils.py
  erpnext/hooks.py
  erpnext/setup/doctype/company/company.json
  erpnext/setup/doctype/company/company.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#42467 fix: dynamic condition in the pricing rule not working
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#42383 fix: Fields Modification for Subcontracting DocTypes
  erpnext/stock/doctype/stock_entry/stock_entry.json
  erpnext/stock/doctype/stock_entry/stock_entry_dashboard.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.json
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
Labels: needs-tests

#42472 refactor: index on Purchase Invoice 'release_date'
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#42444 fix: parenttype in purchase and sales item query
  erpnext/accounts/report/item_wise_purchase_register/item_wise_purchase_register.py
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Labels: needs-tests

#42305 fix: consider payment entries for checking if tds is deducted
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
Labels: needs-tests

#42050 fix: Update Rate as per Valuation Rate for Internal Transfers only if Setting is Enabled
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.py
  erpnext/controllers/buying_controller.py
  erpnext/controllers/selling_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.py
  erpnext/stock/doctype/stock_settings/stock_settings.json
  erpnext/stock/doctype/stock_settings/stock_settings.py
Labels: selling, buying, needs-tests

#42477 fix: incorrect cost_center on AR/AP report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42418 refactor(Sales Invoice): queries
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
Labels: defer backport

#42503 fix: performance issue for the report Purchase Order Analysis report
  erpnext/buying/report/purchase_order_analysis/purchase_order_analysis.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#42505 fix: builtins.KeyError: ('ABC', 'Store - CP')
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#42513 fix: Warranty Expiry Date not set in the serial number
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock

#42528 chore: button name should reflect what it creates
  erpnext/accounts/doctype/payment_order/payment_order.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#42476 refactor: checkbox to control Payment Request creation
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: needs-tests, backport version-15-hotfix

#42531 fix: purchase return from rejected warehouse
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport version-15-hotfix

#42532 fix: warehouse filter in Product Bundle Balance
  erpnext/stock/report/product_bundle_balance/product_bundle_balance.js
  erpnext/stock/report/product_bundle_balance/product_bundle_balance.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42534 fix: price_list_currency not found error
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#42540 fix: not able to save BOM Creator
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
Labels: needs-tests

#42522 perf: huge number of serial no creation
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_settings/stock_settings.json
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests

#42525 fix: Adjust initial month's depreciation to end of depreciation period
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
  erpnext/assets/doctype/asset_depreciation_schedule/test_asset_depreciation_schedule.py
Labels: backport version-15-hotfix

#42367 fix: reverse debit credit for party gl entry in payment entry based on negative amount
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: accounts, needs-tests, squash, backport version-15-hotfix

#42432 fix: promotional scheme doctype fields in consitency with pricing rule
  erpnext/accounts/doctype/promotional_scheme/promotional_scheme.js
  erpnext/accounts/doctype/promotional_scheme/promotional_scheme.py
  erpnext/accounts/doctype/promotional_scheme_price_discount/promotional_scheme_price_discount.json
  erpnext/accounts/doctype/promotional_scheme_price_discount/promotional_scheme_price_discount.py
  erpnext/accounts/doctype/promotional_scheme_product_discount/promotional_scheme_product_discount.json
  erpnext/accounts/doctype/promotional_scheme_product_discount/promotional_scheme_product_discount.py
Labels: needs-tests

#42392 fix: allow sale of asset for internal transfer
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests

#42552 fix: inter transfer delivery note issue with batch
  erpnext/controllers/selling_controller.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport version-15-hotfix

#42558 fix: 'undefined' in PL and BS report summary on Consolidated report
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#42563 fix: set query filters for sales / purchase tax template on PE
  erpnext/accounts/doctype/payment_entry/payment_entry.js
Labels: backport version-14-hotfix, backport version-15-hotfix
