Repository frappe/erpnext, pull requests merged in 2024-05, with the labels that each got.

#41280 fix: added brand column in Warehouse wise Item Balance Age and Value …
  erpnext/stock/report/warehouse_wise_item_balance_age_and_value/warehouse_wise_item_balance_age_and_value.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#41283 fix: negative stock qty error for stock reconciliation
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#38559 feat: create delivery trip on draft notes
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_note/delivery_note_list.js
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/delivery_trip/delivery_trip.js
  erpnext/stock/doctype/delivery_trip/delivery_trip.py
Labels: backport version-15-hotfix

#41299 Revert "fix(supplier): add back import that got removed by ruff"
  erpnext/buying/doctype/supplier/supplier.py
Labels: needs-tests

#41233 fix: missing Item Name on Save for Quotation created from Item
  erpnext/stock/doctype/item/item.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#41260 fix: Purchase Invoice gain loss gl entry for periodic inventory
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests, backport version-15-hotfix

#40588 feat(Item Price): make UOM mandatory
  erpnext/stock/doctype/item_price/item_price.json
  erpnext/stock/doctype/item_price/item_price.py
Labels: needs-tests, backport version-15-hotfix

#41075 fix: search for item price in stock UOM
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests, backport version-15-hotfix

#41311 fix: future subscription updates
  erpnext/accounts/doctype/subscription/subscription.py
  erpnext/accounts/doctype/subscription/test_subscription.py
Labels: backport version-15-hotfix

#41279 fix: GL Entries against orders as an advance
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
Labels: backport version-15-hotfix

#41314 fix: Do not deduct TCS for opening invoices
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
Labels: needs-tests, backport version-15-hotfix

#41318 fix: Cost center not getting saved in PSOA
  erpnext/accounts/doctype/psoa_cost_center/psoa_cost_center.json
  erpnext/accounts/doctype/psoa_cost_center/psoa_cost_center.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#41331 fix: update project URLs
  pyproject.toml
Labels: backport version-15-hotfix

#41334 fix: incorrect query for Purchase Invoice rate in GP
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#41335 fix: pick list with multiple batch issue
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/pick_list/test_pick_list.py
Labels: backport version-15-hotfix

#41342 fix: correct ordered qty on SO when removing PO item - v15
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#41293 fix: reset rate for serial batch supplied items
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
Labels: needs-tests

#41267 fix(Item): allow UOM conversion for non-stock items
  erpnext/stock/doctype/item/item.json
  erpnext/stock/doctype/item/item.py
Labels: backport version-15-hotfix

#41288 fix: pricing rule rounding
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#41356 fix: filter validation for batch-wise balance history report
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#41357 perf: index on item code for the Pick List Item doctype
  erpnext/stock/doctype/pick_list_item/pick_list_item.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#41236 fix: Merge debit and credit in transaction currency while merging gle with similar head
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/general_ledger.py
  erpnext/patches.txt
  erpnext/patches/v15_0/fix_debit_credit_in_transaction_currency.py
Labels: accounts, backport version-15-hotfix

#41378 fix: incorrect qty picked in the pick list
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/pick_list/test_pick_list.py
Labels: backport version-15-hotfix

#41024 fix: expense account should be fetched from related asset category
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/buying_controller.py
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/get_item_details.py
Labels: assets, backport version-15-hotfix

#41040 fix: address filter and quotation to for prospect
  erpnext/accounts/party.py
  erpnext/selling/doctype/quotation/quotation.js
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#41396 typo: Stock Settings
  erpnext/stock/doctype/stock_settings/stock_settings.json
Labels: backport version-15-hotfix

#40468 fix: update description of Supplier Invoice Number
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
Labels: backport version-15-hotfix

#41425 fix: valuation issue for batch
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, backport version-15-hotfix

#41431 fix: data getting override in delivery trip
  erpnext/stock/doctype/delivery_trip/delivery_trip.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#41429 feat: Config to enable immutable ledger
  erpnext/accounts/doctype/accounts_settings/accounts_settings.js
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/general_ledger.py
Labels: accounts, needs-tests

#41384 fix(SO, DN): only show permitted actions
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/stock/doctype/delivery_note/delivery_note.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#41418 fix: Unknown column 'tabBatch.batch_no' in 'where clause'
  erpnext/stock/report/serial_and_batch_summary/serial_and_batch_summary.py
Labels: backport version-15-hotfix

#41446 fix: zero valuation rate for batched item
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#41412 fix: Duplicate party name column in AR/AP report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#41089 Refactor: Rename purchase receipt amount field to purchase amount
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/assets/doctype/asset/asset.js
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/assets/doctype/asset_capitalization/test_asset_capitalization.py
  erpnext/controllers/buying_controller.py
  erpnext/patches.txt
  erpnext/patches/v15_0/rename_purchase_receipt_amount_to_purchase_amount.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: assets

#41420 Get prorata depreciation based on total days per year
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
  erpnext/assets/doctype/asset_depreciation_schedule/test_asset_depreciation_schedule.py
Labels: assets

#41457 fix: filtered out data having none values in date field
  erpnext/assets/report/fixed_asset_register/fixed_asset_register.py
Labels: needs-tests

#41467 Asset cancelation issue
  erpnext/accounts/doctype/journal_entry/journal_entry.py
Labels: needs-tests, backport version-15-hotfix

#41235 Depreciation based on daily prorata
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
  erpnext/assets/doctype/asset_depreciation_schedule/test_asset_depreciation_schedule.py
Labels: assets, backport version-15-hotfix

#41474 style: linter issue
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
Labels: needs-tests

#41481 fix: not able to submit landed cost voucher
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/landed_cost_voucher/test_landed_cost_voucher.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, backport version-15-hotfix

#40072 fix: print format bold for field "total"
  erpnext/templates/print_formats/includes/total.html
Labels: backport version-15-hotfix

#41494 fix: stock levels for batch
  erpnext/stock/doctype/batch/batch.js
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/batch/batch_list.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#41511 fix: possible sql error on General Ledger
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#41517 fix: typerror on hide_fields
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#41520 fix: timeout error while submitting purchase invoice
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#41516 fix: priority not working for multiple pricing rules
  erpnext/accounts/doctype/pricing_rule/pricing_rule.json
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/utils.py
  erpnext/patches.txt
  erpnext/patches/v14_0/enable_set_priority_for_pricing_rules.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#41523 fix: minor Dr and Cr between Purchase Receipt and Purchase Invoice
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests

#41530 feat: enter serial range in Serial/Batch Selector
  erpnext/public/js/utils.js
  erpnext/public/js/utils/serial_no_batch_selector.js
Labels: backport version-15-hotfix

#41543 fix: valuation rate for legacy serial nos
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, backport version-15-hotfix

#41492 refactor: For advances booked in Separate account, reconciliation date can be configured
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/setup/doctype/company/company.json
  erpnext/setup/doctype/company/company.py
Labels: backport version-15-hotfix

#41502 fix: added validation message for low gross purchase amount
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
Labels: needs-tests

#41489 fix: Auto reconcile only after selecting bank account
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.js
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
Labels: needs-tests, backport version-15-hotfix

#41485 fix: convert invoice_portion value from str to float
  erpnext/controllers/accounts_controller.py
Labels: backport version-15-hotfix

#41413 fix: BOM creator validation for parent row no
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
Labels: backport version-15-hotfix

#41417 fix: Deadlock on submitting Sales Invoice
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.py
  erpnext/stock/stock_ledger.py
Labels: needs-tests

#41557 fix: create custom field for accounting dimensions only if the field not exists already
  erpnext/patches/v13_0/create_accounting_dimensions_for_asset_repair.py
Labels: needs-tests

#41569 fix: not able to delete line items in the subcontracting receipt
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
Labels: backport version-15-hotfix

#41567 fix: job card time logs overlap issue
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/job_card_time_log/job_card_time_log.json
Labels: needs-tests

#41584 fix: opening stock not showing in the stock ledger report for the bat…
  erpnext/stock/report/stock_ledger/stock_ledger.py
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#41576 chore: sync ruff config with framework
  .pre-commit-config.yaml
Labels: backport version-14-hotfix, backport version-15-hotfix

#41595 fix: SCR batch qty issue
  erpnext/controllers/subcontracting_controller.py
  erpnext/stock/stock_ledger.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
Labels: backport version-15-hotfix

#41598 fix: dict can not be used as parameter
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#41603 refactor: remove 'format:' based naming in internal doctypes
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.json
  erpnext/accounts/doctype/repost_payment_ledger/repost_payment_ledger.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#41609 refactor: use `json` directly instead of using `frappe.json`
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/process_payment_reconciliation/process_payment_reconciliation.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/doctype/unreconcile_payment/unreconcile_payment.py
  erpnext/accounts/utils.py
  erpnext/selling/doctype/customer/test_customer.py
  erpnext/setup/doctype/department/department.py
  erpnext/stock/doctype/warehouse/warehouse.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#41443 fix(AccountsController): Use get_all to get payment requests when updating advance payment status
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#41601 fix: add in some indices to speed up Purchase Order deletion
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
  erpnext/selling/doctype/sales_order/sales_order.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#41401 fix: cost center filter according to the company in project
  erpnext/projects/doctype/project/project.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40775 feat: significant enhancements to sales analytics report to support charts
  erpnext/selling/report/sales_analytics/sales_analytics.js
  erpnext/selling/report/sales_analytics/sales_analytics.py
Labels: needs-tests, defer backport

#41659 fix: Auditor permissions
  erpnext/accounts/doctype/fiscal_year/fiscal_year.json
  erpnext/setup/doctype/company/company.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#41656 feat: Add Party details to Serial No Ledger Report
  erpnext/stock/report/serial_no_ledger/serial_no_ledger.py
Labels: backport version-15-hotfix

#40873 fix: update the task status from timesheet
  erpnext/projects/doctype/task/task.py
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: needs-tests

#41374 fix: not allow template item in product bundle item
  erpnext/selling/doctype/product_bundle_item/product_bundle_item.json
Labels: do not backport

#41368 fix: set expense account as Assets RBNB only if it is booked in linked PR
  erpnext/accounts/doctype/pos_closing_entry/pos_closing_entry.py
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests, backport version-15-hotfix

#41344 fix: Update depreciation schedule via asset repair
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_value_adjustment/test_asset_value_adjustment.py
Labels: needs-tests

#41676 fix: Filters in account balance report
  erpnext/accounts/report/account_balance/account_balance.py
Labels: needs-tests

#41692 fix: batch selection issue
  erpnext/controllers/queries.py
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_settings/stock_settings.js
Labels: backport version-15-hotfix

#41700 fix: key error for stock ledger report
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: backport version-15-hotfix
