Repository frappe/erpnext, pull requests merged in 2024-10, with the labels that each got.

#43450 fix: negative stock error for batch
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests, backport version-15-hotfix

#43455 fix: add company filter in Warehouse wise Item Balance Age and Value
  erpnext/stock/report/warehouse_wise_item_balance_age_and_value/warehouse_wise_item_balance_age_and_value.js
  erpnext/stock/report/warehouse_wise_item_balance_age_and_value/warehouse_wise_item_balance_age_and_value.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#43461 fix: removed validation for materials return
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests, backport version-15-hotfix

#43457 fix: Stock UOM not fetched when Stock Entry create from Item Dashboard
  erpnext/stock/dashboard/item_dashboard.js
  erpnext/stock/dashboard/item_dashboard.py
  erpnext/stock/dashboard/item_dashboard_list.html
Labels: needs-tests

#43476 fix: Fix API endpoint for Frankfurter
  erpnext/accounts/doctype/currency_exchange_settings/currency_exchange_settings.py
  erpnext/setup/doctype/currency_exchange/test_currency_exchange.py
  erpnext/setup/install.py
Labels: critical, backport version-13-hotfix, backport version-14-hotfix, backport version-15-hotfix

#43481 fix: patch to update Currency Exchange Settings for `frankfurter.app`
  erpnext/patches.txt
  erpnext/patches/v14_0/update_currency_exchange_settings_for_frankfurter.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#43475 fix: set margin fields for purchase documents when updating items
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#43199 fix: generalize link formatter
  erpnext/public/js/utils.js
Labels: defer backport

#43160 fix(Dunning): logic for fetching text
  erpnext/accounts/doctype/dunning/dunning.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#43054 fix(Quotation): calculate row values for alternative items
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/selling/doctype/quotation/test_quotation.py
Labels: accounts, backport version-15-hotfix

#42682 fix: Update Values before `after_mapping` hook is called
  erpnext/buying/doctype/purchase_order/purchase_order.py
Labels: needs-tests, inactive, backport version-15-hotfix

#43493 fix(stock): Grab posting date/time from SABB
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#43503 fix: read only filters in multidialog fields
  erpnext/public/js/utils.js
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: backport version-15-hotfix

#43512 fix: Update Values before `after_mapping` hook is called (backport #42682)
  erpnext/buying/doctype/purchase_order/purchase_order.py
Labels: needs-tests

#43355 fix: update child table from the last source doc (backport #42925)
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  pyproject.toml
Labels: needs-tests

#43522 Refactor: Use IntegrationTestCase for test_account.py
  erpnext/accounts/doctype/account/test_account.py
Labels: refactor

#43385 fix: include parent item group in query
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Labels: needs-tests

#43384 fix: add parenttype condition for item table in Purchase Register Report
  erpnext/accounts/report/purchase_register/purchase_register.py
  erpnext/accounts/report/utils.py
Labels: needs-tests

#43391 fix: create Account Closing Balance even though there are no transaction in period
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
Labels: needs-tests

#43407 fix: multiple issues in Payment Request (#42427)
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry_reference/payment_entry_reference.json
  erpnext/accounts/doctype/payment_entry_reference/payment_entry_reference.py
  erpnext/accounts/doctype/payment_request/payment_request.js
  erpnext/accounts/doctype/payment_request/payment_request.json
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/doctype/payment_request/test_payment_request.py
  erpnext/controllers/accounts_controller.py
  erpnext/hooks.py
Labels: accounts

#43532 Refactor: Use IntegrationTestCase in test_accounting_period.py
  erpnext/accounts/doctype/accounting_period/test_accounting_period.py
Labels: refactor

#43533 Refactor: Use IntegrationTestCase in test_accounts_settings.py
  erpnext/accounts/doctype/accounts_settings/test_accounts_settings.py
Labels: refactor

#43534 Refactor: Use IntegrationTestCase in test_bank.py
  erpnext/accounts/doctype/bank/test_bank.py
Labels: refactor

#43535 Refactor: Use IntegrationTestCase in test_bank_account.py
  erpnext/accounts/doctype/bank_account/test_bank_account.py
Labels: refactor

#43536 Refactor: Use IntegrationTestCase in test_bank_account_subtype.py
  erpnext/accounts/doctype/bank_account_subtype/test_bank_account_subtype.py
Labels: refactor

#43537 Refactor: Use IntegrationTestCase in test_bank_account_type.py
  erpnext/accounts/doctype/bank_account_type/test_bank_account_type.py
Labels: refactor

#43538 Refactor: Use IntegrationTestCase in test_bank_clearance.py
  erpnext/accounts/doctype/bank_clearance/test_bank_clearance.py
Labels: refactor

#43539 Refactor: Use IntegrationTestCase in test_bank_guarantee.py
  erpnext/accounts/doctype/bank_guarantee/test_bank_guarantee.py
Labels: refactor

#43547 Refactor: Use IntegrationTestCase in multiple files
  erpnext/erpnext_integrations/doctype/plaid_settings/test_plaid_settings.py
  erpnext/erpnext_integrations/doctype/quickbooks_migrator/test_quickbooks_migrator.py
  erpnext/erpnext_integrations/doctype/tally_migration/test_tally_migration.py
  erpnext/maintenance/doctype/maintenance_schedule/test_maintenance_schedule.py
  erpnext/maintenance/doctype/maintenance_visit/test_maintenance_visit.py
  erpnext/manufacturing/doctype/downtime_entry/test_downtime_entry.py
  erpnext/manufacturing/doctype/manufacturing_settings/test_manufacturing_settings.py
  erpnext/manufacturing/doctype/material_request_plan_item/test_material_request_plan_item.py
  erpnext/manufacturing/doctype/operation/test_operation.py
  erpnext/manufacturing/doctype/production_plan_material_request_warehouse/test_production_plan_material_request_warehouse.py
  erpnext/manufacturing/doctype/sub_operation/test_sub_operation.py
  erpnext/manufacturing/report/test_reports.py
  erpnext/projects/doctype/activity_cost/test_activity_cost.py
  erpnext/projects/doctype/project_template/test_project_template.py
  erpnext/projects/doctype/project_type/test_project_type.py
  erpnext/projects/doctype/project_update/test_project_update.py
  erpnext/projects/doctype/projects_settings/test_projects_settings.py
  erpnext/projects/doctype/task/test_task.py
  erpnext/projects/doctype/task_type/test_task_type.py
  erpnext/projects/doctype/timesheet/test_timesheet.py
  erpnext/projects/report/delayed_tasks_summary/test_delayed_tasks_summary.py
  erpnext/quality_management/doctype/non_conformance/test_non_conformance.py
Labels: refactor

#43548 Refactor: Use IntegrationTestCase in multiple files
  erpnext/quality_management/doctype/quality_action/test_quality_action.py
  erpnext/quality_management/doctype/quality_feedback/test_quality_feedback.py
  erpnext/quality_management/doctype/quality_feedback_template/test_quality_feedback_template.py
  erpnext/quality_management/doctype/quality_goal/test_quality_goal.py
  erpnext/quality_management/doctype/quality_meeting/test_quality_meeting.py
  erpnext/quality_management/doctype/quality_meeting_agenda/test_quality_meeting_agenda.py
  erpnext/quality_management/doctype/quality_review/test_quality_review.py
  erpnext/regional/doctype/import_supplier_invoice/test_import_supplier_invoice.py
  erpnext/regional/doctype/lower_deduction_certificate/test_lower_deduction_certificate.py
  erpnext/regional/doctype/south_africa_vat_settings/test_south_africa_vat_settings.py
  erpnext/regional/doctype/uae_vat_settings/test_uae_vat_settings.py
  erpnext/regional/united_states/test_united_states.py
  erpnext/selling/doctype/installation_note/test_installation_note.py
  erpnext/selling/doctype/sales_partner_type/test_sales_partner_type.py
  erpnext/selling/doctype/selling_settings/test_selling_settings.py
  erpnext/setup/doctype/authorization_rule/test_authorization_rule.py
  erpnext/setup/doctype/company/test_company.py
  erpnext/setup/doctype/currency_exchange/test_currency_exchange.py
  erpnext/setup/doctype/department/test_department.py
  erpnext/setup/doctype/driver/test_driver.py
  erpnext/setup/doctype/email_digest/test_email_digest.py
Labels: refactor

#43549 Refactor: Use IntegrationTestCase in multiple files
  erpnext/setup/doctype/employee/test_employee.py
  erpnext/setup/doctype/employee_group/test_employee_group.py
  erpnext/setup/doctype/global_defaults/test_global_defaults.py
  erpnext/setup/doctype/holiday_list/test_holiday_list.py
  erpnext/setup/doctype/item_group/test_item_group.py
  erpnext/setup/doctype/party_type/test_party_type.py
  erpnext/setup/doctype/uom_conversion_factor/test_uom_conversion_factor.py
  erpnext/setup/doctype/vehicle/test_vehicle.py
  erpnext/stock/doctype/customs_tariff_number/test_customs_tariff_number.py
  erpnext/stock/doctype/delivery_settings/test_delivery_settings.py
  erpnext/stock/doctype/item_manufacturer/test_item_manufacturer.py
  erpnext/stock/doctype/item_variant_settings/test_item_variant_settings.py
  erpnext/stock/doctype/manufacturer/test_manufacturer.py
  erpnext/stock/doctype/quality_inspection_parameter/test_quality_inspection_parameter.py
  erpnext/stock/doctype/quality_inspection_parameter_group/test_quality_inspection_parameter_group.py
  erpnext/stock/doctype/quality_inspection_template/test_quality_inspection_template.py
  erpnext/stock/doctype/shipment_parcel_template/test_shipment_parcel_template.py
  erpnext/stock/doctype/stock_entry_type/test_stock_entry_type.py
  erpnext/stock/doctype/stock_reposting_settings/test_stock_reposting_settings.py
  erpnext/stock/doctype/uom_category/test_uom_category.py
  erpnext/stock/doctype/variant_field/test_variant_field.py
  erpnext/stock/doctype/warehouse_type/test_warehouse_type.py
  erpnext/stock/report/test_reports.py
  erpnext/stock/tests/test_valuation.py
  erpnext/support/doctype/issue/test_issue.py
  erpnext/support/doctype/issue_priority/test_issue_priority.py
  erpnext/support/doctype/issue_type/test_issue_type.py
  erpnext/support/doctype/service_level_agreement/test_service_level_agreement.py
  erpnext/support/doctype/support_settings/test_support_settings.py
  erpnext/support/doctype/warranty_claim/test_warranty_claim.py
  erpnext/support/report/issue_analytics/test_issue_analytics.py
  erpnext/telephony/doctype/call_log/test_call_log.py
  erpnext/telephony/doctype/incoming_call_settings/test_incoming_call_settings.py
  erpnext/telephony/doctype/telephony_call_type/test_telephony_call_type.py
  erpnext/telephony/doctype/voice_call_settings/test_voice_call_settings.py
  erpnext/tests/test_init.py
  erpnext/tests/test_notifications.py
  erpnext/tests/test_point_of_sale.py
  erpnext/tests/test_regional.py
  erpnext/tests/test_webform.py
  erpnext/utilities/doctype/video/test_video.py
  erpnext/utilities/doctype/video_settings/test_video_settings.py
Labels: refactor

#43528 chore: Allow apps to extend voucher subtypes
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#43397 fix: do not include advances for tds vouchers
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
Labels: needs-tests

#43555 fix: validation for corrective job card
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests, backport version-15-hotfix

#43515 fix: Unknown column 'serial_no' in 'field list'
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests, backport version-15-hotfix

#43271 fix: deduct advances adjusted for threshold check for tcs
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
Labels: needs-tests

#43568 fix: Accepted and Rejected warehouse cannot be same
  erpnext/public/js/controllers/buying.js
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests, backport version-15-hotfix

#43514 fix: 'NoneType' object has no attribute 'has_serial_no'
  erpnext/controllers/stock_controller.py
Labels: backport version-15-hotfix

#43585 fix: the purchase receipt trends and delivery note trends report
  erpnext/controllers/trends.py
Labels: needs-tests, backport version-15-hotfix

#43584 fix: allow to change the batch in the subcontracting receipt
  erpnext/controllers/subcontracting_controller.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
Labels: backport version-15-hotfix

#43592 fix: make LCV button not working for PI and PR
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.js
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: backport version-15-hotfix

#43591 fix: production plan bom error
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: backport version-15-hotfix

#43619 fix: show incorrect entries filter in Stock Ledger Invariant Check report
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.js
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.py
Labels: needs-tests, backport version-15-hotfix

#43627 fix: reconciled advance from reported in reconciliation tool
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/unreconcile_payment/test_unreconcile_payment.py
  erpnext/accounts/test/accounts_mixin.py
  erpnext/accounts/utils.py
Labels: accounts, backport version-15-hotfix

#43638 fix: Use `ref_doc.get()` for `party_account_currency`
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: needs-tests

#43644 fix: quotation to so frappe crm
  erpnext/selling/doctype/quotation/quotation.py
Labels: backport version-15-hotfix

#43614 fix: ignore free item when qty is zero
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/utils.py
Labels: needs-tests

#43601 refactor: remove 'format:' based naming
  erpnext/accounts/doctype/unreconcile_payment/unreconcile_payment.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#43426 fix: show total amount on report summary
  erpnext/accounts/report/balance_sheet/balance_sheet.py
Labels: needs-tests, backport version-15-hotfix

#43521 fix: Link opportunity from RFQ to supplier quotation
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
Labels: accounts, stock, CRM, selling, buying, assets, projects

#43642 fix: zero incoming rate for delivery note return
  erpnext/controllers/selling_controller.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/stock_ledger.py
Labels: stock, selling, backport version-14-hotfix, backport version-15-hotfix

#43662 fix: removed unused query
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#43557 fix: delete invalid pricing rule on change of applicable_for values
  erpnext/accounts/doctype/promotional_scheme/promotional_scheme.py
  erpnext/accounts/doctype/promotional_scheme/test_promotional_scheme.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#43645 fix: conversion factor issue
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: stock

#43672 fix: refetch items from BOM if 'Use Multi-Level BOM' has changed usin…
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: backport version-15-hotfix

#43600 fix: added string for translation in bank reconciliation statement
  erpnext/accounts/report/bank_reconciliation_statement/bank_reconciliation_statement.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#43661 fix: missing child company accounts in consolidated balance sheet
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
Labels: needs-tests

#43663 fix: run gl_entries and closing voucher processes in same function
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43708 fix: show total amount on report summary
  erpnext/accounts/report/balance_sheet/balance_sheet.py
Labels: needs-tests

#43710 fix: added validation for UOM must be whole number
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#42898 fix: incorrect amount in bank clearance
  erpnext/accounts/doctype/bank_clearance/bank_clearance.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43180 fix: Call super onload_post_render inside pos_invoice.js
  erpnext/accounts/doctype/pos_invoice/pos_invoice.js
Labels: backport version-15-hotfix

#43295 fix: translate Update default_success_action.py
  erpnext/setup/default_success_action.py
Labels: needs-tests, backport version-15-hotfix

#43728 fix: get party advance amount based on account
  erpnext/accounts/party.py
Labels: accounts, needs-tests, backport version-15-hotfix

#43726 fix: "show_remarks" checkbox in Process statement of accounts
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.json
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43727 fix: get period estimate till service end date
  erpnext/accounts/report/deferred_revenue_and_expense/deferred_revenue_and_expense.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43720 fix: party_balance based on company in payment entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#42461 fix: Freeze Screen on load invoices on POS Closing Entry
  erpnext/accounts/doctype/pos_closing_entry/pos_closing_entry.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#43753 fix: Workspace link for Work Order Consumed Materials report
  erpnext/manufacturing/workspace/manufacturing/manufacturing.json
Labels: backport version-15-hotfix

#43759 fix: lead create opp from connection not working
  erpnext/crm/doctype/lead/lead.js
Labels: frappe-support, backport version-15-hotfix

#43761 fix: coupon code validation logic
  erpnext/accounts/doctype/pricing_rule/utils.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43766 refactor: allow unreconcile on bank and cash entry type journals
  erpnext/public/js/utils/unreconcile.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#43775 fix(deferred_revenue): Escape account in query
  erpnext/accounts/deferred_revenue.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43778 refactor: validate_return_against_account
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#43752 fix: only show pay button for specific doctype in portal
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/templates/pages/order.py
Labels: needs-tests

#43061 fix: Required Changes to Support e-Waybill Generation for Material Transfer Return
  erpnext/controllers/subcontracting_controller.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/stock_entry.json
Labels: squash, backport version-15-hotfix

#43462 fix: get stock accounts from the doc in `validate_stock_accounts` in Journal Entry
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/utils.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#43769 fix: mapping purchase receipt from subcontracting receipt is not required
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
Labels: backport version-15-hotfix

#43786 fix: only show pay button for specific doctype in portal
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/templates/pages/order.py
Labels: needs-tests, backport version-14-hotfix

#43787 refactor: condition check before get_doc
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: needs-tests

#43790 fix: use correct variable in error message
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#43435 perf: performance optimizations for accounting reports by refactoring account closing balance and period closing voucher
  erpnext/accounts/doctype/account_closing_balance/account_closing_balance.py
  erpnext/accounts/doctype/accounting_period/accounting_period.py
  erpnext/accounts/doctype/gl_entry/gl_entry.json
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.js
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.json
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
  erpnext/accounts/doctype/period_closing_voucher/test_period_closing_voucher.py
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
  erpnext/accounts/doctype/repost_accounting_ledger/test_repost_accounting_ledger.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/trial_balance/trial_balance.py
  erpnext/patches.txt
  erpnext/patches/v13_0/fix_additional_cost_in_mfg_stock_entry.py
  erpnext/patches/v14_0/set_period_start_end_date_in_pcv.py
  erpnext/patches/v14_0/single_to_multi_dunning.py
  erpnext/patches/v14_0/update_closing_balances.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/report/test_reports.py
  erpnext/tests/test_perf.py
Labels: accounts, backport version-15-hotfix

#43798 perf: performance optimizations for accounting reports by refactoring account closing balance and period closing voucher
  erpnext/accounts/doctype/account_closing_balance/account_closing_balance.py
  erpnext/accounts/doctype/accounting_period/accounting_period.py
  erpnext/accounts/doctype/gl_entry/gl_entry.json
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.js
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.json
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
  erpnext/accounts/doctype/period_closing_voucher/test_period_closing_voucher.py
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
  erpnext/accounts/doctype/repost_accounting_ledger/test_repost_accounting_ledger.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/trial_balance/trial_balance.py
  erpnext/patches.txt
  erpnext/patches/v13_0/fix_additional_cost_in_mfg_stock_entry.py
  erpnext/patches/v14_0/set_period_start_end_date_in_pcv.py
  erpnext/patches/v14_0/single_to_multi_dunning.py
  erpnext/patches/v14_0/update_closing_balances.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/report/test_reports.py
  erpnext/tests/test_perf.py
Labels: accounts

#43800 chore: release version 15.39.1
  erpnext/accounts/doctype/account_closing_balance/account_closing_balance.py
  erpnext/accounts/doctype/accounting_period/accounting_period.py
  erpnext/accounts/doctype/gl_entry/gl_entry.json
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.js
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.json
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
  erpnext/accounts/doctype/period_closing_voucher/test_period_closing_voucher.py
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
  erpnext/accounts/doctype/repost_accounting_ledger/test_repost_accounting_ledger.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/trial_balance/trial_balance.py
  erpnext/patches.txt
  erpnext/patches/v13_0/fix_additional_cost_in_mfg_stock_entry.py
  erpnext/patches/v14_0/set_period_start_end_date_in_pcv.py
  erpnext/patches/v14_0/single_to_multi_dunning.py
  erpnext/patches/v14_0/update_closing_balances.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/report/test_reports.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
  erpnext/tests/test_perf.py
Labels: accounts

#43799 fix: wrong fieldname
  erpnext/patches/v14_0/update_closing_balances.py
Labels: needs-tests

#43755 fix: Add Company Filter
  erpnext/projects/doctype/project/project.js
  erpnext/public/js/utils/sales_common.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#43804 fix: consider gle based on balances in company currency
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
Labels: needs-tests

#43805 fix: consider gle based on balances in company currency
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
Labels: needs-tests

#43793 chore(Timesheet): add type hints
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: backport version-15-hotfix

#43816 fix: Unnecessary validation for non deferred sales invoices
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests, backport version-15-hotfix

#43822 fix: map item_ID instead of item_code while creating subcontracting order from PO
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
Labels: needs-tests, backport version-15-hotfix

#43830 fix: set bill_no before `against_voucher` gets concatenated
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43834 fix: Negative stock validation against inventory dimension
  erpnext/stock/doctype/inventory_dimension/test_inventory_dimension.py
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.py
Labels: backport version-15-hotfix

#43843 fix(RFQ): make strings translatable
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#43833 refactor: query for expense_account moved to setup hook in purchase invoice
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#42607 fix: correct garbage value on Razorpay Payments Page
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: needs-tests

#43836 fix: incorrect value of available_qty_for_consumption in subcontracti…
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43685 fix: do not check for payment terms details for return invoices.
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/controllers/transaction.js
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43866 chore: fix whitespace
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: needs-tests

#43862 refactor: fix garbage title, desc and name in razorpay
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: backport version-14-hotfix

#43871 fix: purchase return validation issue
  erpnext/controllers/sales_and_purchase_return.py
Labels: needs-tests

#43875 fix: work order finish button not showing
  erpnext/manufacturing/doctype/job_card/job_card.js
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43803 feat: add party name in payment request
  erpnext/accounts/doctype/payment_request/payment_request.json
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/public/js/controllers/transaction.js
Labels: needs-tests, backport version-15-hotfix

#43880 fix: use period closing voucher object to call get_account_closing_ba…
  erpnext/patches/v14_0/update_closing_balances.py
Labels: needs-tests

#43824 fix: accounting dimension fieldname
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.js
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
Labels: needs-tests, backport version-15-hotfix

#43823 fix: Handle None value for item description in customer portal invoice view
  erpnext/templates/pages/order.html
Labels: backport version-15-hotfix

#43885 fix: do not copy serial numbers from DN to SI
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: needs-tests

#43698 fix: Project name instead of ID in chart
  erpnext/projects/report/project_summary/project_summary.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#43890 fix: not able to submit stock entry
  erpnext/stock/doctype/serial_no/serial_no.py
Labels: needs-tests

#43856 fix: add parenttype clause to invoice tax query in sales_register report
  erpnext/accounts/report/sales_register/sales_register.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43887 fix: post account closing balance against pcv closing account
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
  erpnext/patches/v14_0/update_closing_balances.py
Labels: needs-tests

#43870 fix: calculate percentage received and delivered considering over-receipt and over-delivery
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests

#43876 fix: Calculate gross margin on update of project costing from invoices
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
  erpnext/projects/doctype/project/project.py
Labels: needs-tests

#43905 fix: Patch for reposting account closing balance
  erpnext/patches.txt
  erpnext/patches/v14_0/update_closing_balances.py
Labels: needs-tests, backport version-15-hotfix

#43884 fix: recalculate outstanding after save on checkout for POS Invoice
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: backport version-15-hotfix

#43886 fix: remarks field in payment reconciliation
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation_payment/payment_reconciliation_payment.json
  erpnext/accounts/doctype/payment_reconciliation_payment/payment_reconciliation_payment.py
  erpnext/accounts/utils.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43913 fix: find first PCV to consider opening entries
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
Labels: needs-tests, backport version-15-hotfix

#43869 fix: calculate tds with net amount when invoice exceeds single threshold amount
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#43921 fix: cannot create opp from lead without prospect
  erpnext/crm/doctype/lead/lead.js
Labels: frappe-support, backport version-15-hotfix

#43931 feat: remove Payroll Entry from Bank Account dashboard
  erpnext/accounts/doctype/bank_account/bank_account.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#43925 fix: valuation rate for sales / purchase return for serial / batch nos
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock

#43926 fix: validation trigger
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: backport version-15-hotfix
