Repository frappe/erpnext, pull requests merged in 2024-04, with the labels that each got.

#40181 fix: show future payments consider allocated sales returns
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40755 fix: Receive payment entry from Employee
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#40796 fix: Default company bank account
  erpnext/accounts/doctype/bank_account/bank_account.py
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#40814 fix: barcode not fetched on selection of item
  erpnext/stock/doctype/item/test_item.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.js
  erpnext/stock/get_item_details.py
Labels: stock

#40816 fix: added validation if parent id is missing in BOM Creator
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
Labels: needs-tests, backport version-15-hotfix

#40584 fix: show currency symbol in base currency in fixed asset register report
  erpnext/accounts/report/pos_register/pos_register.py
  erpnext/assets/report/fixed_asset_register/fixed_asset_register.py
Labels: needs-tests

#40824 chore: remove enqueue submit and cancel from the stock entry
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: needs-tests

#40828 chore: remove rate of material based on Manual
  erpnext/manufacturing/doctype/bom/bom.json
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom_creator/bom_creator.json
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
Labels: needs-tests

#40643 fix(pr): set adv. pay. status base on PR stati
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_gateway_account/test_payment_gateway_account.py
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/controllers/accounts_controller.py
  erpnext/hooks.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
Labels: accounts

#40848 fix: group warehouse added in the stock reconciliation
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40856 fix: unwanted Exc Gain/Loss journals on Payment against Journal entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/utils.py
  erpnext/controllers/tests/test_accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#40887 fix: query_report.trigger_refresh is not a function
  erpnext/stock/report/item_prices/item_prices.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40698 fix: Get pro-rata amount based on correct days
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
Labels: needs-tests

#40883 fix: incorrect operator causing incorrect validation
  erpnext/stock/doctype/closing_stock_balance/closing_stock_balance.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40900 fix: pro-rata amount for straight line method
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
Labels: needs-tests

#40876 fix: ledger entries for Payment against reverse payment reconciliation
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/payment_entry_reference/payment_entry_reference.json
  erpnext/accounts/doctype/payment_entry_reference/payment_entry_reference.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
Labels: backport version-15-hotfix

#40878 refactor: merge taxes from delivery note to Sales Invoice
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/utils.js
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#40831 feat: new hook `fields_for_group_similar_items` to group additional fields for print formats
  erpnext/controllers/accounts_controller.py
  erpnext/hooks.py
Labels: accounts, squash, backport version-14-hotfix, backport version-15-hotfix

#40910 perf: memory consumption for the Batch-Wise Balance History report
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
Labels: needs-tests

#40926 fix: incorrect currency symbol in General Ledger print
  erpnext/accounts/report/general_ledger/general_ledger.html
Labels: backport version-14-hotfix, backport version-15-hotfix

#40695 feat: Periodically monitor ledger health
  erpnext/accounts/doctype/ledger_health/__init__.py
  erpnext/accounts/doctype/ledger_health/ledger_health.js
  erpnext/accounts/doctype/ledger_health/ledger_health.json
  erpnext/accounts/doctype/ledger_health/ledger_health.py
  erpnext/accounts/doctype/ledger_health/test_ledger_health.py
  erpnext/accounts/doctype/ledger_health_monitor/__init__.py
  erpnext/accounts/doctype/ledger_health_monitor/ledger_health_monitor.js
  erpnext/accounts/doctype/ledger_health_monitor/ledger_health_monitor.json
  erpnext/accounts/doctype/ledger_health_monitor/ledger_health_monitor.py
  erpnext/accounts/doctype/ledger_health_monitor/test_ledger_health_monitor.py
  erpnext/accounts/doctype/ledger_health_monitor_company/__init__.py
  erpnext/accounts/doctype/ledger_health_monitor_company/ledger_health_monitor_company.json
  erpnext/accounts/doctype/ledger_health_monitor_company/ledger_health_monitor_company.py
  erpnext/accounts/utils.py
  erpnext/hooks.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#40936 fix: ignore dimension validation for cancelled entries
  erpnext/accounts/doctype/gl_entry/gl_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40849 fix: Values in transaction currency
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-15-hotfix

#40844 fix: notify update when update outstanding amount
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#40931 fix: Don't call get_fiscal_year if setup is not done yet
  erpnext/public/js/utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40911 fix: Show itemised TDS breakup based on Apply TDS checkbox on item level
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.json
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.py
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.py
Labels: accounts, needs-tests, backport version-15-hotfix

#40863 fix: Show amount in transaction currency in general ledger report
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests

#40924 Fix: Indicate correct currency code for the payment
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, v15

#40916 fix: check if there is any existing depreciation schedule
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
Labels: needs-tests, backport version-15-hotfix

#40861 fix: Get default party bank account and company bank account for a party
  erpnext/accounts/doctype/bank_account/bank_account.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#40920 fix: Fetch correct outstanding and total amount for reference journal entry
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40961 fix: Ignore permissions while fetching module settings properties
  erpnext/accounts/doctype/payment_terms_template/payment_terms_template.json
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/stock_settings/stock_settings.py
Labels: accounts, needs-tests

#40960 fix: Show itemised TDS breakup based on Apply TDS checkbox on item level
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.json
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.py
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.py
Labels: accounts, needs-tests

#40966 fix: landed cost voucher for legacy pr with batch
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.py
  erpnext/stock/doctype/landed_cost_voucher/test_landed_cost_voucher.py
Labels: stock, backport version-15-hotfix

#40967 fix: zero division error
  erpnext/controllers/selling_controller.py
Labels: selling, needs-tests, backport version-15-hotfix

#40973 fix: Link Validation Error on Dunning cancellation
  erpnext/accounts/doctype/dunning/dunning.py
Labels: needs-tests, backport version-15-hotfix

#40773 fix: Subcontracting Receipt GL Entries
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40707 fix(ux): Sales Order Stock Reservation Dialog
  erpnext/selling/doctype/sales_order/sales_order.js
Labels: backport version-15-hotfix

#40975 fix: do not validate batch qty for LCV
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.py
  erpnext/stock/doctype/landed_cost_voucher/test_landed_cost_voucher.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#40985 fix: Add payment request to dimension list
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v15_0/create_accounting_dimensions_in_payment_request.py
Labels: needs-tests, backport version-15-hotfix

#40993 fix: get_link_to_form for serial and batch bundle
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests

#40858 fix: Don't set delivery date as today while making SO from Quotation
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/quotation/test_quotation.py
Labels: needs-tests

#41020 fix: incorrect exc gain/loss for PE against JE for payable accounts
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#41025 fix: remove validate_name_in_customer function
  erpnext/setup/doctype/customer_group/customer_group.py
Labels: needs-tests

#41026 fix: expense account set as COGS for stock entry Material Issue
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40373 fix: get address if multiple companies
  erpnext/selling/doctype/sales_order/sales_order.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#41037 fix: Delayed Order Report not working
  erpnext/stock/report/delayed_item_report/delayed_item_report.py
Labels: needs-tests

#41041 fix: not able to submit subcontracting receipt
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
Labels: needs-tests, backport version-15-hotfix

#41047 fix: possible wildcard issue on variable name
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests

#40962 fix: Allow updating cost center and project for repostable doctypes
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.js
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests

#41053 fix: duplicate serial and batch bundle in stock entry and stock reco
  erpnext/public/js/utils.js
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: backport version-15-hotfix

#41061 fix: do not add qty to supplied items
  erpnext/controllers/subcontracting_controller.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40997 fix: don't attempt to set gender from salutation
  erpnext/setup/doctype/employee/employee.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#41074 fix: validate uom is integer for PR item
  erpnext/controllers/subcontracting_controller.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/utilities/transaction_base.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#41083 fix: validation for fraction number in Work Order
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests, backport version-15-hotfix

#41067 fix: validation for zero qty in SABB
  erpnext/assets/doctype/asset_repair/test_asset_repair.py
  erpnext/stock/doctype/batch/test_batch.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_ledger_entry/test_stock_ledger_entry.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
Labels: needs-tests, backport version-15-hotfix

#41085 fix: Permission for lower deduction certificate
  erpnext/regional/doctype/lower_deduction_certificate/lower_deduction_certificate.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#41102 fix: balance qty for stock ledger report
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: needs-tests, backport version-15-hotfix

#41099 fix: not able to update default supplier from Supplier Quotation Comparison report
  erpnext/buying/report/supplier_quotation_comparison/supplier_quotation_comparison.js
  erpnext/buying/report/supplier_quotation_comparison/supplier_quotation_comparison.py
Labels: needs-tests

#40769 fix: budget validation for purchase orders
  erpnext/accounts/doctype/budget/budget.py
Labels: dont-merge, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#41086 fix: prevent foreign currency accounts as advance accounts.
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/setup/doctype/company/company.py
Labels: needs-tests, backport version-15-hotfix

#41138 perf: stock ageing and batch-wise balance history report
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.js
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
  erpnext/stock/report/stock_ageing/stock_ageing.js
  erpnext/stock/report/stock_ageing/stock_ageing.py
Labels: needs-tests

#41136 fix: Missing args while fetching items from delivery note in Installation Note
  erpnext/public/js/utils.js
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#41013 fix: inspection type when create a qc from dc
  erpnext/controllers/stock_controller.py
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/doctype/quality_inspection/test_quality_inspection.py
Labels: stock

#41098 fix: stock reconciliation negative qty validation
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#41147 refactor: better description and pop up on Advance accounts
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.json
  erpnext/setup/doctype/company/company.json
  erpnext/setup/doctype/company/company.py
Labels: needs-tests, backport version-15-hotfix

#41145 fix: incorrect stock posting for current qty
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/stock_ledger.py
Labels: backport version-15-hotfix

#41154 feat: Available batches report as on specific date
  erpnext/stock/report/available_batch_report/__init__.py
  erpnext/stock/report/available_batch_report/available_batch_report.js
  erpnext/stock/report/available_batch_report/available_batch_report.json
  erpnext/stock/report/available_batch_report/available_batch_report.py
Labels: needs-tests

#41135 feat: Available batches as on specific date report
  erpnext/stock/report/available_batch_report/__init__.py
  erpnext/stock/report/available_batch_report/available_batch_report.js
  erpnext/stock/report/available_batch_report/available_batch_report.json
  erpnext/stock/report/available_batch_report/available_batch_report.py
Labels: needs-tests

#41160 fix: allow Employee role to select cost center & project (accounting dimensions)
  erpnext/accounts/doctype/cost_center/cost_center.json
  erpnext/projects/doctype/project/project.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#41106 chore: Remove heatmap from party dashboards
  erpnext/accounts/party.py
  erpnext/buying/doctype/supplier/supplier_dashboard.py
  erpnext/selling/doctype/customer/customer_dashboard.py
Labels: accounts, needs-tests

#41186 fix: handle stock balance unbuffered_cursor error
  erpnext/stock/report/stock_balance/stock_balance.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#41183 fix: restrict Advance in separate party to customer and supplier
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#41174 perf: timeout issue while submitting purchase receipt (v14)
  erpnext/stock/doctype/serial_no/serial_no.py
Labels: needs-tests

#41192 fix: duplicate column in the stock ledger report
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40915 fix: company field should be fetch from parent acc
  erpnext/accounts/doctype/account/account.json
  erpnext/public/js/utils/dimension_tree_filter.js
Labels: backport version-14-hotfix

#41195 fix: basic rate for SABB
  erpnext/public/js/utils/sales_common.js
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: backport version-15-hotfix

#40716 Incorrect cash flow report
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests

#41185 fix: args when get the delivery note in delivery trip
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_trip/delivery_trip.js
Labels: needs-tests

#41182 fix: rendering the email template when user HTML
  erpnext/crm/doctype/email_campaign/email_campaign.py
Labels: needs-tests

#41167 fix: warehouse type filter for stock reports
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.js
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
  erpnext/stock/report/stock_ageing/stock_ageing.js
  erpnext/stock/report/stock_ageing/stock_ageing.py
Labels: needs-tests, backport version-15-hotfix

#41165 feat: allow to do reposting for all stock transactions (audit)
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/bin/bin.py
  erpnext/stock/doctype/stock_reposting_settings/stock_reposting_settings.json
  erpnext/stock/doctype/stock_reposting_settings/stock_reposting_settings.py
  erpnext/stock/doctype/stock_reposting_settings/test_stock_reposting_settings.py
Labels: stock

#41204 fix: 'NoneType' object has no attribute '_read_rowdata_packet_unbuffe…
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
  erpnext/stock/report/stock_ageing/stock_ageing.py
Labels: needs-tests

#41208 fix: set receivable account based on response type
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.js
Labels: backport version-15-hotfix

#40865 fix: missing def expense if no exp in first month
  erpnext/accounts/deferred_revenue.py
  erpnext/accounts/report/deferred_revenue_and_expense/test_deferred_revenue_and_expense.py
Labels: accounts, needs-tests

#41237 fix: party and party type label on accounting preview
  erpnext/controllers/stock_controller.py
Labels: stock, needs-tests, backport version-15-hotfix

#41194 fix: TDS incorrectly applied when Advance is in previous FY
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#41240 fix: display term name for single term invoices in AR/AP
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#41219 fix: Ignore user perm in Bank Reco Tool for company
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.json
Labels: backport version-15-hotfix

#41173 fix: paid amount in bank reconciliation tool
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
Labels: needs-tests, backport version-15-hotfix

#41171 fix: Invoice with no GLEs in deferred report
  erpnext/accounts/report/deferred_revenue_and_expense/deferred_revenue_and_expense.py
Labels: needs-tests

#41252 fix: permission issue when user permission restricts on company
  erpnext/accounts/doctype/tax_withholding_account/tax_withholding_account.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#41258 fix: PSOA ageing
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts_accounts_receivable.html
Labels: needs-tests, backport version-15-hotfix

#41268 fix: validation to prevent overallocation
  erpnext/accounts/utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#41234 fix: compute tree-view parent field name
  erpnext/accounts/utils.py
Labels: accounts, needs-tests
