Repository frappe/erpnext, pull requests merged in 2024-01, with the labels that each got.

#39056 fix: take quantity into account when setting asset's gross purchase amt
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39060 fix(DX): capture tracebacks with context
  erpnext/accounts/doctype/process_payment_reconciliation/process_payment_reconciliation.py
  erpnext/accounts/doctype/repost_payment_ledger/repost_payment_ledger.py
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
  erpnext/stock/doctype/closing_stock_balance/closing_stock_balance.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/reorder_item.py
  erpnext/utilities/bulk_transaction.py
Labels: stock, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39059 fix: Unable to save Sales Invoice
  erpnext/regional/united_arab_emirates/utils.py
Labels: needs-tests

#39032 chore: default_roles hook doesn't exist anymore
  erpnext/hooks.py
Labels: needs-tests

#38923 feat: group by Asset in Asset Depreciations and Balances report
  erpnext/accounts/report/asset_depreciations_and_balances/asset_depreciations_and_balances.js
  erpnext/accounts/report/asset_depreciations_and_balances/asset_depreciations_and_balances.py
Labels: needs-tests, backport version-15-hotfix

#39023 refactor(perf): replace account subquery with 'in' condition
  erpnext/accounts/report/customer_ledger_summary/customer_ledger_summary.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39067 fix: undefined error in Budget Variance and Profitability report
  erpnext/accounts/report/budget_variance_report/budget_variance_report.js
  erpnext/accounts/report/profitability_analysis/profitability_analysis.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#39076 fix: on cancellation of document cancel the serial and batch bundle
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests

#38468 fix: Variant Items, List View Enabled to Variant Status Change
  erpnext/stock/doctype/item/item_list.js
Labels: squash

#39085 perf: index item_code in bom explosion item
  erpnext/manufacturing/doctype/bom_explosion_item/bom_explosion_item.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#39093 fix(minor): Rename "ERPNext Settings" to "Settings" and remove "ERPNe…
  erpnext/accounts/workspace/accounting/accounting.json
  erpnext/erpnext_integrations/workspace/erpnext_integrations/erpnext_integrations.json
  erpnext/setup/install.py
  erpnext/setup/workspace/erpnext_settings/erpnext_settings.json
  erpnext/setup/workspace/settings/settings.json
Labels: backport version-15-hotfix

#39097 refactor: flag to control loyalty point creation at invoice level
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39102 feat: Against voucher filter in General Ledger
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#39118 fix(UX): dont override framework's permission check messages
  erpnext/accounts/party.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39116 fix: typerror on multi select dialog
  erpnext/public/js/utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#39135 fix: flaky demo test case
  erpnext/accounts/party.py
  erpnext/controllers/accounts_controller.py
  erpnext/setup/demo.py
Labels: accounts, needs-tests

#39125 fix: ignore cancelled payments in Sales/Purchase Register
  erpnext/accounts/report/utils.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39138 fix: Subscription update patch
  erpnext/patches/v14_0/update_invoicing_period_in_subscription.py
Labels: needs-tests, backport version-15-hotfix

#39114 fix: serial / batch barcode scanner
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/utils/barcode_scanner.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
  erpnext/stock/utils.py
Labels: accounts, stock, needs-tests

#39127 feat: provision to close SCO
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.js
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.json
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order_list.js
  erpnext/subcontracting/doctype/subcontracting_order/test_subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
Labels: backport version-15-hotfix

#39126 fix(Employee): treeview
  erpnext/setup/doctype/employee/employee.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#39146 fix: remove `parent_field` parameter from calls to `rebuild_tree`
  erpnext/accounts/doctype/account/chart_of_accounts/chart_of_accounts.py
  erpnext/patches/v11_0/create_department_records_for_each_company.py
  erpnext/patches/v11_0/make_location_from_warehouse.py
  erpnext/patches/v11_0/rebuild_tree_for_company.py
  erpnext/patches/v11_0/rename_supplier_type_to_supplier_group.py
  erpnext/patches/v11_0/update_department_lft_rgt.py
  erpnext/setup/doctype/company/company.py
  erpnext/setup/doctype/item_group/test_item_group.py
  erpnext/stock/__init__.py
Labels: stock

#39149 fix: inventory dimension negative stock validation
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.py
  erpnext/stock/doctype/inventory_dimension/test_inventory_dimension.py
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.py
Labels: backport version-15-hotfix

#39113 fix: Creating Asset Activity while Importing Asset
  erpnext/assets/doctype/asset_activity/asset_activity.py
Labels: needs-tests, backport develop

#39140 fix: don't set rate for non-stock item in Internal Transfer
  erpnext/controllers/selling_controller.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: selling, backport version-14-hotfix, backport version-15-hotfix

#39159 refactor: prevent permission error by always processing bulk transaction in background
  erpnext/utilities/bulk_transaction.py
Labels: needs-tests

#39165 fix: incorrect outstanding amt validation on advance as liability
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#39161 refactor: allow sales invoice in Bank Reconciliation tool
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
  erpnext/hooks.py
Labels: needs-tests, backport version-15-hotfix

#39167 fix: update Maintenance Schedule status on Maintenance Visit submit
  erpnext/maintenance/doctype/maintenance_schedule/maintenance_schedule.py
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.py
  erpnext/maintenance/doctype/maintenance_visit_purpose/maintenance_visit_purpose.json
  erpnext/maintenance/doctype/maintenance_visit_purpose/maintenance_visit_purpose.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39187 fix: possible key error in Financial Ratio's report
  erpnext/accounts/report/financial_ratios/financial_ratios.py
Labels: needs-tests

#39163 fix: Purchase information is not required for creating a composite asset
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset_category/asset_category.py
Labels: needs-tests

#39188 fix: duplicate entry for serial / batch creation
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#39200 fix: FG Item incorrect qty in the work order
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39209 fix: Introduced company field to show amounts in company currency
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.json
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
Labels: needs-tests

#39195 fix: avoid copying party balance on duplication of PE
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#39193 fix: account currency from existing company COA
  erpnext/accounts/doctype/account/chart_of_accounts/chart_of_accounts.py
Labels: needs-tests

#39202 fix: parse naming series with FY name
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#39237 fix: sales team commission overallocation on fetching items from multiple quotations to Sales Order
  erpnext/selling/doctype/quotation/quotation.py
Labels: needs-tests

#39244 fix: BOM replace tool does not update exploded items of root
  erpnext/manufacturing/doctype/bom_update_log/bom_updation_utils.py
  erpnext/manufacturing/doctype/bom_update_log/test_bom_update_log.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39247 fix: incorrect indicator title for portal sales order
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests

#39251 fix: update status on manual allocation
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
Labels: needs-tests, backport version-15-hotfix

#39158 fix: add read permission to Buying Settings
  erpnext/buying/doctype/buying_settings/buying_settings.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#39252 fix: TypeError is pricing rules
  erpnext/accounts/doctype/pricing_rule/utils.py
Labels: needs-tests

#39262 fix: Duplicate Closing Stock Balance
  erpnext/stock/doctype/closing_stock_balance/closing_stock_balance.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39164 fix: projects website list visible for guests and all logged in customers
  erpnext/projects/doctype/project/project.py
Labels: needs-tests, backport version-15-hotfix

#39274 Update repost_item_valuation.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests

#39238 fix: Set asset purchase amount based on qty and valuation_rate
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/assets/doctype/asset/asset.js
  erpnext/controllers/buying_controller.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: buying, needs-tests

#39207 fix: Get fixed_asset_account from asset category
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#39191 fix: Ignore asset qty and status validation while cancelling LCV
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.py
Labels: needs-tests

#39050 fix: asset WDV depreciation calc according to IT act [v14]
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/depreciation.py
  erpnext/assets/doctype/asset_finance_book/asset_finance_book.json
Labels: needs-tests

#39052 fix: asset WDV depreciation calc according to IT act [dev]
  erpnext/assets/doctype/asset/depreciation.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
  erpnext/assets/doctype/asset_finance_book/asset_finance_book.json
Labels: needs-tests, backport version-15-hotfix

#39286 fix: set parent doctype on chart
  erpnext/manufacturing/dashboard_chart/completed_operation/completed_operation.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#39256 fix: Ignore default payment terms template for opening invoices
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-15-hotfix

#39309 refactor: remove usage of raise_exception
  erpnext/setup/doctype/employee/employee.py
Labels: needs-tests, Skip Manual Testing

#39299 fix: circular dependency error on deletion of QC and Stock Entry
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
  erpnext/stock/doctype/quality_inspection/test_quality_inspection.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39215 fix: incorrect percentage received in purchase invoice
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#39317 fix: broken dimension filters in Sales/Purchase register
  erpnext/accounts/report/utils.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39305 fix: naming series variable parsing for FY
  erpnext/accounts/test/test_utils.py
  erpnext/accounts/utils.py
Labels: accounts

#39117 fix: consider all years in holiday list
  erpnext/setup/doctype/holiday_list/holiday_list.py
  erpnext/setup/doctype/holiday_list/test_holiday_list.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38974 fix: unreconcile Bank Transaction on cancel of payment voucher
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
  erpnext/accounts/doctype/bank_transaction/test_bank_transaction.py
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#39248 fix: JV GLEs for auto-set against accounts
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
Labels: needs-tests

#39337 chore: remove share, print and email permissions from Buying Settings
  erpnext/buying/doctype/buying_settings/buying_settings.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#39333 fix: added indexing to improve performance
  erpnext/stock/doctype/stock_entry/stock_entry.json
  erpnext/stock/doctype/stock_entry_detail/stock_entry_detail.json
  erpnext/stock/doctype/stock_entry_detail/stock_entry_detail.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#38984 fix(Report): Increased the column width in the Account Balance Report
  erpnext/accounts/report/account_balance/account_balance.py
Labels: needs-tests

#39235 fix(minor): validate doctype before creating payment request
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: needs-tests

#39341 fix: incorrect active serial nos due to backdated transactions
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/stock_ledger.py
  erpnext/stock/utils.py
Labels: stock

#39084 fix: Pricing rule application/removal on qty change
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#39357 fix: empty category in Plaid
  erpnext/erpnext_integrations/doctype/plaid_settings/plaid_settings.py
Labels: needs-tests

#39098 fix: wrong file name
  erpnext/hooks.py
Labels: needs-tests

#39225 Update sales_taxes_and_charges.json
  erpnext/accounts/doctype/sales_taxes_and_charges/sales_taxes_and_charges.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#39366 Revert "fix: GL values in transaction currency via JV"
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#39224 Update purchase_taxes_and_charges.json label Rate to Tax Rate
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#39372 fix: batches not coming correctly in the batch selector
  erpnext/controllers/queries.py
Labels: backport version-15-hotfix

#39371 fix: incorrect sql error if account name has '%'
  erpnext/accounts/report/customer_ledger_summary/customer_ledger_summary.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39336 refactor: disallow bank transactions on different currencies
  erpnext/accounts/doctype/bank_reconciliation_tool/test_bank_reconciliation_tool.py
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
Labels: needs-tests, backport version-15-hotfix

#39377 ci: bump node in release workflow
  .github/workflows/release.yml
Labels: backport version-15-hotfix

#39346 perf: use iterator for stock ageing report
  erpnext/stock/report/stock_ageing/stock_ageing.py
Labels: do not backport

#39332 refactor: prevent foreign currency subscription for a party
  erpnext/accounts/doctype/subscription/subscription.py
  erpnext/accounts/doctype/subscription/test_subscription.py
  erpnext/accounts/doctype/subscription_plan/subscription_plan.json
  erpnext/accounts/doctype/subscription_plan/subscription_plan.py
Labels: needs-tests, backport version-15-hotfix

#39384 feat: Income account filter in item-wise reports
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.js
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Labels: needs-tests

#39394 fix: Untranslated columns in Global Ledger Report
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests

#39399 perf: use unbuffered_cursor for stock_ageing report
  erpnext/stock/report/stock_ageing/stock_ageing.py
Labels: needs-tests

#39402 fix: project query controller logic
  erpnext/controllers/queries.py
  erpnext/controllers/tests/test_queries.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38322 fix: consistency in display reserved_stock checkbox on Sales Order Item according global settings and item.is_stock_item
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order_item/sales_order_item.json
Labels: backport version-15-hotfix

#39410 fix(Purchase Register): show bill_date and bill_no (backport #38742)
  erpnext/accounts/report/purchase_register/purchase_register.py
Labels: needs-tests

#39385 fix: WDV as per IT Act: calculate yearly amount first and then split it based on months
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
Labels: needs-tests

#39386 fix: Cancel asset capitalisation record on cancellation of asset and vice-versa
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
Labels: needs-tests

#39423 fix: Update subscription period
  erpnext/accounts/doctype/subscription/subscription.py
Labels: needs-tests, backport version-15-hotfix

#39367 Revert dynamic splitting
  erpnext/accounts/deferred_revenue.py
  erpnext/accounts/doctype/gl_entry/gl_entry.json
  erpnext/accounts/doctype/invoice_discounting/invoice_discounting.py
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/journal_entry_account/journal_entry_account.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/utils.py
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/assets/doctype/asset_capitalization/test_asset_capitalization.py
  erpnext/assets/doctype/asset_repair/asset_repair.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/stock_controller.py
  erpnext/regional/united_arab_emirates/utils.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
Labels: accounts, stock

#39429 fix: composite asset capitalization using asset components
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.js
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
Labels: needs-tests

#39439 fix: test for asset depreciation
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
Labels: needs-tests

#39436 fix: duplicate name error while making variant
  erpnext/controllers/item_variant.py
Labels: stock, needs-tests

#39424 Revert "fix(minor): financial statements period end date"
  erpnext/accounts/report/financial_statements.py
Labels: needs-tests

#39229 fix: use most reliable section reference per report line
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
Labels: needs-tests

#39475 fix: key error during reposting
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#39457 refactor: delete transactions in background
  erpnext/setup/doctype/company/company.js
  erpnext/setup/doctype/company/company.py
Labels: needs-tests, backport version-15-hotfix

#39484 refactor: move 'project' set_query to sales_common.js
  erpnext/public/js/utils/sales_common.js
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/stock/doctype/delivery_note/delivery_note.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#39488 fix: UOM needs to be whole number not being checked in quotations
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/quotation/test_quotation.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39478 fix: UX improvements for Serial and Batch Bundle
  erpnext/public/js/utils/barcode_scanner.js
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests

#39054 refactor: provision to filter on dimensions in reconciliation tool
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.js
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.json
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation_allocation/payment_reconciliation_allocation.json
  erpnext/accounts/utils.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
  erpnext/hooks.py
  erpnext/public/js/utils/dimension_tree_filter.js
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39493 fix: skip setting liability account for internal transfer
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#39521 fix: not able to edit address through portal
  erpnext/utilities/web_form/addresses/addresses.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#39525 fix: email list for auto reorder material request
  erpnext/stock/doctype/material_request/test_material_request.py
  erpnext/stock/reorder_item.py
Labels: stock, backport version-14-hotfix, backport version-15-hotfix

#39529 fix: AttributeError in company transaction deletion
  erpnext/setup/doctype/company/company.py
  erpnext/setup/doctype/transaction_deletion_record/test_transaction_deletion_record.py
Labels: backport version-15-hotfix

#39389 fix: incorrect active serial nos
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/stock_ledger.py
Labels: stock

#39331 fix: Payment Terms Status for Sales Order report show all payment terms from orders (not only when there is a payment terms template)
  erpnext/selling/report/payment_terms_status_for_sales_order/payment_terms_status_for_sales_order.py
Labels: needs-tests

#39498 fix: cancellation of asset/asset capitalization
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/depreciation.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
Labels: needs-tests

#39547 fix: Item Tax template is not working for e-commerce
  erpnext/controllers/accounts_controller.py
  erpnext/selling/doctype/quotation/test_quotation.py
Labels: accounts, backport version-15-hotfix

#38218 fix: honour currency precision while fetching balance
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#39548 fix: do not delete batches implicitly
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
Labels: stock

#39535 refactor: use generic name for advance doctypes variable
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/utils.py
  erpnext/controllers/accounts_controller.py
  erpnext/hooks.py
Labels: accounts, needs-tests

#39453 fix: Asset Depreciation WDV as per Income Tax Act
  erpnext/accounts/doctype/fiscal_year/test_fiscal_year.py
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/patches/v13_0/create_custom_field_for_finance_book.py
Labels: needs-tests

#39557 fix: make SO item code mandatory
  erpnext/selling/doctype/sales_order_item/sales_order_item.json
  erpnext/selling/doctype/sales_order_item/sales_order_item.py
Labels: needs-tests

#39567 fix: incorrect amount in the material request item
  erpnext/stock/doctype/material_request/material_request.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#39541 fix: RM valuation rate in SCR
  erpnext/controllers/subcontracting_controller.py
Labels: needs-tests

#39108 feat: In words in payment entry
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#39511 refactor(Sales Invoice): set account and sum for payments
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39290 fix(ecom): do not create a new contact if a contact already exists
  erpnext/e_commerce/shopping_cart/cart.py
Labels: needs-tests

#39578 fix: apply no copy on source docs
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39590 fix: not able to save subcontracting purchase receipt (old flow)
  erpnext/controllers/subcontracting_controller.py
  erpnext/stock/utils.py
Labels: stock, needs-tests

#39591 refactor: Do proper currency conversion on Future Payments column in AR/AP report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39213 fix: prevent extra transfer against inter transfer transaction
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/delivery_note/delivery_note_dashboard.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: stock, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#38643 refactor: get/create customer for Sales Order
  erpnext/selling/doctype/customer/customer.py
  erpnext/selling/doctype/quotation/quotation.py
Labels: needs-tests

#39562 fix: enqueue JV submission when > 100 accounts
  erpnext/accounts/doctype/journal_entry/journal_entry.py
Labels: needs-tests

#39588 feat: New financial views - Growth and margin views for P&L and balance sheet
  erpnext/accounts/report/balance_sheet/balance_sheet.js
  erpnext/accounts/report/profit_and_loss_statement/profit_and_loss_statement.js
  erpnext/public/js/financial_statements.js
Labels: backport version-15-hotfix

#39481 fix: specify precision for net_amount
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/doctype/pos_invoice_merge_log/test_pos_invoice_merge_log.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/accounts.js
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: accounts, defer backport

#39616 fix(minor): do not auto-populate item delivery date from qtn
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/quotation/test_quotation.py
Labels: needs-tests

#39620 fix: not able to save BOM (duplicate key error)
  erpnext/manufacturing/doctype/bom/bom.py
Labels: backport version-15-hotfix

#39543 feat: Partly billed status in Purchase Receipt
  erpnext/controllers/status_updater.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt_list.js
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport version-15-hotfix

#39622 fix: not able to submit subcontracting pr (old flow)
  erpnext/controllers/subcontracting_controller.py
Labels: backport version-15-hotfix

#39559 fix: prevent Return Invoices(Credit/Debit Note) from using a different account
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#39634 fix: perf issue while submitting stock entry
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests

#39519 fix: don't overwrite existing terms in transaction
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#39646 fix: Exchange rate on MR to PO creation for muticurrency POs
  erpnext/stock/doctype/material_request/material_request.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39637 chore: cleanup doctype descriptions
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/fiscal_year/fiscal_year.json
  erpnext/accounts/doctype/monthly_distribution/monthly_distribution.json
  erpnext/accounts/doctype/purchase_taxes_and_charges_template/purchase_taxes_and_charges_template.json
  erpnext/accounts/doctype/sales_taxes_and_charges_template/sales_taxes_and_charges_template.json
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/selling/doctype/product_bundle/product_bundle.json
  erpnext/setup/doctype/item_group/item_group.json
  erpnext/setup/doctype/sales_person/sales_person.json
  erpnext/setup/doctype/terms_and_conditions/terms_and_conditions.json
  erpnext/stock/doctype/item_price/item_price.json
  erpnext/stock/doctype/price_list/price_list.json
  erpnext/stock/doctype/stock_settings/stock_settings.json
Labels: backport version-15-hotfix

#39643 fix(portal): show PO pay button if payments installed
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/templates/pages/order.html
  erpnext/templates/pages/order.py
Labels: needs-tests
