Repository frappe/erpnext, pull requests merged in 2024-02, with the labels that each got.

#39671 refactor: move ignore ERR filter from SOA to General Ledger
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/general_ledger/test_general_ledger.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39448 fix: fetch/change tax template on basis of base_net_rate instead of net_rate
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/get_item_details.py
Labels: accounts, stock, needs-tests, backport version-15-hotfix

#39674 refactor: use pop up to inform of possible data issue
  erpnext/accounts/doctype/account/account.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39687 fix: out of range for valuation_rate column in SE
  erpnext/stock/stock_ledger.py
Labels: stock, backport version-15-hotfix

#39692 fix: Percentage handling in queries
  erpnext/accounts/doctype/account/test_account.py
  erpnext/accounts/utils.py
Labels: accounts, needs-tests, backport version-15-hotfix

#39678 fix(Bank Statement Import): scheduler not needed in dev mode
  erpnext/accounts/doctype/bank_statement_import/bank_statement_import.py
Labels: needs-tests

#39523 feat: reference for POS SI payments
  erpnext/accounts/doctype/bank_clearance/bank_clearance.py
  erpnext/accounts/doctype/sales_invoice_payment/sales_invoice_payment.json
  erpnext/accounts/doctype/sales_invoice_payment/sales_invoice_payment.py
Labels: needs-tests

#39713 fix(work order): resolve type error during job card creation
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: backport version-15-hotfix

#39702 fix: production plan date filters for orders
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: needs-tests, backport version-15-hotfix

#38647 feat: copy emails from lead to customer
  erpnext/selling/doctype/customer/customer.py
Labels: CRM, backport version-14-hotfix, backport version-15-hotfix

#39684 fix: incorrect landed cost voucher amount
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39659 perf: timeout for auto material request through reorder level
  erpnext/controllers/selling_controller.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/get_item_details.py
  erpnext/stock/reorder_item.py
Labels: stock

#39651 fix: add ignore_permissions flag while creating a payment entry.
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#39626 perf: memory consumption for the stock balance report
  erpnext/stock/report/stock_balance/stock_balance.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39730 perf: Move dimension validation out of GL Entry doctype
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/general_ledger.py
Labels: accounts, needs-tests, backport version-14-hotfix, v15

#39712 feat: Period-wise closing entries for TB
  erpnext/accounts/report/trial_balance/trial_balance.js
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests, backport version-15-hotfix

#39688 fix: remove applied pricing rule on qty change
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#39725 fix: Blanket Order Ordered Quantity
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/buying/doctype/purchase_order_item/purchase_order_item.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#39742 perf: timeout while submitting the purchase receipt entry
  erpnext/buying/doctype/purchase_order/purchase_order.py
Labels: stock, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39694 refactor: enforce unique GL Account for each 'Bank Account'
  erpnext/accounts/doctype/bank_account/bank_account.py
  erpnext/accounts/doctype/bank_transaction/test_bank_transaction.py
  erpnext/accounts/doctype/payment_order/test_payment_order.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39746 fix: show warehouse title field in sales docs
  erpnext/controllers/queries.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39349 fix: TDS accounts GLE query for withholding category report
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
  erpnext/accounts/report/tax_withholding_details/test_tax_withholding_details.py
Labels: needs-tests

#39718 fix: use old serial / batch fields to make serial batch bundle
  erpnext/accounts/doctype/pos_invoice_item/pos_invoice_item.json
  erpnext/accounts/doctype/pos_invoice_item/pos_invoice_item.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/assets/doctype/asset_capitalization_stock_item/asset_capitalization_stock_item.json
  erpnext/assets/doctype/asset_capitalization_stock_item/asset_capitalization_stock_item.py
  erpnext/controllers/stock_controller.py
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/utils/barcode_scanner.js
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.json
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.py
  erpnext/stock/doctype/packed_item/packed_item.json
  erpnext/stock/doctype/packed_item/packed_item.py
  erpnext/stock/doctype/pick_list/pick_list.js
  erpnext/stock/doctype/pick_list/pick_list.json
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/pick_list/test_pick_list.py
  erpnext/stock/doctype/pick_list_item/pick_list_item.json
  erpnext/stock/doctype/pick_list_item/pick_list_item.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
  erpnext/stock/doctype/serial_no/serial_no.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/stock_entry_utils.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/doctype/stock_entry_detail/stock_entry_detail.json
  erpnext/stock/doctype/stock_entry_detail/stock_entry_detail.py
  erpnext/stock/doctype/stock_ledger_entry/test_stock_ledger_entry.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.js
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation_item/stock_reconciliation_item.json
  erpnext/stock/doctype/stock_reconciliation_item/stock_reconciliation_item.py
  erpnext/stock/doctype/stock_settings/stock_settings.json
  erpnext/stock/doctype/stock_settings/stock_settings.py
  erpnext/stock/serial_batch_bundle.py
  erpnext/stock/utils.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.py
  erpnext/subcontracting/doctype/subcontracting_receipt_supplied_item/subcontracting_receipt_supplied_item.json
  erpnext/subcontracting/doctype/subcontracting_receipt_supplied_item/subcontracting_receipt_supplied_item.py
Labels: stock, needs-tests

#39765 fix: set rate for PO created against BO
  erpnext/manufacturing/doctype/blanket_order/blanket_order.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39764 fix: remove file from the disk after the completion of reposting
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/doctype/repost_item_valuation/test_repost_item_valuation.py
Labels: backport version-15-hotfix

#39769 fix: do not throw validation for canceled SLE
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.py
Labels: backport version-15-hotfix

#39757 fix: duplicates in tax category map
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
  erpnext/accounts/report/tax_withholding_details/test_tax_withholding_details.py
Labels: needs-tests

#39780 fix: add permissions to SRE
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.json
Labels: backport version-15-hotfix

#39785 fix: incorrect planned qty in PP
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39783 fix: cancelling cr/dr notes should update the linked Invoice status
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#39790 refactor: Clean up code used to fetch website item stock details
  erpnext/utilities/product.py
Labels: needs-tests

#39826 fix: warehouse issue in pick list
  erpnext/stock/doctype/pick_list/pick_list.js
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: needs-tests

#39843 fix: stock entry for use serial batch fields
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/stock_entry_utils.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: stock, backport version-15-hotfix

#39822 feat: get RM costs from consumption entry in manufacture SE
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.json
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.py
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-15-hotfix

#39841 fix(ux): sales invoice link in error message
  erpnext/accounts/doctype/dunning/dunning.py
Labels: needs-tests

#39854 perf: cached get_last_purchase_details to fix performance issue
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/item/item.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39846 perf: production plan submission
  erpnext/manufacturing/doctype/material_request_plan_item/material_request_plan_item.json
  erpnext/manufacturing/doctype/production_plan/production_plan.json
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/work_order/work_order.json
  erpnext/manufacturing/doctype/work_order_item/work_order_item.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#39835 fix: create SBB for `transfer_qty` in SE
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-15-hotfix

#39862 fix: validate duplicate SBB
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
Labels: stock, backport version-15-hotfix

#39829 fix: corrective_operation_cost in Job Card
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests

#39814 fix: Handling circular linking while cancelling asset capitalization
  erpnext/assets/doctype/asset/asset.js
  erpnext/assets/doctype/asset/depreciation.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.js
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
Labels: needs-tests

#39857 fix: fetch company terms
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
Labels: squash

#39868 fix(Purchase Receipt): calculate `stock_value_diff`
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39884 fix: use correct field name in accounts controller
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, squash, backport version-14-hotfix, backport version-15-hotfix

#39898 fix: landed cost voucher not submitting because of incorrect reference
  erpnext/controllers/buying_controller.py
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.py
Labels: buying, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39901 fix: production plan issue with sales order
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39916 fix: not able to make purchase receipt
  erpnext/controllers/subcontracting_controller.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39926 fix(Bank Transaction): precision for `(un)allocated_amount`
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
Labels: backport version-15-hotfix

#39934 fix: batch filter not working in stock ledger report
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: backport version-15-hotfix

#39938 fix(Issue): create communication
  erpnext/support/doctype/issue/issue.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39927 fix(Bank Transaction): precision for `(un)allocated_amount`
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
Labels: needs-tests

#39943 refactor: use popup to inform on additional reconciliation step for Cr/Dr Notes
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39951 fix: typerror on 'Item Group' filter on Item-Wise Purchase Register
  erpnext/accounts/report/item_wise_purchase_register/item_wise_purchase_register.py
Labels: needs-tests

#39942 fix: group node in warehouse filter in Item-wise Sales Register
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39914 refactor: add total row if only one party is being filtered
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39832 fix: reconciliation issue due to notation difference
  erpnext/accounts/utils.py
Labels: accounts, needs-tests

#39948 fix: do not empty serial batch fields
  erpnext/controllers/stock_controller.py
  erpnext/public/js/controllers/buying.js
  erpnext/public/js/utils/sales_common.js
  erpnext/stock/doctype/pick_list/pick_list.js
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: stock

#39970 fix: reposting failed status not updated
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: backport version-15-hotfix

#39973 Linter issue
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
Labels: needs-tests

#39874 fix: Adjust amount in last row due to rounding
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
Labels: needs-tests

#39982 fix: On cancelation of capitalization, reverse depreciation entry only if journal entry exists
  erpnext/assets/doctype/asset/depreciation.py
Labels: needs-tests

#39966 fix: set batch created from bundle to batch field in stock transaction
  erpnext/controllers/stock_controller.py
  erpnext/controllers/tests/test_subcontracting_controller.py
  erpnext/public/js/controllers/buying.js
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/utils/sales_common.js
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/stock/doctype/pick_list/pick_list.js
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.js
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/report/stock_ledger/stock_ledger.js
  erpnext/stock/report/stock_ledger/stock_ledger.py
  erpnext/stock/serial_batch_bundle.py
  erpnext/stock/utils.py
Labels: stock

#39988 fix: webpages are not showing
  erpnext/utilities/product.py
Labels: needs-tests

#39983 fix: Issues regarding asset cancellation and deletion
  erpnext/assets/doctype/asset/depreciation.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.js
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
  erpnext/controllers/buying_controller.py
  erpnext/patches.txt
  erpnext/patches/v15_0/delete_orphaned_asset_movement_item_records.py
Labels: buying, needs-tests

#39971 fix: Delete linked asset movement record on cancellation of purchase receipt/invoice
  erpnext/controllers/buying_controller.py
  erpnext/patches.txt
  erpnext/patches/v14_0/delete_orphaned_asset_movement_item_records.py
Labels: buying, needs-tests

#40010 fix: timesheet per billed state edge case
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: needs-tests

#40005 fix: communication_date in party dashboards
  erpnext/accounts/party.py
Labels: accounts, needs-tests

#40017 fix: remove microsecond from posting datetime
  erpnext/patches.txt
  erpnext/patches/v14_0/update_posting_datetime_and_dropped_indexes.py
Labels: needs-tests, backport version-15-hotfix

#40018 fix: incorrect item name in MR
  erpnext/stock/doctype/material_request/material_request.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40016 fix: negative stock error while making stock reconciliation
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#39828 fix: translate Sales Pipeline Analytics report
  erpnext/crm/report/sales_pipeline_analytics/sales_pipeline_analytics.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39831 fix: remove cancelled payment entry from Payment Period Based On Invoice Date
  erpnext/accounts/report/payment_period_based_on_invoice_date/payment_period_based_on_invoice_date.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40011 fix: Ledger entries for Cr/Dr notes with POS Payments
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40035 fix: delete PLE containing invoice in against
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#40040 fix: skip max discount validation for rate adjustment
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/controllers/selling_controller.py
Labels: selling, needs-tests

#39830 fix: check_credit_limit on_update_after_submit of Sales Order
  erpnext/selling/doctype/customer/test_customer.py
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40079 chore: change label name
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/doctype/serial_and_batch_entry/serial_and_batch_entry.json
  erpnext/stock/doctype/stock_settings/stock_settings.json
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests

#40081 fix: Cannot read properties of undefined
  erpnext/public/js/utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40085 fix: do not make MR against raw materials of available sub assemblies
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40073 refactor: update payments section on item removal
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40096 fix: Fiscal Year exception on demo data setup
  erpnext/setup/demo.py
Labels: backport version-15-hotfix

#40105 fix(minor): tax amount label according to party type
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
Labels: needs-tests

#40062 fix: sales person / partner achieved targets in report
  erpnext/selling/report/sales_partner_target_variance_based_on_item_group/item_group_wise_sales_target_variance.py
  erpnext/selling/report/sales_person_target_variance_based_on_item_group/test_sales_person_target_variance_based_on_item_group.py
  erpnext/selling/report/sales_person_wise_transaction_summary/sales_person_wise_transaction_summary.py
Labels: needs-tests

#40113 refactor: patch to setup dimensions in Reconciliation tool
  erpnext/patches.txt
  erpnext/patches/v14_0/create_accounting_dimensions_in_reconciliation_tool.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40133 fix: reset advance amount on unreconciliation of Sales/Purchase Orders
  erpnext/accounts/doctype/unreconcile_payment/test_unreconcile_payment.py
  erpnext/accounts/doctype/unreconcile_payment/unreconcile_payment.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40098 fix: Data too long for column 'serial_no' at row 1
  erpnext/accounts/doctype/pos_invoice_item/pos_invoice_item.json
  erpnext/accounts/doctype/pos_invoice_item/pos_invoice_item.py
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.py
  erpnext/assets/doctype/asset_capitalization_stock_item/asset_capitalization_stock_item.json
  erpnext/assets/doctype/asset_capitalization_stock_item/asset_capitalization_stock_item.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/stock_entry_detail/stock_entry_detail.json
  erpnext/stock/doctype/stock_entry_detail/stock_entry_detail.py
  erpnext/stock/doctype/stock_settings/stock_settings.json
  erpnext/stock/doctype/stock_settings/stock_settings.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock

#40140 fix: use serial batch fields for packed items
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/controllers/selling_controller.py
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/packed_item/packed_item.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: stock, selling

#37477 feat: editable journal entries
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/journal_entry/journal_entry.json
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/doctype/journal_entry_account/journal_entry_account.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/patches/v15_0/allow_on_submit_dimensions_for_repostable_doctypes.py
Labels: accounts

#40161 fix: Supplier users not able to see RFQ on the Portal
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
  erpnext/buying/doctype/request_for_quotation/test_request_for_quotation.py
Labels: backport version-15-hotfix

#40137 fix: default taxable value for item not found in item list
  erpnext/controllers/taxes_and_totals.py
Labels: accounts, needs-tests, backport version-14-hotfix, v15

#40162 fix: add flags for repost to ensure correct accounting from India Compliance App
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests

#40164 fix: add flags for repost to ensure correct accounting from India Compliance App (Backport #40162)
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests

#40163 fix: add flags for repost to ensure correct accounting from India Compliance App (Backport #40162)
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests

#40174 fix: promotional scheme remove free item if pricing rule matches
  erpnext/public/js/controllers/transaction.js
Labels: backport version-15-hotfix

#40183 fix(setup): avoid duplicate entry for Analytics role
  erpnext/setup/install.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40176 fix(minor): make warning for previously existing SO an alert
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests

#40039 fix: account validation error on bank account after editing existing bank account
  erpnext/accounts/doctype/bank_account/bank_account.py
Labels: needs-tests

#40196 fix: include debit_to or credit_to account while fetching advance on Sales/Purchase Invoice
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-15-hotfix

#40197 fix: ignore self on GL account validation for Bank Account
  erpnext/accounts/doctype/bank_account/bank_account.py
Labels: needs-tests, backport version-15-hotfix

#39584 fix: use receipt amount for reverse provisional entry
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#39701 fix: check order paid amount before payment request
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/templates/pages/order.html
  erpnext/templates/pages/order.py
Labels: needs-tests

#40203 fix(Project): filter department by company
  erpnext/projects/doctype/project/project.js
Labels: backport version-14-hotfix, backport version-15-hotfix
