Repository frappe/erpnext, pull requests merged in 2024-12, with the labels that each got.

#44437 fix: Added translation for `Account` column
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44412 fix: handle multi currency in common party journal entry
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#43958 fix: set correct unallocated amount in Payment Entry
  erpnext/accounts/doctype/exchange_rate_revaluation/test_exchange_rate_revaluation.py
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/payment_entry_deduction/payment_entry_deduction.json
  erpnext/accounts/doctype/payment_entry_deduction/payment_entry_deduction.py
  erpnext/accounts/doctype/unreconcile_payment/test_unreconcile_payment.py
  erpnext/accounts/test/test_utils.py
  erpnext/patches.txt
  erpnext/patches/v15_0/set_is_exchange_gain_loss_in_payment_entry_deductions.py
Labels: squash, backport version-15-hotfix

#44470 refactor(UI): Rearranging fields under new sections
  erpnext/setup/doctype/company/company.json
Labels: backport version-15-hotfix

#44373 fix: Always Calculate `sales_incoming_rate` for Internal Transfers
  erpnext/controllers/buying_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
Labels: buying, backport version-15-hotfix

#44415 fix: adjusted incoming rate for zero rated item in purchase receipt
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44450 fix: calculate submitted payment entry amount for grand total
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/doctype/payment_request/test_payment_request.py
Labels: backport version-15-hotfix

#44467 fix: Multiple Fixes in Gross Profit Report
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44339 fix: move `validate_total_debit_and_credit` from`validate` to`on_submit` in Journal Entry
  erpnext/accounts/doctype/journal_entry/journal_entry.py
Labels: needs-tests

#44492 fix: get value from dict
  erpnext/stock/get_item_details.py
Labels: stock

#44453 feat: Create Syscohada charts of accounts
  erpnext/accounts/doctype/account/chart_of_accounts/verified/bf_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/bf_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/bj_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/bj_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/cd_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/cd_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/cf_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/cf_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/cg_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/cg_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/ci_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/ci_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/cm_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/cm_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/ga_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/ga_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/gn_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/gn_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/gq_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/gq_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/gw_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/gw_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/km_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/km_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/ml_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/ml_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/ne_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/ne_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/sn_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/sn_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/syscohada_chart_of_accounts.py
  erpnext/accounts/doctype/account/chart_of_accounts/verified/syscohada_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/syscohada_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/td_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/td_plan_comptable_avec_code.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/tg_plan_comptable.json
  erpnext/accounts/doctype/account/chart_of_accounts/verified/tg_plan_comptable_avec_code.json
Labels: needs-tests

#44498 fix: duplicate required items in the CSV
  erpnext/manufacturing/doctype/production_plan/production_plan.json
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: needs-tests

#44497 fix: required by date in the reorder material request
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/reorder_item.py
Labels: stock, backport version-14-hotfix, backport version-15-hotfix

#44504 fix: inv dimensions fields not creating for standard doctype
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44500 fix: add labels for translation in sales_order.js
  erpnext/selling/doctype/sales_order/sales_order.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#42081 Use better description in pos_payment.js
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44501 fix: strings for translation in pos_past_order_summary.js
  erpnext/selling/page/point_of_sale/pos_past_order_summary.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44512 fix: add label strings for translation in pos_controller.js
  erpnext/selling/page/point_of_sale/pos_controller.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44503 fix: add strings for translation in pos_item_cart.js
  erpnext/selling/page/point_of_sale/pos_item_cart.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44528 fix: incorrect stock UOM for BOM raw materials
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom/test_bom.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44532 fix: consider zero valuation rate for serial nos
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests, backport version-15-hotfix

#44542 fix: update qty in SABB if qty changed in stock reco
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: backport version-15-hotfix

#44540 fix: not able to make PO for returned qty from material request
  erpnext/stock/doctype/material_request/material_request.js
  erpnext/stock/doctype/material_request/material_request.py
Labels: needs-tests, backport version-15-hotfix

#44548 fix: variant qty while making work order from BOM
  erpnext/manufacturing/doctype/bom/bom.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44549 chore: Ignore stock validation for non stock invoices
  erpnext/controllers/sales_and_purchase_return.py
Labels: needs-tests

#44560 fix: add labels for translation in sales_order_analysis.py
  erpnext/selling/report/sales_order_analysis/sales_order_analysis.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44559 fix: add strings for translation payment_terms_status_for_sales_order.py
  erpnext/selling/report/payment_terms_status_for_sales_order/payment_terms_status_for_sales_order.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44558 fix: add string for translation in delayed_tasks_summary.py
  erpnext/projects/report/delayed_tasks_summary/delayed_tasks_summary.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44541 fix: add labels for translation in quality_inspection_summary.py
  erpnext/manufacturing/report/quality_inspection_summary/quality_inspection_summary.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44539 fix: add labels for translation in production_analytics.py
  erpnext/manufacturing/report/production_analytics/production_analytics.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44538 fix: add labels for translation in purchase_order_analysis.py
  erpnext/buying/report/purchase_order_analysis/purchase_order_analysis.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44416 fix(Bank Transaction): error in party matching should not block submitting
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44575 fix: BOM name issue
  erpnext/manufacturing/doctype/bom/bom.py
Labels: needs-tests

#44580 fix: BOM for variant items
  erpnext/manufacturing/doctype/bom/bom.js
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests

#44586 fix: BOM name issue
  erpnext/manufacturing/doctype/bom/bom.js
  erpnext/manufacturing/doctype/bom/bom.py
Labels: needs-tests

#44577 fix: currency symbol in SCO and SCR
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.json
  erpnext/subcontracting/doctype/subcontracting_order_item/subcontracting_order_item.json
  erpnext/subcontracting/doctype/subcontracting_order_item/subcontracting_order_item.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.py
Labels: needs-tests

#44598 fix: BOM has not attr required items
  erpnext/manufacturing/doctype/bom/bom.js
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests, backport version-15-hotfix

#44582 fix: add doc.status for translation
  erpnext/templates/includes/issue_row.html
  erpnext/templates/includes/projects/project_row.html
  erpnext/templates/includes/transaction_row.html
  erpnext/templates/pages/timelog_info.html
Labels: backport version-14-hotfix, backport version-15-hotfix

#44495 fix: Prevent set_payment_schedule when creating Sales Invoice that is return
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: needs-tests

#44606 fix: description overwrite on qty change
  erpnext/stock/doctype/material_request/material_request.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44513 fix: correct color for draft in list view
  erpnext/accounts/doctype/payment_request/payment_request_list.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice_list.js
  erpnext/stock/doctype/pick_list/pick_list_list.js
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order_list.js
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt_list.js
Labels: backport version-15-hotfix

#44610 fix: prevent set_payment_schedule on return documents
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: needs-tests

#44611 fix: prevent set_payment_schedule on return documents
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: needs-tests

#44605 fix: not able to make sales return entry
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests, backport version-15-hotfix

#44545 fix: only show advance payment entries where "book_advance_payments_in_separate_party_account" is true
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-15-hotfix

#44618 fix: 'Use Multi-Level BOM' checkbox default value
  erpnext/manufacturing/doctype/bom/bom.js
  erpnext/manufacturing/doctype/bom/bom.py
Labels: needs-tests, backport version-15-hotfix

#44622 fix: only show advance payment entries where "book_advance_payments_in_separate_party_account" is true (backport #44545)
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#44581 fix: allow all dispatch address for drop ship invoice
  erpnext/public/js/queries.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44293 refactor: move `item_code` reactivity to server-side
  erpnext/accounts/test/accounts_mixin.py
  erpnext/controllers/tests/test_reactivity.py
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/doctype/selling_settings/selling_settings.json
  erpnext/selling/doctype/selling_settings/selling_settings.py
  erpnext/startup/boot.py
  erpnext/utilities/transaction_base.py
Labels: defer backport

#44493 fix: update free item qty while adding same item in seperate row
  erpnext/accounts/doctype/pricing_rule/utils.py
Labels: needs-tests, backport version-15-hotfix

#44533 Consider against_voucher_no when voucher_no is filtered
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests

#44655 refactor: consider against_voucher_no when voucher_no is filtered (backport 44533)
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests

#44656 fix: update free item qty while adding same item in seperate row
  erpnext/accounts/doctype/pricing_rule/utils.py
Labels: needs-tests

#44657 fix: valuation rate for batch in stock reconciliation
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.js
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: needs-tests

#44669 fix: validate returned serial nos and batches
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#44679 fix: Stock Entry uses incorrect company when generated from Pick List
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: needs-tests

#44621 fix: add doc.status to translation from POS
  erpnext/selling/page/point_of_sale/pos_past_order_summary.js
Labels: backport version-15-hotfix

#42989 fix: Wrong allocated_amount for sales_team in gross_profit report
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests

#43930 fix: use get_datetime_as_string with correct time format
  erpnext/projects/doctype/timesheet/timesheet.js
  erpnext/public/js/projects/timer.js
Labels: defer backport

#44687 fix: Wrong allocated_amount for sales_team in gross_profit report (backport #43989)
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests

#44686 fix: Wrong allocated_amount for sales_team in gross_profit report (backport 42989)
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests

#44689 fix: incorrect status of the purchase receipt
  erpnext/controllers/status_updater.py
Labels: needs-tests

#44690 fix: handle zero salvage value case
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset_finance_book/asset_finance_book.json
Labels: backport version-15-hotfix

#44604 refactor: drop pytz
  erpnext/support/doctype/service_level_agreement/service_level_agreement.py
  erpnext/utilities/doctype/video/video.py
  erpnext/www/book_appointment/index.py
Labels: needs-tests

#44556 feat: add accounting dimensions in ledger summary reports
  erpnext/accounts/report/customer_ledger_summary/customer_ledger_summary.js
  erpnext/accounts/report/customer_ledger_summary/customer_ledger_summary.py
  erpnext/accounts/report/supplier_ledger_summary/supplier_ledger_summary.js
Labels: needs-tests

#44636 fix: SQL syntax error in Purchase Receipt query for empty filters
  erpnext/buying/report/purchase_order_analysis/purchase_order_analysis.py
Labels: needs-tests

#44698 fix: remove invalid filter in Account Receivable report (backport #44676)
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests

#44585 fix: migration; make it resilient against old, non-conforming data
  erpnext/patches/v15_0/migrate_old_item_wise_tax_detail_data_format.py
Labels: needs-tests

#44713 fix: broken CI
  .github/helper/install.sh
Labels: accounts, needs-tests

#44722 fix: unsupported operand type
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests, backport version-15-hotfix

#44720 fix: pos invoice return reference missing
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
Labels: needs-tests, backport version-15-hotfix

#44650 feat: Multiselect cc in process statement of accounts
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.json
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/doctype/process_statement_of_accounts_cc/__init__.py
  erpnext/accounts/doctype/process_statement_of_accounts_cc/process_statement_of_accounts_cc.json
  erpnext/accounts/doctype/process_statement_of_accounts_cc/process_statement_of_accounts_cc.py
  erpnext/patches.txt
  erpnext/patches/v15_0/update_cc_in_process_statement_of_accounts.py
Labels: needs-tests, backport version-15-hotfix

#44710 fix: switched asset terminology from cost to value backport-pr-44647
  erpnext/accounts/report/asset_depreciations_and_balances/asset_depreciations_and_balances.py
Labels: needs-tests

#44660 fix: better indicator base amount for Tax Witholding in Journal Entry
  erpnext/accounts/report/tax_withholding_details/tax_withholding_details.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44732 fix: handle zero salvage value case backport-pr-44690
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset_finance_book/asset_finance_book.json
Labels: needs-tests

#44721 fix: purchase return entry issue
  erpnext/controllers/sales_and_purchase_return.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44685 fix: set company bank account if default account not set in mode of p…
  erpnext/accounts/doctype/payment_entry/payment_entry.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44695 fix: User permissions in financial statements
  erpnext/accounts/report/financial_statements.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44749 fix: allow all dispatch address for drop ship invoice (backport #44581)
  erpnext/public/js/queries.js
Labels: accounts

#44708 fix: update discount when pricing rule is changed
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44758 fix: use utility method to generate url
  erpnext/erpnext_integrations/doctype/plaid_settings/plaid_settings.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44765 fix: 'str' object has no attribute 'get_sql'
  erpnext/accounts/report/financial_statements.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44776 fix: added docs.frappe.io in documentation_url
  .github/helper/documentation.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44772 fix: POS Closing entry issue
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
Labels: backport version-15-hotfix

#44764 perf: SABB
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#44791 fix: closing stock balance permissions
  erpnext/stock/doctype/closing_stock_balance/closing_stock_balance.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#44799 fix: slow posting datetime update
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#44665 fix: add Swedish_2024_COA
  erpnext/accounts/doctype/account/chart_of_accounts/verified/se_kontoplan_BAS_2024_with_account_number.json
Labels: backport version-15-hotfix

#44703 fix: Swedish tax templates
  erpnext/setup/setup_wizard/data/country_wise_tax.json
Labels: backport version-15-hotfix

#44809 fix: Duplicate entry ' EF1DE8B2E1B6' for key 'PRIMARY'
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests, backport version-15-hotfix

#44825 fix: Ledger repost support for extending app doctypes
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
Labels: needs-tests

#44826 fix: Remove typo from `Bank Account` on trash
  erpnext/accounts/doctype/bank_account/bank_account.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44823 fix: incorrect Material Transferred for Manufacturing qty
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/work_order/test_work_order.py
Labels: backport version-15-hotfix

#44644 fix: permissions for marking Quotation as lost
  erpnext/crm/doctype/competitor/competitor.json
  erpnext/setup/doctype/quotation_lost_reason/quotation_lost_reason.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#44751 fix: buying rate for service item in gross profit report
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44786 fix: correct args for get_advance_payment_entries_for_regional
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-15-hotfix

#44745 feat: Create subcontracted PO from Material Request
  erpnext/controllers/status_updater.py
  erpnext/stock/doctype/material_request/material_request.js
  erpnext/stock/doctype/material_request/material_request.json
  erpnext/stock/doctype/material_request/material_request.py
  erpnext/stock/doctype/material_request/test_material_request.py
Labels: buying, needs-tests

#44808 feat: Added difference_posting_date field in Sales Invoice Advance and Purchase Invoice Advance
  erpnext/accounts/doctype/purchase_invoice_advance/purchase_invoice_advance.json
  erpnext/accounts/doctype/purchase_invoice_advance/purchase_invoice_advance.py
  erpnext/accounts/doctype/sales_invoice_advance/sales_invoice_advance.json
  erpnext/accounts/doctype/sales_invoice_advance/sales_invoice_advance.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
Labels: accounts, backport version-15-hotfix

#44813 fix: update correct cost center in Accounts Receivable Report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44716 fix: avg. buying amount for product bundle item with serial and batch no in gross profit report
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44797 fix(ux): purchase invoice link in error message
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44844 fix: do not validate qc for scrap item
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: stock

#44857 fix: incoming rate should be zero for rejected items
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44865 fix: Warehouse wise Stock Value chart roles
  erpnext/stock/dashboard_chart/warehouse_wise_stock_value/warehouse_wise_stock_value.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#44863 fix: stock entry not fetching expired batches
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: stock, backport version-15-hotfix

#44856 fix: fetch advance payment entries on pos invoice
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#44854 fix: asset fields precision check
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
Labels: backport version-15-hotfix

#44870 fix: posting_time issue
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests, backport version-15-hotfix

#44763 fix: Paid + Write Off Amount issue in Sales Invoice
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests, backport version-15-hotfix

#44780 fix: add `Stock UOM` when adding new item in POS list
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_item_selector.js
Labels: backport version-15-hotfix

#44794 fix: correct tds rate with lower deduction certificate
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44879 fix: set project in GL from the SLE
  erpnext/controllers/stock_controller.py
Labels: stock, needs-tests

#44889 refactor: use db_set instead of set_value to trigger notification
  erpnext/accounts/doctype/bank_clearance/bank_clearance.py
Labels: needs-tests, backport version-15-hotfix

#44878 fix: show profit and loss after period closing
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44787 fix: refactor query in`get_total_allocated_amount` in bank_transaction
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44902 fix: allow zero valuation rate
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#44917 fix: material request status
  erpnext/controllers/status_updater.py
  erpnext/stock/doctype/material_request/material_request_list.js
  erpnext/stock/doctype/material_request/test_material_request.py
Labels: backport version-15-hotfix

#44915 fix: Show order tax amount in customer currency on the portal
  erpnext/templates/includes/order/order_taxes.html
Labels: backport version-14-hotfix, backport version-15-hotfix

#44815 fix: relabel rate to tax rate
  erpnext/accounts/doctype/account/account.json
  erpnext/accounts/doctype/advance_taxes_and_charges/advance_taxes_and_charges.json
  erpnext/accounts/doctype/pos_closing_entry_taxes/pos_closing_entry_taxes.json
Labels: backport version-15-hotfix

#44816 fix: strings for translation
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
  erpnext/accounts/utils.py
  erpnext/manufacturing/report/exponential_smoothing_forecasting/exponential_smoothing_forecasting.py
  erpnext/manufacturing/report/production_analytics/production_analytics.py
  erpnext/public/js/bom_configurator/bom_configurator.bundle.js
  erpnext/stock/doctype/material_request/material_request.js
  erpnext/templates/includes/footer/footer_extension.html
Labels: accounts, needs-tests, backport version-15-hotfix

#44899 fix (pos closing entry): validation for 100 pc discount on pos invoice
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests

#44933 fix: ignore inventory dimension for SABB and Pick List
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.py
Labels: needs-tests

#44892 fix: clear payment schedule in purchase invoice for is_paid
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44904 fix: ignore duplicate while creating default templates
  erpnext/setup/setup_wizard/operations/taxes_setup.py
Labels: needs-tests, backport version-15-hotfix

#44939 fix: ignore validate while making WO from MR
  erpnext/stock/doctype/material_request/material_request.py
Labels: needs-tests, backport version-15-hotfix

#44954 fix: incorrect filter for BOM
  erpnext/manufacturing/doctype/bom/bom_list.js
Labels: backport version-15-hotfix

#44958 refactor(test): make manufacturing test idempotent
  erpnext/manufacturing/report/test_reports.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44906 fix: set/update billing address on change of company
  erpnext/public/js/controllers/buying.js
  erpnext/public/js/controllers/transaction.js
Labels: backport version-15-hotfix

#44921 fix: get item tax template based on posting date
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44552 Fix: Added Order Number and Order Date fields to the Blanket Order form.
  erpnext/manufacturing/doctype/blanket_order/blanket_order.json
  erpnext/manufacturing/doctype/blanket_order/blanket_order.py
Labels: needs-tests

#44962 fix: refactor query in get_total_allocated_amount in bank_transaction (backport #44787)
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
Labels: needs-tests

#44883 fix: Validate party on non receivable / payable account
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/gl_entry/test_gl_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/party.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#44761 fix: apply discount on qty change
  erpnext/selling/page/point_of_sale/pos_item_details.js
Labels: backport version-15-hotfix

#44975 fix: add company filter to project
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/controllers/queries.py
  erpnext/public/js/controllers/buying.js
Labels: needs-tests, backport version-15-hotfix

#44957 fix(report): Purchase Order Analysis pymysql.err
  erpnext/buying/report/purchase_order_analysis/purchase_order_analysis.py
Labels: needs-tests

#44990 fix: negative stock balance
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
Labels: stock, needs-tests

#44964 fix: copy accounting dimensions to asset and sales invoice
  erpnext/assets/doctype/asset/asset.py
  erpnext/controllers/buying_controller.py
Labels: buying, backport version-15-hotfix

#44884 fix: update item_tax_rate in backend
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/taxes_and_totals.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#44903 fix: set paid amount in party currency in bank reco payment entry
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix
