Repository frappe/erpnext, pull requests merged in 2024-11, with the labels that each got.

#43709 feat: Ledger for advance payment
  erpnext/accounts/doctype/advance_payment_ledger_entry/__init__.py
  erpnext/accounts/doctype/advance_payment_ledger_entry/advance_payment_ledger_entry.js
  erpnext/accounts/doctype/advance_payment_ledger_entry/advance_payment_ledger_entry.json
  erpnext/accounts/doctype/advance_payment_ledger_entry/advance_payment_ledger_entry.py
  erpnext/accounts/doctype/advance_payment_ledger_entry/test_advance_payment_ledger_entry.py
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/doctype/unreconcile_payment/test_unreconcile_payment.py
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/patches/v15_0/create_advance_payment_ledger_records.py
Labels: accounts

#43835 Update fiscal_year.js
  erpnext/accounts/doctype/fiscal_year/fiscal_year.js
Labels: backport version-15-hotfix

#43929 fix: Map reference number while reversing Journal Entry
  erpnext/accounts/doctype/journal_entry/journal_entry.py
Labels: needs-tests, backport version-15-hotfix

#43950 perf: avoid reposting of entries created after stock reco
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/stock_ledger.py
Labels: stock

#43388 fix: SO link on PO and add in missing dashboard references on both
  erpnext/buying/doctype/purchase_order/purchase_order_dashboard.py
  erpnext/selling/doctype/sales_order/sales_order_dashboard.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43941 fix: show "Send SMS" only when enabled
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#43971 refactor: update permission requirement for advance ledger
  erpnext/accounts/doctype/advance_payment_ledger_entry/advance_payment_ledger_entry.json
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-15-hotfix

#43978 perf: too many writes error during reposting
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43981 chore: update serial_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests, backport version-15-hotfix

#43985 fix: removed single quotes from deferred revenue
  erpnext/accounts/deferred_revenue.py
Labels: accounts, needs-tests, backport version-15-hotfix

#43989 fix: error when saving POS merge log
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#43993 fix: ensure list has items
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#43997 fix: Update `dimension_filter_map` query
  erpnext/accounts/doctype/accounting_dimension_filter/accounting_dimension_filter.py
Labels: needs-tests

#44003 fix: task showing limit in customer portal
  erpnext/templates/pages/projects.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44014 fix: Subcontracting Receipt has no reference field for Purchase Order
  erpnext/buying/doctype/purchase_order/purchase_order_dashboard.py
Labels: needs-tests

#43273 fix: improved the conditions for determining voucher subtypes
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/patches/v15_0/update_sub_voucher_type_in_gl_entries.py
Labels: accounts, squash, backport version-14-hotfix, backport version-15-hotfix

#43762 fix: handle NoneType error when updating ordered_qty in SO for remove…
  erpnext/buying/doctype/purchase_order/purchase_order.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44028 fix: item not set in the batch quick entry form
  erpnext/public/js/controllers/transaction.js
Labels: backport version-15-hotfix

#42978 fix: duplicate items and outdated item price in POS
  erpnext/selling/page/point_of_sale/point_of_sale.py
Labels: needs-tests, backport version-15-hotfix

#44037 Release v15.41.2
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/patches/v15_0/update_sub_voucher_type_in_gl_entries.py
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: accounts

#42743 fix: better gls for purchases with tax witholding
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
  erpnext/accounts/general_ledger.py
Labels: accounts, squash, backport version-15-hotfix

#42755 fix: when company is created with other company template Chart of Account the Create Taxe Template failed
  erpnext/setup/setup_wizard/operations/taxes_setup.py
Labels: needs-tests

#44064 fix: slow reposting due to SABB update
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-15-hotfix

#44058 fix: type error while saving pick list
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: needs-tests

#44073 fix: task path
  erpnext/projects/doctype/task/task.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44074 chore: update `CODEOWNERS`
  CODEOWNERS
Labels: backport version-14-hotfix, backport version-15-hotfix

#44082 fix: populate payment schedule from payment terms
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#43695 fix: exception on register reports when filtered on cost center
  erpnext/accounts/report/sales_register/test_sales_register.py
  erpnext/accounts/report/utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#43701 fix: add field conversion_factor when include_uom is settled
  erpnext/stock/report/stock_projected_qty/stock_projected_qty.py
Labels: needs-tests

#44072 fix: bind this object explicitly on callback event function
  erpnext/accounts/doctype/pos_invoice/pos_invoice.js
Labels: backport version-15-hotfix

#44040 fix: specify precision for net_amount (backport #39481)
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/doctype/pos_invoice_merge_log/test_pos_invoice_merge_log.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/accounts.js
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: accounts, needs-tests

#44065 fix: update payment amount for partial pos return
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: backport version-15-hotfix

#44053 Pos barcode search fix
  erpnext/selling/page/point_of_sale/point_of_sale.py
  erpnext/selling/page/point_of_sale/pos_item_selector.js
Labels: needs-tests, backport version-15-hotfix

#44095 fix: purchase receipt creation from SCR
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
Labels: needs-tests

#44012 fix: not able to reconcile expired batches
  erpnext/controllers/queries.py
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/serial_batch_bundle.py
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#44108 fix: not able to cancel DN
  erpnext/stock/serial_batch_bundle.py
Labels: stock, backport version-15-hotfix

#43962 fix: consider service item cost in the RM cost of the BOM
  erpnext/manufacturing/doctype/bom/bom.py
Labels: needs-tests

#44112 fix: incorrect produced qty in Production Plan Summary
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/report/production_plan_summary/production_plan_summary.py
Labels: backport version-15-hotfix

#43977 fix: update per_billed value in Purchase Receipt while creating Debit Note
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44116 fix: Drop Shipping address based on customer shopping address
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44117 fix: Cannot read properties of undefined (reading 'work_order_closed')
  erpnext/manufacturing/doctype/job_card/job_card.js
Labels: backport version-15-hotfix

#44124 refactor: 'Partly Billed' status for Purchase Receipt
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#43651 fix: bulk update invoice remarks during site upgrade
  erpnext/patches/v15_0/update_invoice_remarks.py
Labels: needs-tests

#43189 fix: broken apply on other item
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#43372 fix: item wise tax details and net amounts
  erpnext/accounts/doctype/advance_taxes_and_charges/advance_taxes_and_charges.json
  erpnext/accounts/doctype/advance_taxes_and_charges/advance_taxes_and_charges.py
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/pos_invoice_merge_log/test_pos_invoice_merge_log.py
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.json
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/doctype/sales_taxes_and_charges/sales_taxes_and_charges.json
  erpnext/accounts/doctype/sales_taxes_and_charges/sales_taxes_and_charges.py
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/controllers/tests/test_item_wise_tax_details.py
  erpnext/deprecation_dumpster.py
  erpnext/patches.txt
  erpnext/patches/v15_0/migrate_old_item_wise_tax_data_format.py
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/regional/italy/utils.py
  erpnext/regional/report/vat_audit_report/vat_audit_report.py
Labels: accounts, defer backport

#44137 fix: stock ledger variance report filter options
  erpnext/stock/report/stock_ledger_variance/stock_ledger_variance.js
  erpnext/stock/report/stock_ledger_variance/stock_ledger_variance.py
Labels: needs-tests, backport version-15-hotfix

#44133 fix: validation for serial no
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: needs-tests

#44148 Fix: Disable "Add Row" button in allocations table during UnReconcile process
  erpnext/public/js/utils/unreconcile.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44089 fix: apply posting date sorting to invoices in Payment Reconciliation similar to payments
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#43414 fix: Get Entries not showing accounts with no gain or loss in Exchange Rate Revaluation issue fixed
  erpnext/accounts/doctype/exchange_rate_revaluation/exchange_rate_revaluation.py
Labels: squash, backport version-14-hotfix, backport version-15-hotfix

#44156 feat: inventory dimension for rejected materials
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.py
  erpnext/stock/doctype/inventory_dimension/test_inventory_dimension.py
Labels: stock

#42839 fix:Unable to pause job card
  erpnext/manufacturing/doctype/job_card_time_log/job_card_time_log.json
Labels: inactive

#44157 fix: apply "cannot_add_rows" directly to table field for more efficient solution
  erpnext/public/js/utils/unreconcile.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44147 fix: set conversion factor before applying price list
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44025 fix: `Disable Rounded Total` in Quotation DocType
  erpnext/selling/doctype/quotation/quotation.json
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/quotation/test_quotation.py
Labels: needs-tests

#44134 fix: set debit in transaction currency in GL Entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
Labels: backport version-15-hotfix

#44191 fix: patch
  erpnext/patches/v13_0/item_reposting_for_incorrect_sl_and_gl.py
Labels: needs-tests

#44188 chore: update oldest_items.json, change owner back to administrator
  erpnext/stock/dashboard_chart/oldest_items/oldest_items.json
Labels: backport version-15-hotfix

#44145 fix: updated label "Is short year" to "Is Short/Long year" for both short and long fiscal years
  erpnext/accounts/doctype/fiscal_year/fiscal_year.json
Labels: backport version-15-hotfix

#43260 feat: Add 'ABBR' variable to support company abbreviation in naming series
  erpnext/accounts/utils.py
  erpnext/hooks.py
Labels: accounts, squash

#44211 fix: update project cost from timesheet
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: needs-tests, backport version-15-hotfix

#44104 fix: check if pricing rule matches with coupon code
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
Labels: needs-tests, squash, backport version-14-hotfix, backport version-15-hotfix

#44190 fix(setup): Fix typo in COA setup
  erpnext/setup/setup_wizard/operations/taxes_setup.py
Labels: needs-tests, backport version-15-hotfix

#44226 refactor: cleanup args structure akin to some typing
  .git-blame-ignore-revs
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/controllers/accounts_controller.py
  erpnext/deprecation_dumpster.py
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/item_price/test_item_price.py
  erpnext/stock/get_item_details.py
Labels: stock

#44229 fix: partial fix for #44291
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: accounts, needs-tests

#44207 fix: validate sales team to ensure all sales person are enabled
  erpnext/controllers/selling_controller.py
Labels: selling, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44203 fix: disable conversion to user tz for sales order calender
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order/sales_order_calendar.js
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44185 fix: added Stock UOM field for RM in work order
  erpnext/manufacturing/doctype/work_order_item/work_order_item.json
  erpnext/manufacturing/doctype/work_order_item/work_order_item.py
  erpnext/patches.txt
  erpnext/patches/v14_0/update_stock_uom_in_work_order_item.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44220 refactor: Update `Payment Request` search query in PE's reference
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44240 fix: non group pos warehouse
  erpnext/selling/page/point_of_sale/pos_item_details.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44197 fix: payment reco for jv with negative dr or cr amount
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/accounts/utils.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#44253 fix: use of ctx
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#44255 refactor: use `frappe._dict()` instead of `{}`
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests, squash

#44194 fix: include current invoice amount when tax_on_excess_amount is checked
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44263 fix: toggle debit credit amounts for transaction currency too; minor refactor
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/general_ledger.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#44277 fix: filter with item group only if it is mentioned in pos profile
  erpnext/selling/page/point_of_sale/point_of_sale.py
Labels: needs-tests, backport version-15-hotfix

#44266 fix: make free qty round on large transaction qty
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44246 fix: Get submitted documents in validate_for_closed_fiscal_year
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44231 fix: net_amount calculation
  erpnext/accounts/doctype/advance_taxes_and_charges/advance_taxes_and_charges.json
  erpnext/accounts/doctype/advance_taxes_and_charges/advance_taxes_and_charges.py
  erpnext/accounts/doctype/pos_invoice_merge_log/test_pos_invoice_merge_log.py
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.json
  erpnext/accounts/doctype/purchase_taxes_and_charges/purchase_taxes_and_charges.py
  erpnext/accounts/doctype/sales_taxes_and_charges/sales_taxes_and_charges.json
  erpnext/accounts/doctype/sales_taxes_and_charges/sales_taxes_and_charges.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/controllers/tests/test_item_wise_tax_details.py
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/get_item_details.py
Labels: accounts, stock, do not backport

#44306 chore: use local deprecation
  erpnext/controllers/stock_controller.py
  erpnext/controllers/subcontracting_controller.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/startup/leaderboard.py
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
Labels: accounts, stock, needs-tests

#44307 feat: add more fine-grained deprecation warning control
  erpnext/deprecation_dumpster.py
Labels: needs-tests

#44297 refactor: added translate function for some columns of report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44312 fix: not able to fetch batch item price
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#44163 feat: Show Aggregate Value from Subsidiary Companies
  erpnext/selling/report/sales_analytics/sales_analytics.js
  erpnext/selling/report/sales_analytics/sales_analytics.py
Labels: needs-tests, backport version-15-hotfix

#44274 fix: set price_list_currency only if it exists
  erpnext/public/js/controllers/transaction.js
Labels: backport version-15-hotfix

#44260 feat: available qty at company in sales transactions
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.py
  erpnext/controllers/selling_controller.py
  erpnext/selling/doctype/quotation_item/quotation_item.json
  erpnext/selling/doctype/quotation_item/quotation_item.py
  erpnext/selling/doctype/sales_order_item/sales_order_item.json
  erpnext/selling/doctype/sales_order_item/sales_order_item.py
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.json
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.py
Labels: selling, needs-tests

#44320 fix: Increase quantity by `1 UOM` when adding an item from the selector in `POS`
  erpnext/selling/page/point_of_sale/pos_controller.js
Labels: backport version-15-hotfix

#44257 fix: add company dynamic filters in number cards
  erpnext/accounts/number_card/total_incoming_bills/total_incoming_bills.json
  erpnext/accounts/number_card/total_incoming_payment/total_incoming_payment.json
  erpnext/accounts/number_card/total_outgoing_bills/total_outgoing_bills.json
  erpnext/accounts/number_card/total_outgoing_payment/total_outgoing_payment.json
  erpnext/assets/number_card/asset_value/asset_value.json
  erpnext/assets/number_card/new_assets_(this_year)/new_assets_(this_year).json
  erpnext/assets/number_card/total_assets/total_assets.json
  erpnext/crm/number_card/open_opportunity/open_opportunity.json
  erpnext/manufacturing/number_card/monthly_completed_work_order/monthly_completed_work_order.json
  erpnext/manufacturing/number_card/monthly_total_work_order/monthly_total_work_order.json
  erpnext/manufacturing/number_card/ongoing_job_card/ongoing_job_card.json
  erpnext/selling/number_card/active_customers/active_customers.json
  erpnext/stock/number_card/total_warehouses/total_warehouses.json
Labels: backport version-15-hotfix

#44304 chore: Add translations to QI validations in Update stock_controller.py
  erpnext/controllers/stock_controller.py
Labels: stock, needs-tests, backport version-15-hotfix

#44319 fix: use field precision in Sales and Purchase Order
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/selling/doctype/sales_order/sales_order.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44349 fix: billed qty and received amount in PO analysis report
  erpnext/buying/report/purchase_order_analysis/purchase_order_analysis.py
Labels: needs-tests

#44351 fix: added validation for quality inspection
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
Labels: needs-tests

#44361 fix: unify company address query in sales transactions
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/public/js/queries.js
  erpnext/public/js/utils/sales_common.js
  erpnext/selling/doctype/quotation/quotation.js
  erpnext/selling/doctype/sales_order/sales_order.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44363 feat(Dunning): separate tab "Address & Contact"
  erpnext/accounts/doctype/dunning/dunning.json
Labels: backport version-15-hotfix

#44366 fix: unify company address query in sales transactions (backport #44361)
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/public/js/queries.js
  erpnext/selling/doctype/quotation/quotation.js
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/selling/sales_common.js
Labels: selling

#44358 feat: provision to disable item attribute
  erpnext/stock/doctype/item/item.js
  erpnext/stock/doctype/item_attribute/item_attribute.json
  erpnext/stock/doctype/item_attribute/item_attribute.py
  erpnext/stock/doctype/item_variant_attribute/item_variant_attribute.json
  erpnext/stock/doctype/item_variant_attribute/item_variant_attribute.py
Labels: needs-tests

#44343 fix: show cc on the process statement of accounts email
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
Labels: needs-tests, backport version-15-hotfix

#44377 fix: correct placeholder index in message
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44376 fix: remove field precision in Sales and Purchase Order for percentage fields
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/selling/doctype/sales_order/sales_order_list.js
Labels: backport version-15-hotfix

#44323 fix: update gross profit for returned invoices
  erpnext/accounts/report/gross_profit/gross_profit.py
  erpnext/accounts/report/gross_profit/test_gross_profit.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44359 fix: check difference with company currency
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
Labels: needs-tests, backport version-15-hotfix

#44378 fix: filter item with search fields
  erpnext/selling/doctype/product_bundle/product_bundle.py
Labels: needs-tests, backport version-15-hotfix

#44057 refactor: updated print format for general ledger
  erpnext/accounts/report/general_ledger/general_ledger.html
Labels: squash, defer backport

#44327 fix: set debit transaction currency in gl entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#44386 fix: Add translation for showing mandatory fields in error msg
  erpnext/selling/doctype/quotation/quotation.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44392 chore: Fix typo "Purchase Reecipt"
  erpnext/controllers/sales_and_purchase_return.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44346 fix: reduce paid amount from grand total
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/doctype/payment_request/test_payment_request.py
Labels: backport version-15-hotfix

#44362 feat: add Company Contact Person in selling transactions
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/public/js/queries.js
  erpnext/public/js/utils/sales_common.js
  erpnext/selling/doctype/quotation/quotation.json
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44405 fix: typeerror on transaction.js
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#44195 fix: Data Should be Computed in Backend to Maintain Consistent Behaviour
  erpnext/accounts/report/balance_sheet/balance_sheet.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/profit_and_loss_statement/profit_and_loss_statement.py
  erpnext/public/js/financial_statements.js
Labels: needs-tests, squash

#44302 fix: Minor Updates in `Payment Request` and `Payment Entry`
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/doctype/payment_request/payment_request_dashboard.py
  erpnext/accounts/doctype/payment_request/payment_request_list.js
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44413 fix: SABB print for packed items
  erpnext/controllers/print_settings.py
  erpnext/stock/serial_batch_bundle.py
Labels: needs-tests

#44426 fix: source warehouse not set in required items of WO
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44431 fix: precision calculation causing 0.1 discrepancy
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests, backport version-15-hotfix

#44435 fix: number format in the message
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#44440 perf: cache product bundle items at document level
  erpnext/controllers/selling_controller.py
Labels: selling, backport version-14-hotfix, backport version-15-hotfix

#44439 fix: added fieldname to avoid fieldname to translate
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#44443 perf: reduce queries during transaction save
  erpnext/accounts/party.py
  erpnext/controllers/selling_controller.py
  erpnext/utilities/transaction_base.py
Labels: accounts, selling, backport version-14-hotfix, backport version-15-hotfix
