Repository frappe/erpnext, pull requests merged in 2024-03, with the labels that each got.

#40221 fix: serial no valuation rate
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
Labels: stock, backport version-15-hotfix

#38561 feat(delivery): add cutoff item date for so delivery items
  erpnext/public/js/bulk_transaction_processing.js
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order/sales_order_list.js
  erpnext/selling/doctype/selling_settings/selling_settings.json
  erpnext/selling/doctype/selling_settings/selling_settings.py
  erpnext/utilities/bulk_transaction.py
Labels: needs-tests

#40224 fix: do not allow to cancel incomplete reposting
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests

#40149 fix: incorrect exchange rate if JE has multi parties
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/accounts/utils.py
Labels: needs-tests

#40220 refactor: Gain/Loss Journal creation for Journals against Journals
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#40241 fix: rate change on changing of the qty
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40250 fix(minor): company filter in cost center allocation
  erpnext/accounts/doctype/cost_center_allocation/cost_center_allocation.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40256 feat: editable journals v15
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/journal_entry/journal_entry.json
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/doctype/journal_entry_account/journal_entry_account.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/patches/v15_0/allow_on_submit_dimensions_for_repostable_doctypes.py
Labels: accounts

#40257 perf: remove unnecessary fetching of balances in JV
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/journal_entry_account/journal_entry_account.json
Labels: needs-tests

#40255 perf: serial and batch bundle valuation (reposting)
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/doctype/landed_cost_voucher/test_landed_cost_voucher.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
  erpnext/stock/stock_ledger.py
Labels: stock

#40190 fix: report path from the Item and Putaway Rule list
  erpnext/stock/doctype/item/item_list.js
  erpnext/stock/doctype/putaway_rule/putaway_rule_list.js
Labels: backport version-15-hotfix

#39776 fix: update status of Email Campaign
  erpnext/crm/doctype/email_campaign/email_campaign.py
Labels: needs-tests, squash

#40278 fix: incorrect TCS on customer and suppliers with same name
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40290 fix: batch no not copied while making Material Consumption entry
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-15-hotfix

#40274 fix: stock ledger balance qty for the batch
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/report/stock_ledger/stock_ledger.js
  erpnext/stock/report/stock_ledger/stock_ledger.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests

#40298 fix: not able to cancel purchase receipt for old subcontracting flow
  erpnext/controllers/buying_controller.py
Labels: buying, needs-tests, backport version-15-hotfix

#40311 fix: use serial batch fields for subcontracting receipt
  erpnext/controllers/queries.py
  erpnext/controllers/stock_controller.py
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
Labels: stock, backport version-15-hotfix

#40317 fix(Shipment Parcel): make length, width and height non-mandatory
  erpnext/stock/doctype/shipment_parcel/shipment_parcel.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#40327 fix: use serial/batch field for rejected items
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/controllers/stock_controller.py
  erpnext/controllers/subcontracting_controller.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/stock_ledger.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
Labels: stock, backport version-15-hotfix

#40334 fix: load ignored doctype and include Mode of Payment Account
  erpnext/setup/doctype/transaction_deletion_record/transaction_deletion_record.js
  erpnext/setup/doctype/transaction_deletion_record/transaction_deletion_record.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40273 fix: MR Default Supplier search query
  erpnext/stock/doctype/material_request/material_request.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#39681 fix: incorrect advance paid in Sales/Purchase Order
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/utils.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-15-hotfix

#40355 fix: Blanket order rate getting changed on converting to order
  erpnext/public/js/controllers/transaction.js
Labels: backport version-15-hotfix

#40323 fix: Filter for projects in Sales Cycle
  erpnext/controllers/queries.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40325 fix: Sender email in process statements of accounts
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40294 fix: define dates before usage
  erpnext/accounts/doctype/bisect_accounting_statements/bisect_accounting_statements.py
Labels: needs-tests

#39724 fix: message for failed subscription process
  erpnext/accounts/doctype/subscription/subscription.py
Labels: needs-tests

#39886 refactor(Sales Invoice): move methods into child row controller
  erpnext/accounts/doctype/pos_invoice_item/pos_invoice_item.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.py
  erpnext/projects/doctype/timesheet/timesheet.py
  erpnext/stock/doctype/packed_item/packed_item.py
Labels: do not backport

#40009 fix: UAE tax computation fix
  erpnext/regional/united_arab_emirates/utils.py
Labels: needs-tests, inactive

#40344 fix: get_user_default_as_list args order
  erpnext/__init__.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40248 chore: Add translate function to text "after"
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#40121 fix: Patch to remove cancelled asset capitalization from asset
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/patches.txt
  erpnext/patches/v15_0/remove_cancelled_asset_capitalization_from_asset.py
Labels: needs-tests

#40371 fix: subcontracting receipt -> alllow to change Batch / Serial Nos (v14)
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
Labels: needs-tests

#40299 refactor: run qb directly instead of converting to sql
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
Labels: needs-tests, backport version-15-hotfix

#40374 fix: Use serial/batch fields for delivery note return
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: needs-tests

#40381 fix: barcode field on line item not working
  erpnext/public/js/controllers/stock_controller.js
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40394 fix: decimal issue while making the stock entry
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests, backport version-15-hotfix

#40400 fix: recursion issue while submitting work order
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40403 fix: error message wording
  erpnext/accounts/doctype/subscription/subscription.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40408 fix: qc created for raw materials during manufacture entry
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40414 fix: conditionally apply `is_group` filter in accounting dimension query
  erpnext/controllers/queries.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40099 chore: Add translation to buttons in Update stock_summary_template.html
  erpnext/manufacturing/doctype/plant_floor/stock_summary_template.html
Labels: backport version-15-hotfix

#40180 fix: if input manualy material request on WO the material_request_item is not set so validate WO give error
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests, backport version-15-hotfix

#39748 fix(pe): set contact fields
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, squash

#40372 refactor: checkbox to toggle standalone Credit/Debit note behaviour
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/patches/v14_0/update_flag_for_return_invoices.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#40122 fix: Patch to remove cancelled asset capitalization from asset
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/patches.txt
  erpnext/patches/v14_0/remove_cancelled_asset_capitalization_from_asset.py
Labels: needs-tests

#40125 fix: Reload document on cancel to avoid document modified error
  erpnext/assets/doctype/asset/asset.py
Labels: needs-tests

#40126 fix: Reload document on cancel to avoid document modified error
  erpnext/assets/doctype/asset/asset.py
Labels: needs-tests

#40246 fix: Book depreciation until the asset disposal date and removed unwanted commits
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/depreciation.py
Labels: needs-tests

#40438 fix: incorrect gross profit on the quotation
  erpnext/controllers/accounts_controller.py
  erpnext/selling/doctype/quotation/test_quotation.py
Labels: accounts

#40263 perf: Performance optmization for Purchase Invoice submission
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/accounts/doctype/accounting_dimension/test_accounting_dimension.py
  erpnext/accounts/doctype/accounting_dimension_filter/accounting_dimension_filter.py
  erpnext/accounts/doctype/accounting_dimension_filter/test_accounting_dimension_filter.py
  erpnext/accounts/doctype/budget/budget.py
  erpnext/accounts/doctype/budget_account/budget_account.json
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/payment_ledger_entry/payment_ledger_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/general_ledger.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/status_updater.py
  erpnext/stock/doctype/item_price/item_price.json
  erpnext/stock/get_item_details.py
Labels: accounts, needs-tests

#40436 fix: Data too long for column 'stock_queue'
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.json
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.py
Labels: needs-tests, backport version-15-hotfix

#40443 chore: release v14
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/accounts/doctype/accounting_dimension/test_accounting_dimension.py
  erpnext/accounts/doctype/accounting_dimension_filter/accounting_dimension_filter.py
  erpnext/accounts/doctype/accounting_dimension_filter/test_accounting_dimension_filter.py
  erpnext/accounts/doctype/budget/budget.py
  erpnext/accounts/doctype/budget_account/budget_account.json
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/payment_ledger_entry/payment_ledger_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/depreciation.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/status_updater.py
  erpnext/patches.txt
  erpnext/patches/v14_0/remove_cancelled_asset_capitalization_from_asset.py
  erpnext/patches/v14_0/update_flag_for_return_invoices.py
  erpnext/selling/doctype/quotation/test_quotation.py
  erpnext/stock/doctype/item_price/item_price.json
  erpnext/stock/get_item_details.py
Labels: accounts, stock

#40433 fix: Taxes not getting updated on change
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/purchase_taxes_and_charges_template/purchase_taxes_and_charges_template.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_taxes_and_charges_template/sales_taxes_and_charges_template.js
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/selling/doctype/quotation/quotation.js
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/stock/doctype/delivery_note/delivery_note.js
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.js
Labels: backport version-15-hotfix

#40453 fix: warehouse issue in pick list
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: needs-tests

#40457 chore: fix test case
  erpnext/stock/doctype/closing_stock_balance/closing_stock_balance.py
Labels: backport version-15-hotfix

#40420 fix: advance journal fetching logic in Advances section
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-15-hotfix

#40198 fix: auto-update due date for invoices via data import
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40260 refactor: support payment against reverse payment reconciliation
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/utils.py
Labels: accounts, backport version-15-hotfix

#40473 refactor: enable no-copy for update_outstanding_for_self
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#40467 fix: serial and batch for internal transfer
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/buying_controller.py
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/controllers/selling_controller.py
  erpnext/controllers/stock_controller.py
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.json
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, selling, buying

#40485 refactor: validate SO and SI references in Delivery Notes
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40491 test: remove broken bom test
  erpnext/manufacturing/doctype/bom/test_bom.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40428 chore: Remove custom party queries
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/buying/doctype/supplier/supplier.json
  erpnext/buying/doctype/supplier/test_supplier.py
  erpnext/controllers/queries.py
  erpnext/controllers/tests/test_queries.py
  erpnext/crm/doctype/lead/lead.js
  erpnext/hooks.py
  erpnext/projects/doctype/project/project.js
  erpnext/public/js/controllers/buying.js
  erpnext/public/js/queries.js
  erpnext/selling/doctype/customer/customer.json
  erpnext/selling/doctype/customer/test_customer.py
  erpnext/selling/page/point_of_sale/pos_item_cart.js
  erpnext/stock/doctype/item/item.js
Labels: backport version-15-hotfix

#40495 fix: index error on Exchange Rate Revaluation creation
  erpnext/accounts/doctype/exchange_rate_revaluation/exchange_rate_revaluation.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40494 fix: AttributeError in Bank Statement Import
  erpnext/accounts/doctype/bank_statement_import/bank_statement_import.py
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40459 fix: sales partner address display Issue
  erpnext/setup/doctype/sales_partner/sales_partner.py
  erpnext/templates/generators/sales_partner.html
Labels: needs-tests

#40506 fix: balance qty in the stock ledger report
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: needs-tests, backport version-15-hotfix

#40508 fix: not able to delete cancelled delivery note
  erpnext/manufacturing/doctype/work_order/work_order.js
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#40511 fix: invalid exchange loss booking on invoice against base accounts
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40502 refactor: toggle between 'http' and 'https' on exchange rate API
  erpnext/accounts/doctype/currency_exchange_settings/currency_exchange_settings.js
  erpnext/accounts/doctype/currency_exchange_settings/currency_exchange_settings.json
  erpnext/accounts/doctype/currency_exchange_settings/currency_exchange_settings.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40333 fix: Update Existing Price List Rate not working
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/setup/demo_data/item.json
  erpnext/stock/get_item_details.py
Labels: stock

#40533 fix: stock reco negative batch
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: backport version-15-hotfix

#40456 perf: Performance optimization for Purchase Invoice submission
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/accounts/doctype/accounting_dimension/test_accounting_dimension.py
  erpnext/accounts/doctype/accounting_dimension_filter/accounting_dimension_filter.py
  erpnext/accounts/doctype/accounting_dimension_filter/test_accounting_dimension_filter.py
  erpnext/accounts/doctype/budget/budget.py
  erpnext/accounts/doctype/budget_account/budget_account.json
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/payment_ledger_entry/payment_ledger_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/general_ledger.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/status_updater.py
  erpnext/stock/doctype/item_price/item_price.json
  erpnext/stock/get_item_details.py
Labels: accounts, stock

#40550 fix: currency symbol for Landed Cost Voucher Amount
  erpnext/accounts/doctype/purchase_invoice_item/purchase_invoice_item.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#40519 fix: provisional entry for non-stock item
  erpnext/accounts/doctype/gl_entry/gl_entry.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests

#40549 fix: provisional entry for non-stock item
  erpnext/accounts/doctype/gl_entry/gl_entry.json
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests

#40559 fix: pick list not picked materials having required qty less than 1
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: backport version-15-hotfix

#40563 fix: use `Text Editor` for rendering tax breakup table
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.json
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.py
  erpnext/public/scss/erpnext.scss
  erpnext/selling/doctype/quotation/quotation.json
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#40580 refactor: config changes in Transaction Deletion Record
  erpnext/setup/doctype/transaction_deletion_record/transaction_deletion_record.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#40587 refactor(Item Price): validate dates
  erpnext/stock/doctype/item_price/item_price.py
Labels: backport version-15-hotfix

#40386 fix: wrong buying amount if delivered and billed qty varies
  erpnext/accounts/report/gross_profit/gross_profit.py
  erpnext/accounts/report/gross_profit/test_gross_profit.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40595 fix: rate not fetching from the item price
  erpnext/stock/get_item_details.py
Labels: stock, backport version-14-hotfix, backport version-15-hotfix

#40590 perf: add in some indexes
  erpnext/selling/doctype/sales_order_item/sales_order_item.json
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#40208 refactor: reduce usage of `cur_frm`
  erpnext/accounts/doctype/exchange_rate_revaluation/exchange_rate_revaluation.js
  erpnext/accounts/doctype/invoice_discounting/invoice_discounting.js
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/pos_invoice/pos_invoice.js
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/assets/doctype/asset/asset.js
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.js
  erpnext/crm/doctype/campaign/campaign.js
  erpnext/crm/doctype/lead/lead.js
  erpnext/crm/doctype/opportunity/opportunity.js
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/projects/timer.js
Labels: defer backport

#40520 fix: permissions during bulk transaction logs
  erpnext/utilities/bulk_transaction.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40509 fix: permissions sales user for selling settings
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order/sales_order_list.js
Labels: defer backport

#40616 fix: rate reset to zero
  erpnext/stock/get_item_details.py
Labels: stock, backport version-14-hotfix, backport version-15-hotfix

#40622 refactor: reset update_outstanding_for_self flag for old records
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/patches.txt
  erpnext/patches/v14_0/update_flag_for_return_invoices.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40504 feat: Coupon code in sales invoice
  erpnext/accounts/doctype/pricing_rule/utils.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests

#40594 fix: use serial/batch fields for subcontracting receipt and in transit in stock entry
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/stock_controller.py
  erpnext/controllers/subcontracting_controller.py
  erpnext/controllers/tests/test_subcontracting_controller.py
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/subcontracting/doctype/subcontracting_receipt/test_subcontracting_receipt.py
Labels: accounts, stock, needs-tests

#40621 fix: address_display, text -> text editor
  erpnext/accounts/doctype/dunning/dunning.json
  erpnext/accounts/doctype/dunning/dunning.py
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.json
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.json
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.py
  erpnext/crm/doctype/opportunity/opportunity.json
  erpnext/crm/doctype/opportunity/opportunity.py
  erpnext/maintenance/doctype/maintenance_schedule/maintenance_schedule.json
  erpnext/maintenance/doctype/maintenance_schedule/maintenance_schedule.py
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.json
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.py
  erpnext/public/scss/erpnext.scss
  erpnext/selling/doctype/installation_note/installation_note.json
  erpnext/selling/doctype/installation_note/installation_note.py
  erpnext/selling/doctype/quotation/quotation.json
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/stock_entry/stock_entry.json
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.json
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
  erpnext/support/doctype/warranty_claim/warranty_claim.json
  erpnext/support/doctype/warranty_claim/warranty_claim.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40640 fix: Add default finance book check in P&L statement
  erpnext/accounts/report/profit_and_loss_statement/profit_and_loss_statement.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40589 refactor: get prices as dict
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#40577 perf: query one item price only
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#40627 chore: Discount accounting code cleanup
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#40556 fix(Payment Entry): get contact details from existing contact
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/party.py
Labels: accounts, needs-tests

#40650 fix: Turkish translations
  erpnext/translations/tr.csv
Labels: squash

#40634 refactor: better pop up message for Internal Customer validation
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40672 fix: item not coming in quick entry
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: backport version-15-hotfix

#40674 fix: existing batch from different warehouse not showing in the dropdown
  erpnext/controllers/queries.py
Labels: backport version-15-hotfix

#40684 fix: incorrect total qty in job card
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests

#40685 fix: validation error for the subcontracting receipt
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests

#40663 feat: improve default UOM data
  babel_extractors.csv
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.py
  erpnext/gettext/__init__.py
  erpnext/gettext/extractors/__init__.py
  erpnext/gettext/extractors/uom_data.py
  erpnext/regional/italy/utils.py
  erpnext/setup/doctype/uom/uom.json
  erpnext/setup/setup_wizard/data/uom_data.json
  erpnext/setup/setup_wizard/operations/defaults_setup.py
  erpnext/setup/setup_wizard/operations/install_fixtures.py
Labels: needs-tests

#40641 chore: Reduce usage of cur_frm
  erpnext/public/js/controllers/transaction.js
Labels: backport version-15-hotfix

#40706 fix: typeerror on Purchase Order form UI
  erpnext/buying/doctype/purchase_order/purchase_order.js
Labels: defer backport

#40708 fix: Priority not copied from project template
  erpnext/projects/doctype/project/project.py
  erpnext/projects/doctype/project/test_project.py
  erpnext/projects/doctype/task/test_task.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#40718 fix: do not fetch received items in purchase receipt
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: stock, backport version-14-hotfix, backport version-15-hotfix

#40719 fix: exclude some query builder lines from ruff rules
  erpnext/patches/v14_0/update_flag_for_return_invoices.py
  erpnext/selling/report/customer_wise_item_price/customer_wise_item_price.py
Labels: needs-tests

#40713 fix: enable list view for the issues on the portal
  erpnext/support/web_form/issues/issues.json
Labels: backport version-15-hotfix

#40739 refactor: use sql to clear comments
  erpnext/setup/doctype/transaction_deletion_record/transaction_deletion_record.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#40734 fix: Filters in trend reports
  erpnext/accounts/report/purchase_invoice_trends/purchase_invoice_trends.js
  erpnext/accounts/report/sales_invoice_trends/sales_invoice_trends.js
  erpnext/buying/report/purchase_order_trends/purchase_order_trends.js
  erpnext/public/js/erpnext.bundle.js
  erpnext/public/js/purchase_trends_filters.js
  erpnext/public/js/sales_trends_filters.js
  erpnext/selling/report/quotation_trends/quotation_trends.js
  erpnext/selling/report/sales_order_trends/sales_order_trends.js
  erpnext/stock/report/delivery_note_trends/delivery_note_trends.js
  erpnext/stock/report/purchase_receipt_trends/purchase_receipt_trends.js
Labels: v15

#40757 chore: show item name in the validation message
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests

#40760 fix: cost center shouldn't update debit/credit in Exc gain/loss JV
  erpnext/accounts/doctype/journal_entry/journal_entry.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40758 fix: payment_order_status should be no_copy
  erpnext/accounts/doctype/payment_entry/payment_entry.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#40779 fix: Warehouse linked company name in multicompany setup
  erpnext/stock/doctype/warehouse/warehouse.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#40783 fix: button to select serial / batch bundle in the subcontracting receipt
  erpnext/controllers/selling_controller.py
  erpnext/public/js/controllers/buying.js
  erpnext/stock/serial_batch_bundle.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
  erpnext/subcontracting/doctype/subcontracting_receipt_item/subcontracting_receipt_item.json
  erpnext/subcontracting/doctype/subcontracting_receipt_supplied_item/subcontracting_receipt_supplied_item.json
Labels: stock, selling, needs-tests

#40778 chore(stock): use the into child mapper mapper frappe/frappe#22592
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: needs-tests

#40786 fix(gp): SLEs not fetched for correct warehouse
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests

#40714 fix: voucher no. is link field for non english user interface
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests
