Repository frappe/erpnext, pull requests merged in 2025-08, with the labels that each got.

#48907 fix: add flt to prevent NoneType errors
  erpnext/stock/report/stock_ageing/stock_ageing.py
Labels: do not backport

#48914 perf: process_gl_map causing performance issues in the reposting
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.py
Labels: stock, needs-tests, backport version-15-hotfix

#48915 fix: set use_serial_batch_fields when creating PR from PO
  erpnext/buying/doctype/purchase_order/purchase_order.py
Labels: needs-tests, backport version-15-hotfix

#48329 Get incoming rate v14 fix (Backport #34909)
  erpnext/stock/utils.py
Labels: stock, needs-tests

#48748 fix: account currency validation to exclude cancelled entries
  erpnext/accounts/doctype/account/account.py
Labels: needs-tests, backport version-15-hotfix

#48136 fix(accounts):enable allow_on_submit for accounting dimensions in repost settings allowed doctypes
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
  erpnext/accounts/doctype/repost_accounting_ledger_settings/repost_accounting_ledger_settings.py
  erpnext/patches.txt
  erpnext/patches/v15_0/allow_on_submit_dimensions_for_repostable_doctypes.py
Labels: needs-tests, backport version-15-hotfix

#48575 feat(payment gateway account): add company
  erpnext/accounts/doctype/payment_gateway_account/payment_gateway_account.js
  erpnext/accounts/doctype/payment_gateway_account/payment_gateway_account.json
  erpnext/accounts/doctype/payment_gateway_account/payment_gateway_account.py
  erpnext/accounts/doctype/payment_request/payment_request.js
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/doctype/payment_request/test_payment_request.py
  erpnext/accounts/utils.py
  erpnext/patches.txt
  erpnext/patches/v15_0/add_company_payment_gateway_account.py
Labels: needs-tests, squash, backport version-15-hotfix

#48945 fix: set default_currency in accounts during child company creation
  erpnext/accounts/doctype/account/chart_of_accounts/chart_of_accounts.py
Labels: needs-tests

#48940 fix: failing subcontracting patch
  erpnext/patches.txt
  erpnext/patches/v15_0/repost_gl_entries_with_no_account_subcontracting.py
Labels: needs-tests, backport version-15-hotfix

#48964 fix: remove api call to set default payments
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: backport version-15-hotfix

#48693 fix: Use correct Attachments folder in code list import
  erpnext/edi/doctype/code_list/code_list_import.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#48861 chore: correct description for `consider_party_ledger_amount` in Tax Withholding Category
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.json
Labels: backport version-14-hotfix, backport version-15-hotfix, skip-release-notes

#48774 perf: process auto bank reconciliation in batches
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
Labels: needs-tests, backport version-15-hotfix

#48848 chore: add translation function to Update budget.py
  erpnext/accounts/doctype/budget/budget.py
Labels: needs-tests, skip-release-notes

#48798 feat: add show_amount_in_company_currency in gl report
  erpnext/accounts/report/general_ledger/general_ledger.js
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/utils.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#48983 refactor(pos): disable grand total to default mode of payment
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: skip-release-notes

#48948 feat: add non-negative constraint to batch size and sub operation time fields
  erpnext/manufacturing/doctype/operation/operation.json
  erpnext/manufacturing/doctype/sub_operation/sub_operation.json
Labels: backport version-15-hotfix

#48947 fix(process statement of accounts): make date fields mandatory
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.json
Labels: backport version-15-hotfix

#48901 fix: do not split round off when there is a cost center allocation
  erpnext/accounts/doctype/cost_center_allocation/test_cost_center_allocation.py
  erpnext/accounts/general_ledger.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#48761 fix: prevent gain or loss entry cancellation upon reposting
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/stock_controller.py
Labels: stock, needs-tests, squash

#49002 chore: resolve linting issue
  erpnext/patches/v15_0/repost_gl_entries_with_no_account_subcontracting.py
Labels: needs-tests, skip-release-notes

#49010 fix: timeout while submitting purchase receipt
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#49023 fix: NoneType error on applying presentation_currency filter on financial statements and trial balance report
  erpnext/accounts/report/utils.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#49012 fix: stock reservation Delivered Qty against the batch
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: needs-tests

#48813 fix(purchase invoice): filter only enabled account
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/controllers/queries.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#49053 fix: dont validate account type while creating journal entry for employee party type
  erpnext/accounts/doctype/journal_entry/journal_entry.py
Labels: needs-tests, backport version-15-hotfix

#49060 fix: modify all SRE queries to consider new Closed status
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.py
Labels: needs-tests, do not backport

#49067 fix: restrict fixed asset items in the BOM
  erpnext/manufacturing/doctype/bom/bom.py
Labels: needs-tests

#49029 fix: Pick List barcode scanner and manual picking issues
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/pick_list/pick_list.js
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: needs-tests

#49071 feat: add item_name column to Material Request dialog in Purchase Order
  erpnext/buying/doctype/purchase_order/purchase_order.js
Labels: backport version-15-hotfix

#48691 fix: handle negative inventory check (#48558)
  erpnext/stock/doctype/item/item.json
Labels: backport version-15-hotfix

#49088 fix: Include Employee party type in Receivable and Payable account filters
  erpnext/setup/doctype/party_type/party_type.py
Labels: needs-tests, backport version-15-hotfix

#49093 fix: allow creation of root accounts in account tree view
  erpnext/accounts/doctype/account/account.py
  erpnext/accounts/doctype/account/account_tree.js
Labels: needs-tests, squash, backport version-15-hotfix

#49096 fix: table render issue on pop-up edit
  erpnext/selling/doctype/sales_order/sales_order.js
Labels: backport version-15-hotfix

#49086 fix(process statement of accounts): use date instead of formatted date
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
Labels: needs-tests, backport version-15-hotfix

#48715 refactor: remove default value for opportunity type
  erpnext/crm/doctype/opportunity/opportunity.js
  erpnext/crm/doctype/opportunity/opportunity.json
  erpnext/crm/doctype/opportunity/opportunity.py
Labels: CRM

#48419 fix: do not create delinked payment ledger entries on cancel
  erpnext/accounts/utils.py
Labels: accounts, needs-tests, defer backport

#49112 fix: patch to set invoice_type on POS Settings
  erpnext/patches.txt
  erpnext/patches/v16_0/set_invoice_type_in_pos_settings.py
Labels: needs-tests

#49123 fix: do not fetch sub-assembly in PP
  erpnext/manufacturing/doctype/bom/bom.js
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/bom_explosion_item/bom_explosion_item.json
  erpnext/manufacturing/doctype/bom_explosion_item/bom_explosion_item.py
  erpnext/manufacturing/doctype/bom_item/bom_item.json
  erpnext/manufacturing/doctype/bom_item/bom_item.py
  erpnext/manufacturing/doctype/bom_operation/bom_operation.json
  erpnext/manufacturing/doctype/production_plan/production_plan.json
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: needs-tests

#49120 fix: check for auto reserve serial/batch before auto reserving
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.py
Labels: needs-tests, backport version-15-hotfix

#49128 ci: disable Coderabbit on translation PRs
  .coderabbit.yml
Labels: skip-release-notes

#49134 chore: add default value for posting_time field in subcontracting receipt
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
Labels: backport version-15-hotfix, skip-release-notes

#49075 fix: add validation for draft PR/PI in Asset
  erpnext/assets/doctype/asset/asset.py
Labels: needs-tests

#49165 refactor: remove `last_scanned_warehouse` field from python
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/material_request/material_request.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: skip-release-notes

#49167 fix: correct argument passing and type conversion
  erpnext/stock/utils.py
Labels: stock, needs-tests

#49108 fix(pos): include Product Bundle components in reserved qty to preven…
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Labels: needs-tests

#49178 fix: wrap inter-company order button labels in __() for translation
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/selling/doctype/sales_order/sales_order.js
Labels: backport version-15-hotfix

#49193 fix: additional cost not consider in valuation rate for Stock Entry transfer
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests, backport version-15-hotfix

#49201 fix: ignore links in Dunning patch
  erpnext/patches/v14_0/single_to_multi_dunning.py
Labels: backport version-15-hotfix

#49192 fix: improve queries with query builder and input sanitization
  erpnext/accounts/doctype/chart_of_accounts_importer/chart_of_accounts_importer.py
  erpnext/accounts/doctype/loyalty_program/loyalty_program.py
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
  erpnext/controllers/queries.py
  erpnext/projects/doctype/timesheet/timesheet.py
  erpnext/stock/doctype/material_request/material_request.py
  erpnext/stock/utils.py
Labels: stock, needs-tests

#49185 fix: handle mode of payment filter
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Labels: needs-tests, backport version-15-hotfix

#49232 fix: set missing due date in Purchase Invoice and POS Invoice
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#49235 style: format controllers with prettier
  .pre-commit-config.yaml
  erpnext/public/js/controllers/accounts.js
  erpnext/public/js/controllers/buying.js
  erpnext/public/js/controllers/stock_controller.js
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/public/js/controllers/transaction.js
Labels: skip-release-notes

#49255 fix: sub-operation not working
  erpnext/manufacturing/doctype/job_card/job_card.js
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/job_card_operation/job_card_operation.json
  erpnext/manufacturing/doctype/job_card_time_log/job_card_time_log.json
Labels: needs-tests

#49269 fix: Serial Nos popup only appears 1 time
  erpnext/public/js/controllers/transaction.js
Labels: backport version-15-hotfix

#49050 fix: ensure variant conversion factor is returned before the template's
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests, backport version-15-hotfix

#49000 feat: add make methods for Bank Account
  erpnext/buying/doctype/supplier/supplier.js
  erpnext/public/js/utils.js
  erpnext/selling/doctype/customer/customer.js
  erpnext/setup/doctype/employee/employee.js
Labels: inactive, backport version-14-hotfix, backport version-15-hotfix

#49203 ci: make coderabbit less chatty
  .coderabbit.yml
  .github/workflows/patch_faux.yml
  .github/workflows/server-tests-mariadb-faux.yml
Labels: skip-release-notes

#49001 refactor!: remove whitelisted method `make_bank_account`
  erpnext/accounts/doctype/bank_account/bank_account.py
Labels: do not backport

#49282 fix(Supplier): add make_method for Pricing Rule
  erpnext/buying/doctype/supplier/supplier.js
Labels: backport version-14-hotfix

#49252 feat(payment-reconciliation): add posting date field for debit/credit…
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation_allocation/payment_reconciliation_allocation.json
  erpnext/accounts/doctype/payment_reconciliation_allocation/payment_reconciliation_allocation.py
Labels: needs-tests, backport version-15-hotfix

#49309 Fix/payment entry clear party type v14hotfix
  erpnext/accounts/doctype/payment_entry/payment_entry.js
Labels: accounts

#49333 fix: validation issue for reserved batch
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests

#49342 fix: add option to disable Transaction Log
  erpnext/regional/__init__.py
Labels: regional, backport version-15-hotfix

#49190 fix: add non-negative constraint to Repair Cost field
  erpnext/assets/doctype/asset_repair_purchase_invoice/asset_repair_purchase_invoice.json
Labels: backport version-15-hotfix

#49254 fix: show create purchase receipt button in purchase invoice only when update stock is not checked
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
Labels: backport version-15-hotfix

#49175 fix: Pricing rule validation not working for Sales Invoice when validate_applied_rule is enabled
  erpnext/accounts/doctype/pricing_rule/utils.py
Labels: needs-tests

#49345 chore: minor fixes
  erpnext/manufacturing/doctype/bom/bom.js
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.json
  erpnext/stock/report/serial_no_and_batch_traceability/serial_no_and_batch_traceability.py
Labels: needs-tests, skip-release-notes

#49289 fix: Company currency label is not displayed in Landed Cost Voucher doctype for the field Total Vendor Invoices Cost
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.js
  erpnext/stock/doctype/landed_cost_voucher/landed_cost_voucher.json
Labels: backport version-15-hotfix

#49373 feat(Process Statment of Accounts): added show_future_payments filter for account_receivable report type
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.json
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts_accounts_receivable.html
Labels: needs-tests

#49383 fix: stop creating transaction logs
  erpnext/hooks.py
  erpnext/regional/__init__.py
Labels: regional, do not backport

#49386 fix: Issue with Barcode Scanning in Stock Entry
  erpnext/public/js/utils/barcode_scanner.js
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: backport version-15-hotfix

#49388 fix(repost item valuation): validate voucher type in transaction
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.js
Labels: backport version-15-hotfix

#49394 chore: remove unused import (Order) module
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Labels: needs-tests, backport version-15-hotfix, skip-release-notes
