Repository frappe/erpnext, pull requests merged in 2025-05, with the labels that each got.

#47383 fix: not able to submit the stock entry
  erpnext/controllers/stock_controller.py
Labels: stock, needs-tests

#47380 fix: broken CI - uae vat 201 tests failing
  erpnext/setup/setup_wizard/operations/taxes_setup.py
Labels: skip-release-notes

#47376 fix: validation for difference account
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#47382 fix: serial batch from work order for fg
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.py
Labels: needs-tests

#47395 fix: reserved serial nos validation
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#47145 refactor: make AR / AP report more memory efficient
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/patches.txt
Labels: needs-tests, skip-release-notes

#47381 fix: update accounts on change of mode of payment in sales invoice payment
  erpnext/accounts/doctype/bank_clearance/test_bank_clearance.py
  erpnext/accounts/doctype/bank_transaction/test_bank_transaction.py
  erpnext/accounts/doctype/mode_of_payment/test_mode_of_payment.py
  erpnext/accounts/doctype/pos_invoice/pos_invoice.js
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
Labels: selling, needs-tests

#47362 fix: backward compatibility for renamed group_by filter on reports
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/buying/report/supplier_quotation_comparison/supplier_quotation_comparison.py
Labels: needs-tests

#46214 feat: Unit Price Items
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/buying/doctype/buying_settings/buying_settings.py
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.js
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.json
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
  erpnext/buying/doctype/request_for_quotation/test_request_for_quotation.py
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.js
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.json
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.py
  erpnext/buying/doctype/supplier_quotation/test_supplier_quotation.py
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/doctype/quotation/quotation.js
  erpnext/selling/doctype/quotation/quotation.json
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/quotation/test_quotation.py
  erpnext/selling/doctype/sales_order/sales_order.js
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/selling/doctype/selling_settings/selling_settings.json
  erpnext/selling/doctype/selling_settings/selling_settings.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: accounts

#47358 fix: change shipping address fetching condition
  erpnext/accounts/party.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#47408 fix: show party type in due date exceeding message
  erpnext/accounts/party.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#47337 fix: do not allocate amount when ref's doctype or name are not set
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#47435 fix: stock reco recalculate qty not works for opening stock reco
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/serial_batch_bundle.py
  erpnext/stock/stock_ledger.py
Labels: stock, backport version-15-hotfix

#47447 fix: dont auto-fetch latest exchange rate
  erpnext/crm/doctype/opportunity/opportunity.js
Labels: backport version-15-hotfix

#47309 chore: first step in the journey to reliable test suite
  erpnext/accounts/doctype/budget/test_budget.py
  erpnext/accounts/doctype/monthly_distribution/test_records.json
  erpnext/accounts/doctype/sales_invoice/test_records.json
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/tests/test_queries.py
  erpnext/crm/doctype/lead/test_lead.py
  erpnext/crm/doctype/lead/test_records.json
  erpnext/crm/doctype/opportunity/test_opportunity.py
  erpnext/crm/doctype/opportunity/test_records.json
  erpnext/maintenance/doctype/maintenance_schedule/test_maintenance_schedule.py
  erpnext/projects/doctype/activity_cost/test_activity_cost.py
  erpnext/projects/doctype/project/test_project.py
  erpnext/projects/doctype/project/test_records.json
  erpnext/projects/doctype/task/test_task.py
  erpnext/projects/doctype/timesheet/test_timesheet.py
  erpnext/setup/doctype/employee/test_records.json
  erpnext/setup/doctype/sales_person/test_records.json
  erpnext/setup/doctype/sales_person/test_sales_person.py
  erpnext/tests/utils.py
Labels: skip-release-notes

#47457 fix: error while making SABB for backdated stock reco
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: needs-tests, backport version-15-hotfix

#47464 fix: add options in report settings to become collapsible
  erpnext/accounts/report/general_ledger/general_ledger.js
Labels: depends-on-frappe

#47472 fix: better validation message with solution for BOM recursion
  erpnext/manufacturing/doctype/bom/bom.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#47116 feat: add column "Item Name" to "BOM Stock Report"
  erpnext/manufacturing/report/bom_stock_report/bom_stock_report.py
  erpnext/manufacturing/report/bom_stock_report/test_bom_stock_report.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#47481 fix: timesheet portal showing total billing hours
  erpnext/projects/doctype/timesheet/timesheet.py
  erpnext/templates/includes/timesheet/timesheet_row.html
Labels: needs-tests, backport version-15-hotfix

#47333 refactor: available serial no report
  erpnext/stock/report/available_serial_no/available_serial_no.js
  erpnext/stock/report/available_serial_no/available_serial_no.py
Labels: needs-tests, skip-release-notes

#47463 refactor(test): flaky test case in sales invoice
  erpnext/accounts/doctype/accounting_dimension/test_accounting_dimension.py
  erpnext/accounts/doctype/pos_closing_entry/test_pos_closing_entry.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
Labels: skip-release-notes

#47493 fix: POS non-stock item mistakenly hidden as unavailable
  erpnext/selling/page/point_of_sale/point_of_sale.py
Labels: needs-tests

#47041 fix: Check `return_against` and Await API Call
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/public/js/controllers/transaction.js
Labels: defer backport

#47092 fix: pos for small screen and checkout page
  erpnext/accounts/doctype/pos_profile/pos_profile.json
  erpnext/accounts/doctype/pos_profile/pos_profile.py
  erpnext/patches.txt
  erpnext/patches/v15_0/set_grand_total_to_default_mop.py
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/public/scss/point-of-sale.scss
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_item_cart.js
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: needs-tests

#47243 fix: accumulate values for all the fiscal years in Profit And Loss Statement
  erpnext/accounts/report/profit_and_loss_statement/profit_and_loss_statement.py
  erpnext/accounts/report/profit_and_loss_statement/test_profit_and_loss_statement.py
Labels: needs-tests, backport version-15-hotfix

#47511 fix: not able to reserve extra items against the work order
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/manufacturing/doctype/work_order_item/work_order_item.json
  erpnext/manufacturing/doctype/work_order_item/work_order_item.py
  erpnext/manufacturing/report/work_order_consumed_materials/work_order_consumed_materials.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests

#47367 fix: Use `Currency` instead of `Float` in GL report to show details
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix, skip-release-notes

#47468 fix(payment-reconciliation): use reconciliation_takes_effect_on from company
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/utils.py
Labels: accounts, needs-tests, backport version-15-hotfix

#47521 fix: condition for advance_account assignment
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#47520 fix: ignore "Account Closing Balance" doctype on Period Closing Voucher cancellation
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#47525 refactor: remove redundant patch
  erpnext/patches.txt
  erpnext/patches/v15_0/migrate_checkbox_to_select_for_reconciliation_effect.py
Labels: needs-tests, skip-release-notes

#47524 fix: stock reservation validation in the stock entry
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/manufacturing/doctype/production_plan/test_production_plan.py
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/public/js/stock_reservation.js
  erpnext/stock/doctype/item/item.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_reservation_entry/stock_reservation_entry.py
Labels: needs-tests

#47491 fix: POS Invoice can't use Loyalty Points when Global Rounded Total is Disabled
  erpnext/accounts/doctype/loyalty_program/loyalty_program.py
Labels: needs-tests

#47545 fix: pos item group filter fetching wrong items
  erpnext/selling/page/point_of_sale/point_of_sale.py
Labels: needs-tests

#47542 fix: validation message format
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests

#47541 fix: correct expense amount in party ledger summary.
  erpnext/accounts/report/customer_ledger_summary/customer_ledger_summary.py
Labels: needs-tests, backport version-15-hotfix

#47552 fix: mapping of dispatch address when creating PO from SO
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: backport version-15-hotfix

#47548 fix: stop additional item
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests

#47560 fix: sales order qty issue
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests

#47562 fix(test): dormant broken test in Budget
  erpnext/accounts/doctype/budget/budget.py
  erpnext/accounts/doctype/budget/test_budget.py
Labels: defer backport

#47569 fix(test): clean up data so subsequent test cases don't flake
  erpnext/accounts/doctype/budget/test_budget.py
Labels: defer backport

#47570 feat: add checkbox for validating time logs in job card
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.json
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.py
Labels: needs-tests, backport version-15-hotfix

#47593 fix: incorrect qty during reset
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#47582 feat: allow to set valuation rate for Rejected Materials
  erpnext/buying/doctype/buying_settings/buying_settings.json
  erpnext/buying/doctype/buying_settings/buying_settings.py
  erpnext/controllers/buying_controller.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: buying

#47601 fix: wrong source fieldname in lead details report
  erpnext/crm/report/lead_details/lead_details.py
Labels: needs-tests

#47612 fix: GL entries for rejected returned materials
  erpnext/controllers/buying_controller.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: buying, needs-tests

#47614 fix: remove hardcoded doctype in `make_return_doc`
  erpnext/controllers/sales_and_purchase_return.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#47486 fix(SalesAnalytics): Ignore opening entries
  erpnext/selling/report/sales_analytics/sales_analytics.py
Labels: needs-tests, backport version-15-hotfix

#47559 fix: include only invoices with update_stock = 0 for billed amt in delivery note.
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#47551 fix: Escape UOM in pricing rule query
  erpnext/accounts/doctype/pricing_rule/utils.py
Labels: needs-tests

#47580 feat: add option to calculate ageing based on report date or today's date
  erpnext/accounts/report/accounts_payable/accounts_payable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests

#47629 fix: date formatting in process_statement_of_accounts accounts_receivable print format
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts_accounts_receivable.html
Labels: backport version-15-hotfix

#47632 fix(quotation): use `Text Editor` field in alternative items dialog
  erpnext/selling/doctype/quotation/quotation.js
Labels: backport version-15-hotfix

#47556 fix: pos invoice status not updating on cancel
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Labels: needs-tests

#47572 fix: include rejected amount in PI/PR overbilling validation logic
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#47675 fix: typo in TREE_DOCTYPES list "Terrirtory" should be "Territory"
  erpnext/accounts/report/customer_ledger_summary/customer_ledger_summary.py
Labels: needs-tests, backport version-15-hotfix

#47692 refactor(test): drop ignore test dependencies on some empty test modules
  erpnext/projects/doctype/project_update/test_project_update.py
  erpnext/setup/doctype/customer_group/test_customer_group.py
  erpnext/stock/doctype/price_list/test_price_list.py
Labels: skip-release-notes

#47693 fix: skip last purchase rate for free item
  erpnext/buying/utils.py
Labels: buying, needs-tests

#47680 fix: pos screen ui ux
  erpnext/accounts/doctype/pos_profile/pos_profile.json
  erpnext/accounts/doctype/pos_profile/pos_profile.py
  erpnext/hooks.py
  erpnext/public/icons/pos-icons.svg
  erpnext/public/scss/point-of-sale.scss
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_item_cart.js
  erpnext/selling/page/point_of_sale/pos_item_selector.js
  erpnext/selling/page/point_of_sale/pos_past_order_list.js
  erpnext/selling/page/point_of_sale/pos_past_order_summary.js
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: needs-tests

#47700 fix: absence of rounding causing discrepancy in the valuation rate calculation
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#47670 fix: skip drop ship items
  erpnext/utilities/transaction_base.py
Labels: needs-tests, backport version-15-hotfix

#47253 fix: display stock value in currency format in chart warehouse wise stock value
  erpnext/stock/dashboard_chart/warehouse_wise_stock_value/warehouse_wise_stock_value.json
Labels: backport version-15-hotfix

#47738 perf: speed up customer import
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests

#47335 chore: Remove agriculture roles
  erpnext/assets/doctype/location/location.json
  erpnext/patches.txt
  erpnext/patches/v15_0/remove_agriculture_roles.py
Labels: needs-tests, defer backport, skip-release-notes

#47697 refactor: Fetch party name for contract
  erpnext/crm/doctype/contract/contract.js
  erpnext/crm/doctype/contract/contract.json
  erpnext/crm/doctype/contract/contract.py
  erpnext/patches.txt
  erpnext/patches/v14_0/update_full_name_in_contract.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix, skip-release-notes

#47654 fix: show general ledger in doc currency in Process Statement Of Accounts
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/doctype/process_statement_of_accounts/test_process_statement_of_accounts.py
Labels: needs-tests, backport version-15-hotfix

#47659 fix: translate_pos_buttons
  erpnext/selling/page/point_of_sale/pos_past_order_summary.js
Labels: backport version-15-hotfix

#47737 fix: party account based on party type's account type
  erpnext/accounts/party.py
Labels: accounts, needs-tests, backport version-15-hotfix

#47736 fix: only include advances within the tcs period
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#47679 fix: setting paid amount to 0 when is_paid is unchecked in purchase invoice
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-15-hotfix

#47731 fix: patch to set grand total to default mop if old column exists
  erpnext/patches/v15_0/set_grand_total_to_default_mop.py
Labels: needs-tests

#47767 fix: add no_copy for lost reasons
  erpnext/selling/doctype/quotation/quotation.json
Labels: backport version-15-hotfix

#47766 fix: handle multiselect filters for tree doctypes in Customer Ledger Summary Report
  erpnext/accounts/report/customer_ledger_summary/customer_ledger_summary.py
Labels: needs-tests, backport version-15-hotfix

#47778 refactor: UI changes for budget refactor
  erpnext/accounts/doctype/budget/budget.js
  erpnext/controllers/budget_controller.py
Labels: needs-tests, skip-release-notes

#47792 feat: show item name for raw materials in BOM creator
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
Labels: backport version-15-hotfix

#47824 fix: incorrect valuation for returned materials
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/stock_ledger.py
  erpnext/stock/valuation.py
Labels: stock, needs-tests
