Repository frappe/erpnext, pull requests merged in 2025-02, with the labels that each got.

#45621 fix: delivered button of purchase order
  erpnext/buying/doctype/purchase_order/purchase_order.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#45619 feat: set bank account of company to default company bank account fro…
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#45637 fix: renamed Comments Tab to Notes tab in Lead doctype
  erpnext/crm/doctype/lead/lead.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#45631 fix: Do not check for cancelled invoices
  erpnext/accounts/doctype/subscription/subscription.py
Labels: needs-tests, backport version-15-hotfix

#45674 fix: track employee changes
  erpnext/setup/doctype/employee/employee.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#45680 fix: slow SABB query
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests

#45694 fix: only system manager was able to create customer & prospect
  erpnext/crm/frappe_crm_api.py
Labels: CRM, backport version-15-hotfix

#45697 fix: point of sale padding
  erpnext/public/scss/point-of-sale.scss
Labels: backport version-15-hotfix

#45702 fix: pos payment cash shortcut decimal
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: backport version-15-hotfix

#45698 feat: report to find incorrect SABB
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/report/incorrect_serial_and_batch_bundle/__init__.py
  erpnext/stock/report/incorrect_serial_and_batch_bundle/incorrect_serial_and_batch_bundle.js
  erpnext/stock/report/incorrect_serial_and_batch_bundle/incorrect_serial_and_batch_bundle.json
  erpnext/stock/report/incorrect_serial_and_batch_bundle/incorrect_serial_and_batch_bundle.py
Labels: needs-tests, backport version-15-hotfix

#45701 fix: subcontracting validation precision issue
  erpnext/controllers/subcontracting_controller.py
Labels: needs-tests

#45582 fix: handling company in bank reconciliation tool
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#45710 fix: show only items with inspection enabled on create QI dialog
  erpnext/controllers/stock_controller.py
  erpnext/public/js/controllers/transaction.js
Labels: stock, needs-tests

#45678 fix: copy correct uom from delivery note when creating packing list
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/packing_slip/packing_slip.py
Labels: needs-tests

#45610 fix: respect user set account if not advance account for getting outsanding invoices in payment entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#45686 fix: allow multiple email ids
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45590 fix: remove tds account in taxes table on change of Tax Withholding C…
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
Labels: backport version-15-hotfix

#45717 fix(Purchase Invoice): default payment terms template selected while duplicating
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#45735 fix: set asset value correctly after cancelling value adjustment
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
Labels: needs-tests, backport version-15-hotfix

#45692 fix: fetch rate from item price list when document is saved
  erpnext/controllers/accounts_controller.py
  erpnext/stock/get_item_details.py
  erpnext/stock/tests/test_get_item_details.py
Labels: accounts, stock, needs-tests

#45604 fix: filter the item tax template using the input text
  erpnext/controllers/queries.py
Labels: needs-tests, backport version-15-hotfix

#45741 fix: removed unused field
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.json
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.py
Labels: backport version-15-hotfix

#45739 fix: create job card with wip warehouse set to source warehouse if material transfer to wip warehouse is skipped in work order
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests

#45767 fix: the project document timed out while opening
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/projects/doctype/project/project.py
  erpnext/selling/doctype/sales_order/sales_order.json
Labels: needs-tests

#45639 fix: '0' rate LDC's Invoice net totals should be ignored
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#45679 Bug fix in email_campaign's update_status function.
  erpnext/crm/doctype/email_campaign/email_campaign.py
Labels: needs-tests

#45640 feat: add repost accounting ledger entry for payment entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/utils.py
Labels: accounts, needs-tests, backport version-15-hotfix

#45810 fix: not able to select the item in the sales invoice
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests, backport version-15-hotfix

#45793 fix: unable to remove image from employee
  erpnext/setup/doctype/employee/employee.json
  erpnext/setup/doctype/employee/employee.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#45762 refactor: set received and paid amount based on each other, if unset
  erpnext/accounts/doctype/payment_entry/payment_entry.js
Labels: backport version-15-hotfix

#45747 fix: Handle Empty JSON in Report Parsing
  erpnext/patches/v14_0/update_reports_with_range.py
Labels: needs-tests, backport version-15-hotfix

#45774 fix: AttributeError in `get_item_details` when selecting/scanning batch in Delivery Note
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#45745 fix: map project from rfq to supplier quotation
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
  erpnext/stock/doctype/material_request/material_request.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#45835 fix: check_item_quality_inspection is not whitelisted
  erpnext/controllers/stock_controller.py
Labels: stock, needs-tests

#45832 fix: possible model sync issue
  erpnext/patches/v15_0/sync_auto_reconcile_config.py
Labels: needs-tests, backport version-15-hotfix

#45781 fix: Added Total Row for `Gross Profit` Report in Non-Grouped Invoices
  erpnext/accounts/report/gross_profit/gross_profit.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45792 fix: do not validate party against Receivable and Payable account for cancelled gl entries
  erpnext/accounts/doctype/gl_entry/gl_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45794 fix: correct amount in transaction currency for reverse gl entries
  erpnext/accounts/general_ledger.py
Labels: accounts, needs-tests, backport version-15-hotfix

#45852 fix(regional): removed payment schedule validation in sales invoice for italy
  erpnext/regional/italy/utils.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45696 fix: do not allow "Finance Book" in Accounting Dimensions
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45772 fix: Party name in Supplier Portal for Purchase Order
  erpnext/templates/pages/order.html
Labels: backport version-14-hotfix, backport version-15-hotfix

#45532 fix: correct amt in account currency for lcv with manually distributed charges.
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45780 fix: added validation for required invoice_fields in POS
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: backport version-15-hotfix

#45875 fix: add precision in serial_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests

#45865 fix: dont update rate of free item on save
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#45879 fix: changed naming series to random for SABB
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.json
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: backport version-15-hotfix

#45786 fix: skip warning for free items
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#45874 fix: incorrect taxable_amount on `other_charges_calculation`
  erpnext/controllers/taxes_and_totals.py
Labels: accounts, needs-tests

#45903 fix: allow scrap item with zero qty
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-15-hotfix

#45591 feat: disable auto setting grand total to default mode of payment
  erpnext/accounts/doctype/pos_profile/pos_profile.json
  erpnext/accounts/doctype/pos_profile/pos_profile.py
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: needs-tests, backport version-15-hotfix

#45912 fix: include missing payment_gateway parameter in Payment Request URL
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: needs-tests

#45859 fix: pos return validation on v14
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/sales_and_purchase_return.py
Labels: accounts, needs-tests

#45873 fix: prevent duplicate pos fields in pos settings
  erpnext/accounts/doctype/pos_settings/pos_settings.py
Labels: needs-tests

#45899 fix: pos accounting dimension fieldname error
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.py
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/pos_profile/pos_profile.py
Labels: needs-tests, backport version-15-hotfix

#45914 fix: start reposting button not working
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests

#45931 fix: serial no is mandatory for zero qty validation
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.js
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: needs-tests

#45630 refactor: remove redundant balance fields from Payment Entry
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, defer backport

#45941 fix: letter head for quality inspection
  erpnext/stock/doctype/quality_inspection/quality_inspection.json
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
Labels: needs-tests

#45752 fix: disable partial payment in pos
  erpnext/accounts/doctype/pos_closing_entry/test_pos_closing_entry.py
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/doctype/pos_invoice_merge_log/test_pos_invoice_merge_log.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#45934 fix: auto create asset due to message error
  erpnext/controllers/buying_controller.py
Labels: buying, needs-tests

#45938 Small UI changes
  erpnext/hooks.py
  erpnext/setup/workspace/home/home.json
Labels: needs-tests

#45951 fix: pos return validation on v15
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/sales_and_purchase_return.py
Labels: accounts, needs-tests

#45946 fix: provision to enable naming series for SABB
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.js
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.json
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/serial_and_batch_bundle/test_serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_settings/stock_settings.json
  erpnext/stock/doctype/stock_settings/stock_settings.py
Labels: backport version-15-hotfix

#45723 fix: validate payment request total of partly paid invoice
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/doctype/payment_request/test_payment_request.py
Labels: needs-tests, backport version-15-hotfix

#45970 fix: serial no status for internal transfer delivery note
  erpnext/controllers/selling_controller.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: selling

#45765 fix: add accounting dimensions section in sales order item
  erpnext/selling/doctype/sales_order_item/sales_order_item.json
  erpnext/selling/doctype/sales_order_item/sales_order_item.py
Labels: needs-tests, backport version-15-hotfix

#45976 fix: slow query
  erpnext/stock/doctype/packed_item/packed_item.json
Labels: backport version-15-hotfix

#45985 fix: millisecond issue for posting datetime
  erpnext/patches.txt
  erpnext/patches/v14_0/update_posting_datetime.py
  erpnext/stock/utils.py
Labels: stock, needs-tests

#45980 fix: check if employee is currently working on another workstation
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests

#45882 fix(quotation): fetch exchange rate on currency change
  erpnext/selling/doctype/quotation/quotation.js
Labels: backport version-15-hotfix

#45750 feat: added option to enforce free item qty in pricing rule
  erpnext/accounts/doctype/pricing_rule/pricing_rule.json
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/utils.py
  erpnext/stock/doctype/pick_list/test_pick_list.py
Labels: needs-tests

#45895 fix: do not reschedule depreciation for fully depreciated asset on scrap
  erpnext/assets/doctype/asset/depreciation.py
Labels: needs-tests, backport version-15-hotfix

#45872 fix: enable asset value editing for duplicate item code
  erpnext/assets/doctype/asset/asset.js
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/asset.py
Labels: backport version-15-hotfix

#45898 fix: patch for creating asset depreciation schedule records
  erpnext/patches/v15_0/create_asset_depreciation_schedules_from_assets.py
Labels: needs-tests, backport version-15-hotfix

#45966 fix: handle division by zero error
  erpnext/controllers/status_updater.py
Labels: needs-tests, backport version-15-hotfix

#45974 fix(pos profile): check company while validating mandatory accounting dimension
  erpnext/accounts/doctype/pos_profile/pos_profile.py
Labels: needs-tests

#45961 fix: round sum amount in JE auditing PF
  erpnext/accounts/print_format/journal_auditing_voucher/journal_auditing_voucher.html
Labels: backport version-15-hotfix

#46003 fix(send_message): escape HTML in the text
  erpnext/templates/utils.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#46022 fix: reset location only if there is value in row item location field
  erpnext/assets/doctype/asset/asset.js
Labels: backport version-15-hotfix

#46021 fix: incorrect stock value difference for adjustment entry
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#46037 fix: inventory dimension for maintenance visit
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#46066 fix: pos opening entry dialog not saving on change data
  erpnext/selling/page/point_of_sale/pos_controller.js
Labels: backport version-15-hotfix

#46049 feat: add total weight in shipment
  erpnext/stock/doctype/shipment/shipment.json
  erpnext/stock/doctype/shipment/shipment.py
  erpnext/stock/doctype/shipment/test_shipment.py
Labels: backport version-15-hotfix

#45932 fix: discount accounting
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#46131 fix(patch): Ensure SLE indexes
  erpnext/patches.txt
  erpnext/stock/doctype/stock_ledger_entry/patches/__init__.py
  erpnext/stock/doctype/stock_ledger_entry/patches/ensure_sle_indexes.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#45908 fix(projects settings): add checkbox to auto fetch timesheet in sales invoice
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/projects/doctype/projects_settings/projects_settings.json
  erpnext/projects/doctype/projects_settings/projects_settings.py
  erpnext/projects/doctype/timesheet/test_timesheet.py
Labels: needs-tests, backport version-15-hotfix

#46097 fix: valuation rate for batch
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/doctype/bin/bin.py
Labels: stock, needs-tests, backport version-15-hotfix

#46156 fix: no permission to get project settings in sales invoice
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests, backport version-15-hotfix

#46187 perf: don't track seen for POS Invoice
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#46186 fix: removed mandatory property for the cost center field
  erpnext/selling/doctype/sales_order_item/sales_order_item.json
  erpnext/selling/doctype/sales_order_item/sales_order_item.py
Labels: needs-tests, backport version-15-hotfix

#46200 fix: pos item selection using serial no
  erpnext/selling/page/point_of_sale/pos_controller.js
Labels: backport version-15-hotfix

#46176 fix: don't allow renaming account while system is actively in use
  erpnext/accounts/doctype/account/account.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#46211 fix: pos item detail serial no field
  erpnext/selling/page/point_of_sale/pos_item_details.js
Labels: backport version-15-hotfix
