Repository frappe/erpnext, pull requests merged in 2025-03, with the labels that each got.

#46228 refactor: using function to unset grand total to default mode of payment in pos
  erpnext/selling/page/point_of_sale/pos_payment.js
Labels: backport version-15-hotfix

#46223 fix: dont update rate of free item when batch is updated
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#46201 fix(asset depreciation schedules): enable auto commit
  erpnext/patches/v15_0/create_asset_depreciation_schedules_from_assets.py
Labels: needs-tests, backport version-15-hotfix

#46070 fix: Batch Price gets updated only if it is a billed item
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#46239 fix: incorrectly billed amount in the purchase receipt
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#46231 fix: incorrect batch picked
  erpnext/public/js/utils/serial_no_batch_selector.js
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests

#45972 fix: Set Taxes Before Calculating Taxes and Totals
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
Labels: accounts, needs-tests, backport version-15-hotfix

#46192 fix: Exclude Cancelled GL Entries
  erpnext/accounts/report/budget_variance_report/budget_variance_report.py
Labels: needs-tests

#46062 fix: Convert tuple of tuples to list of dicts for dot notation access
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
Labels: needs-tests

#46172 fix: Show Credit Note amount in credit note column
  erpnext/accounts/report/accounts_payable/test_accounts_payable.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/accounts_receivable/test_accounts_receivable.py
Labels: backport version-15-hotfix

#45751 fix: change voucher_type and voucher_name field type to data
  erpnext/accounts/doctype/tax_withheld_vouchers/tax_withheld_vouchers.json
  erpnext/accounts/doctype/tax_withheld_vouchers/tax_withheld_vouchers.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45682 fix(stock): Cast filters.to_date before string concatenation
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
Labels: needs-tests

#45896 fix: auto allocation for negative amount outstanding for Customers in Payment Entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#46260 fix: do not include opening invoices in billed items to be received report
  erpnext/accounts/report/billed_items_to_be_received/billed_items_to_be_received.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#46208 fix: stock reservation issue while making Purchase Invoice
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests

#46279 fix: rate changing on the deliver note
  erpnext/controllers/accounts_controller.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
Labels: accounts, backport version-15-hotfix

#46288 chore: erpnext.com -> frappe.io/erpnext
  README.md
  erpnext/hooks.py
  erpnext/setup/install.py
  erpnext/templates/includes/footer/footer_powered.html
  package.json
  pyproject.toml
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#46019 fix: source warehouse not fetched in bom creator
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
  erpnext/manufacturing/doctype/bom_creator_item/bom_creator_item.json
  erpnext/manufacturing/doctype/bom_creator_item/bom_creator_item.py
  erpnext/public/js/bom_configurator/bom_configurator.bundle.js
Labels: needs-tests

#46068 fix: use valuation method from settings in stock ageing report
  erpnext/stock/report/stock_ageing/stock_ageing.py
Labels: needs-tests, backport version-15-hotfix

#46046 perf: optimize query in project.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/projects/doctype/project/project.py
Labels: needs-tests

#46238 fix: Add company filter at get_invoice method
  erpnext/accounts/report/deferred_revenue_and_expense/deferred_revenue_and_expense.py
Labels: needs-tests

#46258 fix: delivery note from sales order uom conversion mistake
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests

#46271 feat(received items to be billed): add company and date filters
  erpnext/accounts/report/delivered_items_to_be_billed/delivered_items_to_be_billed.js
  erpnext/accounts/report/delivered_items_to_be_billed/delivered_items_to_be_billed.py
  erpnext/accounts/report/non_billed_report.py
  erpnext/accounts/report/received_items_to_be_billed/received_items_to_be_billed.js
  erpnext/accounts/report/received_items_to_be_billed/received_items_to_be_billed.py
Labels: needs-tests

#46262 fix: only include submitted docs for internal received quantity validation
  erpnext/controllers/stock_controller.py
Labels: stock, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#46259 fix: depreciation and balances report correction
  erpnext/accounts/report/asset_depreciations_and_balances/asset_depreciations_and_balances.py
Labels: needs-tests

#45987 fix: rename some sla fields
  erpnext/patches.txt
  erpnext/patches/v15_0/rename_sla_fields.py
  erpnext/support/doctype/issue/issue.json
  erpnext/support/doctype/issue/issue.py
  erpnext/support/doctype/issue/test_issue.py
  erpnext/support/doctype/service_level_agreement/service_level_agreement.py
  erpnext/support/doctype/service_level_agreement/test_service_level_agreement.py
Labels: needs-tests

#46137 fix: use value from currency exchange when exchange api is disabled
  erpnext/setup/utils.py
Labels: needs-tests

#46146 fix: Wrong Overdue Status in Sales Invoices (Floating-point arithmetic)
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests

#46071 feat(Sales Invoice): add items row via "Fetch Timesheet"
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
Labels: backport version-15-hotfix

#45761 fix: incorrect batch picked in the pick list
  erpnext/stock/doctype/pick_list/pick_list.js
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: needs-tests, inactive, backport version-15-hotfix

#45947 fix: set landed cost based on purchase invoice rate
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/controllers/buying_controller.py
  erpnext/patches.txt
  erpnext/patches/v15_0/recalculate_amount_difference_field.py
  erpnext/patches/v15_0/rename_field_from_rate_difference_to_amount_difference.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.json
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.py
Labels: buying

#45840 fix:[regional] Italian einvoice xml generated with wrong prices (#40254)
  erpnext/regional/italy/e-invoice.xml
Labels: backport version-15-hotfix

#46129 fix: consider journal entry and return invoice in paid_amount calculation
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/doctype/payment_request/test_payment_request.py
Labels: needs-tests

#46314 fix: consolidate gl entries by project in General Ledger Report
  erpnext/accounts/report/general_ledger/general_ledger.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#46316 fix: incorrect batch picked in the pick list
  erpnext/stock/doctype/pick_list/pick_list.js
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: needs-tests

#46313 fix: production analytics report
  erpnext/manufacturing/report/production_analytics/production_analytics.py
Labels: needs-tests

#45606 fix: set stock adjustment account in difference account
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests

#45693 fix: uom reverts to default upon selecting do not explode
  erpnext/manufacturing/doctype/bom/bom.py
Labels: needs-tests

#46330 fix: Accounting Period validation throwing for different companies
  erpnext/accounts/utils.py
Labels: accounts, needs-tests, backport version-15-hotfix

#46329 fix: exclude already consumed purchase receipt items from asset capitalization
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.js
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/assets/doctype/asset_capitalization_stock_item/asset_capitalization_stock_item.json
  erpnext/assets/doctype/asset_capitalization_stock_item/asset_capitalization_stock_item.py
  erpnext/patches.txt
  erpnext/patches/v15_0/set_purchase_receipt_row_item_to_capitalization_stock_item.py
Labels: needs-tests

#46236 fix: replacing serial and batch bundle on pos with auto fetch serial nos
  erpnext/selling/page/point_of_sale/pos_item_details.js
  erpnext/stock/doctype/serial_no/serial_no.py
Labels: needs-tests, backport version-15-hotfix

#46020 fix(pos): get parent item group without user permission
  erpnext/accounts/doctype/pos_profile/pos_profile.py
  erpnext/selling/page/point_of_sale/point_of_sale.py
  erpnext/selling/page/point_of_sale/pos_item_selector.js
Labels: needs-tests

#46339 fix: doctype name
  erpnext/stock/report/incorrect_serial_and_batch_bundle/incorrect_serial_and_batch_bundle.py
Labels: needs-tests, backport version-15-hotfix

#46355 fix: rename_sla_fields patch
  erpnext/patches/v15_0/rename_sla_fields.py
Labels: needs-tests

#46354 fix: recalculate_amount_difference_field patch
  erpnext/patches/v15_0/recalculate_amount_difference_field.py
Labels: needs-tests

#46343 fix: auto email report creation
  erpnext/public/js/financial_statements.js
Labels: backport develop

#46352 fix: Allow rename prospect doctype
  erpnext/crm/doctype/prospect/prospect.json
Labels: backport version-15-hotfix

#46353 fix: change fieldname for cash_flow to export
  erpnext/accounts/report/financial_statements.py
Labels: needs-tests

#46204 fix: validate accounting dimension company in Journal Entry & Stock Entry
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/doctype/period_closing_voucher/test_period_closing_voucher.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/controllers/accounts_controller.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/serial_no/test_serial_no.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: accounts

#46374 fix: rare precision issue preventing submission of subcontracting order
  erpnext/subcontracting/doctype/subcontracting_order/subcontracting_order.py
Labels: needs-tests, backport version-15-hotfix

#46281 feat: Add first and last name fields to quick entry customer creation
  erpnext/public/js/utils/contact_address_quick_entry.js
  erpnext/selling/doctype/customer/customer.json
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests

#46393 fix: attribute error on internal so and po
  erpnext/utilities/transaction_base.py
Labels: needs-tests

#46064 fix: Debit and Credit mismatch on transaction currency debit and credit values
  erpnext/accounts/doctype/gl_entry/gl_entry.json
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
  erpnext/accounts/general_ledger.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, backport version-15-hotfix

#46401 chore: fix typo
  erpnext/utilities/transaction_base.py
Labels: needs-tests

#46395 fix: consider account freeze date in recalculate_amount_difference_fi…
  erpnext/patches/v15_0/recalculate_amount_difference_field.py
Labels: needs-tests, backport version-15-hotfix

#46418 fix: stock balance in and out value
  erpnext/stock/report/stock_balance/stock_balance.py
Labels: backport version-15-hotfix

#46414 fix: not able to save work order with alternative item
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests, backport develop

#45955 refactor: improve translatability in buying controller
  erpnext/controllers/buying_controller.py
Labels: buying, do not backport

#46426 fix: clear cashe on employee hierarchy change
  erpnext/setup/doctype/employee/employee.py
Labels: backport version-15-hotfix

#46372 fix(account): update account number from parent company
  erpnext/accounts/doctype/account/account.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#46436 fix: filter batches that going to be zero
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests

#45958 fix: validate address and contact related to party
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-15-hotfix

#45818 fix: set correct account currency for deferred expense account
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests, backport version-15-hotfix

#46344 fix: make 'company_tax_id' and 'company_fiscal_code' as mandatory
  erpnext/regional/italy/utils.py
Labels: needs-tests, backport version-15-hotfix

#46398 chore: rename print and stationery account
  erpnext/accounts/doctype/account/chart_of_accounts/verified/in_standard_chart_of_accounts.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#46448 Revert "fix: validate address and contact related to party"
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#46452 fix: sla fields patch
  erpnext/patches/v15_0/rename_sla_fields.py
Labels: needs-tests

#46460 fix: rename sla fields patch
  erpnext/patches/v15_0/rename_sla_fields.py
Labels: needs-tests, backport version-15-hotfix

#46455 fix: error in production analytics report
  erpnext/manufacturing/report/production_analytics/production_analytics.py
Labels: needs-tests, backport version-15-hotfix

#46424 fix: show remaining qty on 'Complete Job' button instead of full qty
  erpnext/manufacturing/doctype/job_card/job_card.js
Labels: backport version-15-hotfix

#46465 fix: rename sla fields patch
  erpnext/patches.txt
  erpnext/patches/v15_0/rename_sla_fields.py
Labels: needs-tests, backport version-15-hotfix

#46464 fix: validate last_gl_update exists before comparing
  erpnext/accounts/doctype/account/account.py
Labels: needs-tests

#46277 fix: credit note creation during pos invoice consolidation
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.py
Labels: needs-tests, backport version-15-hotfix

#46379 fix(payment entry): fetch default bank account based on company
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#46470 fix: do not recalculate qty for batch items during reposting
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: needs-tests, backport version-15-hotfix

#46417 fix: error when creating delivery note from pick list
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: needs-tests

#46415 fix: return None if document does not have status field in get_status…
  erpnext/controllers/status_updater.py
Labels: needs-tests

#46370 Fix: add parenttype condition to payment schedule query in accounts receivable report
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests

#46416 fix: calculate due date based on payment term
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/party.py
Labels: accounts, needs-tests

#46473 fix: use shipping_address_name for address validation in sales invoice
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
Labels: accounts, backport version-15-hotfix

#46207 fix: validations and account type filter for `Tax Withholding Category`
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.js
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
Labels: needs-tests

#46248 fix: pricing rule not ignored in Sales Order
  erpnext/accounts/doctype/coupon_code/test_coupon_code.py
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
Labels: needs-tests

#46492 fix: using `in` for lookup in list instead of directly assigning
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests, backport version-15-hotfix

#46491 feat: Allow disabling and renaming Project Template
  erpnext/projects/doctype/project_template/project_template.json
  erpnext/projects/doctype/project_template/project_template.py
Labels: needs-tests

#46501 refactor: print receipt on order complete on pos
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_past_order_summary.js
Labels: backport version-15-hotfix

#46510 fix: set stock adjustment account in difference account (backport #45606)
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests

#46511 fix: set stock adjustment account in difference account (backport #45606)
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests

#46497 fix: use `party` explicitly instead of party_field
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Labels: needs-tests, backport version-15-hotfix

#46512 fix: hide subcontracted qty field if PO is not subcontracted
  erpnext/buying/doctype/purchase_order_item/purchase_order_item.json
Labels: backport version-15-hotfix

#46514 fix: UOM conversion error when creating pick list from material trans…
  erpnext/stock/doctype/material_request/material_request.py
Labels: needs-tests, backport version-15-hotfix

#46513 fix: get bom_no from sales order item and material request item
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests, backport version-15-hotfix

#46529 fix: also consider CRM Deal as party type for ERPNext CRM Integration
  erpnext/public/js/utils/party.js
Labels: backport version-15-hotfix

#46533 fix: exclude current doc when checking for duplicate
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-15-hotfix

#46536 chore: remove unnecessary init method
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#46550 perf: faster count estimation
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.py
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
Labels: needs-tests, backport version-15-hotfix

#46523 Revert "fix: error when creating delivery note from pick list (backport #46417)"
  erpnext/stock/doctype/pick_list/pick_list.py
Labels: needs-tests

#46552 fix: Debit and Credit not equal for Purchase Invoice
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests, backport version-15-hotfix

#46553 fix: not able to select the item in the BOM
  erpnext/manufacturing/doctype/bom/bom.py
Labels: needs-tests

#46557 fix(Transaction Deletion Record): sql syntax error while deleting lead address
  erpnext/setup/doctype/transaction_deletion_record/transaction_deletion_record.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#46564 refactor: remove default print format from sales invoice
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
Labels: backport version-15-hotfix

#46508 fix: use base currency total for UAE VAT 201 report
  erpnext/regional/report/uae_vat_201/test_uae_vat_201.py
  erpnext/regional/report/uae_vat_201/uae_vat_201.py
Labels: needs-tests, backport version-15-hotfix

#46566 fix: set correct currency for offset account gl entries
  erpnext/accounts/general_ledger.py
Labels: accounts, needs-tests, backport version-15-hotfix

#46515 fix: ensure qty conversion when creating production plan from SO
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: needs-tests, backport version-15-hotfix

#46575 fix: fetch quality inspection parameter group
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
Labels: needs-tests

#46556 fix: incorrect production item and bom no in job card
  erpnext/manufacturing/doctype/job_card/job_card.json
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/work_order/work_order.js
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests

#46554 fix: add validation to rename_subcontracting_fields patch
  erpnext/patches/v15_0/rename_subcontracting_fields.py
Labels: needs-tests

#46576 fix: repost future sle and gle after capitalization
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
Labels: needs-tests

#46579 fix: valuation for moving average with batches
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/stock_ledger_entry/test_stock_ledger_entry.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, backport version-15-hotfix

#46588 fix: SABB validation for packed items
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests, backport version-15-hotfix

#46596 fix: debit in transaction currency
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Labels: needs-tests, backport version-15-hotfix

#46595 fix: not able to make PR against stand alone Debit Note
  erpnext/public/js/controllers/buying.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#46173 feat(projects): add option to hide timesheets for project users
  erpnext/projects/doctype/project_user/project_user.json
  erpnext/templates/pages/projects.html
  erpnext/templates/pages/projects.py
Labels: needs-tests, backport version-15-hotfix

#46573 Fix set landed cost based on pi
  erpnext/patches.txt
  erpnext/patches/v15_0/recalculate_amount_difference_field.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: needs-tests

#46609 fix: order by condition
  erpnext/stock/doctype/serial_no/serial_no.py
Labels: needs-tests

#46608 fix: fetch bom_no when updating items in sales order
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/utils.js
Labels: accounts, stock, needs-tests

#46627 fix: date added to wrong patch
  erpnext/patches.txt
Labels: backport version-15-hotfix

#46636 fix: unwired order_by argument in get_transaction_list
  erpnext/controllers/website_list_for_contact.py
Labels: backport version-15-hotfix

#46642 fix: patch
  erpnext/patches/v15_0/refactor_closing_stock_balance.py
Labels: needs-tests

#46386 feat(accounting/regional): allow chart_of_account.get_chart to be whilelist
  erpnext/accounts/doctype/account/chart_of_accounts/chart_of_accounts.py
Labels: needs-tests

#46440 fix: add base_outstanding and base_paid_amount in payment schedule table
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_schedule/payment_schedule.json
  erpnext/accounts/doctype/payment_schedule/payment_schedule.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/patches/v15_0/update_payment_schedule_fields_in_invoices.py
Labels: accounts, needs-tests, backport version-15-hotfix

#46574 fix: correct invoice order in payment reconcillaiton
  erpnext/accounts/utils.py
Labels: accounts, needs-tests, backport version-15-hotfix

#46577 fix: customer credit limit check based on `bypass_credit_limit_check` in Journal Entry
  erpnext/accounts/doctype/journal_entry/journal_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#46692 ci: fix language code mapping
  crowdin.yml
  erpnext/locale/pl_PL.po
  erpnext/locale/pt.po
  erpnext/locale/zh_CN.po
Labels: skip-release-notes

#46693 ci: invert language mapping
  crowdin.yml
Labels: skip-release-notes

#46622 feat: repost accounting ledger for purchase receipt
  erpnext/accounts/doctype/repost_accounting_ledger/repost_accounting_ledger.py
  erpnext/accounts/doctype/repost_accounting_ledger/test_repost_accounting_ledger.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#46617 refactor: removed redundant message display for each item row cost center update
  erpnext/public/js/utils/sales_common.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#46616 fix: do not validate if conversion rate is 1 for different currency
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#46710 fix: expense account in the stock entry
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests

#46729 fix: don't filter payment entries on Bank Account in Payment Clearance (backport #46669)
  erpnext/accounts/doctype/bank_clearance/bank_clearance.py
Labels: needs-tests

#46733 fix: decimal values causing incorrect batch picking
  erpnext/controllers/subcontracting_controller.py
Labels: needs-tests, backport version-15-hotfix

#46732 fix: not able to set hours manually in job card
  erpnext/manufacturing/doctype/job_card/job_card.js
  erpnext/manufacturing/doctype/job_card/job_card.json
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/job_card_time_log/job_card_time_log.json
Labels: needs-tests

#46739 fix: slow query
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/doctype/stock_entry_detail/stock_entry_detail.json
Labels: stock, needs-tests

#46719 fix: do not use self object for setting party and party type
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests, backport version-15-hotfix

#46760 fix: valuation rate not updating for raw materials
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/stock/stock_ledger.py
Labels: stock

#46775 fix: for deadlock issue keep status as In Progress
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests

#46777 fix: incorrect condition
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#46801 fix: UX for partial job card completion
  erpnext/manufacturing/doctype/job_card/job_card.js
  erpnext/manufacturing/doctype/job_card/job_card.json
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests

#46644 fix: multiple Bank Reconciliation Tool issues
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
  erpnext/accounts/doctype/bank_transaction/bank_transaction.js
  erpnext/accounts/doctype/bank_transaction/bank_transaction.py
  erpnext/accounts/test/accounts_mixin.py
Labels: backport version-15-hotfix

#46720 fix: improved rounding adjustment when applying discount
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: accounts, squash, backport version-14-hotfix, backport version-15-hotfix

#46808 fix: condition to update the last purchase rate
  erpnext/stock/doctype/item/item.py
Labels: needs-tests
