Repository frappe/erpnext, pull requests merged in 2025-10, with the labels that each got.

#49638 fix: skip party validation for payroll & it's journal & GL entry submission
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/journal_entry/journal_entry.json
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/journal_entry_account/journal_entry_account.json
Labels: needs-tests, backport version-15-hotfix

#49838 fix: financial ratios translation and pdf export error (backport #49820)
  erpnext/accounts/report/financial_ratios/financial_ratios.js
  erpnext/accounts/report/financial_ratios/financial_ratios.py
Labels: needs-tests

#49840 refactor(Supplier): custom buttons call make methods
  erpnext/buying/doctype/supplier/supplier.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#49850 fix: add default scrap warehouse in wo
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: needs-tests, backport version-15-hotfix

#49867 fix: failing patch
  erpnext/patches/v15_0/patch_missing_buying_price_list_in_material_request.py
Labels: needs-tests, backport version-15-hotfix

#49876 fix: optimize SQL query by adding index on batch
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.json
Labels: backport version-15-hotfix

#49889 feat: add project filter to Delayed Tasks Summary report
  erpnext/projects/report/delayed_tasks_summary/delayed_tasks_summary.js
  erpnext/projects/report/delayed_tasks_summary/delayed_tasks_summary.py
Labels: needs-tests

#49829 fix: Set paid amount automatically only if return entry validated and has negative grand total
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#49852 fix: SQL operator precedence in Project query customer filter
  erpnext/controllers/queries.py
Labels: needs-tests, backport version-15-hotfix

#49907 fix: linter; dont change doc after DB update
  erpnext/selling/doctype/selling_settings/selling_settings.py
Labels: backport version-14-hotfix

#49600 fix(profit and loss statement): incorrect total calculation
  erpnext/accounts/report/financial_statements.py
Labels: needs-tests, backport version-15-hotfix

#49890 perf: serial nos / batches reposting
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/stock_ledger.py
Labels: stock

#49915 fix: patch unknown column posting_date
  erpnext/patches.txt
  erpnext/patches/v16_0/update_serial_no_reference_name.py
Labels: needs-tests

#49743 fix: use valuation_rate from item master if no bin is present
  erpnext/stock/get_item_details.py
Labels: stock, needs-tests

#49762 fix(manufacturing): prevent KeyError in BOM Creator when sub-assembly reused
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
Labels: needs-tests

#49846 chore(Stock Qty vs Serial No Count): add show_disabled_items filter
  erpnext/stock/report/stock_qty_vs_serial_no_count/stock_qty_vs_serial_no_count.js
  erpnext/stock/report/stock_qty_vs_serial_no_count/stock_qty_vs_serial_no_count.py
Labels: needs-tests, skip-release-notes

#48864 feat: dynamic due date in payment terms when fetched from order
  erpnext/accounts/doctype/payment_schedule/payment_schedule.json
  erpnext/accounts/doctype/payment_schedule/payment_schedule.py
  erpnext/accounts/doctype/payment_terms_template_detail/payment_terms_template_detail.json
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/controllers/transaction.js
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: accounts, needs-tests, squash, backport version-14-hotfix, backport version-15-hotfix

#49721 feat: add company links to Email Account and Communication
  erpnext/patches.txt
  erpnext/patches/v16_0/create_company_custom_fields.py
  erpnext/setup/install.py
  erpnext/support/doctype/issue/issue.json
Labels: needs-tests, backport version-15-hotfix

#49712 feat: consolidated trial balance report
  erpnext/accounts/report/consolidated_trial_balance/__init__.py
  erpnext/accounts/report/consolidated_trial_balance/consolidated_trial_balance.html
  erpnext/accounts/report/consolidated_trial_balance/consolidated_trial_balance.js
  erpnext/accounts/report/consolidated_trial_balance/consolidated_trial_balance.json
  erpnext/accounts/report/consolidated_trial_balance/consolidated_trial_balance.py
  erpnext/accounts/report/consolidated_trial_balance/test_consolidated_trial_balance.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/trial_balance/test_trial_balance.py
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests

#49967 fix: batch qty for expired batches
  erpnext/stock/doctype/batch/batch.py
Labels: backport version-15-hotfix

#49969 fix: incorrect qty in stock levels
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests
