Repository frappe/erpnext, pull requests merged in 2025-01, with the labels that each got.

#45016 fix: duplicate validate for stock closing entry
  erpnext/stock/doctype/stock_closing_entry/stock_closing_entry.py
Labels: needs-tests

#45015 fix: duplicate validate for closing stock balance
  erpnext/stock/doctype/closing_stock_balance/closing_stock_balance.py
Labels: needs-tests

#45013 fix: precision issue
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-15-hotfix

#44985 fix: incorrect quality inspection linked in purchase receipt
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/doctype/quality_inspection/quality_inspection.json
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
Labels: needs-tests

#44989 fix: apply apply_pricing_rule on date change
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#45025 fix: slow stock transactions
  erpnext/stock/stock_balance.py
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44999 fix: Added patch and fallback code to prevent future issues similar …
  erpnext/controllers/subcontracting_controller.py
  erpnext/patches.txt
Labels: needs-tests

#45036 fix: Auto BOM cost update issue
  erpnext/manufacturing/doctype/bom_update_tool/bom_update_tool.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45039 fix: removed unused code
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45040 refactor: use `idx` for identifying row
  erpnext/controllers/tests/test_reactivity.py
  erpnext/public/js/controllers/transaction.js
  erpnext/utilities/transaction_base.py
Labels: needs-tests

#45043 fix: validate components and their qty as per BOM in the stock entry
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.json
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-15-hotfix

#45056 chore: partial revert #44989
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#45061 perf: Skip link checking on repost's remove_attached_file
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests

#44983 fix: add monthly distributation and write query in qb
  erpnext/accounts/doctype/budget/budget.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#44949 Add phone number field when channel is phone on Payment Request doctype
  erpnext/accounts/doctype/payment_request/payment_request.json
  erpnext/accounts/doctype/payment_request/payment_request.py
Labels: needs-tests

#45083 fix: consider expired batches in stock reco
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Labels: backport version-15-hotfix

#45087 fix: invoice against purchase receipt with returned quantity
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Labels: backport version-15-hotfix

#45051 fix: ignore currency validation while canceling the voucher
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/party.py
Labels: accounts, needs-tests, backport version-15-hotfix

#44943 fix: Bank Reconciliation Statement Report Company Filter
  erpnext/accounts/report/bank_reconciliation_statement/bank_reconciliation_statement.py
Labels: needs-tests, backport version-15-hotfix

#44952 fix: Hold_to_On_Hold
  erpnext/support/web_form/issues/issues.json
Labels: backport version-15-hotfix

#45047 refactor: use variables for app name, title, and home route in hooks
  erpnext/hooks.py
Labels: needs-tests

#45099 fix: show new button in coa if create access
  erpnext/accounts/doctype/account/account_tree.js
Labels: backport version-15-hotfix

#45006 fix: pos search by term items price
  erpnext/selling/page/point_of_sale/point_of_sale.py
  erpnext/selling/page/point_of_sale/pos_item_selector.js
Labels: POS, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45071 fix: update customer contact details on pos
  erpnext/selling/page/point_of_sale/pos_item_cart.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#45107 fix: Returned Qty in Work Order Consumed Materials report
  erpnext/manufacturing/report/work_order_consumed_materials/work_order_consumed_materials.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45116 refactor(Project): extract custom button function
  erpnext/projects/doctype/project/project.js
Labels: backport version-15-hotfix

#45118 fix(Project): make status in confirmation dialog translatable
  erpnext/projects/doctype/project/project.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#45121 fix: discount resetting on date change
  erpnext/public/js/controllers/transaction.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#45134 fix: ignore crm deal in tax_rule search filter
  erpnext/accounts/party.py
Labels: accounts, needs-tests

#45130 refactor: change sales invoice button position
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/public/js/controllers/transaction.js
Labels: backport version-15-hotfix

#45024 feat: pos configuration for print receipt on complete order
  erpnext/accounts/doctype/pos_profile/pos_profile.json
  erpnext/accounts/doctype/pos_profile/pos_profile.py
  erpnext/selling/page/point_of_sale/pos_past_order_summary.js
Labels: needs-tests

#45066 feat: work in progress status for asset
  erpnext/assets/doctype/asset/asset.json
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/asset_list.js
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_capitalization/asset_capitalization.py
  erpnext/assets/doctype/asset_capitalization/test_asset_capitalization.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
  erpnext/patches.txt
  erpnext/patches/v15_0/update_asset_status_to_work_in_progress.py
Labels: needs-tests

#45144 fix: issue in returning components against the SCO
  erpnext/controllers/subcontracting_controller.py
  erpnext/controllers/tests/test_subcontracting_controller.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/report/stock_balance/stock_balance.py
Labels: backport version-15-hotfix

#45112 fix: Missing company filter breaks `get_account_balance` in Bank Reco
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.js
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
  erpnext/public/js/bank_reconciliation_tool/data_table_manager.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#45154 fix: possible deadlock while using auto reconciliation
  erpnext/accounts/doctype/process_payment_reconciliation/process_payment_reconciliation.json
  erpnext/accounts/doctype/process_payment_reconciliation/process_payment_reconciliation.py
  erpnext/accounts/doctype/process_payment_reconciliation_log/process_payment_reconciliation_log.json
Labels: needs-tests, backport version-15-hotfix

#45156 Revert "fix: Missing company filter breaks `get_account_balance` in Bank Reco (backport #45112)"
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.js
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
  erpnext/public/js/bank_reconciliation_tool/data_table_manager.js
Labels: needs-tests

#45126 refactor: validate due date code and message according to doctype
  erpnext/accounts/party.py
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/controllers/transaction.js
Labels: accounts, needs-tests

#45168 fix(Timesheet): ignore permissions when updating Task and Project
  erpnext/projects/doctype/timesheet/timesheet.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#45177 fix: timeout error for work order
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests, backport version-15-hotfix

#45180 fix: do not add ordered items from Quotation to new Sales Order
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/quotation/test_quotation.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#45197 fix: precision loss causing process loss variance
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests

#45076 feat: Added valuation of quantity for each age group in stock ageing …
  erpnext/stock/report/stock_ageing/stock_ageing.py
  erpnext/stock/report/stock_ageing/test_stock_ageing.py
Labels: needs-tests

#45195 fix: coa actions cleanup
  erpnext/accounts/doctype/account/account_tree.js
Labels: depends-on-frappe

#45214 fix: delivery_document_no column issue
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/serial_no/serial_no.py
Labels: needs-tests, backport version-15-hotfix

#45207 fix: incorrect valuation rate for PI based revaluation
  erpnext/stock/stock_ledger.py
Labels: backport version-15-hotfix

#45209 fix: batch number search on pos
  erpnext/selling/page/point_of_sale/point_of_sale.py
Labels: needs-tests

#44798 fix: update discounting on mixed conditions
  erpnext/public/js/controllers/transaction.js
Labels: backport version-15-hotfix

#45001 fix: deduct tds on excess amount if checked
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45074 fix: set billing and shipping address on change of company
  erpnext/public/js/controllers/buying.js
  erpnext/setup/doctype/company/company.py
Labels: needs-tests, backport version-15-hotfix

#45078 fix: don't create invoice if `current_invoice_start ` is in future
  erpnext/accounts/doctype/subscription/subscription.py
Labels: needs-tests, backport version-15-hotfix

#45090 fix: change string to be able to translate
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
Labels: backport version-15-hotfix

#45241 fix: auto fetch batch and serial no for draft stock transactions
  erpnext/controllers/accounts_controller.py
  erpnext/public/js/controllers/transaction.js
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
  erpnext/stock/get_item_details.py
Labels: accounts, stock

#45260 fix: incorrect label in Item-wise sales register
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Labels: needs-tests, backport version-15-hotfix

#45182 refactor: configurable reconciliation dates for Advance Payments
  erpnext/accounts/doctype/payment_entry/payment_entry.json
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_entry_reference/payment_entry_reference.json
  erpnext/accounts/doctype/payment_entry_reference/payment_entry_reference.py
  erpnext/accounts/doctype/payment_reconciliation/test_payment_reconciliation.py
  erpnext/accounts/utils.py
  erpnext/patches.txt
  erpnext/patches/v15_0/migrate_checkbox_to_select_for_reconciliation_effect.py
  erpnext/setup/doctype/company/company.json
  erpnext/setup/doctype/company/company.py
Labels: needs-tests, backport version-15-hotfix

#45211 refactor: allow users to configure interval for Semi-Auto payment reconciliation
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/doctype/process_payment_reconciliation/process_payment_reconciliation.py
  erpnext/accounts/utils.py
  erpnext/hooks.py
  erpnext/patches.txt
  erpnext/patches/v15_0/sync_auto_reconcile_config.py
Labels: accounts, needs-tests, squash

#45104 fix: use currency defined in plan for subscription invoice
  erpnext/accounts/doctype/subscription/subscription.py
  erpnext/accounts/doctype/subscription/test_subscription.py
Labels: squash, backport version-14-hotfix, backport version-15-hotfix

#45161 fix: check if tds deducted based on Purchase Taxes and Charges
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
Labels: squash, backport version-14-hotfix, backport version-15-hotfix

#45278 fix: status of the serial no for the raw materials
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/stock/doctype/serial_no/serial_no.json
  erpnext/stock/doctype/serial_no/serial_no.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/serial_batch_bundle.py
  erpnext/stock/stock_ledger.py
Labels: stock

#45283 fix: Does not allow to create Sub-Asseblies of Sub Assemblies
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
Labels: needs-tests

#45303 fix: sales return for multi-uom
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests

#45307 feat: add option to update modified on communication recieved
  erpnext/crm/doctype/crm_settings/crm_settings.json
  erpnext/crm/doctype/crm_settings/crm_settings.py
  erpnext/crm/utils.py
  erpnext/hooks.py
Labels: CRM, needs-tests

#45175 fix(Project): re-phrase welcome email
  erpnext/projects/doctype/project/project.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#45271 fix: round off tax withholding amount
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/controllers/taxes_and_totals.py
Labels: accounts, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45280 fix: updated modified timestamp for stock entry type
  erpnext/stock/doctype/stock_entry_type/stock_entry_type.json
Labels: backport version-15-hotfix

#45275 fix: Ambiguous column error while creating Sales Return
  erpnext/controllers/sales_and_purchase_return.py
Labels: needs-tests

#45262 fix: fetching items from blanket order to sales/purchase order
  erpnext/manufacturing/doctype/blanket_order/blanket_order.py
Labels: needs-tests

#44811 fix!: ensure multiple PCVs in same fiscal year are considered in patch
  erpnext/patches.txt
  erpnext/patches/v14_0/update_closing_balances.py
Labels: backport version-15-hotfix

#45238 fix: fixed typo in manufacturing settings and field rename
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.json
  erpnext/manufacturing/doctype/manufacturing_settings/manufacturing_settings.py
  erpnext/manufacturing/doctype/work_order/test_work_order.py
  erpnext/patches.txt
  erpnext/patches/v15_0/rename_manufacturing_settings_field.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: backport version-15-hotfix

#45298 fix: company in quality inspection
  erpnext/stock/doctype/quality_inspection/quality_inspection.js
  erpnext/stock/doctype/quality_inspection/quality_inspection.json
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
Labels: needs-tests, backport version-15-hotfix

#44783 fix: do not reset picked items
  erpnext/stock/doctype/pick_list/pick_list.py
  erpnext/stock/doctype/pick_list/test_pick_list.py
Labels: backport version-15-hotfix

#45167 fix: validate linked sales person
  erpnext/setup/doctype/sales_person/sales_person.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45334 fix: translation fixes
  erpnext/accounts/doctype/accounts_settings/accounts_settings.js
  erpnext/erpnext_integrations/doctype/plaid_settings/plaid_settings.js
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
Labels: needs-tests, backport version-15-hotfix

#45202 fix: Correct Party Bank Account mapping in `Payment Entry` from Transactional Doctypes
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests

#45342 fix: set invoice start date to subscription start date
  erpnext/accounts/doctype/subscription/subscription.py
Labels: needs-tests

#45282 feat: Add corrective job card operating cost as additional costs in s…
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/job_card/test_job_card.py
  erpnext/stock/doctype/landed_cost_taxes_and_charges/landed_cost_taxes_and_charges.json
  erpnext/stock/doctype/landed_cost_taxes_and_charges/landed_cost_taxes_and_charges.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests

#45327 perf: Ignore is_opening column in GL Queries
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/report/financial_statements.py
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/report/trial_balance/trial_balance.json
  erpnext/accounts/report/trial_balance/trial_balance.py
Labels: needs-tests

#45215 fix: calculate AED exchange rate based on pegged value with USD
  erpnext/setup/utils.py
Labels: needs-tests, backport version-15-hotfix

#45242 fix: include pos invoice in modifing key for returned item validation
  erpnext/controllers/sales_and_purchase_return.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45111 Return job_id to be able to react to it when job is finished.
  erpnext/accounts/doctype/bank_statement_import/bank_statement_import.py
Labels: needs-tests

#45341 fix: precision on work order total qty
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests

#44717 fix: heatmap for Customer and Supplier not rendering
  erpnext/buying/doctype/supplier/supplier.py
  erpnext/selling/doctype/customer/customer.py
Labels: needs-tests

#45371 fix: Do no query GLs if no PCVs are posted
  erpnext/patches/v14_0/update_closing_balances.py
Labels: needs-tests

#45365 feat: set default view as tree-view
  erpnext/accounts/doctype/account/account.json
  erpnext/accounts/doctype/cost_center/cost_center.json
  erpnext/assets/doctype/location/location.json
  erpnext/setup/doctype/customer_group/customer_group.json
  erpnext/setup/doctype/item_group/item_group.json
  erpnext/setup/doctype/supplier_group/supplier_group.json
  erpnext/stock/doctype/warehouse/warehouse.json
  erpnext/stock/doctype/warehouse/warehouse.py
Labels: backport version-15-hotfix

#45115 refactor!: remove redundant title field from sales transactions
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/patches/v11_1/set_missing_title_for_quotation.py
  erpnext/selling/doctype/quotation/quotation.json
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: do not backport

#45369 fix: added debounce to prevent multiple clicks
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.js
Labels: backport version-15-hotfix

#45320 fix: set preferred email in Employee via backend controller
  erpnext/setup/doctype/employee/employee.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#45306 fix: validate non-stock item for exchange loss/gain
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
Labels: needs-tests

#45382 fix: precision issue causing incorrect status
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests

#45367 fix: batch qty calculation
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, backport version-15-hotfix

#45289 perf: optimize DB calls with frappe.get_all
  erpnext/controllers/selling_controller.py
Labels: selling, backport version-15-hotfix

#45392 feat: pos configuration for print receipt on complete order
  erpnext/accounts/doctype/pos_profile/pos_profile.json
  erpnext/accounts/doctype/pos_profile/pos_profile.py
  erpnext/selling/page/point_of_sale/pos_past_order_summary.js
Labels: needs-tests

#45394 fix: JobCardTimeLog' object has no attribute 'remaining_time_in_mins'
  erpnext/manufacturing/doctype/job_card/job_card.py
Labels: needs-tests, backport version-15-hotfix

#44950 fix: postal_code_move_and_fixes
  erpnext/crm/report/lead_details/lead_details.py
  erpnext/selling/report/address_and_contacts/address_and_contacts.py
  erpnext/utilities/web_form/addresses/addresses.json
Labels: needs-tests, backport version-15-hotfix

#44790 refactor: configurable posting date for Exc Gain / Loss journal
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/process_payment_reconciliation_log_allocations/process_payment_reconciliation_log_allocations.json
  erpnext/accounts/doctype/process_payment_reconciliation_log_allocations/process_payment_reconciliation_log_allocations.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
  erpnext/patches.txt
Labels: needs-tests, backport version-15-hotfix

#45248 chore: consider currency precision in bank clearance
  erpnext/accounts/doctype/bank_clearance/bank_clearance.py
Labels: needs-tests

#45370 fix: add condition to check if item is delivered by supplier in make_purchase_order_for_default_supplier()
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests

#45384 fix: get default stock uom
  erpnext/accounts/doctype/opening_invoice_creation_tool/opening_invoice_creation_tool.py
  erpnext/regional/italy/utils.py
  erpnext/stock/utils.py
Labels: stock, needs-tests

#45216 fix: use frappe.datetime.str_to_user
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_item_cart.js
  erpnext/selling/page/point_of_sale/pos_past_order_list.js
Labels: backport version-15-hotfix

#45404 feat: full screen on pos
  erpnext/selling/page/point_of_sale/pos_controller.js
Labels: UX, POS, backport version-15-hotfix

#45377 fix: resolved pos return setting to default mode of payment instead of user selection
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: needs-tests

#45335 fix: valuation for batch
  .github/workflows/server-tests-mariadb.yml
  erpnext/stock/deprecated_serial_batch.py
Labels: stock, backport version-15-hotfix

#44305 fix: remove unnecessary auth from plaid connector
  erpnext/erpnext_integrations/doctype/plaid_settings/plaid_connector.py
Labels: needs-tests

#45227 fix(material request): mapping Sales Order Item Delivery Date to Mate…
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: backport version-15-hotfix

#45386 fix: secure bulk transaction
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice_list.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice_list.js
  erpnext/buying/doctype/purchase_order/purchase_order_list.js
  erpnext/buying/doctype/supplier_quotation/supplier_quotation_list.js
  erpnext/selling/doctype/quotation/quotation_list.js
  erpnext/selling/doctype/sales_order/sales_order_list.js
  erpnext/stock/doctype/delivery_note/delivery_note_list.js
  erpnext/utilities/bulk_transaction.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#45405 fix: disable load_after_mapping when purchase order created from sales order
  erpnext/selling/doctype/sales_order/sales_order.py
Labels: needs-tests

#45288 fix: validate items against selling settings
  erpnext/controllers/accounts_controller.py
Labels: accounts, needs-tests

#45423 fix: precision issue in stock entry
  erpnext/stock/doctype/stock_entry/stock_entry.py
Labels: needs-tests, backport version-15-hotfix

#45432 fix: do not check budget during reposting
  erpnext/accounts/general_ledger.py
Labels: accounts, needs-tests, backport version-15-hotfix

#45436 fix: resolved pos return setting to default mode of payment instead of user selection (#45377)
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/public/js/controllers/taxes_and_totals.js
Labels: needs-tests

#45443 fix: allow to fix negative stock for batch using stock reco
  erpnext/stock/doctype/batch/batch.js
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/serial_batch_bundle.py
Labels: backport version-15-hotfix

#45300 fix: prevent unnecessary db.commit for contact insert
  erpnext/telephony/doctype/call_log/call_log.py
Labels: needs-tests

#45524 fix: currency decimal on POS Past Order List
  erpnext/selling/page/point_of_sale/pos_past_order_list.js
Labels: POS, backport version-14-hotfix, backport version-15-hotfix

#45284 fix: set party_account_currency for pos_invoice returns
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/sales_and_purchase_return.py
Labels: backport version-15-hotfix

#45302 feat: add company level validation for accounting dimension
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.json
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
  erpnext/projects/doctype/project/test_records.toml
Labels: accounts, backport version-14-hotfix, backport version-15-hotfix

#45345 fix: maintain existing discounts in get_pricing_rule_for_item
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
  erpnext/public/js/controllers/transaction.js
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45541 chore: bump actions/cache to v4
  .github/workflows/patch.yml
  .github/workflows/server-tests-mariadb.yml
  .github/workflows/server-tests-postgres.yml
Labels: backport version-14-hotfix

#45125 fix: update fields on change of item code In `Update Items` of `Sales Order`
  erpnext/public/js/utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#45551 feat: Add chart of accounts for Switzerland
  erpnext/accounts/doctype/account/chart_of_accounts/verified/ch_240812 Schulkontenrahmen VEB - DE.json
Labels: backport version-15-hotfix

#45554 fix(book_appointment): stop trying to use pytz api with zoneinfo
  erpnext/www/book_appointment/index.py
Labels: needs-tests

#45549 fix: get stock balance filtered by company for validating stock value in jv
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/utils.py
  erpnext/stock/utils.py
Labels: accounts, stock, needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45544 fix: add multiple item issue in stock entry
  erpnext/stock/doctype/stock_entry/stock_entry.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#45536 fix: return qty error due to precision
  erpnext/controllers/sales_and_purchase_return.py
Labels: needs-tests

#45441 fix: show payment entries in tax withheld vouchers
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
Labels: backport version-15-hotfix

#45586 fix(query): remove duplicate docstatus condition
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
Labels: needs-tests, backport version-15-hotfix

#45569 fix: update voucher outstanding from payment ledger
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45548 fix: Gross Profit Report with Correct Totals and Gross Margin
  erpnext/accounts/report/gross_profit/gross_profit.json
  erpnext/accounts/report/gross_profit/gross_profit.py
  erpnext/accounts/report/gross_profit/test_gross_profit.py
  erpnext/patches.txt
  erpnext/patches/v14_0/disable_add_row_in_gross_profit.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#45600 fix: validation message
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.js
Labels: backport version-15-hotfix

#45486 perf: stock entry with batch
  erpnext/accounts/doctype/pos_closing_entry/test_pos_closing_entry.py
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/serial_batch_bundle.py
Labels: stock, needs-tests

#45609 fix: reposting issue with s3 backup
  erpnext/stock/stock_ledger.py
Labels: stock, needs-tests, backport version-15-hotfix

#45612 fix: posting_date to posting_datetime in stock related queries
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
  erpnext/stock/report/stock_ageing/stock_ageing.py
  erpnext/stock/report/stock_ledger/stock_ledger.py
Labels: needs-tests

#45627 fix: loading print receipt only at order complete
  erpnext/selling/page/point_of_sale/pos_past_order_summary.js
Labels: backport version-15-hotfix

#45632 fix: pos print receipt on submit
  erpnext/selling/page/point_of_sale/pos_controller.js
Labels: backport version-15-hotfix

#45629 fix: attribute 'msgbox' not found in sales invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
Labels: backport version-15-hotfix

#45615 fix: correct error message in payment entry
  erpnext/accounts/doctype/payment_entry/payment_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#45642 fix: actual qty showing blank for sub-assembly items
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
Labels: needs-tests

#45617 fix: ignore expired batch for pick list
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
Labels: needs-tests
